# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
from vaastav.getters import *
from datetime import datetime

# Constants

In [3]:
NEXT_GW = 1

# least number of gameweeks that player had to play
FIS = 1

CURRENT_SEASON = '2023-24'

# Upcoming fixtures

In [4]:
fixtures = get_fixtures_data()

In [5]:
df_fixtures = pd.DataFrame(fixtures)

In [6]:
df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2367552,NaN,False,False,15,None,0,False,None,6,NaN,12,NaN,[],2,2,93335
1,2367713,NaN,False,False,176,None,0,False,None,4,NaN,13,NaN,[],3,5,93496
2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321
3,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322
4,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2367913,38.0,False,False,376,2024-05-19T15:00:00Z,0,False,False,2,NaN,8,NaN,[],3,2,93696
376,2367914,38.0,False,False,377,2024-05-19T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,93697
377,2367915,38.0,False,False,378,2024-05-19T15:00:00Z,0,False,False,10,NaN,12,NaN,[],2,2,93698
378,2367916,38.0,False,False,379,2024-05-19T15:00:00Z,0,False,False,19,NaN,13,NaN,[],2,5,93699
379,2367917,38.0,False,False,380,2024-05-19T15:00:00Z,0,False,False,18,NaN,17,NaN,[],3,2,93700

In [7]:
df_upcoming_fixtures = df_fixtures[df_fixtures["event"] >= NEXT_GW] # also removes rows with no GW number attached (postponed fixtures)

In [8]:
current_teams = [
        'Arsenal',
        'Aston Villa',
        'Bournemouth',
        'Brentford',
        'Brighton',
        'Burnley',
        'Chelsea',
        'Crystal Palace',
        'Everton',
        'Fulham',
        'Liverpool',
        'Luton',
        'Manchester City',
        'Manchester Utd',
        'Newcastle Utd',
        "Nott'ham Forest",
        'Sheffield United',
        'Tottenham',
        'West Ham',
        'Wolves'
    ]

In [9]:
# 2023-24 season
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [10]:
df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

C:\Users\user\AppData\Local\Temp\ipykernel_9400\2597988153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
C:\Users\user\AppData\Local\Temp\ipykernel_9400\2597988153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

In [11]:
df_upcoming_fixtures.rename(columns={"event": "GW"}, inplace=True)

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [12]:
# df_upcoming_fixtures

In [13]:
df_upcoming_fixtures = df_upcoming_fixtures[["GW", "kickoff_time", "Squad H", "Squad A"]]

In [14]:
df_upcoming_fixtures["kickoff_time"] = df_upcoming_fixtures["kickoff_time"].str[:10]

In [15]:
df_upcoming_fixtures.shape

(378, 4)

In [16]:
df_upcoming_fixtures.head(10)

     GW kickoff_time           Squad H          Squad A
2   1.0   2023-08-11           Burnley  Manchester City
3   1.0   2023-08-12           Arsenal  Nott'ham Forest
4   1.0   2023-08-12       Bournemouth         West Ham
5   1.0   2023-08-12          Brighton            Luton
6   1.0   2023-08-12           Everton           Fulham
7   1.0   2023-08-12  Sheffield United   Crystal Palace
8   1.0   2023-08-12     Newcastle Utd      Aston Villa
9   1.0   2023-08-13         Brentford        Tottenham
10  1.0   2023-08-13           Chelsea        Liverpool
11  1.0   2023-08-14    Manchester Utd           Wolves

# Active players

In [17]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [18]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD',
       'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [19]:
def get_active_players():
    def adjust_team(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["team"].iloc[0]
    
    def get_price(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["now_cost"].iloc[0]
    
    previous_fixtures = pd.read_csv("data/misc/df_features.csv")
    active_players = pd.read_csv("data/misc/active_players.csv")
    player_names = active_players["name"].to_list()
    print(len(player_names))
    name_counts = previous_fixtures.groupby('Name_original').size()
    filtered_names = name_counts[name_counts >= FIS].index
    print(len(filtered_names))
    filtered_names = [n for n in filtered_names if n in player_names]
    print(len(filtered_names))
    result = previous_fixtures[previous_fixtures['Name_original'].isin(filtered_names)].groupby('Name_original').tail(1).reset_index()
    result = result.loc[:, ~result.columns.str.contains('^Unnamed')]
    result["Team"] = result.apply(lambda x: adjust_team(active_players, x),axis=1)
    result["Price"] = result.apply(lambda x: get_price(active_players, x),axis=1)
    
    return result

In [20]:
active_players = get_active_players()
active_players[active_players["Name_original"] == "Bryan Mbeumo"][["FPL_pos", "GW", "Season"]]

665
449
436

    FPL_pos  GW   Season
189     MID   1  2023-24

In [21]:
# active_players_file = pd.read_csv("data/misc/active_players.csv")
# active_players_file.columns

In [22]:
# active_players_file.iloc[189].head(50)

In [23]:
# active_players_file[["name", "penalties_order", "team", "status", "chance_of_playing_this_round", "photo", "selected_by_percent"]].sort_values(by=["team"]).head(240).tail(40)

In [24]:
# active_players[["Name_original", "team"]].head(200).tail(50)

In [25]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2',
       'Baseline_points_30', 'Baseline_points_4', 'Bonus_2', 'Bonus_30',
       'Bonus_4', 'CrdR_2', 'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4',
       'DEF', 'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4',
       'ICT_index_2', 'ICT_index_30', 'ICT_index_4', 'MID', 'Min_2', 'Min_30',
       'Min_4', 'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Sh_2',
       'Sh_30', 'Sh_4', 'SoT_2', 'SoT_30', 'SoT_4', 'Start_2', 'Start_30',
       'Start_4', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_rating', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'Price'],
      dtype='object')

In [26]:
previous_fixtures[previous_fixtures["Team"] == current_teams[10]]["Name_original"].unique()

array(['Alisson Ramses Becker', 'Andrew Robertson', 'Caoimhin Kelleher',
       'Curtis Jones', 'Fabio Henrique Tavares', 'Harvey Elliott',
       'Ibrahima Konaté', 'Joseph Gomez', 'Joel Matip',
       'Jordan Henderson', 'Konstantinos Tsimikas', 'Luis Díaz',
       'Mohamed Salah', 'Nathaniel Phillips', 'Neco Williams',
       'Thiago Alcántara do Nascimento', 'Trent Alexander-Arnold',
       'Virgil van Dijk', 'Cody Gakpo', 'Diogo Teixeira da Silva',
       'Stefan Bajcetic', 'Alexis Mac Allister', 'Dominik Szoboszlai'],
      dtype=object)

In [27]:
df_upcoming_fixtures.head(30)

     GW kickoff_time           Squad H           Squad A
2   1.0   2023-08-11           Burnley   Manchester City
3   1.0   2023-08-12           Arsenal   Nott'ham Forest
4   1.0   2023-08-12       Bournemouth          West Ham
5   1.0   2023-08-12          Brighton             Luton
6   1.0   2023-08-12           Everton            Fulham
7   1.0   2023-08-12  Sheffield United    Crystal Palace
8   1.0   2023-08-12     Newcastle Utd       Aston Villa
9   1.0   2023-08-13         Brentford         Tottenham
10  1.0   2023-08-13           Chelsea         Liverpool
11  1.0   2023-08-14    Manchester Utd            Wolves
12  2.0   2023-08-18   Nott'ham Forest  Sheffield United
13  2.0   2023-08-19            Fulham         Brentford
14  2.0   2023-08-19         Liverpool       Bournemouth
15  2.0   2023-08-19            Wolves          Brighton
16  2.0   2023-08-19         Tottenham    Manchester Utd
17  2.0   2023-08-19   Manchester City     Newcastle Utd
18  2.0   2023-08-20       Aston Villa           Everton
19  2.0   2023-08-20          West Ham           Chelsea
20  2.0   2023-08-21    Crystal Palace           Arsenal
21  3.0   2023-08-25           Chelsea             Luton
22  3.0   2023-08-26       Bournemouth         Tottenham
23  3.0   2023-08-26           Arsenal            Fulham
24  3.0   2023-08-26         Brentford    Crystal Palace
25  3.0   2023-08-26           Everton            Wolves
26  3.0   2023-08-26    Manchester Utd   Nott'ham Forest
27  3.0   2023-08-26          Brighton          West Ham
28  3.0   2023-08-27           Burnley       Aston Villa
29  3.0   2023-08-27  Sheffield United   Manchester City
30  3.0   2023-08-27     Newcastle Utd         Liverpool
31  4.0   2023-09-01             Luton          West Ham

In [28]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2',
       'Baseline_points_30', 'Baseline_points_4', 'Bonus_2', 'Bonus_30',
       'Bonus_4', 'CrdR_2', 'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4',
       'DEF', 'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4',
       'ICT_index_2', 'ICT_index_30', 'ICT_index_4', 'MID', 'Min_2', 'Min_30',
       'Min_4', 'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Sh_2',
       'Sh_30', 'Sh_4', 'SoT_2', 'SoT_30', 'SoT_4', 'Start_2', 'Start_30',
       'Start_4', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_rating', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'Price'],
      dtype='object')

In [29]:
active_players["Team"].unique()

array(['Brighton', 'Manchester Utd', 'Burnley', 'Arsenal',
       'Newcastle Utd', 'Tottenham', 'Aston Villa', 'Wolves', 'Chelsea',
       'Manchester City', 'West Ham', 'Bournemouth', 'Everton',
       'Brentford', "Nott'ham Forest", 'Liverpool', 'Fulham',
       'Crystal Palace', 'Luton', 'Sheffield United'], dtype=object)

In [30]:
for i in range(0,20):
    print(i, current_teams[i], active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[i]].shape)

0 Arsenal (30, 3)
1 Aston Villa (24, 3)
2 Bournemouth (25, 3)
3 Brentford (23, 3)
4 Brighton (24, 3)
5 Burnley (15, 3)
6 Chelsea (22, 3)
7 Crystal Palace (22, 3)
8 Everton (22, 3)
9 Fulham (19, 3)
10 Liverpool (21, 3)
11 Luton (1, 3)
12 Manchester City (25, 3)
13 Manchester Utd (27, 3)
14 Newcastle Utd (33, 3)
15 Nott'ham Forest (26, 3)
16 Sheffield United (10, 3)
17 Tottenham (25, 3)
18 West Ham (20, 3)
19 Wolves (22, 3)

In [31]:
active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[3]]

               Name_original       Team FPL_pos
25                   Ben Mee  Brentford     DEF
32             Charlie Goode  Brentford     DEF
55              Frank Onyeka  Brentford     MID
64                Ivan Toney  Brentford     FWD
96        Mads Bech Sørensen  Brentford     DEF
128        Sergi Canós Tenés  Brentford     DEF
148             Aaron Hickey  Brentford     DEF
189             Bryan Mbeumo  Brentford     MID
205       Christian Nørgaard  Brentford     MID
238            Ethan Pinnock  Brentford     DEF
294             Josh Dasilva  Brentford     MID
301       Keane Lewis-Potter  Brentford     MID
305             Kevin Schade  Brentford     MID
309          Kristoffer Ajer  Brentford     DEF
323  Mads Roerslev Rasmussen  Brentford     DEF
337           Mathias Jensen  Brentford     MID
338        Mathias Jorgensen  Brentford     DEF
348         Mikkel Damsgaard  Brentford     MID
388               Rico Henry  Brentford     DEF
406         Shandon Baptiste  Brentford     MID
415         Thomas Strakosha  Brentford      GK
426            Vitaly Janelt  Brentford     MID
433              Yoane Wissa  Brentford     FWD

In [32]:
active_players[active_players["Name_original"] == "Kai Havertz"]["Team"]

299    Arsenal
Name: Team, dtype: object

In [33]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2',
       'Baseline_points_30', 'Baseline_points_4', 'Bonus_2', 'Bonus_30',
       'Bonus_4', 'CrdR_2', 'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4',
       'DEF', 'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4',
       'ICT_index_2', 'ICT_index_30', 'ICT_index_4', 'MID', 'Min_2', 'Min_30',
       'Min_4', 'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Sh_2',
       'Sh_30', 'Sh_4', 'SoT_2', 'SoT_30', 'SoT_4', 'Start_2', 'Start_30',
       'Start_4', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_rating', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'Price'],
      dtype='object')

# Upcoming home & away logs

In [34]:
picked_columns = ["Name_original", "GW", "kickoff_time", "Squad", "Squad H", "Squad A", "Was_home", "Opponent", "FPL_pos", "Price"]

In [35]:
upcoming_player_fixtures_home = active_players.rename(columns={"Team": "Squad H"}).drop(columns=["GW"]).set_index(["Squad H"]).join(df_upcoming_fixtures.set_index(["Squad H"])).reset_index(level=0)
upcoming_player_fixtures_home["Squad"] = upcoming_player_fixtures_home["Squad H"]
upcoming_player_fixtures_home["Was Home"] = 1
# upcoming_player_fixtures_home.loc[upcoming_player_fixtures_home["GW_left"].isnull(), "GW_left"] = 77
# upcoming_player_fixtures_home['C'] = upcoming_player_fixtures_home['GW_left'].fillna(upcoming_player_fixtures_home['GW_right'])
upcoming_player_fixtures_home["Opponent"] = upcoming_player_fixtures_home["Squad A"]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Squad"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Opponent"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[picked_columns]

In [36]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["Name_original"] == "Kai Havertz"]

,Name_original,GW,kickoff_time,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price
418,Kai Havertz,1.0,2023-08-12,Arsenal,Arsenal,Nott'ham Forest,1.0,Nott'ham Forest,MID,75
419,Kai Havertz,3.0,2023-08-26,Arsenal,Arsenal,Fulham,1.0,Fulham,MID,75
420,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1.0,Manchester Utd,MID,75
421,Kai Havertz,6.0,2023-09-24,Arsenal,Arsenal,Tottenham,1.0,Tottenham,MID,75
422,Kai Havertz,8.0,2023-10-08,Arsenal,Arsenal,Manchester City,1.0,Manchester City,MID,75
423,Kai Havertz,10.0,2023-10-28,Arsenal,Arsenal,Sheffield United,1.0,Sheffield United,MID,75
424,Kai Havertz,12.0,2023-11-11,Arsenal,Arsenal,Burnley,1.0,Burnley,MID,75
425,Kai Havertz,14.0,2023-12-02,Arsenal,Arsenal,Wolves,1.0,Wolves,MID,75
426,Kai Havertz,17.0,2023-12-16,Arsenal,Arsenal,Brighton,1.0,Brighton,MID,75
427,Kai Havertz,19.0,2023-12-26,Arsenal,Arsenal,West Ham,1.0,West Ham,MID,75
428,Kai Havertz,21.0,2024-01-13,Arsenal,Arsenal,Crystal Palace,1.0,Crystal Palace,MID,75
429,Kai Havertz,23.0,2024-02-03,Arsenal,Arsenal,Liverpool,1.0,Liverpool,MID,75
430,Kai Havertz,26.0,2024-02-24,Arsenal,Arsenal,Newcastle Utd,1.0,Newcastle Utd,MID,75
431,Kai Havertz,28.0,2024-03-09,Arsenal,Arsenal,Brentford,1.0,Brentford,MID,75
432,Kai Havertz,29.0,2024-03-16,Arsenal,Arsenal,Chelsea,1.0,Chelsea,MID,75
433,Kai Havertz,31.0,2024-04-02,Arsenal,Arsenal,Luton,1.0,Luton,MID,75
434,Kai Havertz,33.0,2024-04-13,Arsenal,Arsenal,Aston Villa,1.0,Aston Villa,MID,75
435,Kai Havertz,36.0,2024-05-04,Arsenal,Arsenal,Bournemouth,1.0,Bournemouth,MID,75
436,Kai Havertz,38.0,2024-05-19,Arsenal,Arsenal,Everton,1.0,Everton,MID,75

In [37]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["GW"].isna()]

Empty DataFrame
Columns: [Name_original, GW, kickoff_time, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price]
Index: []

In [38]:
upcoming_player_fixtures_home['GW'].unique()

array([ 1.,  3.,  4.,  6.,  8., 10., 12., 14., 17., 19., 21., 23., 26.,
       28., 29., 31., 33., 36., 38.,  2.,  5.,  7.,  9., 15., 16., 18.,
       20., 22., 24., 30., 32., 34., 35., 37., 11., 13., 25., 27.])

In [39]:
upcoming_player_fixtures_away = active_players.rename(columns={"Team": "Squad A"}).drop(columns=["GW"]).set_index("Squad A").join(df_upcoming_fixtures.set_index("Squad A")).reset_index(level=0)
upcoming_player_fixtures_away["Squad"] = upcoming_player_fixtures_away["Squad A"]
upcoming_player_fixtures_away["Was Home"] = 0
upcoming_player_fixtures_away["Opponent"] = upcoming_player_fixtures_away["Squad H"]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Squad"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Opponent"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[picked_columns]

# Concating home & away logs

In [40]:
upcoming_player_fixtures = pd.concat([upcoming_player_fixtures_home, upcoming_player_fixtures_away]).sort_values(by=["Name_original", "GW"])

In [41]:
upcoming_player_fixtures["Season"] = CURRENT_SEASON
upcoming_player_fixtures["Finished"] = False

In [42]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"kickoff_time": "Date"})

In [43]:
upcoming_player_fixtures["Was_home"] = (upcoming_player_fixtures["Opponent"] == upcoming_player_fixtures["Squad A"]).astype("int64")

In [44]:
# upcoming_player_fixtures[upcoming_player_fixtures["Name"] == "Gabriel-Dos-Santos"]

In [45]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Kai Havertz"].head(5)

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
418,Kai Havertz,1.0,2023-08-12,Arsenal,Arsenal,Nott'ham Forest,1,Nott'ham Forest,MID,75,2023-24,False
418,Kai Havertz,2.0,2023-08-21,Arsenal,Crystal Palace,Arsenal,0,Crystal Palace,MID,75,2023-24,False
419,Kai Havertz,3.0,2023-08-26,Arsenal,Arsenal,Fulham,1,Fulham,MID,75,2023-24,False
420,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1,Manchester Utd,MID,75,2023-24,False
419,Kai Havertz,5.0,2023-09-16,Arsenal,Everton,Arsenal,0,Everton,MID,75,2023-24,False

In [46]:
upcoming_player_fixtures

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
1938,Aaron Connolly,1.0,2023-08-12,Brighton,Brighton,Luton,1,Luton,FWD,45,2023-24,False
1915,Aaron Connolly,2.0,2023-08-19,Brighton,Wolves,Brighton,0,Wolves,FWD,45,2023-24,False
1939,Aaron Connolly,3.0,2023-08-26,Brighton,Brighton,West Ham,1,West Ham,FWD,45,2023-24,False
1940,Aaron Connolly,4.0,2023-09-02,Brighton,Brighton,Newcastle Utd,1,Newcastle Utd,FWD,45,2023-24,False
1916,Aaron Connolly,5.0,2023-09-16,Brighton,Manchester Utd,Brighton,0,Manchester Utd,FWD,45,2023-24,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4690,Zack Steffen,34.0,2024-04-20,Manchester City,Tottenham,Manchester City,0,Tottenham,GKP,40,2023-24,False
4691,Zack Steffen,35.0,2024-04-27,Manchester City,Nott'ham Forest,Manchester City,0,Nott'ham Forest,GKP,40,2023-24,False
4727,Zack Steffen,36.0,2024-05-04,Manchester City,Manchester City,Wolves,1,Wolves,GKP,40,2023-24,False
4692,Zack Steffen,37.0,2024-05-11,Manchester City,Fulham,Manchester City,0,Fulham,GKP,40,2023-24,False
4728,Zack Steffen,38.0,2024-05-19,Manchester City,Manchester City,West Ham,1,West Ham,GKP,40,2023-24,False

In [47]:
upcoming_player_fixtures.shape

(16504, 12)

# Loading previous fixtures

In [48]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [49]:
previous_fixtures["Finished"] = True

# Assigning team elo

In [50]:
team_ratings = pd.read_csv("data/misc/team_ratings_history.csv")

In [51]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [52]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    return team_name

In [53]:
datetime.strptime(upcoming_player_fixtures['Date'].iloc[1], '%Y-%m-%d')

datetime.datetime(2023, 8, 19, 0, 0)

In [54]:
upcoming_player_fixtures[upcoming_player_fixtures['Date'].isna()]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished]
Index: []

In [55]:
%%time
upcoming_player_fixtures["Opp rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 3min 40s
Wall time: 3min 50s

In [56]:
%%time
upcoming_player_fixtures["Team rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 3min 54s
Wall time: 4min 13s

In [57]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Gabriel-Dos-Santos"]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished, Opp rating, Team rating]
Index: []

In [58]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"Opp rating": "Opp_rating", "Team rating": "Team_rating", "Squad": "Team"})
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad H"], axis=1)
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad A"], axis=1)

In [59]:
upcoming_player_fixtures["Rating_difference"] = upcoming_player_fixtures["Team_rating"] - upcoming_player_fixtures["Opp_rating"]

In [60]:
upcoming_player_fixtures.columns

Index(['Name_original', 'GW', 'Date', 'Team', 'Was_home', 'Opponent',
       'FPL_pos', 'Price', 'Season', 'Finished', 'Opp_rating', 'Team_rating',
       'Rating_difference'],
      dtype='object')

In [61]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Ben Chilwell"][["Name_original", "Season", "GW", "Was_home"]].tail(45)

     Name_original   Season    GW  Was_home
2888  Ben Chilwell  2023-24   1.0         1
2850  Ben Chilwell  2023-24   2.0         0
2889  Ben Chilwell  2023-24   3.0         1
2890  Ben Chilwell  2023-24   4.0         1
2851  Ben Chilwell  2023-24   5.0         0
2891  Ben Chilwell  2023-24   6.0         1
2852  Ben Chilwell  2023-24   7.0         0
2853  Ben Chilwell  2023-24   8.0         0
2892  Ben Chilwell  2023-24   9.0         1
2893  Ben Chilwell  2023-24  10.0         1
2854  Ben Chilwell  2023-24  11.0         0
2894  Ben Chilwell  2023-24  12.0         1
2855  Ben Chilwell  2023-24  13.0         0
2895  Ben Chilwell  2023-24  14.0         1
2856  Ben Chilwell  2023-24  15.0         0
2857  Ben Chilwell  2023-24  16.0         0
2896  Ben Chilwell  2023-24  17.0         1
2858  Ben Chilwell  2023-24  18.0         0
2897  Ben Chilwell  2023-24  19.0         1
2859  Ben Chilwell  2023-24  20.0         0
2898  Ben Chilwell  2023-24  21.0         1
2860  Ben Chilwell  2023-24  22.0         0
2899  Ben Chilwell  2023-24  23.0         1
2861  Ben Chilwell  2023-24  24.0         0
2862  Ben Chilwell  2023-24  25.0         0
2900  Ben Chilwell  2023-24  26.0         1
2863  Ben Chilwell  2023-24  27.0         0
2901  Ben Chilwell  2023-24  28.0         1
2864  Ben Chilwell  2023-24  29.0         0
2902  Ben Chilwell  2023-24  30.0         1
2903  Ben Chilwell  2023-24  31.0         1
2865  Ben Chilwell  2023-24  32.0         0
2904  Ben Chilwell  2023-24  33.0         1
2866  Ben Chilwell  2023-24  34.0         0
2867  Ben Chilwell  2023-24  35.0         0
2905  Ben Chilwell  2023-24  36.0         1
2868  Ben Chilwell  2023-24  37.0         0
2906  Ben Chilwell  2023-24  38.0         1

# Concating previous and upcoming logs

In [62]:
all_fixtures = pd.concat([previous_fixtures, upcoming_player_fixtures])

In [63]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD',
       'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished'],
      dtype='object')

In [64]:
all_fixtures.shape

(33989, 72)

In [65]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD',
       'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date', 'Price'],
      dtype='object')

In [66]:
all_fixtures[all_fixtures["Name_original"] == "Kai Havertz"][["Name_original", "Team"]]

     Name_original     Team
3599   Kai Havertz  Chelsea
3600   Kai Havertz  Chelsea
3601   Kai Havertz  Chelsea
3602   Kai Havertz  Chelsea
3603   Kai Havertz  Chelsea
...            ...      ...
434    Kai Havertz  Arsenal
435    Kai Havertz  Arsenal
435    Kai Havertz  Arsenal
436    Kai Havertz  Arsenal
436    Kai Havertz  Arsenal

[108 rows x 2 columns]

# Filling missing values

In [67]:
all_fixtures_before_fill = all_fixtures.copy()

In [68]:
# all_fixtures = all_fixtures_before_fill

In [69]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD',
       'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date', 'Price'],
      dtype='object')

In [70]:
columns_to_fill = ['Was_home',
 'Team_rating',
 'Opp_rating',
 'Rating_difference',
 'Min_2',
 'Start_2',
 'Gls_2',
 'Sh_2',
 'SoT_2',
 'Ast_2',
 'CrdY_2',
 'CrdR_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'ICT_index_2',
 'FPL_points_2',
 'Baseline_points_2',
 'Bonus_2',
 'Min_4',
 'Start_4',
 'Gls_4',
 'Sh_4',
 'SoT_4',
 'Ast_4',
 'CrdY_4',
 'CrdR_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'ICT_index_4',
 'FPL_points_4',
 'Baseline_points_4',
 'Bonus_4',
 'Min_30',
 'Start_30',
 'Gls_30',
 'Sh_30',
 'SoT_30',
 'Ast_30',
 'CrdY_30',
 'CrdR_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'ICT_index_30',
 'FPL_points_30',
 'Baseline_points_30',
 'Bonus_30',
 'DEF',
 'FWD',
 'MID']

# columns_to_fill.append("FPL_pos")

# # removing position to then ffill it
# all_fixtures.loc[all_fixtures["Season"] == CURRENT_SEASON, "FPL_pos"] = None

for c in ["Was_home", 'Team_rating', 'Opp_rating', 'Rating_difference']:
    if c in columns_to_fill:
        columns_to_fill.remove(c) 

info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "Price"]

In [71]:
all_fixtures[columns_to_fill] = all_fixtures.groupby('Name_original')[columns_to_fill].ffill()

In [72]:
all_fixtures.tail(10)

,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,CrdR_2,...,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,Finished,Date,Price
4688,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,0.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-03-16,40.0
4724,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,1.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-03-30,40.0
4725,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,1.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-04-03,40.0
4689,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,0.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-04-06,40.0
4726,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,1.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-04-13,40.0
4690,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,0.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-04-20,40.0
4691,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,0.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-04-27,40.0
4727,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,1.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-05-04,40.0
4692,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,0.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-05-11,40.0
4728,0.0,0.0,0.0,0.5,1.965517,0.5,0.0,0.241379,0.0,0.0,...,1.0,1.110223e-15,0.04,4.440892e-16,0.05,0.046667,0.05,False,2024-05-19,40.0

In [73]:
all_fixtures[all_fixtures["Name_original"] == "Bryan Mbeumo"][["Name_original", "Season", "GW", "Was_home", "FPL_pos"]].tail(45)

      Name_original   Season    GW  Was_home FPL_pos
8145   Bryan Mbeumo  2022-23  32.0       1.0     FWD
8146   Bryan Mbeumo  2022-23  33.0       0.0     FWD
8147   Bryan Mbeumo  2022-23  34.0       1.0     FWD
8148   Bryan Mbeumo  2022-23  35.0       0.0     FWD
8149   Bryan Mbeumo  2022-23  36.0       1.0     FWD
8150   Bryan Mbeumo  2022-23  37.0       0.0     FWD
8151   Bryan Mbeumo  2022-23  38.0       1.0     FWD
17238  Bryan Mbeumo  2023-24   1.0       1.0     MID
1634   Bryan Mbeumo  2023-24   1.0       1.0     MID
1627   Bryan Mbeumo  2023-24   2.0       0.0     MID
1635   Bryan Mbeumo  2023-24   3.0       1.0     MID
1636   Bryan Mbeumo  2023-24   4.0       1.0     MID
1628   Bryan Mbeumo  2023-24   5.0       0.0     MID
1637   Bryan Mbeumo  2023-24   6.0       1.0     MID
1629   Bryan Mbeumo  2023-24   7.0       0.0     MID
1630   Bryan Mbeumo  2023-24   8.0       0.0     MID
1638   Bryan Mbeumo  2023-24   9.0       1.0     MID
1631   Bryan Mbeumo  2023-24  10.0       0.0     MID
1639   Bryan Mbeumo  2023-24  11.0       1.0     MID
1632   Bryan Mbeumo  2023-24  12.0       0.0     MID
1640   Bryan Mbeumo  2023-24  13.0       1.0     MID
1641   Bryan Mbeumo  2023-24  14.0       1.0     MID
1633   Bryan Mbeumo  2023-24  15.0       0.0     MID
1634   Bryan Mbeumo  2023-24  16.0       0.0     MID
1642   Bryan Mbeumo  2023-24  17.0       1.0     MID
1643   Bryan Mbeumo  2023-24  19.0       1.0     MID
1635   Bryan Mbeumo  2023-24  20.0       0.0     MID
1644   Bryan Mbeumo  2023-24  21.0       1.0     MID
1636   Bryan Mbeumo  2023-24  22.0       0.0     MID
1645   Bryan Mbeumo  2023-24  23.0       1.0     MID
1637   Bryan Mbeumo  2023-24  24.0       0.0     MID
1646   Bryan Mbeumo  2023-24  25.0       1.0     MID
1638   Bryan Mbeumo  2023-24  26.0       0.0     MID
1647   Bryan Mbeumo  2023-24  27.0       1.0     MID
1639   Bryan Mbeumo  2023-24  28.0       0.0     MID
1640   Bryan Mbeumo  2023-24  29.0       0.0     MID
1648   Bryan Mbeumo  2023-24  30.0       1.0     MID
1649   Bryan Mbeumo  2023-24  31.0       1.0     MID
1641   Bryan Mbeumo  2023-24  32.0       0.0     MID
1650   Bryan Mbeumo  2023-24  33.0       1.0     MID
1642   Bryan Mbeumo  2023-24  34.0       0.0     MID
1643   Bryan Mbeumo  2023-24  35.0       0.0     MID
1651   Bryan Mbeumo  2023-24  36.0       1.0     MID
1644   Bryan Mbeumo  2023-24  37.0       0.0     MID
1652   Bryan Mbeumo  2023-24  38.0       1.0     MID

# Saving to file

In [74]:
all_fixtures.to_csv("data/upcoming/upcoming_fixtures.csv")

In [75]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD',
       'GKP', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date', 'Price'],
      dtype='object')

In [76]:
all_fixtures.shape

(33989, 72)

In [77]:
all_fixtures["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)