# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
from vaastav.getters import *
from datetime import datetime
from config import *

# Constants

In [3]:
# least number of gameweeks that player had to play
FIS = 1

# Upcoming fixtures

In [4]:
fixtures = get_fixtures_data()

In [5]:
df_fixtures = pd.DataFrame(fixtures)

In [6]:
df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2367552,NaN,False,False,15,None,0,False,None,6,NaN,12,NaN,[],2,2,93335
1,2367713,NaN,False,False,176,None,0,False,None,4,NaN,13,NaN,[],3,5,93496
2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321
3,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322
4,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2367913,38.0,False,False,376,2024-05-19T15:00:00Z,0,False,False,2,NaN,8,NaN,[],3,2,93696
376,2367914,38.0,False,False,377,2024-05-19T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,93697
377,2367915,38.0,False,False,378,2024-05-19T15:00:00Z,0,False,False,10,NaN,12,NaN,[],2,2,93698
378,2367916,38.0,False,False,379,2024-05-19T15:00:00Z,0,False,False,19,NaN,13,NaN,[],2,5,93699
379,2367917,38.0,False,False,380,2024-05-19T15:00:00Z,0,False,False,18,NaN,17,NaN,[],3,2,93700

In [7]:
df_upcoming_fixtures = df_fixtures[df_fixtures["event"] >= NEXT_GAMEWEEK] # also removes rows with no GW number attached (postponed fixtures)

In [8]:
current_teams = [
        'Arsenal',
        'Aston Villa',
        'Bournemouth',
        'Brentford',
        'Brighton',
        'Burnley',
        'Chelsea',
        'Crystal Palace',
        'Everton',
        'Fulham',
        'Liverpool',
        'Luton',
        'Manchester City',
        'Manchester Utd',
        'Newcastle Utd',
        "Nott'ham Forest",
        'Sheffield United',
        'Tottenham',
        'West Ham',
        'Wolves'
    ]

In [9]:
# 2023-24 season
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [10]:
df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

C:\Users\user\AppData\Local\Temp\ipykernel_13072\2597988153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
C:\Users\user\AppData\Local\Temp\ipykernel_13072\2597988153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

In [11]:
df_upcoming_fixtures = df_upcoming_fixtures.rename(columns={"event": "GW"})

In [12]:
# df_upcoming_fixtures

In [13]:
df_upcoming_fixtures = df_upcoming_fixtures[["GW", "kickoff_time", "Squad H", "Squad A"]]

In [14]:
df_upcoming_fixtures["kickoff_time"] = df_upcoming_fixtures["kickoff_time"].str[:10]

In [15]:
df_upcoming_fixtures.shape

(339, 4)

In [16]:
df_upcoming_fixtures.head(10)

     GW kickoff_time          Squad H           Squad A
41  5.0   2023-09-16           Wolves         Liverpool
42  5.0   2023-09-16      Aston Villa    Crystal Palace
43  5.0   2023-09-16           Fulham             Luton
44  5.0   2023-09-16   Manchester Utd          Brighton
45  5.0   2023-09-16        Tottenham  Sheffield United
46  5.0   2023-09-16         West Ham   Manchester City
47  5.0   2023-09-16    Newcastle Utd         Brentford
48  5.0   2023-09-17      Bournemouth           Chelsea
49  5.0   2023-09-17          Everton           Arsenal
50  5.0   2023-09-18  Nott'ham Forest           Burnley

# Active players

In [17]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [18]:
previous_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=305)

In [19]:
previous_fixtures[previous_fixtures["Team"] == "Luton Town"]["Name"].unique()

array(['Alfie-Doughty', 'Allan-Campbell', "Amari'i-Bell",
       'Carlton-Morris', 'Cauley-Woodrow', 'Chiedozie-Ogbene',
       'Elijah-Adebayo', 'Issa-Kabore', 'Jacob-Brown', 'James-Shea',
       'Joseph-Johnson', 'Luke-Berry', 'Mads-Juel-Andersen',
       'Marvelous-Nakamba', 'Pelly-Ruddock-Mpanzu', 'Reece-Burke',
       'Ross-Barkley', 'Tahith-Chong', 'Thomas-Kaminski', 'Tim-Krul',
       'Tom-Lockyer'], dtype=object)

In [20]:
def get_active_players():
    def adjust_team(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["team"].iloc[0]
    
    def get_price(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["now_cost"].iloc[0]
    
    previous_fixtures = pd.read_csv("data/misc/df_features.csv")
    active_players = pd.read_csv("data/misc/active_players.csv")
    player_names = active_players["name"].to_list()
    print(len(player_names))
    name_counts = previous_fixtures.groupby('Name_original').size()
    filtered_names = name_counts[name_counts >= FIS].index
    print(len(filtered_names))
    filtered_names = [n for n in filtered_names if n in player_names]
    print(len(filtered_names))
    result = previous_fixtures[previous_fixtures['Name_original'].isin(filtered_names)].groupby('Name_original').tail(1).reset_index()
    result = result.loc[:, ~result.columns.str.contains('^Unnamed')]
    result["Team"] = result.apply(lambda x: adjust_team(active_players, x),axis=1)
    result["Price"] = result.apply(lambda x: get_price(active_players, x),axis=1)
    
    return result

In [21]:
active_players = get_active_players()
active_players[active_players["Name_original"] == "Bryan Mbeumo"][["FPL_pos", "GW", "Season"]]

714
550
537

   FPL_pos  GW   Season
72     MID   4  2023-24

In [22]:
# active_players_file = pd.read_csv("data/misc/active_players.csv")
# active_players_file.columns

In [23]:
# active_players_file.iloc[189].head(50)

In [24]:
# active_players_file[["name", "penalties_order", "team", "status", "chance_of_playing_this_round", "photo", "selected_by_percent"]].sort_values(by=["team"]).head(240).tail(40)

In [25]:
# active_players[["Name_original", "team"]].head(200).tail(50)

In [26]:
active_players.columns

Index(['index', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start',
       'Pos', 'Min',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=306)

In [27]:
previous_fixtures[previous_fixtures["Team"] == current_teams[10]]["Name_original"].unique()

array(['Alexis Mac Allister', 'Alisson Ramses Becker', 'Andrew Robertson',
       'Ben Doak', 'Caoimhin Kelleher', 'Cody Gakpo', 'Curtis Jones',
       'Thiago Alcántara do Nascimento', 'Diogo Teixeira da Silva',
       'Dominik Szoboszlai', 'Fabio Henrique Tavares', 'Harvey Elliott',
       'Ibrahima Konaté', 'James McConnell', 'Joseph Gomez', 'Joel Matip',
       'Jordan Henderson', 'Konstantinos Tsimikas', 'Luis Díaz',
       'Mohamed Salah', 'Nathaniel Phillips', 'Neco Williams',
       'Stefan Bajcetic', 'Trent Alexander-Arnold', 'Virgil van Dijk',
       'Wataru Endo'], dtype=object)

In [28]:
df_upcoming_fixtures.head(30)

     GW kickoff_time           Squad H           Squad A
41  5.0   2023-09-16            Wolves         Liverpool
42  5.0   2023-09-16       Aston Villa    Crystal Palace
43  5.0   2023-09-16            Fulham             Luton
44  5.0   2023-09-16    Manchester Utd          Brighton
45  5.0   2023-09-16         Tottenham  Sheffield United
46  5.0   2023-09-16          West Ham   Manchester City
47  5.0   2023-09-16     Newcastle Utd         Brentford
48  5.0   2023-09-17       Bournemouth           Chelsea
49  5.0   2023-09-17           Everton           Arsenal
50  5.0   2023-09-18   Nott'ham Forest           Burnley
51  6.0   2023-09-23    Crystal Palace            Fulham
52  6.0   2023-09-23             Luton            Wolves
53  6.0   2023-09-23   Manchester City   Nott'ham Forest
54  6.0   2023-09-23         Brentford           Everton
55  6.0   2023-09-23           Burnley    Manchester Utd
56  6.0   2023-09-24           Arsenal         Tottenham
57  6.0   2023-09-24          Brighton       Bournemouth
58  6.0   2023-09-24           Chelsea       Aston Villa
59  6.0   2023-09-24         Liverpool          West Ham
60  6.0   2023-09-24  Sheffield United     Newcastle Utd
61  7.0   2023-09-30       Aston Villa          Brighton
62  7.0   2023-09-30       Bournemouth           Arsenal
63  7.0   2023-09-30           Everton             Luton
64  7.0   2023-09-30    Manchester Utd    Crystal Palace
65  7.0   2023-09-30     Newcastle Utd           Burnley
66  7.0   2023-09-30          West Ham  Sheffield United
67  7.0   2023-09-30            Wolves   Manchester City
68  7.0   2023-09-30         Tottenham         Liverpool
69  7.0   2023-10-01   Nott'ham Forest         Brentford
70  7.0   2023-10-02            Fulham           Chelsea

In [29]:
active_players.columns

Index(['index', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start',
       'Pos', 'Min',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=306)

In [30]:
active_players["Team"].unique()

array(['Brighton', 'West Ham', 'Brentford', 'Arsenal', 'Burnley',
       'Manchester Utd', 'Everton', 'Sheffield United', 'Bournemouth',
       'Fulham', 'Luton', 'Newcastle Utd', 'Liverpool', "Nott'ham Forest",
       'Chelsea', 'Tottenham', 'Manchester City', 'Aston Villa', 'Wolves',
       'Crystal Palace'], dtype=object)

In [31]:
for i in range(0,20):
    print(i, current_teams[i], active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[i]].shape)

0 Arsenal (28, 3)
1 Aston Villa (30, 3)
2 Bournemouth (28, 3)
3 Brentford (29, 3)
4 Brighton (28, 3)
5 Burnley (24, 3)
6 Chelsea (31, 3)
7 Crystal Palace (26, 3)
8 Everton (23, 3)
9 Fulham (25, 3)
10 Liverpool (24, 3)
11 Luton (22, 3)
12 Manchester City (27, 3)
13 Manchester Utd (32, 3)
14 Newcastle Utd (34, 3)
15 Nott'ham Forest (28, 3)
16 Sheffield United (22, 3)
17 Tottenham (30, 3)
18 West Ham (23, 3)
19 Wolves (23, 3)

In [32]:
active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[3]]

               Name_original       Team FPL_pos
2               Aaron Hickey  Brentford     DEF
57                   Ben Mee  Brentford     DEF
72              Bryan Mbeumo  Brentford     MID
86             Charlie Goode  Brentford     DEF
96        Christian Nørgaard  Brentford     MID
140          Ellery Balcombe  Brentford      GK
156           Ethan Brierley  Brentford     MID
158            Ethan Pinnock  Brentford     DEF
169             Frank Onyeka  Brentford     MID
204               Ivan Toney  Brentford     FWD
277             Josh Dasilva  Brentford     MID
287       Keane Lewis-Potter  Brentford     MID
292             Kevin Schade  Brentford     MID
299          Kristoffer Ajer  Brentford     DEF
330       Mads Bech Sørensen  Brentford     DEF
332  Mads Roerslev Rasmussen  Brentford     DEF
347             Mark Flekken  Brentford      GK
360           Mathias Jensen  Brentford     MID
361        Mathias Jorgensen  Brentford     DEF
378         Mikkel Damsgaard  Brentford     MID
390           Nathan Collins  Brentford     DEF
397              Neal Maupay  Brentford     FWD
442               Rico Henry  Brentford     DEF
460            Saman Ghoddos  Brentford     MID
471        Sergi Canós Tenés  Brentford     DEF
474         Shandon Baptiste  Brentford     MID
493         Thomas Strakosha  Brentford      GK
517            Vitaly Janelt  Brentford     MID
532              Yoane Wissa  Brentford     FWD

In [33]:
active_players[active_players["Name_original"] == "Kai Havertz"]["Team"]

283    Arsenal
Name: Team, dtype: object

In [34]:
active_players.columns

Index(['index', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start',
       'Pos', 'Min',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=306)

# Upcoming home & away logs

In [35]:
picked_columns = ["Name_original", "GW", "kickoff_time", "Squad", "Squad H", "Squad A", "Was_home", "Opponent", "FPL_pos", "Price"]

In [36]:
upcoming_player_fixtures_home = active_players.rename(columns={"Team": "Squad H"}).drop(columns=["GW"]).set_index(["Squad H"]).join(df_upcoming_fixtures.set_index(["Squad H"])).reset_index(level=0)
upcoming_player_fixtures_home["Squad"] = upcoming_player_fixtures_home["Squad H"]
upcoming_player_fixtures_home["Was Home"] = 1
# upcoming_player_fixtures_home.loc[upcoming_player_fixtures_home["GW_left"].isnull(), "GW_left"] = 77
# upcoming_player_fixtures_home['C'] = upcoming_player_fixtures_home['GW_left'].fillna(upcoming_player_fixtures_home['GW_right'])
upcoming_player_fixtures_home["Opponent"] = upcoming_player_fixtures_home["Squad A"]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Squad"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Opponent"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[picked_columns]

In [37]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["Name_original"] == "Kai Havertz"]

,Name_original,GW,kickoff_time,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price
240,Kai Havertz,6.0,2023-09-24,Arsenal,Arsenal,Tottenham,1.0,Tottenham,MID,73
241,Kai Havertz,8.0,2023-10-08,Arsenal,Arsenal,Manchester City,1.0,Manchester City,MID,73
242,Kai Havertz,10.0,2023-10-28,Arsenal,Arsenal,Sheffield United,1.0,Sheffield United,MID,73
243,Kai Havertz,12.0,2023-11-11,Arsenal,Arsenal,Burnley,1.0,Burnley,MID,73
244,Kai Havertz,14.0,2023-12-02,Arsenal,Arsenal,Wolves,1.0,Wolves,MID,73
245,Kai Havertz,17.0,2023-12-16,Arsenal,Arsenal,Brighton,1.0,Brighton,MID,73
246,Kai Havertz,19.0,2023-12-26,Arsenal,Arsenal,West Ham,1.0,West Ham,MID,73
247,Kai Havertz,21.0,2024-01-13,Arsenal,Arsenal,Crystal Palace,1.0,Crystal Palace,MID,73
248,Kai Havertz,23.0,2024-02-03,Arsenal,Arsenal,Liverpool,1.0,Liverpool,MID,73
249,Kai Havertz,26.0,2024-02-24,Arsenal,Arsenal,Newcastle Utd,1.0,Newcastle Utd,MID,73
250,Kai Havertz,28.0,2024-03-09,Arsenal,Arsenal,Brentford,1.0,Brentford,MID,73
251,Kai Havertz,29.0,2024-03-16,Arsenal,Arsenal,Chelsea,1.0,Chelsea,MID,73
252,Kai Havertz,31.0,2024-04-02,Arsenal,Arsenal,Luton,1.0,Luton,MID,73
253,Kai Havertz,33.0,2024-04-13,Arsenal,Arsenal,Aston Villa,1.0,Aston Villa,MID,73
254,Kai Havertz,36.0,2024-05-04,Arsenal,Arsenal,Bournemouth,1.0,Bournemouth,MID,73
255,Kai Havertz,38.0,2024-05-19,Arsenal,Arsenal,Everton,1.0,Everton,MID,73

In [38]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["GW"].isna()]

Empty DataFrame
Columns: [Name_original, GW, kickoff_time, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price]
Index: []

In [39]:
upcoming_player_fixtures_home['GW'].unique()

array([ 6.,  8., 10., 12., 14., 17., 19., 21., 23., 26., 28., 29., 31.,
       33., 36., 38.,  5.,  7.,  9., 15., 16., 18., 20., 22., 24., 30.,
       32., 34., 35., 37., 11., 13., 25., 27.])

In [40]:
upcoming_player_fixtures_away = active_players.rename(columns={"Team": "Squad A"}).drop(columns=["GW"]).set_index("Squad A").join(df_upcoming_fixtures.set_index("Squad A")).reset_index(level=0)
upcoming_player_fixtures_away["Squad"] = upcoming_player_fixtures_away["Squad A"]
upcoming_player_fixtures_away["Was Home"] = 0
upcoming_player_fixtures_away["Opponent"] = upcoming_player_fixtures_away["Squad H"]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Squad"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Opponent"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[picked_columns]

# Concating home & away logs

In [41]:
upcoming_player_fixtures = pd.concat([upcoming_player_fixtures_home, upcoming_player_fixtures_away]).sort_values(by=["Name_original", "GW"])

In [42]:
upcoming_player_fixtures["Season"] = CURRENT_SEASON
upcoming_player_fixtures["Finished"] = False

In [43]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"kickoff_time": "Date"})

In [44]:
upcoming_player_fixtures["Was_home"] = (upcoming_player_fixtures["Opponent"] == upcoming_player_fixtures["Squad A"]).astype("int64")

In [45]:
# upcoming_player_fixtures[upcoming_player_fixtures["Name"] == "Gabriel-Dos-Santos"]

In [46]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Kai Havertz"].head(5)

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
270,Kai Havertz,5.0,2023-09-17,Arsenal,Everton,Arsenal,0,Everton,MID,73,2023-24,False
240,Kai Havertz,6.0,2023-09-24,Arsenal,Arsenal,Tottenham,1,Tottenham,MID,73,2023-24,False
271,Kai Havertz,7.0,2023-09-30,Arsenal,Bournemouth,Arsenal,0,Bournemouth,MID,73,2023-24,False
241,Kai Havertz,8.0,2023-10-08,Arsenal,Arsenal,Manchester City,1,Manchester City,MID,73,2023-24,False
272,Kai Havertz,9.0,2023-10-21,Arsenal,Chelsea,Arsenal,0,Chelsea,MID,73,2023-24,False

In [47]:
upcoming_player_fixtures

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
1953,Aaron Connolly,5.0,2023-09-16,Brighton,Manchester Utd,Brighton,0,Manchester Utd,FWD,45,2023-24,False
1928,Aaron Connolly,6.0,2023-09-24,Brighton,Brighton,Bournemouth,1,Bournemouth,FWD,45,2023-24,False
1954,Aaron Connolly,7.0,2023-09-30,Brighton,Aston Villa,Brighton,0,Aston Villa,FWD,45,2023-24,False
1929,Aaron Connolly,8.0,2023-10-08,Brighton,Brighton,Liverpool,1,Liverpool,FWD,45,2023-24,False
1955,Aaron Connolly,9.0,2023-10-21,Brighton,Manchester City,Brighton,0,Manchester City,FWD,45,2023-24,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2886,Zeki Amdouni,34.0,2024-04-20,Burnley,Sheffield United,Burnley,0,Sheffield United,FWD,55,2023-24,False
2887,Zeki Amdouni,35.0,2024-04-27,Burnley,Manchester Utd,Burnley,0,Manchester Utd,FWD,55,2023-24,False
2758,Zeki Amdouni,36.0,2024-05-04,Burnley,Burnley,Newcastle Utd,1,Newcastle Utd,FWD,55,2023-24,False
2888,Zeki Amdouni,37.0,2024-05-11,Burnley,Tottenham,Burnley,0,Tottenham,FWD,55,2023-24,False
2759,Zeki Amdouni,38.0,2024-05-19,Burnley,Burnley,Nott'ham Forest,1,Nott'ham Forest,FWD,55,2023-24,False

In [48]:
upcoming_player_fixtures.shape

(18202, 12)

# Loading previous fixtures

In [49]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [50]:
previous_fixtures["Finished"] = True

# Assigning team elo

In [51]:
team_ratings = pd.read_csv("data/misc/team_ratings_history.csv")

In [52]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [53]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    return team_name

In [54]:
team_ratings

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
0,0,None,Arsenal,ENG,1,1551.140259,1946-07-07,1946-08-31
1,1,None,Arsenal,ENG,1,1539.570068,1946-09-01,1946-09-04
2,2,None,Arsenal,ENG,1,1525.449463,1946-09-05,1946-09-07
3,3,None,Arsenal,ENG,1,1523.855591,1946-09-08,1946-09-11
4,4,None,Arsenal,ENG,1,1518.939331,1946-09-12,1946-09-14
...,...,...,...,...,...,...,...,...
137481,5468,82,Leeds,ENG,2,1641.547974,2023-08-27,2023-08-31
137482,5469,81,Leeds,ENG,2,1641.640991,2023-09-01,2023-09-01
137483,5470,83,Leeds,ENG,2,1641.640991,2023-09-02,2023-09-02
137484,5471,86,Leeds,ENG,2,1634.797607,2023-09-03,2023-09-21
137485,5472,86,Leeds,ENG,2,1634.797607,2023-09-22,2023-12-31

In [55]:
datetime.strptime(upcoming_player_fixtures['Date'].iloc[1], '%Y-%m-%d')

datetime.datetime(2023, 9, 24, 0, 0)

In [56]:
upcoming_player_fixtures[upcoming_player_fixtures['Date'].isna()]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished]
Index: []

In [57]:
%%time
for t in upcoming_player_fixtures["Opponent"].unique():
    team_elo = team_ratings[team_ratings["Club"] == fbref_to_team_elo(t)].tail(1)["Elo"].item()
    # print(t, team_ratings[team_ratings["Club"] == fbref_to_team_elo(t)].tail(1)["Elo"].item())
    upcoming_player_fixtures.loc[upcoming_player_fixtures["Opponent"] == t, "Opp rating"] = team_elo

CPU times: total: 141 ms
Wall time: 170 ms

In [58]:
%%time
for t in upcoming_player_fixtures["Squad"].unique():
    team_elo = team_ratings[team_ratings["Club"] == fbref_to_team_elo(t)].tail(1)["Elo"].item()
    # print(t, team_ratings[team_ratings["Club"] == fbref_to_team_elo(t)].tail(1)["Elo"].item())
    upcoming_player_fixtures.loc[upcoming_player_fixtures["Squad"] == t, "Team rating"] = team_elo

CPU times: total: 203 ms
Wall time: 218 ms

In [59]:
# %%time
# upcoming_player_fixtures["Opp rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
#                      fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

In [60]:
# %%time
# upcoming_player_fixtures["Team rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
#                      fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

In [61]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Gabriel-Dos-Santos"]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished, Opp rating, Team rating]
Index: []

In [62]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"Opp rating": "Opp_rating", "Team rating": "Team_rating", "Squad": "Team"})
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad H"], axis=1)
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad A"], axis=1)
upcoming_player_fixtures["Price"] = upcoming_player_fixtures["Price"] / 10

In [63]:
upcoming_player_fixtures["Rating_difference"] = upcoming_player_fixtures["Team_rating"] / upcoming_player_fixtures["Opp_rating"]

In [64]:
upcoming_player_fixtures.columns

Index(['Name_original', 'GW', 'Date', 'Team', 'Was_home', 'Opponent',
       'FPL_pos', 'Price', 'Season', 'Finished', 'Opp_rating', 'Team_rating',
       'Rating_difference'],
      dtype='object')

In [65]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Ben Chilwell"][["Name_original", "Season", "GW", "Was_home", "Price"]].tail(45)

     Name_original   Season    GW  Was_home  Price
2943  Ben Chilwell  2023-24   5.0         0    5.8
2808  Ben Chilwell  2023-24   6.0         1    5.8
2944  Ben Chilwell  2023-24   7.0         0    5.8
2945  Ben Chilwell  2023-24   8.0         0    5.8
2809  Ben Chilwell  2023-24   9.0         1    5.8
2810  Ben Chilwell  2023-24  10.0         1    5.8
2946  Ben Chilwell  2023-24  11.0         0    5.8
2811  Ben Chilwell  2023-24  12.0         1    5.8
2947  Ben Chilwell  2023-24  13.0         0    5.8
2812  Ben Chilwell  2023-24  14.0         1    5.8
2948  Ben Chilwell  2023-24  15.0         0    5.8
2949  Ben Chilwell  2023-24  16.0         0    5.8
2813  Ben Chilwell  2023-24  17.0         1    5.8
2950  Ben Chilwell  2023-24  18.0         0    5.8
2814  Ben Chilwell  2023-24  19.0         1    5.8
2951  Ben Chilwell  2023-24  20.0         0    5.8
2815  Ben Chilwell  2023-24  21.0         1    5.8
2952  Ben Chilwell  2023-24  22.0         0    5.8
2816  Ben Chilwell  2023-24  23.0         1    5.8
2953  Ben Chilwell  2023-24  24.0         0    5.8
2954  Ben Chilwell  2023-24  25.0         0    5.8
2817  Ben Chilwell  2023-24  26.0         1    5.8
2955  Ben Chilwell  2023-24  27.0         0    5.8
2818  Ben Chilwell  2023-24  28.0         1    5.8
2956  Ben Chilwell  2023-24  29.0         0    5.8
2819  Ben Chilwell  2023-24  30.0         1    5.8
2820  Ben Chilwell  2023-24  31.0         1    5.8
2957  Ben Chilwell  2023-24  32.0         0    5.8
2821  Ben Chilwell  2023-24  33.0         1    5.8
2958  Ben Chilwell  2023-24  34.0         0    5.8
2959  Ben Chilwell  2023-24  35.0         0    5.8
2822  Ben Chilwell  2023-24  36.0         1    5.8
2960  Ben Chilwell  2023-24  37.0         0    5.8
2823  Ben Chilwell  2023-24  38.0         1    5.8

# Concating previous and upcoming logs

In [66]:
all_fixtures = pd.concat([previous_fixtures, upcoming_player_fixtures])

In [67]:
previous_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=306)

In [68]:
all_fixtures.shape

(37410, 306)

In [69]:
all_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=306)

In [70]:
all_fixtures[all_fixtures["Name_original"] == "Kai Havertz"][["Name_original", "Team"]]

      Name_original     Team
10080   Kai Havertz  Chelsea
10081   Kai Havertz  Chelsea
10082   Kai Havertz  Chelsea
10083   Kai Havertz  Chelsea
10084   Kai Havertz  Chelsea
...             ...      ...
285     Kai Havertz  Arsenal
286     Kai Havertz  Arsenal
254     Kai Havertz  Arsenal
287     Kai Havertz  Arsenal
255     Kai Havertz  Arsenal

[109 rows x 2 columns]

# Filling missing values

In [71]:
all_fixtures_before_fill = all_fixtures.copy()

In [72]:
all_fixtures = all_fixtures_before_fill

In [73]:
all_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=306)

In [74]:
columns_to_fill = np.unique(FEATURES_GK + FEATURES_OUTFIELD + ["Pos"])

In [75]:
# len(FEATURES_GK + FEATURES_OUTFIELD)

In [76]:
np.unique(FEATURES_GK + FEATURES_OUTFIELD).size

54

In [77]:
columns_to_fill

array(['Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FWD', 'GK',
       'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Player_GC_2',
       'Player_GC_30', 'Player_GC_4', 'Pos', 'Price', 'Rating_difference',
       'Saves_2', 'Saves_30', 'Saves_4', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_result_2', 'Team_result_30', 'Team_result_4', 'Team_score_2',
       'Team_score_30', 'Team_score_4', 'Transfers_balance', 'Was_home',
       'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP_2', 'xP_30',
       'xP_4'], dtype='<U17')

In [78]:
all_fixtures[columns_to_fill] = all_fixtures.groupby('Name_original')[columns_to_fill].ffill()

In [79]:
all_fixtures.tail(10)

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,GK,MID,Finished
2755,2024-03-16,NaN,NaN,Burnley,Brentford,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2884,2024-03-30,NaN,NaN,Burnley,Chelsea,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2756,2024-04-02,NaN,NaN,Burnley,Wolves,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2885,2024-04-06,NaN,NaN,Burnley,Everton,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2757,2024-04-13,NaN,NaN,Burnley,Brighton,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2886,2024-04-20,NaN,NaN,Burnley,Sheffield United,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2887,2024-04-27,NaN,NaN,Burnley,Manchester Utd,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2758,2024-05-04,NaN,NaN,Burnley,Newcastle Utd,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2888,2024-05-11,NaN,NaN,Burnley,Tottenham,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False
2759,2024-05-19,NaN,NaN,Burnley,Nott'ham Forest,NaN,NaN,FW,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,False

In [80]:
all_fixtures[all_fixtures["Name_original"] == "Bryan Mbeumo"][["Name_original", "Season", "GW", "Was_home", "FPL_pos", "Gls_4"]].tail(45)

     Name_original   Season    GW  Was_home FPL_pos  Gls_4
2521  Bryan Mbeumo  2022-23  31.0       0.0     FWD   0.00
2522  Bryan Mbeumo  2022-23  32.0       1.0     FWD   0.00
2523  Bryan Mbeumo  2022-23  33.0       0.0     FWD   0.00
2524  Bryan Mbeumo  2022-23  34.0       1.0     FWD   0.25
2525  Bryan Mbeumo  2022-23  35.0       0.0     FWD   0.25
2526  Bryan Mbeumo  2022-23  36.0       1.0     FWD   0.25
2527  Bryan Mbeumo  2022-23  37.0       0.0     FWD   0.50
2528  Bryan Mbeumo  2022-23  38.0       1.0     FWD   0.75
2529  Bryan Mbeumo  2023-24   1.0       1.0     MID   0.75
2530  Bryan Mbeumo  2023-24   2.0       0.0     MID   1.00
2531  Bryan Mbeumo  2023-24   3.0       1.0     MID   1.25
2532  Bryan Mbeumo  2023-24   4.0       1.0     MID   0.75
1494  Bryan Mbeumo  2023-24   5.0       0.0     MID   0.75
1496  Bryan Mbeumo  2023-24   6.0       1.0     MID   0.75
1495  Bryan Mbeumo  2023-24   7.0       0.0     MID   0.75
1496  Bryan Mbeumo  2023-24   8.0       0.0     MID   0.75
1497  Bryan Mbeumo  2023-24   9.0       1.0     MID   0.75
1497  Bryan Mbeumo  2023-24  10.0       0.0     MID   0.75
1498  Bryan Mbeumo  2023-24  11.0       1.0     MID   0.75
1498  Bryan Mbeumo  2023-24  12.0       0.0     MID   0.75
1499  Bryan Mbeumo  2023-24  13.0       1.0     MID   0.75
1500  Bryan Mbeumo  2023-24  14.0       1.0     MID   0.75
1499  Bryan Mbeumo  2023-24  15.0       0.0     MID   0.75
1500  Bryan Mbeumo  2023-24  16.0       0.0     MID   0.75
1501  Bryan Mbeumo  2023-24  17.0       1.0     MID   0.75
1502  Bryan Mbeumo  2023-24  19.0       1.0     MID   0.75
1501  Bryan Mbeumo  2023-24  20.0       0.0     MID   0.75
1503  Bryan Mbeumo  2023-24  21.0       1.0     MID   0.75
1502  Bryan Mbeumo  2023-24  22.0       0.0     MID   0.75
1504  Bryan Mbeumo  2023-24  23.0       1.0     MID   0.75
1503  Bryan Mbeumo  2023-24  24.0       0.0     MID   0.75
1505  Bryan Mbeumo  2023-24  25.0       1.0     MID   0.75
1504  Bryan Mbeumo  2023-24  26.0       0.0     MID   0.75
1506  Bryan Mbeumo  2023-24  27.0       1.0     MID   0.75
1505  Bryan Mbeumo  2023-24  28.0       0.0     MID   0.75
1506  Bryan Mbeumo  2023-24  29.0       0.0     MID   0.75
1507  Bryan Mbeumo  2023-24  30.0       1.0     MID   0.75
1508  Bryan Mbeumo  2023-24  31.0       1.0     MID   0.75
1507  Bryan Mbeumo  2023-24  32.0       0.0     MID   0.75
1509  Bryan Mbeumo  2023-24  33.0       1.0     MID   0.75
1508  Bryan Mbeumo  2023-24  34.0       0.0     MID   0.75
1509  Bryan Mbeumo  2023-24  35.0       0.0     MID   0.75
1510  Bryan Mbeumo  2023-24  36.0       1.0     MID   0.75
1510  Bryan Mbeumo  2023-24  37.0       0.0     MID   0.75
1511  Bryan Mbeumo  2023-24  38.0       1.0     MID   0.75

In [81]:
all_fixtures[all_fixtures["Name_original"] == "Ben Chilwell"][["Name_original", "Season", "GW", "Was_home", "FPL_pos", "Gls_4", "Price", "Pos", "xP_4"]].tail(60)

,Name_original,Season,GW,Was_home,FPL_pos,Gls_4,Price,Pos,xP_4
1636,Ben Chilwell,2022-23,4.0,1.0,DEF,0.00,5.9,WB,2.333333
1637,Ben Chilwell,2022-23,5.0,0.0,DEF,0.00,5.8,WB,2.000000
1638,Ben Chilwell,2022-23,6.0,1.0,DEF,0.00,5.8,LM,0.750000
1639,Ben Chilwell,2022-23,9.0,0.0,DEF,0.25,5.8,LB,1.375000
1640,Ben Chilwell,2022-23,10.0,1.0,DEF,0.25,5.8,0,1.625000
1641,Ben Chilwell,2022-23,11.0,0.0,DEF,0.25,5.8,WB,1.375000
1642,Ben Chilwell,2022-23,13.0,1.0,DEF,0.25,5.9,"LB,WB",2.625000
1643,Ben Chilwell,2022-23,14.0,0.0,DEF,0.00,5.9,LB,2.500000
1644,Ben Chilwell,2022-23,22.0,1.0,DEF,0.00,5.8,LB,2.250000
1645,Ben Chilwell,2022-23,23.0,0.0,DEF,0.00,5.8,LB,2.575000
1646,Ben Chilwell,2022-23,24.0,1.0,DEF,0.00,5.8,LB,1.400000
1647,Ben Chilwell,2022-23,25.0,0.0,DEF,0.00,5.8,LB,1.400000
1648,Ben Chilwell,2022-23,26.0,1.0,DEF,0.00,5.8,LM,1.800000
1649,Ben Chilwell,2022-23,27.0,0.0,DEF,0.00,5.8,"LM,WB",3.975000
1650,Ben Chilwell,2022-23,28.0,1.0,DEF,0.25,5.9,LM,4.300000
1651,Ben Chilwell,2022-23,29.0,1.0,DEF,0.25,6.0,"WB,CB",4.900000
1652,Ben Chilwell,2022-23,8.0,1.0,DEF,0.25,6.0,WB,5.125000
1653,Ben Chilwell,2022-23,30.0,0.0,DEF,0.25,6.0,LB,5.250000
1654,Ben Chilwell,2022-23,31.0,1.0,DEF,0.00,6.0,LB,5.000000
1655,Ben Chilwell,2022-23,33.0,1.0,DEF,0.00,5.8,"LB,WB",4.625000
1656,Ben Chilwell,2022-23,34.0,0.0,DEF,0.00,5.7,LB,4.325000
1657,Ben Chilwell,2022-23,35.0,0.0,DEF,0.00,5.7,LB,2.500000
1658,Ben Chilwell,2023-24,1.0,1.0,DEF,0.00,5.5,WB,2.600000
1659,Ben Chilwell,2023-24,2.0,0.0,DEF,0.00,5.6,WB,3.475000
1660,Ben Chilwell,2023-24,3.0,1.0,DEF,0.00,5.7,"WB,LM",4.225000
1661,Ben Chilwell,2023-24,4.0,1.0,DEF,0.00,5.8,WB,5.300000
2943,Ben Chilwell,2023-24,5.0,0.0,DEF,0.00,5.8,WB,5.300000
2808,Ben Chilwell,2023-24,6.0,1.0,DEF,0.00,5.8,WB,5.300000
2944,Ben Chilwell,2023-24,7.0,0.0,DEF,0.00,5.8,WB,5.300000
2945,Ben Chilwell,2023-24,8.0,0.0,DEF,0.00,5.8,WB,5.300000
2809,Ben Chilwell,2023-24,9.0,1.0,DEF,0.00,5.8,WB,5.300000
2810,Ben Chilwell,2023-24,10.0,1.0,DEF,0.00,5.8,WB,5.300000
2946,Ben Chilwell,2023-24,11.0,0.0,DEF,0.00,5.8,WB,5.300000
2811,Ben Chilwell,2023-24,12.0,1.0,DEF,0.00,5.8,WB,5.300000
2947,Ben Chilwell,2023-24,13.0,0.0,DEF,0.00,5.8,WB,5.300000
2812,Ben Chilwell,2023-24,14.0,1.0,DEF,0.00,5.8,WB,5.300000
2948,Ben Chilwell,2023-24,15.0,0.0,DEF,0.00,5.8,WB,5.300000
2949,Ben Chilwell,2023-24,16.0,0.0,DEF,0.00,5.8,WB,5.300000
2813,Ben Chilwell,2023-24,17.0,1.0,DEF,0.00,5.8,WB,5.300000
2950,Ben Chilwell,2023-24,18.0,0.0,DEF,0.00,5.8,WB,5.300000
2814,Ben Chilwell,2023-24,19.0,1.0,DEF,0.00,5.8,WB,5.300000
2951,Ben Chilwell,2023-24,20.0,0.0,DEF,0.00,5.8,WB,5.300000
2815,Ben Chilwell,2023-24,21.0,1.0,DEF,0.00,5.8,WB,5.300000
2952,Ben Chilwell,2023-24,22.0,0.0,DEF,0.00,5.8,WB,5.300000
2816,Ben Chilwell,2023-24,23.0,1.0,DEF,0.00,5.8,WB,5.300000
2953,Ben Chilwell,2023-24,24.0,0.0,DEF,0.00,5.8,WB,5.300000
2954,Ben Chilwell,2023-24,25.0,0.0,DEF,0.00,5.8,WB,5.300000
2817,Ben Chilwell,2023-24,26.0,1.0,DEF,0.00,5.8,WB,5.300000
2955,Ben Chilwell,2023-24,27.0,0.0,DEF,0.00,5.8,WB,5.300000
2818,Ben Chilwell,2023-24,28.0,1.0,DEF,0.00,5.8,WB,5.300000
2956,Ben Chilwell,2023-24,29.0,0.0,DEF,0.00,5.8,WB,5.300000
2819,Ben Chilwell,2023-24,30.0,1.0,DEF,0.00,5.8,WB,5.300000
2820,Ben Chilwell,2023-24,31.0,1.0,DEF,0.00,5.8,WB,5.300000
2957,Ben Chilwell,2023-24,32.0,0.0,DEF,0.00,5.8,WB,5.300000
2821,Ben Chilwell,2023-24,33.0,1.0,DEF,0.00,5.8,WB,5.300000
2958,Ben Chilwell,2023-24,34.0,0.0,DEF,0.00,5.8,WB,5.300000
2959,Ben Chilwell,2023-24,35.0,0.0,DEF,0.00,5.8,WB,5.300000
2822,Ben Chilwell,2023-24,36.0,1.0,DEF,0.00,5.8,WB,5.300000
2960,Ben Chilwell,2023-24,37.0,0.0,DEF,0.00,5.8,WB,5.300000
2823,Ben Chilwell,2023-24,38.0,1.0,DEF,0.00,5.8,WB,5.300000

# Team xG

In [82]:
team_xg = pd.read_csv("data/completed_fixtures.csv")

In [83]:
team_xg

,Unnamed: 0,Team,xG,xGA,Date,xG_2,xGA_2,xG_4,xGA_4,xG_5,xGA_5,xG_8,xGA_8,xG_10,xGA_10,xG_15,xGA_15,xG_30,xGA_30
0,0,Arsenal,1.023850,1.888180,2021-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Arsenal,0.630099,3.641320,2021-08-22,1.023850,1.888180,1.023850,1.888180,1.023850,1.888180,1.023850,1.888180,1.023850,1.888180,1.023850,1.888180,1.023850,1.888180
2,2,Arsenal,0.116805,4.472730,2021-08-28,0.826974,2.764750,0.826974,2.764750,0.826974,2.764750,0.826974,2.764750,0.826974,2.764750,0.826974,2.764750,0.826974,2.764750
3,3,Arsenal,2.685150,0.577292,2021-09-11,0.373452,4.057025,0.590251,3.334077,0.590251,3.334077,0.590251,3.334077,0.590251,3.334077,0.590251,3.334077,0.590251,3.334077
4,4,Arsenal,1.099280,0.775574,2021-09-18,1.400978,2.525011,1.113976,2.644881,1.113976,2.644881,1.113976,2.644881,1.113976,2.644881,1.113976,2.644881,1.113976,2.644881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,1593,Wolves,0.387720,3.024660,2023-05-28,0.779274,2.785470,0.742146,2.669307,0.819375,2.251505,0.779176,2.031928,0.938073,1.902473,0.889895,1.833578,0.930003,1.709526
1594,1594,Wolves,1.722280,1.970870,2023-08-14,0.838740,2.747210,0.688080,2.524295,0.671261,2.740378,0.752497,2.308097,0.700487,2.039449,0.854982,1.958372,0.923727,1.775703
1595,1595,Wolves,2.688210,3.155620,2023-08-19,1.055000,2.497765,0.917137,2.641617,0.894920,2.413610,0.850392,2.365293,0.834341,2.125095,0.903327,2.028888,0.956188,1.760368
1596,1596,Wolves,1.402280,1.897920,2023-08-26,2.205245,2.563245,1.521993,2.655228,1.271352,2.744418,1.111886,2.426084,1.043046,2.359126,1.030087,2.059135,1.005006,1.823968
1597,1597,Wolves,1.139110,2.329350,2023-09-03,2.045245,2.526770,1.550123,2.512267,1.498050,2.503766,1.146134,2.590787,1.089362,2.397588,1.086074,2.101938,1.023154,1.845360

In [84]:
def assign_team_xg(team_xg, team, n_games, xga=False):
    if team == "Sheffield United":
        team = "Sheffield Utd"
    if team == "Luton":
        team = "Luton Town"
    if (team_xg[team_xg["Team"] == team].tail(n_games)["xGA"].size <= 0):
        print(team, n_games, xga)
    if xga:
        return team_xg[team_xg["Team"] == team].tail(n_games)["xGA"].mean()
    return team_xg[team_xg["Team"] == team].tail(n_games)["xG"].mean()

In [85]:
team_xg["Team"].unique()

array(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton',
       'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham',
       'Leeds United', 'Leicester City', 'Liverpool', 'Luton Town',
       'Manchester City', 'Manchester Utd', 'Newcastle Utd',
       'Norwich City', "Nott'ham Forest", 'Sheffield Utd', 'Southampton',
       'Tottenham', 'Watford', 'West Ham', 'Wolves'], dtype=object)

In [86]:
%%time
# rolling_gameweeks = [2, 4, 5, 8, 10, 15, 30]
rolling_gameweeks = [4]
for i, row in all_fixtures[all_fixtures["Season"] == CURRENT_SEASON].iterrows():
    for r in rolling_gameweeks:
        all_fixtures.at[i, "xG_team_" + str(r)] = assign_team_xg(team_xg, row["Team"], r, xga=False)
        all_fixtures.at[i, "xGA_team_" + str(r)] = assign_team_xg(team_xg, row["Team"], r, xga=True)
        all_fixtures.at[i, "xG_opp_" + str(r)] = assign_team_xg(team_xg, row["Opponent"], r, xga=False)
        all_fixtures.at[i, "xGA_opp_" + str(r)] = assign_team_xg(team_xg, row["Opponent"], r, xga=True)

CPU times: total: 1min 49s
Wall time: 1min 55s

In [87]:
all_fixtures["xG_team_4"].unique()

array([2.04729   , 2.04544325, 1.3726655 , ..., 2.7514375 , 2.215989  ,
       1.7154808 ])

In [88]:
all_fixtures[all_fixtures["xG_team_4"].isna()]

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,GK,MID,Finished
9138,2021-08-14,Sat,Away,Crystal Palace,Chelsea,Joel-Ward,1.0,"RB,WB",90.0,0.0,...,4.900000e-01,1923.202026,1693.309448,NaN,0.0,1.0,0.0,0.0,0.0,True
9210,2021-08-15,Sun,Home,Newcastle Utd,West Ham,Joelinton,0.0,FW,6.0,0.0,...,1.900000e+00,1810.996338,1724.895874,NaN,0.0,0.0,1.0,0.0,0.0,True
9283,2021-08-14,Sat,Home,Burnley,Brighton,Johann-Berg-Gudmundsson,1.0,"RM,LW,LM",90.0,0.0,...,2.220446e-16,1720.883423,1709.373291,NaN,0.0,0.0,0.0,0.0,1.0,True
9311,2021-08-14,Sat,Away,Aston Villa,Watford,John-McGinn,1.0,"DM,CM",90.0,1.0,...,1.800000e+00,1673.335571,1747.112305,NaN,0.0,0.0,0.0,0.0,1.0,True
9385,2021-08-15,Sun,Away,Manchester City,Tottenham,John-Stones,0.0,0,0.0,0.0,...,4.900000e-01,1831.750122,2012.768188,NaN,0.0,1.0,0.0,0.0,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18730,2021-08-14,Sat,Away,Aston Villa,Watford,Wesley-Moraes,0.0,0,0.0,0.0,...,2.010000e+00,1673.335571,1747.112305,NaN,0.0,0.0,1.0,0.0,0.0,True
18973,2021-08-13,Fri,Home,Brentford,Arsenal,Yoane-Wissa,0.0,0,0.0,0.0,...,1.020000e+00,1866.674561,1671.978882,NaN,3.0,0.0,0.0,0.0,1.0,True
19048,2021-08-14,Sat,Home,Leicester City,Wolves,Youri-Tielemans,1.0,"DM,CM",90.0,0.0,...,2.200000e+00,1738.544434,1801.895020,NaN,3.0,0.0,0.0,0.0,1.0,True
19116,2021-08-14,Sat,Away,Brighton,Burnley,Yves-Bissouma,1.0,CM,90.0,0.0,...,2.020000e+00,1709.373291,1720.883423,NaN,3.0,0.0,0.0,0.0,1.0,True
19175,2021-08-15,Sun,Away,Manchester City,Tottenham,Zack-Steffen,0.0,0,0.0,0.0,...,9.600000e-01,1831.750122,2012.768188,NaN,0.0,0.0,0.0,1.0,0.0,True

# Saving to file

In [89]:
all_fixtures.to_csv("data/upcoming/upcoming_fixtures.csv")

In [90]:
all_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=306)

In [91]:
all_fixtures.shape

(37410, 306)

In [92]:
all_fixtures["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)