# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
from vaastav.getters import *
from datetime import datetime
from config import *

# Constants

In [3]:
# least number of gameweeks that player had to play
FIS = 1

# Upcoming fixtures

In [4]:
fixtures = get_fixtures_data()

In [5]:
df_fixtures = pd.DataFrame(fixtures)

In [6]:
df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2367552,NaN,False,False,15,None,0,False,None,6,NaN,12,NaN,[],2,2,93335
1,2367713,NaN,False,False,176,None,0,False,None,4,NaN,13,NaN,[],3,5,93496
2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321
3,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322
4,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2367913,38.0,False,False,376,2024-05-19T15:00:00Z,0,False,False,2,NaN,8,NaN,[],3,2,93696
376,2367914,38.0,False,False,377,2024-05-19T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,93697
377,2367915,38.0,False,False,378,2024-05-19T15:00:00Z,0,False,False,10,NaN,12,NaN,[],2,2,93698
378,2367916,38.0,False,False,379,2024-05-19T15:00:00Z,0,False,False,19,NaN,13,NaN,[],2,5,93699
379,2367917,38.0,False,False,380,2024-05-19T15:00:00Z,0,False,False,18,NaN,17,NaN,[],3,2,93700

In [7]:
df_upcoming_fixtures = df_fixtures[df_fixtures["event"] >= NEXT_GAMEWEEK] # also removes rows with no GW number attached (postponed fixtures)

In [8]:
current_teams = [
        'Arsenal',
        'Aston Villa',
        'Bournemouth',
        'Brentford',
        'Brighton',
        'Burnley',
        'Chelsea',
        'Crystal Palace',
        'Everton',
        'Fulham',
        'Liverpool',
        'Luton',
        'Manchester City',
        'Manchester Utd',
        'Newcastle Utd',
        "Nott'ham Forest",
        'Sheffield United',
        'Tottenham',
        'West Ham',
        'Wolves'
    ]

In [9]:
# 2023-24 season
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [10]:
df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

C:\Users\user\AppData\Local\Temp\ipykernel_8828\2597988153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
C:\Users\user\AppData\Local\Temp\ipykernel_8828\2597988153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

In [11]:
df_upcoming_fixtures = df_upcoming_fixtures.rename(columns={"event": "GW"})

In [12]:
# df_upcoming_fixtures

In [13]:
df_upcoming_fixtures = df_upcoming_fixtures[["GW", "kickoff_time", "Squad H", "Squad A"]]

In [14]:
df_upcoming_fixtures["kickoff_time"] = df_upcoming_fixtures["kickoff_time"].str[:10]

In [15]:
df_upcoming_fixtures.shape

(349, 4)

In [16]:
df_upcoming_fixtures.head(10)

     GW kickoff_time           Squad H          Squad A
31  4.0   2023-09-01             Luton         West Ham
32  4.0   2023-09-02  Sheffield United          Everton
33  4.0   2023-09-02         Brentford      Bournemouth
34  4.0   2023-09-02           Burnley        Tottenham
35  4.0   2023-09-02           Chelsea  Nott'ham Forest
36  4.0   2023-09-02   Manchester City           Fulham
37  4.0   2023-09-02          Brighton    Newcastle Utd
38  4.0   2023-09-03    Crystal Palace           Wolves
39  4.0   2023-09-03         Liverpool      Aston Villa
40  4.0   2023-09-03           Arsenal   Manchester Utd

# Active players

In [17]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [18]:
previous_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=272)

In [19]:
def get_active_players():
    def adjust_team(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["team"].iloc[0]
    
    def get_price(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["now_cost"].iloc[0]
    
    previous_fixtures = pd.read_csv("data/misc/df_features.csv")
    active_players = pd.read_csv("data/misc/active_players.csv")
    player_names = active_players["name"].to_list()
    print(len(player_names))
    name_counts = previous_fixtures.groupby('Name_original').size()
    filtered_names = name_counts[name_counts >= FIS].index
    print(len(filtered_names))
    filtered_names = [n for n in filtered_names if n in player_names]
    print(len(filtered_names))
    result = previous_fixtures[previous_fixtures['Name_original'].isin(filtered_names)].groupby('Name_original').tail(1).reset_index()
    result = result.loc[:, ~result.columns.str.contains('^Unnamed')]
    result["Team"] = result.apply(lambda x: adjust_team(active_players, x),axis=1)
    result["Price"] = result.apply(lambda x: get_price(active_players, x),axis=1)
    
    return result

In [20]:
active_players = get_active_players()
active_players[active_players["Name_original"] == "Bryan Mbeumo"][["FPL_pos", "GW", "Season"]]

685
467
454

   FPL_pos  GW   Season
60     MID   3  2023-24

In [21]:
# active_players_file = pd.read_csv("data/misc/active_players.csv")
# active_players_file.columns

In [22]:
# active_players_file.iloc[189].head(50)

In [23]:
# active_players_file[["name", "penalties_order", "team", "status", "chance_of_playing_this_round", "photo", "selected_by_percent"]].sort_values(by=["team"]).head(240).tail(40)

In [24]:
# active_players[["Name_original", "team"]].head(200).tail(50)

In [25]:
active_players.columns

Index(['index', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start',
       'Pos', 'Min',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=273)

In [26]:
previous_fixtures[previous_fixtures["Team"] == current_teams[10]]["Name_original"].unique()

array(['Alexis Mac Allister', 'Alisson Ramses Becker', 'Andrew Robertson',
       'Caoimhin Kelleher', 'Cody Gakpo', 'Curtis Jones',
       'Thiago Alcántara do Nascimento', 'Diogo Teixeira da Silva',
       'Dominik Szoboszlai', 'Fabio Henrique Tavares', 'Harvey Elliott',
       'Ibrahima Konaté', 'Joseph Gomez', 'Joel Matip',
       'Jordan Henderson', 'Konstantinos Tsimikas', 'Luis Díaz',
       'Mohamed Salah', 'Nathaniel Phillips', 'Neco Williams',
       'Stefan Bajcetic', 'Trent Alexander-Arnold', 'Virgil van Dijk',
       'Wataru Endo'], dtype=object)

In [27]:
df_upcoming_fixtures.head(30)

     GW kickoff_time           Squad H           Squad A
31  4.0   2023-09-01             Luton          West Ham
32  4.0   2023-09-02  Sheffield United           Everton
33  4.0   2023-09-02         Brentford       Bournemouth
34  4.0   2023-09-02           Burnley         Tottenham
35  4.0   2023-09-02           Chelsea   Nott'ham Forest
36  4.0   2023-09-02   Manchester City            Fulham
37  4.0   2023-09-02          Brighton     Newcastle Utd
38  4.0   2023-09-03    Crystal Palace            Wolves
39  4.0   2023-09-03         Liverpool       Aston Villa
40  4.0   2023-09-03           Arsenal    Manchester Utd
41  5.0   2023-09-16            Wolves         Liverpool
42  5.0   2023-09-16       Aston Villa    Crystal Palace
43  5.0   2023-09-16            Fulham             Luton
44  5.0   2023-09-16    Manchester Utd          Brighton
45  5.0   2023-09-16         Tottenham  Sheffield United
46  5.0   2023-09-16          West Ham   Manchester City
47  5.0   2023-09-16           Everton           Arsenal
48  5.0   2023-09-17       Bournemouth           Chelsea
49  5.0   2023-09-17     Newcastle Utd         Brentford
50  5.0   2023-09-18   Nott'ham Forest           Burnley
51  6.0   2023-09-23           Chelsea       Aston Villa
52  6.0   2023-09-23    Crystal Palace            Fulham
53  6.0   2023-09-23             Luton            Wolves
54  6.0   2023-09-23   Manchester City   Nott'ham Forest
55  6.0   2023-09-23         Brentford           Everton
56  6.0   2023-09-23           Burnley    Manchester Utd
57  6.0   2023-09-24           Arsenal         Tottenham
58  6.0   2023-09-24          Brighton       Bournemouth
59  6.0   2023-09-24         Liverpool          West Ham
60  6.0   2023-09-24  Sheffield United     Newcastle Utd

In [28]:
active_players.columns

Index(['index', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start',
       'Pos', 'Min',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=273)

In [29]:
active_players["Team"].unique()

array(['Brighton', 'West Ham', 'Brentford', 'Arsenal', 'Manchester Utd',
       'Everton', 'Sheffield United', 'Bournemouth', 'Fulham',
       'Newcastle Utd', 'Liverpool', 'Luton', 'Burnley',
       "Nott'ham Forest", 'Chelsea', 'Manchester City', 'Tottenham',
       'Aston Villa', 'Wolves', 'Crystal Palace'], dtype=object)

In [30]:
for i in range(0,20):
    print(i, current_teams[i], active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[i]].shape)

0 Arsenal (30, 3)
1 Aston Villa (24, 3)
2 Bournemouth (25, 3)
3 Brentford (24, 3)
4 Brighton (24, 3)
5 Burnley (15, 3)
6 Chelsea (21, 3)
7 Crystal Palace (22, 3)
8 Everton (22, 3)
9 Fulham (19, 3)
10 Liverpool (22, 3)
11 Luton (13, 3)
12 Manchester City (26, 3)
13 Manchester Utd (27, 3)
14 Newcastle Utd (34, 3)
15 Nott'ham Forest (26, 3)
16 Sheffield United (13, 3)
17 Tottenham (25, 3)
18 West Ham (20, 3)
19 Wolves (22, 3)

In [31]:
active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[3]]

               Name_original       Team FPL_pos
2               Aaron Hickey  Brentford     DEF
45                   Ben Mee  Brentford     DEF
60              Bryan Mbeumo  Brentford     MID
73             Charlie Goode  Brentford     DEF
82        Christian Nørgaard  Brentford     MID
120          Ellery Balcombe  Brentford      GK
135            Ethan Pinnock  Brentford     DEF
145             Frank Onyeka  Brentford     MID
174               Ivan Toney  Brentford     FWD
234             Josh Dasilva  Brentford     MID
244       Keane Lewis-Potter  Brentford     MID
249             Kevin Schade  Brentford     MID
256          Kristoffer Ajer  Brentford     DEF
280       Mads Bech Sørensen  Brentford     DEF
281  Mads Roerslev Rasmussen  Brentford     DEF
304           Mathias Jensen  Brentford     MID
305        Mathias Jorgensen  Brentford     DEF
319         Mikkel Damsgaard  Brentford     MID
371               Rico Henry  Brentford     DEF
398        Sergi Canós Tenés  Brentford     DEF
401         Shandon Baptiste  Brentford     MID
417         Thomas Strakosha  Brentford      GK
437            Vitaly Janelt  Brentford     MID
450              Yoane Wissa  Brentford     FWD

In [32]:
active_players[active_players["Name_original"] == "Kai Havertz"]["Team"]

240    Arsenal
Name: Team, dtype: object

In [33]:
active_players.columns

Index(['index', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start',
       'Pos', 'Min',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'GK', 'MID'],
      dtype='object', length=273)

# Upcoming home & away logs

In [34]:
picked_columns = ["Name_original", "GW", "kickoff_time", "Squad", "Squad H", "Squad A", "Was_home", "Opponent", "FPL_pos", "Price"]

In [35]:
upcoming_player_fixtures_home = active_players.rename(columns={"Team": "Squad H"}).drop(columns=["GW"]).set_index(["Squad H"]).join(df_upcoming_fixtures.set_index(["Squad H"])).reset_index(level=0)
upcoming_player_fixtures_home["Squad"] = upcoming_player_fixtures_home["Squad H"]
upcoming_player_fixtures_home["Was Home"] = 1
# upcoming_player_fixtures_home.loc[upcoming_player_fixtures_home["GW_left"].isnull(), "GW_left"] = 77
# upcoming_player_fixtures_home['C'] = upcoming_player_fixtures_home['GW_left'].fillna(upcoming_player_fixtures_home['GW_right'])
upcoming_player_fixtures_home["Opponent"] = upcoming_player_fixtures_home["Squad A"]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Squad"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Opponent"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[picked_columns]

In [36]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["Name_original"] == "Kai Havertz"]

,Name_original,GW,kickoff_time,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price
272,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1.0,Manchester Utd,MID,74
273,Kai Havertz,6.0,2023-09-24,Arsenal,Arsenal,Tottenham,1.0,Tottenham,MID,74
274,Kai Havertz,8.0,2023-10-08,Arsenal,Arsenal,Manchester City,1.0,Manchester City,MID,74
275,Kai Havertz,10.0,2023-10-28,Arsenal,Arsenal,Sheffield United,1.0,Sheffield United,MID,74
276,Kai Havertz,12.0,2023-11-11,Arsenal,Arsenal,Burnley,1.0,Burnley,MID,74
277,Kai Havertz,14.0,2023-12-02,Arsenal,Arsenal,Wolves,1.0,Wolves,MID,74
278,Kai Havertz,17.0,2023-12-16,Arsenal,Arsenal,Brighton,1.0,Brighton,MID,74
279,Kai Havertz,19.0,2023-12-26,Arsenal,Arsenal,West Ham,1.0,West Ham,MID,74
280,Kai Havertz,21.0,2024-01-13,Arsenal,Arsenal,Crystal Palace,1.0,Crystal Palace,MID,74
281,Kai Havertz,23.0,2024-02-03,Arsenal,Arsenal,Liverpool,1.0,Liverpool,MID,74
282,Kai Havertz,26.0,2024-02-24,Arsenal,Arsenal,Newcastle Utd,1.0,Newcastle Utd,MID,74
283,Kai Havertz,28.0,2024-03-09,Arsenal,Arsenal,Brentford,1.0,Brentford,MID,74
284,Kai Havertz,29.0,2024-03-16,Arsenal,Arsenal,Chelsea,1.0,Chelsea,MID,74
285,Kai Havertz,31.0,2024-04-02,Arsenal,Arsenal,Luton,1.0,Luton,MID,74
286,Kai Havertz,33.0,2024-04-13,Arsenal,Arsenal,Aston Villa,1.0,Aston Villa,MID,74
287,Kai Havertz,36.0,2024-05-04,Arsenal,Arsenal,Bournemouth,1.0,Bournemouth,MID,74
288,Kai Havertz,38.0,2024-05-19,Arsenal,Arsenal,Everton,1.0,Everton,MID,74

In [37]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["GW"].isna()]

Empty DataFrame
Columns: [Name_original, GW, kickoff_time, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price]
Index: []

In [38]:
upcoming_player_fixtures_home['GW'].unique()

array([ 4.,  6.,  8., 10., 12., 14., 17., 19., 21., 23., 26., 28., 29.,
       31., 33., 36., 38.,  5.,  7.,  9., 15., 16., 18., 20., 22., 24.,
       30., 32., 34., 35., 37., 11., 13., 25., 27.])

In [39]:
upcoming_player_fixtures_away = active_players.rename(columns={"Team": "Squad A"}).drop(columns=["GW"]).set_index("Squad A").join(df_upcoming_fixtures.set_index("Squad A")).reset_index(level=0)
upcoming_player_fixtures_away["Squad"] = upcoming_player_fixtures_away["Squad A"]
upcoming_player_fixtures_away["Was Home"] = 0
upcoming_player_fixtures_away["Opponent"] = upcoming_player_fixtures_away["Squad H"]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Squad"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Opponent"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[picked_columns]

# Concating home & away logs

In [40]:
upcoming_player_fixtures = pd.concat([upcoming_player_fixtures_home, upcoming_player_fixtures_away]).sort_values(by=["Name_original", "GW"])

In [41]:
upcoming_player_fixtures["Season"] = CURRENT_SEASON
upcoming_player_fixtures["Finished"] = False

In [42]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"kickoff_time": "Date"})

In [43]:
upcoming_player_fixtures["Was_home"] = (upcoming_player_fixtures["Opponent"] == upcoming_player_fixtures["Squad A"]).astype("int64")

In [44]:
# upcoming_player_fixtures[upcoming_player_fixtures["Name"] == "Gabriel-Dos-Santos"]

In [45]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Kai Havertz"].head(5)

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
272,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1,Manchester Utd,MID,74,2023-24,False
288,Kai Havertz,5.0,2023-09-16,Arsenal,Everton,Arsenal,0,Everton,MID,74,2023-24,False
273,Kai Havertz,6.0,2023-09-24,Arsenal,Arsenal,Tottenham,1,Tottenham,MID,74,2023-24,False
289,Kai Havertz,7.0,2023-09-30,Arsenal,Bournemouth,Arsenal,0,Bournemouth,MID,74,2023-24,False
274,Kai Havertz,8.0,2023-10-08,Arsenal,Arsenal,Manchester City,1,Manchester City,MID,74,2023-24,False

In [46]:
upcoming_player_fixtures

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
1775,Aaron Connolly,4.0,2023-09-02,Brighton,Brighton,Newcastle Utd,1,Newcastle Utd,FWD,45,2023-24,False
1806,Aaron Connolly,5.0,2023-09-16,Brighton,Manchester Utd,Brighton,0,Manchester Utd,FWD,45,2023-24,False
1776,Aaron Connolly,6.0,2023-09-24,Brighton,Brighton,Bournemouth,1,Bournemouth,FWD,45,2023-24,False
1807,Aaron Connolly,7.0,2023-09-30,Brighton,Aston Villa,Brighton,0,Aston Villa,FWD,45,2023-24,False
1777,Aaron Connolly,8.0,2023-10-08,Brighton,Brighton,Liverpool,1,Liverpool,FWD,45,2023-24,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5013,Zack Steffen,34.0,2024-04-20,Manchester City,Tottenham,Manchester City,0,Tottenham,GK,40,2023-24,False
5014,Zack Steffen,35.0,2024-04-27,Manchester City,Nott'ham Forest,Manchester City,0,Nott'ham Forest,GK,40,2023-24,False
4977,Zack Steffen,36.0,2024-05-04,Manchester City,Manchester City,Wolves,1,Wolves,GK,40,2023-24,False
5015,Zack Steffen,37.0,2024-05-11,Manchester City,Fulham,Manchester City,0,Fulham,GK,40,2023-24,False
4978,Zack Steffen,38.0,2024-05-19,Manchester City,Manchester City,West Ham,1,West Ham,GK,40,2023-24,False

In [47]:
upcoming_player_fixtures.shape

(15840, 12)

# Loading previous fixtures

In [48]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [49]:
previous_fixtures["Finished"] = True

# Assigning team elo

In [50]:
team_ratings = pd.read_csv("data/misc/team_ratings_history.csv")

In [51]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [52]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    return team_name

In [53]:
datetime.strptime(upcoming_player_fixtures['Date'].iloc[1], '%Y-%m-%d')

datetime.datetime(2023, 9, 16, 0, 0)

In [54]:
upcoming_player_fixtures[upcoming_player_fixtures['Date'].isna()]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished]
Index: []

In [55]:
%%time
upcoming_player_fixtures["Opp rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 3min 38s
Wall time: 4min 6s

In [56]:
%%time
upcoming_player_fixtures["Team rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 3min 15s
Wall time: 3min 17s

In [57]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Gabriel-Dos-Santos"]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished, Opp rating, Team rating]
Index: []

In [58]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"Opp rating": "Opp_rating", "Team rating": "Team_rating", "Squad": "Team"})
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad H"], axis=1)
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad A"], axis=1)
upcoming_player_fixtures["Price"] = upcoming_player_fixtures["Price"] / 10

In [59]:
upcoming_player_fixtures["Rating_difference"] = upcoming_player_fixtures["Team_rating"] - upcoming_player_fixtures["Opp_rating"]

In [60]:
upcoming_player_fixtures.columns

Index(['Name_original', 'GW', 'Date', 'Team', 'Was_home', 'Opponent',
       'FPL_pos', 'Price', 'Season', 'Finished', 'Opp_rating', 'Team_rating',
       'Rating_difference'],
      dtype='object')

In [61]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Ben Chilwell"][["Name_original", "Season", "GW", "Was_home", "Price"]].tail(45)

     Name_original   Season    GW  Was_home  Price
2455  Ben Chilwell  2023-24   4.0         1    5.8
2526  Ben Chilwell  2023-24   5.0         0    5.8
2456  Ben Chilwell  2023-24   6.0         1    5.8
2527  Ben Chilwell  2023-24   7.0         0    5.8
2528  Ben Chilwell  2023-24   8.0         0    5.8
2457  Ben Chilwell  2023-24   9.0         1    5.8
2458  Ben Chilwell  2023-24  10.0         1    5.8
2529  Ben Chilwell  2023-24  11.0         0    5.8
2459  Ben Chilwell  2023-24  12.0         1    5.8
2530  Ben Chilwell  2023-24  13.0         0    5.8
2460  Ben Chilwell  2023-24  14.0         1    5.8
2531  Ben Chilwell  2023-24  15.0         0    5.8
2532  Ben Chilwell  2023-24  16.0         0    5.8
2461  Ben Chilwell  2023-24  17.0         1    5.8
2533  Ben Chilwell  2023-24  18.0         0    5.8
2462  Ben Chilwell  2023-24  19.0         1    5.8
2534  Ben Chilwell  2023-24  20.0         0    5.8
2463  Ben Chilwell  2023-24  21.0         1    5.8
2535  Ben Chilwell  2023-24  22.0         0    5.8
2464  Ben Chilwell  2023-24  23.0         1    5.8
2536  Ben Chilwell  2023-24  24.0         0    5.8
2537  Ben Chilwell  2023-24  25.0         0    5.8
2465  Ben Chilwell  2023-24  26.0         1    5.8
2538  Ben Chilwell  2023-24  27.0         0    5.8
2466  Ben Chilwell  2023-24  28.0         1    5.8
2539  Ben Chilwell  2023-24  29.0         0    5.8
2467  Ben Chilwell  2023-24  30.0         1    5.8
2468  Ben Chilwell  2023-24  31.0         1    5.8
2540  Ben Chilwell  2023-24  32.0         0    5.8
2469  Ben Chilwell  2023-24  33.0         1    5.8
2541  Ben Chilwell  2023-24  34.0         0    5.8
2542  Ben Chilwell  2023-24  35.0         0    5.8
2470  Ben Chilwell  2023-24  36.0         1    5.8
2543  Ben Chilwell  2023-24  37.0         0    5.8
2471  Ben Chilwell  2023-24  38.0         1    5.8

# Concating previous and upcoming logs

In [62]:
all_fixtures = pd.concat([previous_fixtures, upcoming_player_fixtures])

In [63]:
previous_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=273)

In [64]:
all_fixtures.shape

(34514, 273)

In [65]:
all_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=273)

In [66]:
all_fixtures[all_fixtures["Name_original"] == "Kai Havertz"][["Name_original", "Team"]]

     Name_original     Team
9799   Kai Havertz  Chelsea
9800   Kai Havertz  Chelsea
9801   Kai Havertz  Chelsea
9802   Kai Havertz  Chelsea
9803   Kai Havertz  Chelsea
...            ...      ...
303    Kai Havertz  Arsenal
304    Kai Havertz  Arsenal
287    Kai Havertz  Arsenal
305    Kai Havertz  Arsenal
288    Kai Havertz  Arsenal

[109 rows x 2 columns]

# Filling missing values

In [67]:
all_fixtures_before_fill = all_fixtures.copy()

In [68]:
all_fixtures = all_fixtures_before_fill

In [69]:
all_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=273)

In [70]:
columns_to_fill = np.unique(FEATURES_GK + FEATURES_OUTFIELD)

In [71]:
# len(FEATURES_GK + FEATURES_OUTFIELD)

In [72]:
np.unique(FEATURES_GK + FEATURES_OUTFIELD).size

45

In [73]:
columns_to_fill

array(['Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FWD', 'GK',
       'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Player_GC_2',
       'Player_GC_30', 'Player_GC_4', 'Price', 'Rating_difference',
       'Saves_2', 'Saves_30', 'Saves_4', 'Team_CS_2', 'Team_CS_30',
       'Team_CS_4', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4',
       'Transfers_balance', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2',
       'xG_30', 'xG_4'], dtype='<U17')

In [74]:
all_fixtures[columns_to_fill] = all_fixtures.groupby('Name_original')[columns_to_fill].ffill()

In [75]:
all_fixtures.tail(10)

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,GK,MID,Finished
5011,2024-03-16,NaN,NaN,Manchester City,Brighton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
4974,2024-03-30,NaN,NaN,Manchester City,Arsenal,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
4975,2024-04-03,NaN,NaN,Manchester City,Aston Villa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
5012,2024-04-06,NaN,NaN,Manchester City,Crystal Palace,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
4976,2024-04-13,NaN,NaN,Manchester City,Luton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
5013,2024-04-20,NaN,NaN,Manchester City,Tottenham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
5014,2024-04-27,NaN,NaN,Manchester City,Nott'ham Forest,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
4977,2024-05-04,NaN,NaN,Manchester City,Wolves,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
5015,2024-05-11,NaN,NaN,Manchester City,Fulham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False
4978,2024-05-19,NaN,NaN,Manchester City,West Ham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.586207,0.0,0.0,1.0,0.0,False

In [76]:
all_fixtures[all_fixtures["Name_original"] == "Bryan Mbeumo"][["Name_original", "Season", "GW", "Was_home", "FPL_pos", "Gls_4"]].tail(45)

     Name_original   Season    GW  Was_home FPL_pos  Gls_4
2445  Bryan Mbeumo  2022-23  31.0       0.0     FWD   0.00
2446  Bryan Mbeumo  2022-23  32.0       1.0     FWD   0.00
2447  Bryan Mbeumo  2022-23  33.0       0.0     FWD   0.00
2448  Bryan Mbeumo  2022-23  34.0       1.0     FWD   0.25
2449  Bryan Mbeumo  2022-23  35.0       0.0     FWD   0.25
2450  Bryan Mbeumo  2022-23  36.0       1.0     FWD   0.25
2451  Bryan Mbeumo  2022-23  37.0       0.0     FWD   0.50
2452  Bryan Mbeumo  2022-23  38.0       1.0     FWD   0.75
2453  Bryan Mbeumo  2023-24   1.0       1.0     MID   0.75
2454  Bryan Mbeumo  2023-24   2.0       0.0     MID   1.00
2455  Bryan Mbeumo  2023-24   3.0       1.0     MID   1.25
1401  Bryan Mbeumo  2023-24   4.0       1.0     MID   1.25
1432  Bryan Mbeumo  2023-24   5.0       0.0     MID   1.25
1402  Bryan Mbeumo  2023-24   6.0       1.0     MID   1.25
1433  Bryan Mbeumo  2023-24   7.0       0.0     MID   1.25
1434  Bryan Mbeumo  2023-24   8.0       0.0     MID   1.25
1403  Bryan Mbeumo  2023-24   9.0       1.0     MID   1.25
1435  Bryan Mbeumo  2023-24  10.0       0.0     MID   1.25
1404  Bryan Mbeumo  2023-24  11.0       1.0     MID   1.25
1436  Bryan Mbeumo  2023-24  12.0       0.0     MID   1.25
1405  Bryan Mbeumo  2023-24  13.0       1.0     MID   1.25
1406  Bryan Mbeumo  2023-24  14.0       1.0     MID   1.25
1437  Bryan Mbeumo  2023-24  15.0       0.0     MID   1.25
1438  Bryan Mbeumo  2023-24  16.0       0.0     MID   1.25
1407  Bryan Mbeumo  2023-24  17.0       1.0     MID   1.25
1408  Bryan Mbeumo  2023-24  19.0       1.0     MID   1.25
1439  Bryan Mbeumo  2023-24  20.0       0.0     MID   1.25
1409  Bryan Mbeumo  2023-24  21.0       1.0     MID   1.25
1440  Bryan Mbeumo  2023-24  22.0       0.0     MID   1.25
1410  Bryan Mbeumo  2023-24  23.0       1.0     MID   1.25
1441  Bryan Mbeumo  2023-24  24.0       0.0     MID   1.25
1411  Bryan Mbeumo  2023-24  25.0       1.0     MID   1.25
1442  Bryan Mbeumo  2023-24  26.0       0.0     MID   1.25
1412  Bryan Mbeumo  2023-24  27.0       1.0     MID   1.25
1443  Bryan Mbeumo  2023-24  28.0       0.0     MID   1.25
1444  Bryan Mbeumo  2023-24  29.0       0.0     MID   1.25
1413  Bryan Mbeumo  2023-24  30.0       1.0     MID   1.25
1414  Bryan Mbeumo  2023-24  31.0       1.0     MID   1.25
1445  Bryan Mbeumo  2023-24  32.0       0.0     MID   1.25
1415  Bryan Mbeumo  2023-24  33.0       1.0     MID   1.25
1446  Bryan Mbeumo  2023-24  34.0       0.0     MID   1.25
1447  Bryan Mbeumo  2023-24  35.0       0.0     MID   1.25
1416  Bryan Mbeumo  2023-24  36.0       1.0     MID   1.25
1448  Bryan Mbeumo  2023-24  37.0       0.0     MID   1.25
1417  Bryan Mbeumo  2023-24  38.0       1.0     MID   1.25

In [77]:
all_fixtures[all_fixtures["Name_original"] == "Kaoru Mitoma"][["Name_original", "Season", "GW", "Was_home", "FPL_pos", "Gls_4", "Price"]].tail(45)

     Name_original   Season    GW  Was_home FPL_pos  Gls_4  Price
9954  Kaoru Mitoma  2022-23  28.0       1.0     MID   0.00    5.6
9955  Kaoru Mitoma  2022-23  35.0       1.0     MID   0.00    5.6
9956  Kaoru Mitoma  2022-23  36.0       0.0     MID   0.00    5.6
9957  Kaoru Mitoma  2022-23  25.0       0.0     MID   0.00    5.6
9958  Kaoru Mitoma  2022-23  37.0       1.0     MID   0.00    5.7
9959  Kaoru Mitoma  2022-23  32.0       1.0     MID   0.00    5.7
9960  Kaoru Mitoma  2022-23  38.0       0.0     MID   0.00    5.7
9961  Kaoru Mitoma  2023-24   1.0       1.0     MID   0.00    6.5
9962  Kaoru Mitoma  2023-24   2.0       0.0     MID   0.00    6.5
9963  Kaoru Mitoma  2023-24   3.0       1.0     MID   0.25    6.6
2030  Kaoru Mitoma  2023-24   4.0       1.0     MID   0.25    6.6
2076  Kaoru Mitoma  2023-24   5.0       0.0     MID   0.25    6.6
2031  Kaoru Mitoma  2023-24   6.0       1.0     MID   0.25    6.6
2077  Kaoru Mitoma  2023-24   7.0       0.0     MID   0.25    6.6
2032  Kaoru Mitoma  2023-24   8.0       1.0     MID   0.25    6.6
2078  Kaoru Mitoma  2023-24   9.0       0.0     MID   0.25    6.6
2033  Kaoru Mitoma  2023-24  10.0       1.0     MID   0.25    6.6
2079  Kaoru Mitoma  2023-24  11.0       0.0     MID   0.25    6.6
2034  Kaoru Mitoma  2023-24  12.0       1.0     MID   0.25    6.6
2080  Kaoru Mitoma  2023-24  13.0       0.0     MID   0.25    6.6
2081  Kaoru Mitoma  2023-24  14.0       0.0     MID   0.25    6.6
2035  Kaoru Mitoma  2023-24  15.0       1.0     MID   0.25    6.6
2036  Kaoru Mitoma  2023-24  16.0       1.0     MID   0.25    6.6
2082  Kaoru Mitoma  2023-24  17.0       0.0     MID   0.25    6.6
2083  Kaoru Mitoma  2023-24  18.0       0.0     MID   0.25    6.6
2037  Kaoru Mitoma  2023-24  19.0       1.0     MID   0.25    6.6
2084  Kaoru Mitoma  2023-24  20.0       0.0     MID   0.25    6.6
2038  Kaoru Mitoma  2023-24  21.0       1.0     MID   0.25    6.6
2085  Kaoru Mitoma  2023-24  22.0       0.0     MID   0.25    6.6
2039  Kaoru Mitoma  2023-24  23.0       1.0     MID   0.25    6.6
2086  Kaoru Mitoma  2023-24  24.0       0.0     MID   0.25    6.6
2087  Kaoru Mitoma  2023-24  25.0       0.0     MID   0.25    6.6
2040  Kaoru Mitoma  2023-24  26.0       1.0     MID   0.25    6.6
2088  Kaoru Mitoma  2023-24  27.0       0.0     MID   0.25    6.6
2041  Kaoru Mitoma  2023-24  28.0       1.0     MID   0.25    6.6
2042  Kaoru Mitoma  2023-24  29.0       1.0     MID   0.25    6.6
2089  Kaoru Mitoma  2023-24  30.0       0.0     MID   0.25    6.6
2090  Kaoru Mitoma  2023-24  31.0       0.0     MID   0.25    6.6
2043  Kaoru Mitoma  2023-24  32.0       1.0     MID   0.25    6.6
2091  Kaoru Mitoma  2023-24  33.0       0.0     MID   0.25    6.6
2044  Kaoru Mitoma  2023-24  34.0       1.0     MID   0.25    6.6
2092  Kaoru Mitoma  2023-24  35.0       0.0     MID   0.25    6.6
2045  Kaoru Mitoma  2023-24  36.0       1.0     MID   0.25    6.6
2093  Kaoru Mitoma  2023-24  37.0       0.0     MID   0.25    6.6
2046  Kaoru Mitoma  2023-24  38.0       1.0     MID   0.25    6.6

# Saving to file

In [78]:
all_fixtures.to_csv("data/upcoming/upcoming_fixtures.csv")

In [79]:
all_fixtures.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'GK', 'MID', 'Finished'],
      dtype='object', length=273)

In [80]:
all_fixtures.shape

(34514, 273)

In [81]:
all_fixtures["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)