# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
from vaastav.getters import *
from datetime import datetime

# Constants

In [3]:
NEXT_GW = 1

# least number of gameweeks that player had to play
FIS = 1

CURRENT_SEASON = '2023-24'

# Upcoming fixtures

In [4]:
fixtures = get_fixtures_data()

In [5]:
df_fixtures = pd.DataFrame(fixtures)

In [6]:
df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2367552,NaN,False,False,15,None,0,False,None,6,NaN,12,NaN,[],2,2,93335
1,2367713,NaN,False,False,176,None,0,False,None,4,NaN,13,NaN,[],3,5,93496
2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321
3,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322
4,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2367913,38.0,False,False,376,2024-05-19T15:00:00Z,0,False,False,2,NaN,8,NaN,[],3,2,93696
376,2367914,38.0,False,False,377,2024-05-19T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,93697
377,2367915,38.0,False,False,378,2024-05-19T15:00:00Z,0,False,False,10,NaN,12,NaN,[],2,2,93698
378,2367916,38.0,False,False,379,2024-05-19T15:00:00Z,0,False,False,19,NaN,13,NaN,[],2,5,93699
379,2367917,38.0,False,False,380,2024-05-19T15:00:00Z,0,False,False,18,NaN,17,NaN,[],3,2,93700

In [7]:
df_upcoming_fixtures = df_fixtures[df_fixtures["event"] >= NEXT_GW] # also removes rows with no GW number attached (postponed fixtures)

In [8]:
current_teams = [
        'Arsenal',
        'Aston Villa',
        'Bournemouth',
        'Brentford',
        'Brighton',
        'Burnley',
        'Chelsea',
        'Crystal Palace',
        'Everton',
        'Fulham',
        'Liverpool',
        'Luton',
        'Manchester City',
        'Manchester Utd',
        'Newcastle Utd',
        "Nott'ham Forest",
        'Sheffield United',
        'Tottenham',
        'West Ham',
        'Wolves'
    ]

In [9]:
# 2023-24 season
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [10]:
df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

C:\Users\user\AppData\Local\Temp\ipykernel_22056\2597988153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
C:\Users\user\AppData\Local\Temp\ipykernel_22056\2597988153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

In [11]:
df_upcoming_fixtures.rename(columns={"event": "GW"}, inplace=True)

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [12]:
# df_upcoming_fixtures

In [13]:
df_upcoming_fixtures = df_upcoming_fixtures[["GW", "kickoff_time", "Squad H", "Squad A"]]

In [14]:
df_upcoming_fixtures["kickoff_time"] = df_upcoming_fixtures["kickoff_time"].str[:10]

In [15]:
df_upcoming_fixtures.shape

(378, 4)

In [16]:
df_upcoming_fixtures.head(10)

     GW kickoff_time           Squad H          Squad A
2   1.0   2023-08-11           Burnley  Manchester City
3   1.0   2023-08-12           Arsenal  Nott'ham Forest
4   1.0   2023-08-12       Bournemouth         West Ham
5   1.0   2023-08-12          Brighton            Luton
6   1.0   2023-08-12           Everton           Fulham
7   1.0   2023-08-12  Sheffield United   Crystal Palace
8   1.0   2023-08-12     Newcastle Utd      Aston Villa
9   1.0   2023-08-13         Brentford        Tottenham
10  1.0   2023-08-13           Chelsea        Liverpool
11  1.0   2023-08-14    Manchester Utd           Wolves

# Active players

In [17]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [18]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [19]:
def get_active_players():
    def adjust_team(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["team"].iloc[0]
    
    def get_price(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["now_cost"].iloc[0]
    
    previous_fixtures = pd.read_csv("data/misc/df_features.csv")
    active_players = pd.read_csv("data/misc/active_players.csv")
    player_names = active_players["name"].to_list()
    print(len(player_names))
    name_counts = previous_fixtures.groupby('Name_original').size()
    filtered_names = name_counts[name_counts >= FIS].index
    print(len(filtered_names))
    filtered_names = [n for n in filtered_names if n in player_names]
    print(len(filtered_names))
    result = previous_fixtures[previous_fixtures['Name_original'].isin(filtered_names)].groupby('Name_original').tail(1).reset_index()
    result = result.loc[:, ~result.columns.str.contains('^Unnamed')]
    result["Team"] = result.apply(lambda x: adjust_team(active_players, x),axis=1)
    result["Price"] = result.apply(lambda x: get_price(active_players, x),axis=1)
    
    return result

In [20]:
active_players = get_active_players()
active_players

665
529
383

,index,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,...,Team_score_30,Team_score_4,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,Price
0,63,0.0,0.033333,0.00,0.0,1.800000,1.75,0.0,0.266667,0.00,...,1.233333,1.00,0.0,0.000000e+00,0.100000,2.500000e-02,0.000000e+00,0.000000,0.000000e+00,45
1,91,0.5,0.037037,0.25,5.0,2.037037,3.50,0.0,0.074074,0.00,...,1.518519,1.75,1.0,1.000000e-01,0.011111,5.000000e-02,5.000000e-02,0.007407,2.500000e-02,45
2,162,0.0,0.000000,0.00,2.0,3.433333,3.50,0.0,0.300000,0.75,...,2.200000,1.25,1.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,50
3,217,0.0,0.000000,0.00,4.0,2.275862,3.75,0.0,0.103448,0.00,...,1.400000,1.75,1.0,0.000000e+00,0.030000,2.500000e-02,1.000000e-01,0.050000,5.000000e-02,45
4,273,0.0,0.066667,0.00,2.0,2.034483,4.25,0.0,0.241379,0.50,...,1.066667,2.00,1.0,1.000000e-01,0.076667,1.250000e-01,5.000000e-02,0.073333,2.000000e-01,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,21917,0.0,0.066667,0.00,0.5,1.555556,0.75,0.0,0.111111,0.00,...,1.300000,1.75,1.0,5.000000e-02,0.083333,7.500000e-02,5.000000e-02,0.163333,1.000000e-01,55
379,21932,0.0,0.000000,0.00,0.0,0.142857,0.00,0.0,0.000000,0.00,...,1.857143,2.00,0.0,2.275957e-15,0.014286,4.718448e-16,2.220446e-15,0.000000,8.604228e-16,45
380,22037,0.5,0.066667,0.25,9.0,2.700000,5.00,1.0,0.166667,0.50,...,1.400000,1.75,1.0,1.000000e-01,0.053333,5.000000e-02,8.500000e-01,0.126667,4.250000e-01,60
381,22098,0.0,0.033333,0.00,2.5,2.500000,2.00,0.0,0.166667,0.00,...,1.366667,1.25,1.0,2.248202e-15,0.136667,1.250000e-01,2.220446e-15,0.076667,2.500000e-02,60
382,22150,0.0,0.033333,0.00,1.0,1.413793,0.75,0.0,0.103448,0.00,...,1.800000,1.00,0.0,2.248202e-15,0.020000,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,50

In [21]:
active_players_file = pd.read_csv("data/misc/active_players.csv")
active_players_file.columns

Index(['Unnamed: 0', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'code', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start', 'cost_change_start_fall',
       'dreamteam_count', 'element_type', 'ep_next', 'ep_this', 'event_points',
       'first_name', 'form', 'id', 'in_dreamteam', 'news', 'news_added',
       'now_cost', 'photo', 'points_per_game', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'minutes', 'goals_scored', 'assists', 'clean_sheets',
       'goals_conceded', 'own_goals', 'penalties_saved', 'penalties_missed',
       'yellow_cards', 'red_cards', 'saves', 'bonus', 'bps', 'influence',
       'creativity', 'threat', 'ict_index', 'starts', 'expected_goals',
       'expected_assists', 'expected_goal_involvements',
       'expected_goals_conceded', 'influence_rank', 'influence_rank_type',
       'creativity_rank', 'creativity_rank_type', 'threat_rank',
       'threat_rank_type', 'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90', 'name'],
      dtype='object')

In [22]:
active_players_file.iloc[223].head(50)

Unnamed: 0                             223
chance_of_playing_next_round           NaN
chance_of_playing_this_round           NaN
code                                487838
cost_change_event                        0
cost_change_event_fall                   0
cost_change_start                        0
cost_change_start_fall                   0
dreamteam_count                          0
element_type                             2
ep_next                                2.0
ep_this                                1.5
event_points                             0
first_name                           Lewis
form                                   0.0
id                                     204
in_dreamteam                         False
news                                   NaN
news_added                             NaN
now_cost                                45
photo                           487838.jpg
points_per_game                        0.0
second_name                           Hall
selected_by_percent                    0.2
special                              False
squad_number                           NaN
status                                   a
team                               Chelsea
team_code                                8
total_points                             0
transfers_in                           608
transfers_in_event                     608
transfers_out                         2272
transfers_out_event                   2272
value_form                             0.0
value_season                           0.0
web_name                              Hall
minutes                                  0
goals_scored                             0
assists                                  0
clean_sheets                             0
goals_conceded                           0
own_goals                                0
penalties_saved                          0
penalties_missed                         0
yellow_cards                             0
red_cards                                0
saves                                    0
bonus                                    0
bps                                      0
Name: 223, dtype: object

In [23]:
active_players_file[["name", "penalties_order", "team", "status", "chance_of_playing_this_round", "photo", "selected_by_percent"]].sort_values(by=["team"]).head(240).tail(40)

,name,penalties_order,team,status,chance_of_playing_this_round,photo,selected_by_percent
181,Arijanet Muric,NaN,Burnley,a,NaN,232917.jpg,0.3
174,Josh Cullen,NaN,Burnley,a,NaN,172567.jpg,0.1
231,Christian Pulisic,NaN,Chelsea,u,0.0,176413.jpg,0.0
230,Christopher Nkunku,NaN,Chelsea,i,0.0,213198.jpg,1.1
229,Nicolas Jackson,NaN,Chelsea,a,NaN,517052.jpg,16.0
225,Reece James,2.0,Chelsea,d,NaN,225796.jpg,17.7
227,Noni Madueke,NaN,Chelsea,a,75.0,248857.jpg,0.1
226,Romelu Lukaku Bolingoli,NaN,Chelsea,a,NaN,66749.jpg,0.7
232,Malang Sarr,NaN,Chelsea,a,NaN,204727.jpg,0.1
228,Mykhailo Mudryk,NaN,Chelsea,a,NaN,465920.jpg,2.6
233,Gabriel Słonina,NaN,Chelsea,u,0.0,471798.jpg,0.1
242,Lucas Bergström,NaN,Chelsea,a,NaN,482158.jpg,0.0
235,Thiago Emiliano da Silva,NaN,Chelsea,a,NaN,51090.jpg,2.6
236,Hakim Ziyech,4.0,Chelsea,a,NaN,124183.jpg,0.2
237,Ângelo Gabriel Borges Damaceno,NaN,Chelsea,u,0.0,518620.jpg,0.0
238,Ian Maatsen,NaN,Chelsea,a,NaN,441302.jpg,0.1
239,Axel Disasi,NaN,Chelsea,a,NaN,220362.jpg,3.6
240,Lesley Ugochukwu,NaN,Chelsea,a,NaN,503714.jpg,0.2
241,Mason Burstow,NaN,Chelsea,a,NaN,534392.jpg,0.2
224,Callum Hudson-Odoi,NaN,Chelsea,a,NaN,209046.jpg,0.1
234,Raheem Sterling,NaN,Chelsea,a,NaN,103955.jpg,2.0
223,Lewis Hall,NaN,Chelsea,a,NaN,487838.jpg,0.2
219,David Datro Fofana,NaN,Chelsea,u,0.0,520295.jpg,0.0
221,Conor Gallagher,NaN,Chelsea,a,NaN,232787.jpg,0.5
202,Moisés Caicedo Corozo,NaN,Chelsea,a,NaN,486672.jpg,3.3
203,Robert Sánchez,NaN,Chelsea,a,NaN,215059.jpg,3.6
204,Ethan Ampadu,NaN,Chelsea,u,0.0,199598.jpg,0.0
222,Malo Gusto,NaN,Chelsea,a,NaN,482609.jpg,1.5
206,Kepa Arrizabalaga,NaN,Chelsea,u,NaN,109745.jpg,0.7
207,Pierre-Emerick Aubameyang,NaN,Chelsea,u,0.0,54694.jpg,0.0
208,César Azpilicueta,NaN,Chelsea,u,0.0,41328.jpg,0.0
209,Abdul Rahman Baba,NaN,Chelsea,u,0.0,118335.jpg,0.0
210,Benoît Badiashile,NaN,Chelsea,i,0.0,242880.jpg,0.0
205,Andrey Nascimento dos Santos,NaN,Chelsea,a,NaN,532605.jpg,0.1
212,Armando Broja,NaN,Chelsea,i,0.0,440323.jpg,0.1
213,Trevoh Chalobah,NaN,Chelsea,i,0.0,180736.jpg,0.1
214,Ben Chilwell,NaN,Chelsea,a,NaN,172850.jpg,19.4
215,Carney Chukwuemeka,NaN,Chelsea,a,NaN,478912.jpg,3.1
216,Levi Colwill,NaN,Chelsea,a,NaN,460028.jpg,3.5
217,Marc Cucurella Saseta,NaN,Chelsea,a,NaN,179268.jpg,0.6

In [24]:
# active_players[["Name_original", "team"]].head(200).tail(50)

In [25]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2',
       'Baseline_points_30', 'Baseline_points_4', 'Bonus_2', 'Bonus_30',
       'Bonus_4', 'CrdR_2', 'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4',
       'DEF', 'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2',
       'ICT_index_30', 'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Sh_2',
       'Sh_30', 'Sh_4', 'SoT_2', 'SoT_30', 'SoT_4', 'Start_2', 'Start_30',
       'Start_4', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_rating', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'Price'],
      dtype='object')

In [26]:
previous_fixtures[previous_fixtures["Team"] == current_teams[10]]["Name_original"].unique()

array(['Alex Oxlade-Chamberlain', 'Alisson Ramses Becker',
       'Andrew Robertson', 'Ben Doak', 'Bobby Clark', 'Caoimhin Kelleher',
       'Cody Gakpo', 'Curtis Jones', 'Thiago Alcántara do Nascimento',
       'Diogo Teixeira da Silva', 'Fabio Henrique Tavares',
       'Fábio Freitas Gouveia Carvalho', 'Harvey Elliott',
       'Ibrahima Konaté', 'James Milner', 'Joseph Gomez', 'Joel Matip',
       'Jordan Henderson', 'Konstantinos Tsimikas', 'Luis Díaz',
       'Mohamed Salah', 'Naby Keita', 'Nathaniel Phillips',
       'Neco Williams', 'Roberto Firmino', 'Stefan Bajcetic',
       'Trent Alexander-Arnold', 'Virgil van Dijk'], dtype=object)

In [27]:
df_upcoming_fixtures.head(30)

     GW kickoff_time           Squad H           Squad A
2   1.0   2023-08-11           Burnley   Manchester City
3   1.0   2023-08-12           Arsenal   Nott'ham Forest
4   1.0   2023-08-12       Bournemouth          West Ham
5   1.0   2023-08-12          Brighton             Luton
6   1.0   2023-08-12           Everton            Fulham
7   1.0   2023-08-12  Sheffield United    Crystal Palace
8   1.0   2023-08-12     Newcastle Utd       Aston Villa
9   1.0   2023-08-13         Brentford         Tottenham
10  1.0   2023-08-13           Chelsea         Liverpool
11  1.0   2023-08-14    Manchester Utd            Wolves
12  2.0   2023-08-18   Nott'ham Forest  Sheffield United
13  2.0   2023-08-19            Fulham         Brentford
14  2.0   2023-08-19         Liverpool       Bournemouth
15  2.0   2023-08-19            Wolves          Brighton
16  2.0   2023-08-19         Tottenham    Manchester Utd
17  2.0   2023-08-19   Manchester City     Newcastle Utd
18  2.0   2023-08-20       Aston Villa           Everton
19  2.0   2023-08-20          West Ham           Chelsea
20  2.0   2023-08-21    Crystal Palace           Arsenal
21  3.0   2023-08-25           Chelsea             Luton
22  3.0   2023-08-26       Bournemouth         Tottenham
23  3.0   2023-08-26           Arsenal            Fulham
24  3.0   2023-08-26         Brentford    Crystal Palace
25  3.0   2023-08-26           Everton            Wolves
26  3.0   2023-08-26    Manchester Utd   Nott'ham Forest
27  3.0   2023-08-26          Brighton          West Ham
28  3.0   2023-08-27           Burnley       Aston Villa
29  3.0   2023-08-27  Sheffield United   Manchester City
30  3.0   2023-08-27     Newcastle Utd         Liverpool
31  4.0   2023-09-01             Luton          West Ham

In [28]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2',
       'Baseline_points_30', 'Baseline_points_4', 'Bonus_2', 'Bonus_30',
       'Bonus_4', 'CrdR_2', 'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4',
       'DEF', 'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2',
       'ICT_index_30', 'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Sh_2',
       'Sh_30', 'Sh_4', 'SoT_2', 'SoT_30', 'SoT_4', 'Start_2', 'Start_30',
       'Start_4', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_rating', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'Price'],
      dtype='object')

In [29]:
active_players["Team"].unique()

array(['West Ham', 'Brentford', 'Arsenal', 'Manchester Utd', 'Everton',
       'Brighton', 'Bournemouth', 'Fulham', 'Newcastle Utd', 'Liverpool',
       "Nott'ham Forest", 'Chelsea', 'Manchester City', 'Tottenham',
       'Aston Villa', 'Wolves', 'Crystal Palace', 'Burnley',
       'Sheffield United'], dtype=object)

In [30]:
for i in range(0,20):
    print(i, current_teams[i], active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[i]].shape)

0 Arsenal (28, 3)
1 Aston Villa (21, 3)
2 Bournemouth (23, 3)
3 Brentford (23, 3)
4 Brighton (21, 3)
5 Burnley (2, 3)
6 Chelsea (24, 3)
7 Crystal Palace (21, 3)
8 Everton (22, 3)
9 Fulham (20, 3)
10 Liverpool (22, 3)
11 Luton (0, 3)
12 Manchester City (22, 3)
13 Manchester Utd (22, 3)
14 Newcastle Utd (26, 3)
15 Nott'ham Forest (23, 3)
16 Sheffield United (1, 3)
17 Tottenham (23, 3)
18 West Ham (21, 3)
19 Wolves (18, 3)

In [31]:
active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[6]]

                 Name_original     Team FPL_pos
28               Armando Broja  Chelsea     FWD
31                Ben Chilwell  Chelsea     DEF
39           Benoît Badiashile  Chelsea     DEF
57          Carney Chukwuemeka  Chelsea     MID
60           César Azpilicueta  Chelsea     DEF
68           Christian Pulisic  Chelsea     MID
72             Conor Gallagher  Chelsea     MID
83          David Datro Fofana  Chelsea     FWD
114             Enzo Fernández  Chelsea     MID
133               Hakim Ziyech  Chelsea     MID
207          Kepa Arrizabalaga  Chelsea      GK
222               Levi Colwill  Chelsea     DEF
225                 Lewis Hall  Chelsea     MID
240      Marc Cucurella Saseta  Chelsea     DEF
271      Moisés Caicedo Corozo  Chelsea     MID
275            Mykhailo Mudryk  Chelsea     MID
289               Noni Madueke  Chelsea     MID
305  Pierre-Emerick Aubameyang  Chelsea     FWD
307            Raheem Sterling  Chelsea     MID
311                Reece James  Chelsea     DEF
319             Robert Sánchez  Chelsea      GK
352   Thiago Emiliano da Silva  Chelsea     DEF
362            Trevoh Chalobah  Chelsea     DEF
373              Wesley Fofana  Chelsea     DEF

In [32]:
active_players[active_players["Name_original"] == "Kai Havertz"]["Team"]

202    Arsenal
Name: Team, dtype: object

In [33]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2',
       'Baseline_points_30', 'Baseline_points_4', 'Bonus_2', 'Bonus_30',
       'Bonus_4', 'CrdR_2', 'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4',
       'DEF', 'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2',
       'ICT_index_30', 'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Sh_2',
       'Sh_30', 'Sh_4', 'SoT_2', 'SoT_30', 'SoT_4', 'Start_2', 'Start_30',
       'Start_4', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_rating', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'Price'],
      dtype='object')

# Upcoming home & away logs

In [34]:
picked_columns = ["Name_original", "GW", "kickoff_time", "Squad", "Squad H", "Squad A", "Was_home", "Opponent", "FPL_pos", "Price"]

In [35]:
upcoming_player_fixtures_home = active_players.rename(columns={"Team": "Squad H"}).drop(columns=["GW"]).set_index(["Squad H"]).join(df_upcoming_fixtures.set_index(["Squad H"])).reset_index(level=0)
upcoming_player_fixtures_home["Squad"] = upcoming_player_fixtures_home["Squad H"]
upcoming_player_fixtures_home["Was Home"] = 1
# upcoming_player_fixtures_home.loc[upcoming_player_fixtures_home["GW_left"].isnull(), "GW_left"] = 77
# upcoming_player_fixtures_home['C'] = upcoming_player_fixtures_home['GW_left'].fillna(upcoming_player_fixtures_home['GW_right'])
upcoming_player_fixtures_home["Opponent"] = upcoming_player_fixtures_home["Squad A"]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Squad"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Opponent"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[picked_columns]

In [36]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["Name_original"] == "Kai Havertz"]

,Name_original,GW,kickoff_time,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price
285,Kai Havertz,1.0,2023-08-12,Arsenal,Arsenal,Nott'ham Forest,1.0,Nott'ham Forest,FWD,75
286,Kai Havertz,3.0,2023-08-26,Arsenal,Arsenal,Fulham,1.0,Fulham,FWD,75
287,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1.0,Manchester Utd,FWD,75
288,Kai Havertz,6.0,2023-09-24,Arsenal,Arsenal,Tottenham,1.0,Tottenham,FWD,75
289,Kai Havertz,8.0,2023-10-08,Arsenal,Arsenal,Manchester City,1.0,Manchester City,FWD,75
290,Kai Havertz,10.0,2023-10-28,Arsenal,Arsenal,Sheffield United,1.0,Sheffield United,FWD,75
291,Kai Havertz,12.0,2023-11-11,Arsenal,Arsenal,Burnley,1.0,Burnley,FWD,75
292,Kai Havertz,14.0,2023-12-02,Arsenal,Arsenal,Wolves,1.0,Wolves,FWD,75
293,Kai Havertz,17.0,2023-12-16,Arsenal,Arsenal,Brighton,1.0,Brighton,FWD,75
294,Kai Havertz,19.0,2023-12-26,Arsenal,Arsenal,West Ham,1.0,West Ham,FWD,75
295,Kai Havertz,21.0,2024-01-13,Arsenal,Arsenal,Crystal Palace,1.0,Crystal Palace,FWD,75
296,Kai Havertz,23.0,2024-02-03,Arsenal,Arsenal,Liverpool,1.0,Liverpool,FWD,75
297,Kai Havertz,26.0,2024-02-24,Arsenal,Arsenal,Newcastle Utd,1.0,Newcastle Utd,FWD,75
298,Kai Havertz,28.0,2024-03-09,Arsenal,Arsenal,Brentford,1.0,Brentford,FWD,75
299,Kai Havertz,29.0,2024-03-16,Arsenal,Arsenal,Chelsea,1.0,Chelsea,FWD,75
300,Kai Havertz,31.0,2024-04-02,Arsenal,Arsenal,Luton,1.0,Luton,FWD,75
301,Kai Havertz,33.0,2024-04-13,Arsenal,Arsenal,Aston Villa,1.0,Aston Villa,FWD,75
302,Kai Havertz,36.0,2024-05-04,Arsenal,Arsenal,Bournemouth,1.0,Bournemouth,FWD,75
303,Kai Havertz,38.0,2024-05-19,Arsenal,Arsenal,Everton,1.0,Everton,FWD,75

In [37]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["GW"].isna()]

Empty DataFrame
Columns: [Name_original, GW, kickoff_time, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price]
Index: []

In [38]:
upcoming_player_fixtures_home['GW'].unique()

array([ 1.,  3.,  4.,  6.,  8., 10., 12., 14., 17., 19., 21., 23., 26.,
       28., 29., 31., 33., 36., 38.,  2.,  5.,  7.,  9., 15., 16., 18.,
       20., 22., 24., 30., 32., 34., 35., 37., 11., 13., 25., 27.])

In [39]:
upcoming_player_fixtures_away = active_players.rename(columns={"Team": "Squad A"}).drop(columns=["GW"]).set_index("Squad A").join(df_upcoming_fixtures.set_index("Squad A")).reset_index(level=0)
upcoming_player_fixtures_away["Squad"] = upcoming_player_fixtures_away["Squad A"]
upcoming_player_fixtures_away["Was Home"] = 0
upcoming_player_fixtures_away["Opponent"] = upcoming_player_fixtures_away["Squad H"]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Squad"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Opponent"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[picked_columns]

# Concating home & away logs

In [40]:
upcoming_player_fixtures = pd.concat([upcoming_player_fixtures_home, upcoming_player_fixtures_away]).sort_values(by=["Name_original", "GW"])

In [41]:
upcoming_player_fixtures["Season"] = CURRENT_SEASON
upcoming_player_fixtures["Finished"] = False

In [42]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"kickoff_time": "Date"})

In [43]:
upcoming_player_fixtures["Was_home"] = (upcoming_player_fixtures["Opponent"] == upcoming_player_fixtures["Squad A"]).astype("int64")

In [44]:
# upcoming_player_fixtures[upcoming_player_fixtures["Name"] == "Gabriel-Dos-Santos"]

In [45]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Kai Havertz"].head(5)

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
285,Kai Havertz,1.0,2023-08-12,Arsenal,Arsenal,Nott'ham Forest,1,Nott'ham Forest,FWD,75,2023-24,False
285,Kai Havertz,2.0,2023-08-21,Arsenal,Crystal Palace,Arsenal,0,Crystal Palace,FWD,75,2023-24,False
286,Kai Havertz,3.0,2023-08-26,Arsenal,Arsenal,Fulham,1,Fulham,FWD,75,2023-24,False
287,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1,Manchester Utd,FWD,75,2023-24,False
286,Kai Havertz,5.0,2023-09-16,Arsenal,Everton,Arsenal,0,Everton,FWD,75,2023-24,False

In [46]:
upcoming_player_fixtures

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
6511,Aaron Cresswell,1.0,2023-08-12,West Ham,Bournemouth,West Ham,0,Bournemouth,DEF,45,2023-24,False
6514,Aaron Cresswell,2.0,2023-08-20,West Ham,West Ham,Chelsea,1,Chelsea,DEF,45,2023-24,False
6512,Aaron Cresswell,3.0,2023-08-26,West Ham,Brighton,West Ham,0,Brighton,DEF,45,2023-24,False
6513,Aaron Cresswell,4.0,2023-09-01,West Ham,Luton,West Ham,0,Luton,DEF,45,2023-24,False
6515,Aaron Cresswell,5.0,2023-09-16,West Ham,West Ham,Manchester City,1,Manchester City,DEF,45,2023-24,False
...,...,...,...,...,...,...,...,...,...,...,...,...
6511,Yves Bissouma,34.0,2024-04-20,Tottenham,Tottenham,Manchester City,1,Manchester City,MID,50,2023-24,False
6512,Yves Bissouma,35.0,2024-04-27,Tottenham,Tottenham,Arsenal,1,Arsenal,MID,50,2023-24,False
6509,Yves Bissouma,36.0,2024-05-04,Tottenham,Liverpool,Tottenham,0,Liverpool,MID,50,2023-24,False
6513,Yves Bissouma,37.0,2024-05-11,Tottenham,Tottenham,Burnley,1,Burnley,MID,50,2023-24,False
6510,Yves Bissouma,38.0,2024-05-19,Tottenham,Sheffield United,Tottenham,0,Sheffield United,MID,50,2023-24,False

In [47]:
upcoming_player_fixtures.shape

(14507, 12)

# Loading previous fixtures

In [48]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [49]:
previous_fixtures["Finished"] = True

# Assigning team elo

In [50]:
team_ratings = pd.read_csv("data/misc/team_ratings_history.csv")

In [51]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [52]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    return team_name

In [53]:
datetime.strptime(upcoming_player_fixtures['Date'].iloc[1], '%Y-%m-%d')

datetime.datetime(2023, 8, 20, 0, 0)

In [54]:
upcoming_player_fixtures[upcoming_player_fixtures['Date'].isna()]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished]
Index: []

In [55]:
%%time
upcoming_player_fixtures["Opp rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 2min 52s
Wall time: 2min 54s

In [56]:
%%time
upcoming_player_fixtures["Team rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 2min 46s
Wall time: 2min 46s

In [57]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Gabriel-Dos-Santos"]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished, Opp rating, Team rating]
Index: []

In [58]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"Opp rating": "Opp_rating", "Team rating": "Team_rating", "Squad": "Team"})
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad H"], axis=1)
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad A"], axis=1)

In [59]:
upcoming_player_fixtures["Rating_difference"] = upcoming_player_fixtures["Team_rating"] - upcoming_player_fixtures["Opp_rating"]

In [60]:
upcoming_player_fixtures.columns

Index(['Name_original', 'GW', 'Date', 'Team', 'Was_home', 'Opponent',
       'FPL_pos', 'Price', 'Season', 'Finished', 'Opp_rating', 'Team_rating',
       'Rating_difference'],
      dtype='object')

In [61]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Ben Chilwell"][["Name_original", "Season", "GW", "Was_home"]].tail(45)

     Name_original   Season    GW  Was_home
2261  Ben Chilwell  2023-24   1.0         1
2236  Ben Chilwell  2023-24   2.0         0
2262  Ben Chilwell  2023-24   3.0         1
2263  Ben Chilwell  2023-24   4.0         1
2237  Ben Chilwell  2023-24   5.0         0
2264  Ben Chilwell  2023-24   6.0         1
2238  Ben Chilwell  2023-24   7.0         0
2239  Ben Chilwell  2023-24   8.0         0
2265  Ben Chilwell  2023-24   9.0         1
2266  Ben Chilwell  2023-24  10.0         1
2240  Ben Chilwell  2023-24  11.0         0
2267  Ben Chilwell  2023-24  12.0         1
2241  Ben Chilwell  2023-24  13.0         0
2268  Ben Chilwell  2023-24  14.0         1
2242  Ben Chilwell  2023-24  15.0         0
2243  Ben Chilwell  2023-24  16.0         0
2269  Ben Chilwell  2023-24  17.0         1
2244  Ben Chilwell  2023-24  18.0         0
2270  Ben Chilwell  2023-24  19.0         1
2245  Ben Chilwell  2023-24  20.0         0
2271  Ben Chilwell  2023-24  21.0         1
2246  Ben Chilwell  2023-24  22.0         0
2272  Ben Chilwell  2023-24  23.0         1
2247  Ben Chilwell  2023-24  24.0         0
2248  Ben Chilwell  2023-24  25.0         0
2273  Ben Chilwell  2023-24  26.0         1
2249  Ben Chilwell  2023-24  27.0         0
2274  Ben Chilwell  2023-24  28.0         1
2250  Ben Chilwell  2023-24  29.0         0
2275  Ben Chilwell  2023-24  30.0         1
2276  Ben Chilwell  2023-24  31.0         1
2251  Ben Chilwell  2023-24  32.0         0
2277  Ben Chilwell  2023-24  33.0         1
2252  Ben Chilwell  2023-24  34.0         0
2253  Ben Chilwell  2023-24  35.0         0
2278  Ben Chilwell  2023-24  36.0         1
2254  Ben Chilwell  2023-24  37.0         0
2279  Ben Chilwell  2023-24  38.0         1

# Concating previous and upcoming logs

In [62]:
all_fixtures = pd.concat([previous_fixtures, upcoming_player_fixtures])

In [63]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished'],
      dtype='object')

In [64]:
all_fixtures.shape

(36658, 71)

In [65]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date', 'Price'],
      dtype='object')

In [66]:
all_fixtures[all_fixtures["Name_original"] == "Kai Havertz"][["Name_original", "Team"]]

      Name_original     Team
11608   Kai Havertz  Chelsea
11609   Kai Havertz  Chelsea
11610   Kai Havertz  Chelsea
11611   Kai Havertz  Chelsea
11612   Kai Havertz  Chelsea
...             ...      ...
301     Kai Havertz  Arsenal
302     Kai Havertz  Arsenal
302     Kai Havertz  Arsenal
303     Kai Havertz  Arsenal
303     Kai Havertz  Arsenal

[106 rows x 2 columns]

# Filling missing values

In [67]:
all_fixtures_before_fill = all_fixtures.copy()

In [68]:
# all_fixtures = all_fixtures_before_fill

In [69]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date', 'Price'],
      dtype='object')

In [70]:
columns_to_fill = ['Was_home',
 'Team_rating',
 'Opp_rating',
 'Rating_difference',
 'Min_2',
 'Start_2',
 'Gls_2',
 'Sh_2',
 'SoT_2',
 'Ast_2',
 'CrdY_2',
 'CrdR_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'ICT_index_2',
 'FPL_points_2',
 'Baseline_points_2',
 'Bonus_2',
 'Min_4',
 'Start_4',
 'Gls_4',
 'Sh_4',
 'SoT_4',
 'Ast_4',
 'CrdY_4',
 'CrdR_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'ICT_index_4',
 'FPL_points_4',
 'Baseline_points_4',
 'Bonus_4',
 'Min_30',
 'Start_30',
 'Gls_30',
 'Sh_30',
 'SoT_30',
 'Ast_30',
 'CrdY_30',
 'CrdR_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'ICT_index_30',
 'FPL_points_30',
 'Baseline_points_30',
 'Bonus_30',
 'DEF',
 'FWD',
 'MID']
    
for c in ["Was_home", 'Team_rating', 'Opp_rating', 'Rating_difference']:
    if c in columns_to_fill:
        columns_to_fill.remove(c) 

info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "FPL_pos", "Price"]

In [71]:
all_fixtures[columns_to_fill] = all_fixtures.groupby('Name_original')[columns_to_fill].ffill()

In [72]:
all_fixtures.tail(10)

,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,CrdR_2,...,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,Finished,Date,Price
6506,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-03-16,50.0
6509,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-03-30,50.0
6507,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-02,50.0
6510,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-06,50.0
6508,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-13,50.0
6511,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-20,50.0
6512,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-27,50.0
6509,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-05-04,50.0
6513,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-05-11,50.0
6510,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-05-19,50.0

In [73]:
all_fixtures[all_fixtures["Name_original"] == "Ben Chilwell"][["Name_original", "Season", "GW", "Was_home"]].tail(45)

     Name_original   Season    GW  Was_home
1933  Ben Chilwell  2022-23  29.0       1.0
1934  Ben Chilwell  2022-23   8.0       1.0
1935  Ben Chilwell  2022-23  30.0       0.0
1936  Ben Chilwell  2022-23  31.0       1.0
1937  Ben Chilwell  2022-23  33.0       1.0
1938  Ben Chilwell  2022-23  34.0       0.0
1939  Ben Chilwell  2022-23  35.0       0.0
2261  Ben Chilwell  2023-24   1.0       1.0
2236  Ben Chilwell  2023-24   2.0       0.0
2262  Ben Chilwell  2023-24   3.0       1.0
2263  Ben Chilwell  2023-24   4.0       1.0
2237  Ben Chilwell  2023-24   5.0       0.0
2264  Ben Chilwell  2023-24   6.0       1.0
2238  Ben Chilwell  2023-24   7.0       0.0
2239  Ben Chilwell  2023-24   8.0       0.0
2265  Ben Chilwell  2023-24   9.0       1.0
2266  Ben Chilwell  2023-24  10.0       1.0
2240  Ben Chilwell  2023-24  11.0       0.0
2267  Ben Chilwell  2023-24  12.0       1.0
2241  Ben Chilwell  2023-24  13.0       0.0
2268  Ben Chilwell  2023-24  14.0       1.0
2242  Ben Chilwell  2023-24  15.0       0.0
2243  Ben Chilwell  2023-24  16.0       0.0
2269  Ben Chilwell  2023-24  17.0       1.0
2244  Ben Chilwell  2023-24  18.0       0.0
2270  Ben Chilwell  2023-24  19.0       1.0
2245  Ben Chilwell  2023-24  20.0       0.0
2271  Ben Chilwell  2023-24  21.0       1.0
2246  Ben Chilwell  2023-24  22.0       0.0
2272  Ben Chilwell  2023-24  23.0       1.0
2247  Ben Chilwell  2023-24  24.0       0.0
2248  Ben Chilwell  2023-24  25.0       0.0
2273  Ben Chilwell  2023-24  26.0       1.0
2249  Ben Chilwell  2023-24  27.0       0.0
2274  Ben Chilwell  2023-24  28.0       1.0
2250  Ben Chilwell  2023-24  29.0       0.0
2275  Ben Chilwell  2023-24  30.0       1.0
2276  Ben Chilwell  2023-24  31.0       1.0
2251  Ben Chilwell  2023-24  32.0       0.0
2277  Ben Chilwell  2023-24  33.0       1.0
2252  Ben Chilwell  2023-24  34.0       0.0
2253  Ben Chilwell  2023-24  35.0       0.0
2278  Ben Chilwell  2023-24  36.0       1.0
2254  Ben Chilwell  2023-24  37.0       0.0
2279  Ben Chilwell  2023-24  38.0       1.0

# Saving to file

In [74]:
all_fixtures.to_csv("data/upcoming/upcoming_fixtures.csv")

In [75]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date', 'Price'],
      dtype='object')

In [76]:
all_fixtures.shape

(36658, 71)

In [77]:
all_fixtures["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)