# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
from vaastav.getters import *
from datetime import datetime

# Constants

In [3]:
NEXT_GW = 1

# least number of gameweeks that player had to play
FIS = 1

CURRENT_SEASON = '2023-24'

# Upcoming fixtures

In [4]:
fixtures = get_fixtures_data()

In [5]:
df_fixtures = pd.DataFrame(fixtures)

In [6]:
df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2367552,NaN,False,False,15,None,0,False,None,6,NaN,12,NaN,[],2,2,93335
1,2367713,NaN,False,False,176,None,0,False,None,4,NaN,13,NaN,[],3,5,93496
2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321
3,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322
4,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2367913,38.0,False,False,376,2024-05-19T15:00:00Z,0,False,False,2,NaN,8,NaN,[],3,2,93696
376,2367914,38.0,False,False,377,2024-05-19T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,93697
377,2367915,38.0,False,False,378,2024-05-19T15:00:00Z,0,False,False,10,NaN,12,NaN,[],2,2,93698
378,2367916,38.0,False,False,379,2024-05-19T15:00:00Z,0,False,False,19,NaN,13,NaN,[],2,5,93699
379,2367917,38.0,False,False,380,2024-05-19T15:00:00Z,0,False,False,18,NaN,17,NaN,[],3,2,93700

In [7]:
df_upcoming_fixtures = df_fixtures[df_fixtures["event"] >= NEXT_GW] # also removes rows with no GW number attached (postponed fixtures)

In [8]:
current_teams = [
        'Arsenal',
        'Aston Villa',
        'Bournemouth',
        'Brentford',
        'Brighton',
        'Burnley',
        'Chelsea',
        'Crystal Palace',
        'Everton',
        'Fulham',
        'Liverpool',
        'Luton',
        'Manchester City',
        'Manchester Utd',
        'Newcastle Utd',
        "Nott'ham Forest",
        'Sheffield United',
        'Tottenham',
        'West Ham',
        'Wolves'
    ]

In [9]:
# 2023-24 season
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [10]:
df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

C:\Users\user\AppData\Local\Temp\ipykernel_4388\2597988153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
C:\Users\user\AppData\Local\Temp\ipykernel_4388\2597988153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

In [11]:
df_upcoming_fixtures = df_upcoming_fixtures.rename(columns={"event": "GW"})

In [12]:
# df_upcoming_fixtures

In [13]:
df_upcoming_fixtures = df_upcoming_fixtures[["GW", "kickoff_time", "Squad H", "Squad A"]]

In [14]:
df_upcoming_fixtures["kickoff_time"] = df_upcoming_fixtures["kickoff_time"].str[:10]

In [15]:
df_upcoming_fixtures.shape

(378, 4)

In [16]:
df_upcoming_fixtures.head(10)

     GW kickoff_time           Squad H          Squad A
2   1.0   2023-08-11           Burnley  Manchester City
3   1.0   2023-08-12           Arsenal  Nott'ham Forest
4   1.0   2023-08-12       Bournemouth         West Ham
5   1.0   2023-08-12          Brighton            Luton
6   1.0   2023-08-12           Everton           Fulham
7   1.0   2023-08-12  Sheffield United   Crystal Palace
8   1.0   2023-08-12     Newcastle Utd      Aston Villa
9   1.0   2023-08-13         Brentford        Tottenham
10  1.0   2023-08-13           Chelsea        Liverpool
11  1.0   2023-08-14    Manchester Utd           Wolves

# Active players

In [17]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [18]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Transfers_balance', 'Value', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP'],
      dtype='object')

In [19]:
def get_active_players():
    def adjust_team(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["team"].iloc[0]
    
    def get_price(active_players, row):
        return active_players[active_players["name"] == row["Name_original"]]["now_cost"].iloc[0]
    
    previous_fixtures = pd.read_csv("data/misc/df_features.csv")
    active_players = pd.read_csv("data/misc/active_players.csv")
    player_names = active_players["name"].to_list()
    print(len(player_names))
    name_counts = previous_fixtures.groupby('Name_original').size()
    filtered_names = name_counts[name_counts >= FIS].index
    print(len(filtered_names))
    filtered_names = [n for n in filtered_names if n in player_names]
    print(len(filtered_names))
    result = previous_fixtures[previous_fixtures['Name_original'].isin(filtered_names)].groupby('Name_original').tail(1).reset_index()
    result = result.loc[:, ~result.columns.str.contains('^Unnamed')]
    result["Team"] = result.apply(lambda x: adjust_team(active_players, x),axis=1)
    result["Price"] = result.apply(lambda x: get_price(active_players, x),axis=1)
    
    return result

In [20]:
active_players = get_active_players()
active_players[active_players["Name_original"] == "Bryan Mbeumo"][["FPL_pos", "GW", "Season"]]

665
410
397

   FPL_pos  GW   Season
51     FWD  38  2022-23

In [21]:
# active_players_file = pd.read_csv("data/misc/active_players.csv")
# active_players_file.columns

In [22]:
# active_players_file.iloc[189].head(50)

In [23]:
# active_players_file[["name", "penalties_order", "team", "status", "chance_of_playing_this_round", "photo", "selected_by_percent"]].sort_values(by=["team"]).head(240).tail(40)

In [24]:
# active_players[["Name_original", "team"]].head(200).tail(50)

In [25]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF',
       'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2',
       'Min_30', 'Min_4', 'Name_original', 'Opp_rating', 'Opp_score_2',
       'Opp_score_30', 'Opp_score_4', 'Opponent', 'Rating_difference',
       'Season', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating',
       'Team_result_2', 'Team_result_30', 'Team_result_4', 'Team_score_2',
       'Team_score_30', 'Team_score_4', 'Transfers_balance', 'Value',
       'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP',
       'Price'],
      dtype='object')

In [26]:
previous_fixtures[previous_fixtures["Team"] == current_teams[10]]["Name_original"].unique()

array(['Alisson Ramses Becker', 'Andrew Robertson', 'Caoimhin Kelleher',
       'Cody Gakpo', 'Curtis Jones', 'Thiago Alcántara do Nascimento',
       'Diogo Teixeira da Silva', 'Fabio Henrique Tavares',
       'Harvey Elliott', 'Ibrahima Konaté', 'Joseph Gomez', 'Joel Matip',
       'Jordan Henderson', 'Konstantinos Tsimikas', 'Luis Díaz',
       'Mohamed Salah', 'Nathaniel Phillips', 'Neco Williams',
       'Stefan Bajcetic', 'Trent Alexander-Arnold', 'Virgil van Dijk'],
      dtype=object)

In [27]:
df_upcoming_fixtures.head(30)

     GW kickoff_time           Squad H           Squad A
2   1.0   2023-08-11           Burnley   Manchester City
3   1.0   2023-08-12           Arsenal   Nott'ham Forest
4   1.0   2023-08-12       Bournemouth          West Ham
5   1.0   2023-08-12          Brighton             Luton
6   1.0   2023-08-12           Everton            Fulham
7   1.0   2023-08-12  Sheffield United    Crystal Palace
8   1.0   2023-08-12     Newcastle Utd       Aston Villa
9   1.0   2023-08-13         Brentford         Tottenham
10  1.0   2023-08-13           Chelsea         Liverpool
11  1.0   2023-08-14    Manchester Utd            Wolves
12  2.0   2023-08-18   Nott'ham Forest  Sheffield United
13  2.0   2023-08-19            Fulham         Brentford
14  2.0   2023-08-19         Liverpool       Bournemouth
15  2.0   2023-08-19            Wolves          Brighton
16  2.0   2023-08-19         Tottenham    Manchester Utd
17  2.0   2023-08-19   Manchester City     Newcastle Utd
18  2.0   2023-08-20       Aston Villa           Everton
19  2.0   2023-08-20          West Ham           Chelsea
20  2.0   2023-08-21    Crystal Palace           Arsenal
21  3.0   2023-08-25           Chelsea             Luton
22  3.0   2023-08-26       Bournemouth         Tottenham
23  3.0   2023-08-26           Arsenal            Fulham
24  3.0   2023-08-26         Brentford    Crystal Palace
25  3.0   2023-08-26           Everton            Wolves
26  3.0   2023-08-26    Manchester Utd   Nott'ham Forest
27  3.0   2023-08-26          Brighton          West Ham
28  3.0   2023-08-27           Burnley       Aston Villa
29  3.0   2023-08-27  Sheffield United   Manchester City
30  3.0   2023-08-27     Newcastle Utd         Liverpool
31  4.0   2023-09-01             Luton          West Ham

In [28]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF',
       'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2',
       'Min_30', 'Min_4', 'Name_original', 'Opp_rating', 'Opp_score_2',
       'Opp_score_30', 'Opp_score_4', 'Opponent', 'Rating_difference',
       'Season', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating',
       'Team_result_2', 'Team_result_30', 'Team_result_4', 'Team_score_2',
       'Team_score_30', 'Team_score_4', 'Transfers_balance', 'Value',
       'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP',
       'Price'],
      dtype='object')

In [29]:
active_players["Team"].unique()

array(['Brighton', 'West Ham', 'Brentford', 'Arsenal', 'Manchester Utd',
       'Everton', 'Bournemouth', 'Fulham', 'Newcastle Utd', 'Liverpool',
       "Nott'ham Forest", 'Chelsea', 'Manchester City', 'Tottenham',
       'Aston Villa', 'Wolves', 'Burnley', 'Crystal Palace', 'Luton'],
      dtype=object)

In [30]:
for i in range(0,20):
    print(i, current_teams[i], active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[i]].shape)

0 Arsenal (29, 3)
1 Aston Villa (24, 3)
2 Bournemouth (21, 3)
3 Brentford (23, 3)
4 Brighton (24, 3)
5 Burnley (6, 3)
6 Chelsea (21, 3)
7 Crystal Palace (21, 3)
8 Everton (22, 3)
9 Fulham (18, 3)
10 Liverpool (20, 3)
11 Luton (1, 3)
12 Manchester City (23, 3)
13 Manchester Utd (26, 3)
14 Newcastle Utd (32, 3)
15 Nott'ham Forest (24, 3)
16 Sheffield United (0, 3)
17 Tottenham (24, 3)
18 West Ham (18, 3)
19 Wolves (20, 3)

In [31]:
active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[3]]

               Name_original       Team FPL_pos
2               Aaron Hickey  Brentford     DEF
37                   Ben Mee  Brentford     DEF
51              Bryan Mbeumo  Brentford     FWD
62             Charlie Goode  Brentford     DEF
70        Christian Nørgaard  Brentford     MID
119            Ethan Pinnock  Brentford     DEF
128             Frank Onyeka  Brentford     MID
151               Ivan Toney  Brentford     FWD
201             Josh Dasilva  Brentford     MID
208       Keane Lewis-Potter  Brentford     MID
213             Kevin Schade  Brentford     MID
220          Kristoffer Ajer  Brentford     DEF
240       Mads Bech Sørensen  Brentford     DEF
241  Mads Roerslev Rasmussen  Brentford     DEF
263           Mathias Jensen  Brentford     MID
264        Mathias Jorgensen  Brentford     DEF
277         Mikkel Damsgaard  Brentford     MID
324               Rico Henry  Brentford     DEF
347        Sergi Canós Tenés  Brentford     DEF
350         Shandon Baptiste  Brentford     MID
366         Thomas Strakosha  Brentford      GK
384            Vitaly Janelt  Brentford     MID
393              Yoane Wissa  Brentford     MID

In [32]:
active_players[active_players["Name_original"] == "Kai Havertz"]["Team"]

204    Arsenal
Name: Team, dtype: object

In [33]:
active_players.columns

Index(['index', 'Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF',
       'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2',
       'Min_30', 'Min_4', 'Name_original', 'Opp_rating', 'Opp_score_2',
       'Opp_score_30', 'Opp_score_4', 'Opponent', 'Rating_difference',
       'Season', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating',
       'Team_result_2', 'Team_result_30', 'Team_result_4', 'Team_score_2',
       'Team_score_30', 'Team_score_4', 'Transfers_balance', 'Value',
       'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP',
       'Price'],
      dtype='object')

# Upcoming home & away logs

In [34]:
picked_columns = ["Name_original", "GW", "kickoff_time", "Squad", "Squad H", "Squad A", "Was_home", "Opponent", "FPL_pos", "Price"]

In [35]:
upcoming_player_fixtures_home = active_players.rename(columns={"Team": "Squad H"}).drop(columns=["GW"]).set_index(["Squad H"]).join(df_upcoming_fixtures.set_index(["Squad H"])).reset_index(level=0)
upcoming_player_fixtures_home["Squad"] = upcoming_player_fixtures_home["Squad H"]
upcoming_player_fixtures_home["Was Home"] = 1
# upcoming_player_fixtures_home.loc[upcoming_player_fixtures_home["GW_left"].isnull(), "GW_left"] = 77
# upcoming_player_fixtures_home['C'] = upcoming_player_fixtures_home['GW_left'].fillna(upcoming_player_fixtures_home['GW_right'])
upcoming_player_fixtures_home["Opponent"] = upcoming_player_fixtures_home["Squad A"]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Squad"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Opponent"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[picked_columns]

In [36]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["Name_original"] == "Kai Havertz"]

,Name_original,GW,kickoff_time,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price
285,Kai Havertz,1.0,2023-08-12,Arsenal,Arsenal,Nott'ham Forest,1.0,Nott'ham Forest,FWD,75
286,Kai Havertz,3.0,2023-08-26,Arsenal,Arsenal,Fulham,1.0,Fulham,FWD,75
287,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1.0,Manchester Utd,FWD,75
288,Kai Havertz,6.0,2023-09-24,Arsenal,Arsenal,Tottenham,1.0,Tottenham,FWD,75
289,Kai Havertz,8.0,2023-10-08,Arsenal,Arsenal,Manchester City,1.0,Manchester City,FWD,75
290,Kai Havertz,10.0,2023-10-28,Arsenal,Arsenal,Sheffield United,1.0,Sheffield United,FWD,75
291,Kai Havertz,12.0,2023-11-11,Arsenal,Arsenal,Burnley,1.0,Burnley,FWD,75
292,Kai Havertz,14.0,2023-12-02,Arsenal,Arsenal,Wolves,1.0,Wolves,FWD,75
293,Kai Havertz,17.0,2023-12-16,Arsenal,Arsenal,Brighton,1.0,Brighton,FWD,75
294,Kai Havertz,19.0,2023-12-26,Arsenal,Arsenal,West Ham,1.0,West Ham,FWD,75
295,Kai Havertz,21.0,2024-01-13,Arsenal,Arsenal,Crystal Palace,1.0,Crystal Palace,FWD,75
296,Kai Havertz,23.0,2024-02-03,Arsenal,Arsenal,Liverpool,1.0,Liverpool,FWD,75
297,Kai Havertz,26.0,2024-02-24,Arsenal,Arsenal,Newcastle Utd,1.0,Newcastle Utd,FWD,75
298,Kai Havertz,28.0,2024-03-09,Arsenal,Arsenal,Brentford,1.0,Brentford,FWD,75
299,Kai Havertz,29.0,2024-03-16,Arsenal,Arsenal,Chelsea,1.0,Chelsea,FWD,75
300,Kai Havertz,31.0,2024-04-02,Arsenal,Arsenal,Luton,1.0,Luton,FWD,75
301,Kai Havertz,33.0,2024-04-13,Arsenal,Arsenal,Aston Villa,1.0,Aston Villa,FWD,75
302,Kai Havertz,36.0,2024-05-04,Arsenal,Arsenal,Bournemouth,1.0,Bournemouth,FWD,75
303,Kai Havertz,38.0,2024-05-19,Arsenal,Arsenal,Everton,1.0,Everton,FWD,75

In [37]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["GW"].isna()]

Empty DataFrame
Columns: [Name_original, GW, kickoff_time, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price]
Index: []

In [38]:
upcoming_player_fixtures_home['GW'].unique()

array([ 1.,  3.,  4.,  6.,  8., 10., 12., 14., 17., 19., 21., 23., 26.,
       28., 29., 31., 33., 36., 38.,  2.,  5.,  7.,  9., 15., 16., 18.,
       20., 22., 24., 30., 32., 34., 35., 37., 11., 13., 25., 27.])

In [39]:
upcoming_player_fixtures_away = active_players.rename(columns={"Team": "Squad A"}).drop(columns=["GW"]).set_index("Squad A").join(df_upcoming_fixtures.set_index("Squad A")).reset_index(level=0)
upcoming_player_fixtures_away["Squad"] = upcoming_player_fixtures_away["Squad A"]
upcoming_player_fixtures_away["Was Home"] = 0
upcoming_player_fixtures_away["Opponent"] = upcoming_player_fixtures_away["Squad H"]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Squad"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Opponent"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[picked_columns]

# Concating home & away logs

In [40]:
upcoming_player_fixtures = pd.concat([upcoming_player_fixtures_home, upcoming_player_fixtures_away]).sort_values(by=["Name_original", "GW"])

In [41]:
upcoming_player_fixtures["Season"] = CURRENT_SEASON
upcoming_player_fixtures["Finished"] = False

In [42]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"kickoff_time": "Date"})

In [43]:
upcoming_player_fixtures["Was_home"] = (upcoming_player_fixtures["Opponent"] == upcoming_player_fixtures["Squad A"]).astype("int64")

In [44]:
# upcoming_player_fixtures[upcoming_player_fixtures["Name"] == "Gabriel-Dos-Santos"]

In [45]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Kai Havertz"].head(5)

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
285,Kai Havertz,1.0,2023-08-12,Arsenal,Arsenal,Nott'ham Forest,1,Nott'ham Forest,FWD,75,2023-24,False
285,Kai Havertz,2.0,2023-08-21,Arsenal,Crystal Palace,Arsenal,0,Crystal Palace,FWD,75,2023-24,False
286,Kai Havertz,3.0,2023-08-26,Arsenal,Arsenal,Fulham,1,Fulham,FWD,75,2023-24,False
287,Kai Havertz,4.0,2023-09-03,Arsenal,Arsenal,Manchester Utd,1,Manchester Utd,FWD,75,2023-24,False
286,Kai Havertz,5.0,2023-09-16,Arsenal,Everton,Arsenal,0,Everton,FWD,75,2023-24,False

In [46]:
upcoming_player_fixtures

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Price,Season,Finished
1843,Aaron Connolly,1.0,2023-08-12,Brighton,Brighton,Luton,1,Luton,FWD,45,2023-24,False
1820,Aaron Connolly,2.0,2023-08-19,Brighton,Wolves,Brighton,0,Wolves,FWD,45,2023-24,False
1844,Aaron Connolly,3.0,2023-08-26,Brighton,Brighton,West Ham,1,West Ham,FWD,45,2023-24,False
1845,Aaron Connolly,4.0,2023-09-02,Brighton,Brighton,Newcastle Utd,1,Newcastle Utd,FWD,45,2023-24,False
1821,Aaron Connolly,5.0,2023-09-16,Brighton,Manchester Utd,Brighton,0,Manchester Utd,FWD,45,2023-24,False
...,...,...,...,...,...,...,...,...,...,...,...,...
4775,Zack Steffen,34.0,2024-04-20,Manchester City,Tottenham,Manchester City,0,Tottenham,GK,40,2023-24,False
4776,Zack Steffen,35.0,2024-04-27,Manchester City,Nott'ham Forest,Manchester City,0,Nott'ham Forest,GK,40,2023-24,False
4781,Zack Steffen,36.0,2024-05-04,Manchester City,Manchester City,Wolves,1,Wolves,GK,40,2023-24,False
4777,Zack Steffen,37.0,2024-05-11,Manchester City,Fulham,Manchester City,0,Fulham,GK,40,2023-24,False
4782,Zack Steffen,38.0,2024-05-19,Manchester City,Manchester City,West Ham,1,West Ham,GK,40,2023-24,False

In [47]:
upcoming_player_fixtures.shape

(15033, 12)

# Loading previous fixtures

In [48]:
previous_fixtures = pd.read_csv("data/misc/df_features.csv")

In [49]:
previous_fixtures["Finished"] = True

# Assigning team elo

In [50]:
team_ratings = pd.read_csv("data/misc/team_ratings_history.csv")

In [51]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [52]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    return team_name

In [53]:
datetime.strptime(upcoming_player_fixtures['Date'].iloc[1], '%Y-%m-%d')

datetime.datetime(2023, 8, 19, 0, 0)

In [54]:
upcoming_player_fixtures[upcoming_player_fixtures['Date'].isna()]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished]
Index: []

In [55]:
%%time
upcoming_player_fixtures["Opp rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 4min 50s
Wall time: 5min 6s

In [56]:
%%time
upcoming_player_fixtures["Team rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 4min 22s
Wall time: 4min 29s

In [57]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Gabriel-Dos-Santos"]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Price, Season, Finished, Opp rating, Team rating]
Index: []

In [58]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"Opp rating": "Opp_rating", "Team rating": "Team_rating", "Squad": "Team"})
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad H"], axis=1)
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad A"], axis=1)

In [59]:
upcoming_player_fixtures["Rating_difference"] = upcoming_player_fixtures["Team_rating"] - upcoming_player_fixtures["Opp_rating"]

In [60]:
upcoming_player_fixtures.columns

Index(['Name_original', 'GW', 'Date', 'Team', 'Was_home', 'Opponent',
       'FPL_pos', 'Price', 'Season', 'Finished', 'Opp_rating', 'Team_rating',
       'Rating_difference'],
      dtype='object')

In [61]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Ben Chilwell"][["Name_original", "Season", "GW", "Was_home"]].tail(45)

     Name_original   Season    GW  Was_home
2432  Ben Chilwell  2023-24   1.0         1
2403  Ben Chilwell  2023-24   2.0         0
2433  Ben Chilwell  2023-24   3.0         1
2434  Ben Chilwell  2023-24   4.0         1
2404  Ben Chilwell  2023-24   5.0         0
2435  Ben Chilwell  2023-24   6.0         1
2405  Ben Chilwell  2023-24   7.0         0
2406  Ben Chilwell  2023-24   8.0         0
2436  Ben Chilwell  2023-24   9.0         1
2437  Ben Chilwell  2023-24  10.0         1
2407  Ben Chilwell  2023-24  11.0         0
2438  Ben Chilwell  2023-24  12.0         1
2408  Ben Chilwell  2023-24  13.0         0
2439  Ben Chilwell  2023-24  14.0         1
2409  Ben Chilwell  2023-24  15.0         0
2410  Ben Chilwell  2023-24  16.0         0
2440  Ben Chilwell  2023-24  17.0         1
2411  Ben Chilwell  2023-24  18.0         0
2441  Ben Chilwell  2023-24  19.0         1
2412  Ben Chilwell  2023-24  20.0         0
2442  Ben Chilwell  2023-24  21.0         1
2413  Ben Chilwell  2023-24  22.0         0
2443  Ben Chilwell  2023-24  23.0         1
2414  Ben Chilwell  2023-24  24.0         0
2415  Ben Chilwell  2023-24  25.0         0
2444  Ben Chilwell  2023-24  26.0         1
2416  Ben Chilwell  2023-24  27.0         0
2445  Ben Chilwell  2023-24  28.0         1
2417  Ben Chilwell  2023-24  29.0         0
2446  Ben Chilwell  2023-24  30.0         1
2447  Ben Chilwell  2023-24  31.0         1
2418  Ben Chilwell  2023-24  32.0         0
2448  Ben Chilwell  2023-24  33.0         1
2419  Ben Chilwell  2023-24  34.0         0
2420  Ben Chilwell  2023-24  35.0         0
2449  Ben Chilwell  2023-24  36.0         1
2421  Ben Chilwell  2023-24  37.0         0
2450  Ben Chilwell  2023-24  38.0         1

# Concating previous and upcoming logs

In [62]:
all_fixtures = pd.concat([previous_fixtures, upcoming_player_fixtures])

In [63]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Transfers_balance', 'Value', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP', 'Finished'],
      dtype='object')

In [64]:
all_fixtures.shape

(32181, 51)

In [65]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Transfers_balance', 'Value', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP', 'Finished', 'Date',
       'Price'],
      dtype='object')

In [66]:
all_fixtures[all_fixtures["Name_original"] == "Kai Havertz"][["Name_original", "Team"]]

     Name_original     Team
8939   Kai Havertz  Chelsea
8940   Kai Havertz  Chelsea
8941   Kai Havertz  Chelsea
8942   Kai Havertz  Chelsea
8943   Kai Havertz  Chelsea
...            ...      ...
301    Kai Havertz  Arsenal
302    Kai Havertz  Arsenal
302    Kai Havertz  Arsenal
303    Kai Havertz  Arsenal
303    Kai Havertz  Arsenal

[107 rows x 2 columns]

# Filling missing values

In [67]:
all_fixtures_before_fill = all_fixtures.copy()

In [68]:
# all_fixtures = all_fixtures_before_fill

In [69]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Transfers_balance', 'Value', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP', 'Finished', 'Date',
       'Price'],
      dtype='object')

In [70]:
columns_to_fill = ['Was_home',
 'Rating_difference',
 'Value',
 'Transfers_balance',
 'Avg_FPL_points',
 'Min_2',
 'Gls_2',
 'Ast_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'FPL_points_2',
 'Min_4',
 'Gls_4',
 'Ast_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'FPL_points_4',
 'Min_30',
 'Gls_30',
 'Ast_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'FPL_points_30',
 'DEF',
 'FWD',
 'MID']

# columns_to_fill.append("FPL_pos")

# # removing position to then ffill it
# all_fixtures.loc[all_fixtures["Season"] == CURRENT_SEASON, "FPL_pos"] = None

for c in ["Was_home", 'Team_rating', 'Opp_rating', 'Rating_difference']:
    if c in columns_to_fill:
        columns_to_fill.remove(c) 

info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "Price"]

In [71]:
all_fixtures[columns_to_fill] = all_fixtures.groupby('Name_original')[columns_to_fill].ffill()

In [72]:
all_fixtures.tail(10)

,Ast_2,Ast_30,Ast_4,Avg_FPL_points,DEF,FPL_points,FPL_points_2,FPL_points_30,FPL_points_4,FPL_pos,...,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,xP,Finished,Date,Price
4773,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-03-16,40.0
4778,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-03-30,40.0
4779,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-04-03,40.0
4774,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-04-06,40.0
4780,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-04-13,40.0
4775,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-04-20,40.0
4776,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-04-27,40.0
4781,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-05-04,40.0
4777,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-05-11,40.0
4782,0.0,0.0,0.0,0.241379,0.0,NaN,0.0,0.25,0.0,GK,...,2.137179e-15,0.0,4.718448e-16,1.554312e-15,0.0,6.383782e-16,NaN,False,2024-05-19,40.0

In [73]:
all_fixtures[all_fixtures["Name_original"] == "Bryan Mbeumo"][["Name_original", "Season", "GW", "Was_home", "FPL_pos", "Gls_4"]].tail(45)

     Name_original   Season    GW  Was_home FPL_pos  Gls_4
2161  Bryan Mbeumo  2022-23  31.0       0.0     FWD   0.00
2162  Bryan Mbeumo  2022-23  32.0       1.0     FWD   0.00
2163  Bryan Mbeumo  2022-23  33.0       0.0     FWD   0.00
2164  Bryan Mbeumo  2022-23  34.0       1.0     FWD   0.25
2165  Bryan Mbeumo  2022-23  35.0       0.0     FWD   0.25
2166  Bryan Mbeumo  2022-23  36.0       1.0     FWD   0.25
2167  Bryan Mbeumo  2022-23  37.0       0.0     FWD   0.50
2168  Bryan Mbeumo  2022-23  38.0       1.0     FWD   0.75
1444  Bryan Mbeumo  2023-24   1.0       1.0     FWD   0.75
1442  Bryan Mbeumo  2023-24   2.0       0.0     FWD   0.75
1445  Bryan Mbeumo  2023-24   3.0       1.0     FWD   0.75
1446  Bryan Mbeumo  2023-24   4.0       1.0     FWD   0.75
1443  Bryan Mbeumo  2023-24   5.0       0.0     FWD   0.75
1447  Bryan Mbeumo  2023-24   6.0       1.0     FWD   0.75
1444  Bryan Mbeumo  2023-24   7.0       0.0     FWD   0.75
1445  Bryan Mbeumo  2023-24   8.0       0.0     FWD   0.75
1448  Bryan Mbeumo  2023-24   9.0       1.0     FWD   0.75
1446  Bryan Mbeumo  2023-24  10.0       0.0     FWD   0.75
1449  Bryan Mbeumo  2023-24  11.0       1.0     FWD   0.75
1447  Bryan Mbeumo  2023-24  12.0       0.0     FWD   0.75
1450  Bryan Mbeumo  2023-24  13.0       1.0     FWD   0.75
1451  Bryan Mbeumo  2023-24  14.0       1.0     FWD   0.75
1448  Bryan Mbeumo  2023-24  15.0       0.0     FWD   0.75
1449  Bryan Mbeumo  2023-24  16.0       0.0     FWD   0.75
1452  Bryan Mbeumo  2023-24  17.0       1.0     FWD   0.75
1453  Bryan Mbeumo  2023-24  19.0       1.0     FWD   0.75
1450  Bryan Mbeumo  2023-24  20.0       0.0     FWD   0.75
1454  Bryan Mbeumo  2023-24  21.0       1.0     FWD   0.75
1451  Bryan Mbeumo  2023-24  22.0       0.0     FWD   0.75
1455  Bryan Mbeumo  2023-24  23.0       1.0     FWD   0.75
1452  Bryan Mbeumo  2023-24  24.0       0.0     FWD   0.75
1456  Bryan Mbeumo  2023-24  25.0       1.0     FWD   0.75
1453  Bryan Mbeumo  2023-24  26.0       0.0     FWD   0.75
1457  Bryan Mbeumo  2023-24  27.0       1.0     FWD   0.75
1454  Bryan Mbeumo  2023-24  28.0       0.0     FWD   0.75
1455  Bryan Mbeumo  2023-24  29.0       0.0     FWD   0.75
1458  Bryan Mbeumo  2023-24  30.0       1.0     FWD   0.75
1459  Bryan Mbeumo  2023-24  31.0       1.0     FWD   0.75
1456  Bryan Mbeumo  2023-24  32.0       0.0     FWD   0.75
1460  Bryan Mbeumo  2023-24  33.0       1.0     FWD   0.75
1457  Bryan Mbeumo  2023-24  34.0       0.0     FWD   0.75
1458  Bryan Mbeumo  2023-24  35.0       0.0     FWD   0.75
1461  Bryan Mbeumo  2023-24  36.0       1.0     FWD   0.75
1459  Bryan Mbeumo  2023-24  37.0       0.0     FWD   0.75
1462  Bryan Mbeumo  2023-24  38.0       1.0     FWD   0.75

In [74]:
all_fixtures[all_fixtures["Name_original"] == "Kaoru Mitoma"][["Name_original", "Season", "GW", "Was_home", "FPL_pos", "Gls_4"]].tail(45)

     Name_original   Season    GW  Was_home FPL_pos  Gls_4
9085  Kaoru Mitoma  2022-23  28.0       1.0     MID    0.0
9086  Kaoru Mitoma  2022-23  35.0       1.0     MID    0.0
9087  Kaoru Mitoma  2022-23  36.0       0.0     MID    0.0
9088  Kaoru Mitoma  2022-23  25.0       0.0     MID    0.0
9089  Kaoru Mitoma  2022-23  37.0       1.0     MID    0.0
9090  Kaoru Mitoma  2022-23  32.0       1.0     MID    0.0
9091  Kaoru Mitoma  2022-23  38.0       0.0     MID    0.0
2128  Kaoru Mitoma  2023-24   1.0       1.0     MID    0.0
2105  Kaoru Mitoma  2023-24   2.0       0.0     MID    0.0
2129  Kaoru Mitoma  2023-24   3.0       1.0     MID    0.0
2130  Kaoru Mitoma  2023-24   4.0       1.0     MID    0.0
2106  Kaoru Mitoma  2023-24   5.0       0.0     MID    0.0
2131  Kaoru Mitoma  2023-24   6.0       1.0     MID    0.0
2107  Kaoru Mitoma  2023-24   7.0       0.0     MID    0.0
2132  Kaoru Mitoma  2023-24   8.0       1.0     MID    0.0
2108  Kaoru Mitoma  2023-24   9.0       0.0     MID    0.0
2133  Kaoru Mitoma  2023-24  10.0       1.0     MID    0.0
2109  Kaoru Mitoma  2023-24  11.0       0.0     MID    0.0
2134  Kaoru Mitoma  2023-24  12.0       1.0     MID    0.0
2110  Kaoru Mitoma  2023-24  13.0       0.0     MID    0.0
2111  Kaoru Mitoma  2023-24  14.0       0.0     MID    0.0
2135  Kaoru Mitoma  2023-24  15.0       1.0     MID    0.0
2136  Kaoru Mitoma  2023-24  16.0       1.0     MID    0.0
2112  Kaoru Mitoma  2023-24  17.0       0.0     MID    0.0
2113  Kaoru Mitoma  2023-24  18.0       0.0     MID    0.0
2137  Kaoru Mitoma  2023-24  19.0       1.0     MID    0.0
2114  Kaoru Mitoma  2023-24  20.0       0.0     MID    0.0
2138  Kaoru Mitoma  2023-24  21.0       1.0     MID    0.0
2115  Kaoru Mitoma  2023-24  22.0       0.0     MID    0.0
2139  Kaoru Mitoma  2023-24  23.0       1.0     MID    0.0
2116  Kaoru Mitoma  2023-24  24.0       0.0     MID    0.0
2117  Kaoru Mitoma  2023-24  25.0       0.0     MID    0.0
2140  Kaoru Mitoma  2023-24  26.0       1.0     MID    0.0
2118  Kaoru Mitoma  2023-24  27.0       0.0     MID    0.0
2141  Kaoru Mitoma  2023-24  28.0       1.0     MID    0.0
2142  Kaoru Mitoma  2023-24  29.0       1.0     MID    0.0
2119  Kaoru Mitoma  2023-24  30.0       0.0     MID    0.0
2120  Kaoru Mitoma  2023-24  31.0       0.0     MID    0.0
2143  Kaoru Mitoma  2023-24  32.0       1.0     MID    0.0
2121  Kaoru Mitoma  2023-24  33.0       0.0     MID    0.0
2144  Kaoru Mitoma  2023-24  34.0       1.0     MID    0.0
2122  Kaoru Mitoma  2023-24  35.0       0.0     MID    0.0
2145  Kaoru Mitoma  2023-24  36.0       1.0     MID    0.0
2123  Kaoru Mitoma  2023-24  37.0       0.0     MID    0.0
2146  Kaoru Mitoma  2023-24  38.0       1.0     MID    0.0

# Saving to file

In [75]:
all_fixtures.to_csv("data/upcoming/upcoming_fixtures.csv")

In [76]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Avg_FPL_points', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Transfers_balance', 'Value', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'xP', 'Finished', 'Date',
       'Price'],
      dtype='object')

In [77]:
all_fixtures.shape

(32181, 51)

In [78]:
all_fixtures["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)