# Imports & setup

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
import pickle
from xgboost import XGBRegressor
from src.PositionalModel import PositionalModel

In [3]:
features = ['Was_home',
 'Rating_difference',
 'Min_2',
 'Gls_2',
 'Ast_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'FPL_points_2',
 'Min_4',
 'Gls_4',
 'Ast_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'FPL_points_4',
 'Min_30',
 'Gls_30',
 'Ast_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'FPL_points_30',
 'DEF',
 'FWD',
 'MID']

info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "FPL_pos", "Price"]
to_predict = ["FPL_points"]

In [4]:
len(features)

35

# Reading from files

In [5]:
df = pd.read_csv("data/upcoming/upcoming_fixtures.csv")
CURRENT_SEASON = "2023-24"

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (2,3,6,8,36,43,44,45,59,84,86,147,208) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.shape

(35410, 274)

In [7]:
# df = df[df["GW"] == 2]

In [8]:
# X_test = df[df["Season"] == CURRENT_SEASON][features]
df = df[df["Season"] == CURRENT_SEASON]
# .reset_index(drop=True)

In [9]:
df = df[~df[features].isnull().any(axis=1)] # for some reason 45 rows are missing some feature values

In [10]:
X_test = df.copy()

In [11]:
df.columns

Index(['Unnamed: 0', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name',
       'Start', 'Pos', 'Min',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'MID', 'Finished', 'Price'],
      dtype='object', length=274)

In [12]:
file = open("models/GBR_positional.pkl",'rb')
model = pickle.load(file)

In [13]:
model

In [14]:
model.predict( X_test.head(5) )

array([2.12722155, 1.72776586, 1.40875402, 2.63081082, 2.63081082])

In [15]:
model.predict( X_test.head(3) )

array([2.12722155, 1.72776586, 1.40875402])

In [16]:
model.predict( X_test.head(4) )

array([2.12722155, 1.72776586, 1.40875402, 2.63081082])

In [17]:
X_test.head(5)

,Unnamed: 0,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,...,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,MID,Finished,Price
76,76,2023-08-20,Sun,Home,West Ham,Chelsea,Aaron-Cresswell,0.0,0,0.0,...,1.02,1777.369124,1761.774146,NaN,1.166667,1.0,0.0,0.0,True,NaN
105,105,2023-08-13,Sun,Home,Brentford,Tottenham,Aaron-Hickey,1.0,RB,71.0,...,1.02,1773.661765,1765.611943,NaN,1.428571,1.0,0.0,0.0,True,NaN
106,106,2023-08-19,Sat,Away,Brentford,Fulham,Aaron-Hickey,1.0,RB,77.0,...,1.02,1775.117339,1767.636719,NaN,1.413793,1.0,0.0,0.0,True,NaN
181,181,2023-08-12,Sat,Home,Arsenal,Nott'ham Forest,Aaron-Ramsdale,1.0,GK,90.0,...,1.18,1780.652535,1925.740381,NaN,2.100000,0.0,0.0,0.0,True,NaN
182,182,2023-08-21,Mon,Away,Arsenal,Crystal Palace,Aaron-Ramsdale,1.0,GK,90.0,...,1.18,1770.298556,1926.720374,NaN,2.100000,0.0,0.0,0.0,True,NaN

In [18]:
X_test.head(3)

,Unnamed: 0,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,...,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,MID,Finished,Price
76,76,2023-08-20,Sun,Home,West Ham,Chelsea,Aaron-Cresswell,0.0,0,0.0,...,1.02,1777.369124,1761.774146,NaN,1.166667,1.0,0.0,0.0,True,NaN
105,105,2023-08-13,Sun,Home,Brentford,Tottenham,Aaron-Hickey,1.0,RB,71.0,...,1.02,1773.661765,1765.611943,NaN,1.428571,1.0,0.0,0.0,True,NaN
106,106,2023-08-19,Sat,Away,Brentford,Fulham,Aaron-Hickey,1.0,RB,77.0,...,1.02,1775.117339,1767.636719,NaN,1.413793,1.0,0.0,0.0,True,NaN

In [19]:
X_test.head(3)[features]

,Was_home,Rating_difference,Min_2,Gls_2,Ast_2,xG_2,xA_2,Team_CS_2,Team_score_2,Opp_score_2,...,xG_30,xA_30,Team_CS_30,Team_score_30,Opp_score_30,Team_result_30,FPL_points_30,DEF,FWD,MID
76,1.0,0.992481,35.0,0.0,0.0,0.0,0.00,0.0,2.0,1.5,...,0.000000,0.096667,0.266667,1.266667,1.500000,1.166667,2.033333,1.0,0.0,0.0
105,1.0,1.004657,78.5,0.0,0.5,0.0,0.05,0.5,2.0,0.5,...,0.007143,0.010714,0.285714,1.500000,1.250000,1.428571,2.107143,1.0,0.0,0.0
106,0.0,1.044221,70.0,0.0,0.0,0.0,0.05,0.5,1.5,1.0,...,0.006897,0.013793,0.275862,1.517241,1.275862,1.413793,2.034483,1.0,0.0,0.0

# Predicting

In [20]:
def adjust_for_injuries(df):
    active_players = pd.read_csv("data/misc/active_players.csv")
    injured_players = active_players[active_players["chance_of_playing_this_round"] == 0]["name"].to_list()
    df.loc[df["Name_original"].isin(injured_players),"Pred"] = 0
    return df

In [21]:
def get_predictions(model, df, X):
    # make predictions on the test data and glues them to the rest of the dataframe
    predictions = model.predict(X)
    
    df_predictions = df[(df["Season"] == CURRENT_SEASON)].reset_index(drop=True)
        
    print(len(predictions), df_predictions.shape)
        
    df_predictions.loc[:, "Pred"] = predictions
    preds = df_predictions[info + ["Pred"]]
    
    preds = adjust_for_injuries(preds).sort_values(by=["Pred"], ascending = False)
    
    return preds

In [22]:
X_test[features].isna()

,Was_home,Rating_difference,Min_2,Gls_2,Ast_2,xG_2,xA_2,Team_CS_2,Team_score_2,Opp_score_2,...,xG_30,xA_30,Team_CS_30,Team_score_30,Opp_score_30,Team_result_30,FPL_points_30,DEF,FWD,MID
76,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
105,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
106,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
181,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
182,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
# X_test.shape,  model.predict(X_test).shape

In [24]:
%%time
preds = get_predictions(model, df, X_test)

16262 (16262, 274)
CPU times: total: 8min 46s
Wall time: 1min 19s

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [25]:
# preds[(preds["FPL_pos"] == "GK") & (preds["GW"] == 2)].head(30)

In [26]:
# next gameweek
preds[preds["GW"] == 3].head(50)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
5069,Erling Haaland,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,FWD,140.0,6.040411
14466,Solly March,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,MID,66.0,5.879525
6613,Jack Grealish,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,MID,74.0,5.777734
10810,Martin Ødegaard,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,MID,85.0,5.681315
5678,Gabriel Martinelli Silva,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,MID,80.0,5.369027
11634,Mohamed Salah,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,MID,125.0,5.304678
4278,Diogo Teixeira da Silva,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,MID,80.0,5.275950
2661,Bukayo Saka,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,MID,86.0,5.268686
9267,Kieran Trippier,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1884.362427,1946.371704,DEF,65.0,5.097010
2554,Bruno Borges Fernandes,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,MID,85.0,4.896065
9985,Luis Díaz,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,MID,77.0,4.749922
12820,Pervis Estupiñán,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,DEF,52.0,4.699287
1944,Ben Chilwell,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,DEF,57.0,4.604108
3343,Cody Gakpo,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,FWD,75.0,4.566696
4098,Dejan Kulusevski,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,MID,70.0,4.499143
3846,Danny Welbeck,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,FWD,59.0,4.477135
15293,Trent Alexander-Arnold,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,DEF,80.0,4.393825
4422,Dominik Szoboszlai,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,MID,70.0,4.379278
4602,Eddie Nketiah,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,FWD,56.0,4.339784
10954,Mateo Kovačić,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,MID,50.0,4.323762
12856,Phil Foden,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,MID,76.0,4.316857
7872,Joel Matip,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,DEF,50.0,4.298745
1477,Andrew Robertson,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,DEF,65.0,4.225255
8874,Kaoru Mitoma,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,MID,66.0,4.188148
5894,Guglielmo Vicario,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,GK,50.0,4.170000
10558,Marcus Rashford,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,MID,90.0,3.914751
12676,Pascal Groß,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,MID,64.0,3.898711
16120,Yoane Wissa,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,FWD,61.0,3.884431
8589,Joško Gvardiol,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,DEF,50.0,3.846754
1513,André Onana,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,GK,50.0,3.835000
15940,William Saliba,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,DEF,51.0,3.834584
1801,Antony Matheus dos Santos,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,MID,70.0,3.827661
9661,Lewis Dunk,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,DEF,50.0,3.818067
13287,Richarlison de Andrade,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,MID,70.0,3.805473
5714,Gabriel dos Santos Magalhães,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,DEF,49.0,3.780381
13323,Rico Henry,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,DEF,46.0,3.747626
15185,Tomáš Souček,3.0,2023-24,West Ham,Brighton,0.0,1787.674805,1843.608276,MID,50.0,3.747017
721,Aaron Wan-Bissaka,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,DEF,46.0,3.728309
12496,Ollie Watkins,3.0,2023-24,Aston Villa,Burnley,0.0,1825.121338,1722.802979,FWD,80.0,3.724850
14826,Thiago Emiliano da Silva,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,DEF,50.0,3.722264
12388,Oleksandr Zinchenko,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,DEF,49.0,3.716114
16155,Youri Tielemans,3.0,2023-24,Aston Villa,Burnley,0.0,1825.121338,1722.802979,MID,59.0,3.705369
13787,Rúben Gato Alves Dias,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,DEF,55.0,3.702703
13035,Raphaël Varane,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,DEF,51.0,3.698752
12999,Raheem Sterling,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,MID,70.0,3.653512
12316,Nélson Cabral Semedo,3.0,2023-24,Wolves,Everton,0.0,1704.387207,1691.314331,DEF,45.0,3.644621
6756,Jadon Sancho,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,MID,69.0,3.635039
1909,Aymeric Laporte,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,DEF,49.0,3.613201
10918,Mason Mount,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,MID,69.0,3.611200
8553,Joël Veltman,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,DEF,44.0,3.605030

In [27]:
# all preds
preds.head(20)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
11659,Mohamed Salah,28.0,2023-24,Liverpool,Manchester City,1.0,1946.371704,2083.552734,MID,125.0,8.024745
11644,Mohamed Salah,13.0,2023-24,Liverpool,Manchester City,0.0,1946.371704,2083.552734,MID,125.0,6.897482
5090,Erling Haaland,25.0,2023-24,Manchester City,Chelsea,1.0,2083.552734,1780.894531,FWD,140.0,6.656386
5077,Erling Haaland,11.0,2023-24,Manchester City,Bournemouth,1.0,2083.552734,1660.140991,FWD,140.0,6.656386
5103,Erling Haaland,38.0,2023-24,Manchester City,West Ham,1.0,2083.552734,1787.674805,FWD,140.0,6.656386
5101,Erling Haaland,36.0,2023-24,Manchester City,Wolves,1.0,2083.552734,1704.387207,FWD,140.0,6.656386
5098,Erling Haaland,33.0,2023-24,Manchester City,Luton,1.0,2083.552734,1602.327515,FWD,140.0,6.656386
5096,Erling Haaland,31.0,2023-24,Manchester City,Aston Villa,1.0,2083.552734,1825.121338,FWD,140.0,6.656386
5095,Erling Haaland,30.0,2023-24,Manchester City,Arsenal,1.0,2083.552734,1926.882202,FWD,140.0,6.656386
5092,Erling Haaland,27.0,2023-24,Manchester City,Manchester Utd,1.0,2083.552734,1865.608521,FWD,140.0,6.656386
5079,Erling Haaland,13.0,2023-24,Manchester City,Liverpool,1.0,2083.552734,1946.371704,FWD,140.0,6.656386
5089,Erling Haaland,24.0,2023-24,Manchester City,Everton,1.0,2083.552734,1691.314331,FWD,140.0,6.656386
5087,Erling Haaland,22.0,2023-24,Manchester City,Burnley,1.0,2083.552734,1722.802979,FWD,140.0,6.656386
5070,Erling Haaland,4.0,2023-24,Manchester City,Fulham,1.0,2083.552734,1732.479858,FWD,140.0,6.656386
5085,Erling Haaland,20.0,2023-24,Manchester City,Sheffield United,1.0,2083.552734,1631.614380,FWD,140.0,6.656386
5083,Erling Haaland,17.0,2023-24,Manchester City,Crystal Palace,1.0,2083.552734,1758.575684,FWD,140.0,6.656386
5075,Erling Haaland,9.0,2023-24,Manchester City,Brighton,1.0,2083.552734,1843.608276,FWD,140.0,6.656386
5080,Erling Haaland,14.0,2023-24,Manchester City,Tottenham,1.0,2083.552734,1829.086060,FWD,140.0,6.656386
5072,Erling Haaland,6.0,2023-24,Manchester City,Nott'ham Forest,1.0,2083.552734,1677.728027,FWD,140.0,6.656386
6647,Jack Grealish,38.0,2023-24,Manchester City,West Ham,1.0,2083.552734,1787.674805,MID,74.0,6.282835

In [28]:
preds[preds["FPL_pos"] == "GK"].head(20)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
5895,Guglielmo Vicario,4.0,2023-24,Tottenham,Burnley,0.0,1829.086060,1722.802979,GK,50.0,4.17
198,Guglielmo Vicario,1.0,2023-24,Tottenham,Brentford,0.0,1815.873413,1824.330444,GK,NaN,4.17
5896,Guglielmo Vicario,5.0,2023-24,Tottenham,Sheffield United,1.0,1829.086060,1631.614380,GK,50.0,4.17
5897,Guglielmo Vicario,6.0,2023-24,Tottenham,Arsenal,0.0,1829.086060,1926.882202,GK,50.0,4.17
5894,Guglielmo Vicario,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,GK,50.0,4.17
5898,Guglielmo Vicario,7.0,2023-24,Tottenham,Liverpool,1.0,1829.086060,1946.371704,GK,50.0,4.17
5899,Guglielmo Vicario,8.0,2023-24,Tottenham,Luton,0.0,1829.086060,1602.327515,GK,50.0,4.17
199,Guglielmo Vicario,2.0,2023-24,Tottenham,Manchester Utd,1.0,1817.656738,1877.037842,GK,NaN,4.17
5921,Guglielmo Vicario,30.0,2023-24,Tottenham,Luton,1.0,1829.086060,1602.327515,GK,50.0,4.17
5919,Guglielmo Vicario,28.0,2023-24,Tottenham,Aston Villa,0.0,1829.086060,1825.121338,GK,50.0,4.17
5920,Guglielmo Vicario,29.0,2023-24,Tottenham,Fulham,0.0,1829.086060,1732.479858,GK,50.0,4.17
5911,Guglielmo Vicario,20.0,2023-24,Tottenham,Bournemouth,1.0,1829.086060,1660.140991,GK,50.0,4.17
5922,Guglielmo Vicario,31.0,2023-24,Tottenham,West Ham,0.0,1829.086060,1787.674805,GK,50.0,4.17
5923,Guglielmo Vicario,32.0,2023-24,Tottenham,Nott'ham Forest,1.0,1829.086060,1677.728027,GK,50.0,4.17
5924,Guglielmo Vicario,33.0,2023-24,Tottenham,Newcastle Utd,0.0,1829.086060,1884.362427,GK,50.0,4.17
5925,Guglielmo Vicario,34.0,2023-24,Tottenham,Manchester City,1.0,1829.086060,2083.552734,GK,50.0,4.17
5926,Guglielmo Vicario,35.0,2023-24,Tottenham,Arsenal,1.0,1829.086060,1926.882202,GK,50.0,4.17
5927,Guglielmo Vicario,36.0,2023-24,Tottenham,Liverpool,0.0,1829.086060,1946.371704,GK,50.0,4.17
5928,Guglielmo Vicario,37.0,2023-24,Tottenham,Burnley,1.0,1829.086060,1722.802979,GK,50.0,4.17
5929,Guglielmo Vicario,38.0,2023-24,Tottenham,Sheffield United,0.0,1829.086060,1631.614380,GK,50.0,4.17

In [29]:
# points all season
pd.DataFrame(preds.groupby(["Name_original"])["Pred"].sum().sort_values(ascending=False)).head(30)

                                Pred
Name_original
Erling Haaland            233.362478
Mohamed Salah             219.698829
Jack Grealish             216.810503
Kieran Trippier           201.361848
Martin Ødegaard           199.835674
Diogo Teixeira da Silva   198.533860
Gabriel Martinelli Silva  196.366957
Solly March               191.888600
Bukayo Saka               185.662848
Callum Wilson             182.220356
Luis Díaz                 178.034318
Bruno Borges Fernandes    175.996830
Trent Alexander-Arnold    172.677175
Harvey Barnes             172.017409
Alexander Isak            171.536427
Cody Gakpo                169.537404
Tomáš Souček              169.412228
Dominik Szoboszlai        162.341849
Miguel Almirón Rejala     160.123421
Joel Matip                159.802569
Andrew Robertson          158.891278
Guglielmo Vicario         158.460000
Mateo Kovačić             158.403982
Phil Foden                158.325700
Jarrod Bowen              153.995818
Pervis Estupiñán          149.995876
Dejan Kulusevski          149.849772
Taiwo Awoniyi             149.218126
Eddie Nketiah             146.204033
André Onana               145.730000

# Saving to file

In [30]:
preds.to_csv("predictions/preds_next_season.csv", index=False)