# Imports & setup

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
import pickle
from xgboost import XGBRegressor
from PositionalModel import PositionalModel

from src.match_names import *
from config import *

In [3]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "FPL_pos", "Price"]
to_predict = ["FPL_points"]

In [4]:
len(FEATURES_OUTFIELD)

38

# Reading from files

In [5]:
df = pd.read_csv("data/upcoming/upcoming_fixtures.csv")
CURRENT_SEASON = "2023-24"

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (2,3,6,8,36,43,44,45,59,84,86,147,208) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.shape

(35410, 273)

In [7]:
# df = df[df["GW"] == 2]

In [8]:
# X_test = df[df["Season"] == CURRENT_SEASON][FEATURES_OUTFIELD]
df = df[df["Season"] == CURRENT_SEASON]
# .reset_index(drop=True)

In [9]:
df.isna().sum().sort_values(ascending=False).head(20)

FPL_GW           16322
Min_points_2     16322
Min_points_4     16322
Min_points_30    16322
Min_points       16322
Clean_name       16322
xP               15808
Cmp%             15790
GCA              15786
npxG             15786
xA               15786
SCA              15786
PrgP             15786
Cmp              15786
Att              15786
Carries          15786
T_att            15786
T_succ           15786
xG               15786
PrgC             15786
dtype: int64

In [10]:
# df[FEATURES_OUTFIELD].iloc[0]

In [11]:
df = df[~df[FEATURES_OUTFIELD].isnull().any(axis=1)] # for some reason 45 rows are missing some feature values

In [12]:
df.shape

(16262, 273)

In [13]:
X_test = df.copy()

In [14]:
df.columns

Index(['Unnamed: 0', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name',
       'Start', 'Pos', 'Min',
       ...
       'FPL_xG_30', 'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30',
       'Min_points_30', 'Team_result_30', 'DEF', 'FWD', 'MID', 'Finished'],
      dtype='object', length=273)

In [15]:
file = open("models/GBR_positional.pkl",'rb')
model = pickle.load(file)

In [16]:
model

In [17]:
model.predict( X_test.head(5) )

array([2.49892196, 2.01769811, 1.64323682, 2.63081082, 2.63081082])

In [18]:
model.predict( X_test.head(3) )

array([2.49892196, 2.01769811, 1.64323682])

In [19]:
model.predict( X_test.head(4) )

array([2.49892196, 2.01769811, 1.64323682, 2.63081082])

In [20]:
X_test.head(5)

,Unnamed: 0,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,...,FPL_xG_30,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,MID,Finished
76,76,2023-08-20,Sun,Home,West Ham,Chelsea,Aaron-Cresswell,0.0,0,0.0,...,0.03,1.02,1777.369124,1761.774146,NaN,1.166667,1.0,0.0,0.0,True
105,105,2023-08-13,Sun,Home,Brentford,Tottenham,Aaron-Hickey,1.0,RB,71.0,...,0.03,1.02,1773.661765,1765.611943,NaN,1.428571,1.0,0.0,0.0,True
106,106,2023-08-19,Sat,Away,Brentford,Fulham,Aaron-Hickey,1.0,RB,77.0,...,0.03,1.02,1775.117339,1767.636719,NaN,1.413793,1.0,0.0,0.0,True
181,181,2023-08-12,Sat,Home,Arsenal,Nott'ham Forest,Aaron-Ramsdale,1.0,GK,90.0,...,0.00,1.18,1780.652535,1925.740381,NaN,2.100000,0.0,0.0,0.0,True
182,182,2023-08-21,Mon,Away,Arsenal,Crystal Palace,Aaron-Ramsdale,1.0,GK,90.0,...,0.00,1.18,1770.298556,1926.720374,NaN,2.100000,0.0,0.0,0.0,True

In [21]:
X_test.head(3)

,Unnamed: 0,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,...,FPL_xG_30,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,MID,Finished
76,76,2023-08-20,Sun,Home,West Ham,Chelsea,Aaron-Cresswell,0.0,0,0.0,...,0.03,1.02,1777.369124,1761.774146,NaN,1.166667,1.0,0.0,0.0,True
105,105,2023-08-13,Sun,Home,Brentford,Tottenham,Aaron-Hickey,1.0,RB,71.0,...,0.03,1.02,1773.661765,1765.611943,NaN,1.428571,1.0,0.0,0.0,True
106,106,2023-08-19,Sat,Away,Brentford,Fulham,Aaron-Hickey,1.0,RB,77.0,...,0.03,1.02,1775.117339,1767.636719,NaN,1.413793,1.0,0.0,0.0,True

In [22]:
X_test.head(3)[FEATURES_OUTFIELD]

,Was_home,Rating_difference,Price,Transfers_balance,Avg_FPL_points,Min_2,Gls_2,Ast_2,xG_2,xA_2,...,xG_30,xA_30,Team_CS_30,Team_score_30,Opp_score_30,Team_result_30,FPL_points_30,DEF,FWD,MID
76,1.0,0.992481,4.5,-11945.0,2.681818,35.0,0.0,0.0,0.0,0.00,...,0.000000,0.096667,0.266667,1.266667,1.500000,1.166667,2.033333,1.0,0.0,0.0
105,1.0,1.004657,4.5,0.0,2.133333,78.5,0.0,0.5,0.0,0.05,...,0.007143,0.010714,0.285714,1.500000,1.250000,1.428571,2.107143,1.0,0.0,0.0
106,0.0,1.044221,4.5,-611.0,2.133333,70.0,0.0,0.0,0.0,0.05,...,0.006897,0.013793,0.275862,1.517241,1.275862,1.413793,2.034483,1.0,0.0,0.0

# Predicting

In [23]:
def adjust_for_injuries(df):
    active_players = pd.read_csv("data/misc/active_players.csv")
    injured_players = active_players[active_players["chance_of_playing_this_round"] == 0]["name"].to_list()
    df.loc[df["Name_original"].isin(injured_players),"Pred"] = 0
    return df

In [24]:
def adjust_goalkeepers(df):
    gks = pd.read_csv("data/misc/goalkeepers.csv")
    gk_names = gks["Name"].to_list()
    gk_names = [name_fbref_to_fpl(neutralize_name(n)) for n in gk_names]
    # print(gk_names)
    df.loc[(df["FPL_pos"] == "GK") & ~(df["Name_original"].apply(neutralize_name).isin(gk_names)), "Pred"] = 0
    return df

In [25]:
def get_predictions(model, df, X):
    # make predictions on the test data and glues them to the rest of the dataframe
    predictions = model.predict(X)
    
    df_predictions = df[(df["Season"] == CURRENT_SEASON)].reset_index(drop=True)
        
    print(len(predictions), df_predictions.shape)
        
    df_predictions.loc[:, "Pred"] = predictions
    preds = df_predictions[info + ["Pred"]]
    
    preds = adjust_goalkeepers(preds)
    preds = adjust_for_injuries(preds).sort_values(by=["Pred"], ascending = False)
    
    return preds

In [26]:
X_test[FEATURES_OUTFIELD].isna()

,Was_home,Rating_difference,Price,Transfers_balance,Avg_FPL_points,Min_2,Gls_2,Ast_2,xG_2,xA_2,...,xG_30,xA_30,Team_CS_30,Team_score_30,Opp_score_30,Team_result_30,FPL_points_30,DEF,FWD,MID
76,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
105,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
106,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
181,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
182,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35405,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35406,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35409,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
# X_test.shape,  model.predict(X_test).shape

In [28]:
%%time
preds = get_predictions(model, df, X_test)

16262 (16262, 273)
CPU times: total: 9min 10s
Wall time: 1min 11s

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [29]:
# next gameweek
preds[preds["GW"] == 3].head(50)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
5069,Erling Haaland,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,FWD,140.0,6.021398
13323,Rico Henry,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,DEF,46.0,5.807963
15940,William Saliba,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,DEF,51.0,5.801693
11634,Mohamed Salah,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,MID,125.0,5.447217
12820,Pervis Estupiñán,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,DEF,52.0,5.443575
2088,Ben Mee,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,DEF,49.0,5.421574
14466,Solly March,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,MID,66.0,5.379742
721,Aaron Wan-Bissaka,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,DEF,46.0,5.246504
2626,Bryan Mbeumo,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,MID,67.0,5.163955
10810,Martin Ødegaard,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,MID,85.0,5.098001
1944,Ben Chilwell,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,DEF,57.0,5.086640
5678,Gabriel Martinelli Silva,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,MID,80.0,4.815062
2554,Bruno Borges Fernandes,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,MID,85.0,4.793345
9267,Kieran Trippier,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1884.362427,1946.371704,DEF,65.0,4.782182
12784,Pedro Porro,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,DEF,49.0,4.755169
12999,Raheem Sterling,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,MID,70.0,4.559545
2159,Benjamin White,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,DEF,55.0,4.517973
13035,Raphaël Varane,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,DEF,51.0,4.491627
12856,Phil Foden,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,MID,76.0,4.477336
1477,Andrew Robertson,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,DEF,65.0,4.422376
4242,Diogo Dalot Teixeira,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,DEF,49.0,4.414581
4278,Diogo Teixeira da Silva,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,MID,80.0,4.379519
16120,Yoane Wissa,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,FWD,61.0,4.349289
4602,Eddie Nketiah,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,FWD,56.0,4.344356
9375,Kristoffer Ajer,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,DEF,45.0,4.314525
8874,Kaoru Mitoma,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,MID,66.0,4.288758
9517,Leandro Trossard,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,MID,68.0,4.275975
2661,Bukayo Saka,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,MID,86.0,4.253637
901,Adam Webster,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,DEF,44.0,4.229275
7872,Joel Matip,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,DEF,50.0,4.194202
10918,Mason Mount,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,MID,69.0,4.182337
5894,Guglielmo Vicario,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,GK,50.0,4.170000
6613,Jack Grealish,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,MID,74.0,4.160872
5714,Gabriel dos Santos Magalhães,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,DEF,49.0,4.153427
12388,Oleksandr Zinchenko,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,DEF,49.0,4.140273
14826,Thiago Emiliano da Silva,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,DEF,50.0,4.078951
5176,Ethan Pinnock,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,DEF,45.0,4.071866
15293,Trent Alexander-Arnold,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,DEF,80.0,4.046701
3486,Conor Gallagher,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,MID,55.0,4.041281
10954,Mateo Kovačić,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,MID,50.0,4.040046
15581,Virgil van Dijk,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,DEF,60.0,4.039431
3846,Danny Welbeck,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,FWD,59.0,4.013743
4709,Emerson Leite de Souza Junior,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,DEF,45.0,3.927167
4386,Dominic Solanke,3.0,2023-24,Bournemouth,Tottenham,1.0,1660.140991,1829.086060,FWD,65.0,3.898077
12927,Philippe Coutinho Correia,3.0,2023-24,Aston Villa,Burnley,0.0,1825.121338,1722.802979,MID,60.0,3.844320
13572,Rodrigo Hernandez,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,MID,56.0,3.840752
1513,André Onana,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,GK,50.0,3.835000
8660,Julián Álvarez,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,FWD,66.0,3.819548
9769,Lisandro Martínez,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,DEF,49.0,3.813775
11275,Max Kilman,3.0,2023-24,Wolves,Everton,0.0,1704.387207,1691.314331,DEF,45.0,3.809763

In [30]:
preds[(preds["FPL_pos"] == "GK") & (preds["GW"] == 3)].head(30)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
5894,Guglielmo Vicario,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,GK,50.0,4.170000
1513,André Onana,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,GK,50.0,3.835000
1153,Alisson Ramses Becker,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1946.371704,1884.362427,GK,55.0,3.169718
12172,Nick Pope,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1884.362427,1946.371704,GK,55.0,2.765753
8446,José Malheiro de Sá,3.0,2023-24,Wolves,Everton,0.0,1704.387207,1691.314331,GK,50.0,2.680132
685,Aaron Ramsdale,3.0,2023-24,Arsenal,Fulham,1.0,1926.882202,1732.479858,GK,50.0,2.630811
4925,Emiliano Martínez Romero,3.0,2023-24,Aston Villa,Burnley,0.0,1825.121338,1722.802979,GK,50.0,2.623846
4638,Ederson Santana de Moraes,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,GK,55.0,2.606667
12280,Norberto Murara Neto,3.0,2023-24,Bournemouth,Tottenham,1.0,1660.140991,1829.086060,GK,45.0,2.348438
8267,Jordan Pickford,3.0,2023-24,Everton,Wolves,1.0,1691.314331,1704.387207,GK,45.0,2.336806
15796,Wes Foderingham,3.0,2023-24,Sheffield United,Manchester City,1.0,1631.614380,2083.552734,GK,45.0,1.825000
2266,Bernd Leno,3.0,2023-24,Fulham,Arsenal,0.0,1732.479858,1926.882202,GK,45.0,1.716479
13464,Robert Sánchez,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,GK,45.0,1.490000
13822,Sam Johnstone,3.0,2023-24,Crystal Palace,Brentford,0.0,1758.575684,1835.432983,GK,45.0,1.071250
7332,Jason Steele,3.0,2023-24,Brighton,West Ham,1.0,1843.608276,1787.674805,GK,45.0,0.829710
1225,Alphonse Areola,3.0,2023-24,West Ham,Brighton,0.0,1787.674805,1843.608276,GK,40.0,0.351918
11203,Matt Turner,3.0,2023-24,Nott'ham Forest,Manchester Utd,0.0,1677.728027,1865.608521,GK,40.0,0.218718
9841,Loris Karius,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1884.362427,1946.371704,GK,40.0,0.000000
10021,Lukasz Fabianski,3.0,2023-24,West Ham,Brighton,0.0,1787.674805,1843.608276,GK,45.0,0.000000
10486,Marcus Bettinelli,3.0,2023-24,Chelsea,Luton,1.0,1780.894531,1602.327515,GK,40.0,0.000000
14970,Thomas Strakosha,3.0,2023-24,Brentford,Crystal Palace,1.0,1835.432983,1758.575684,GK,40.0,0.000000
1837,Arijanet Muric,3.0,2023-24,Burnley,Aston Villa,1.0,1722.802979,1825.121338,GK,45.0,0.000000
2446,Brandon Austin,3.0,2023-24,Tottenham,Bournemouth,0.0,1829.086060,1660.140991,GK,40.0,0.000000
10630,Marek Rodák,3.0,2023-24,Fulham,Arsenal,0.0,1732.479858,1926.882202,GK,40.0,0.000000
16227,Zack Steffen,3.0,2023-24,Manchester City,Sheffield United,0.0,2083.552734,1631.614380,GK,40.0,0.000000
15509,Vicente Guaita,3.0,2023-24,Crystal Palace,Brentford,0.0,1758.575684,1835.432983,GK,45.0,0.000000
793,Adam Davies,3.0,2023-24,Sheffield United,Manchester City,1.0,1631.614380,2083.552734,GK,40.0,0.000000
15760,Wayne Hennessey,3.0,2023-24,Nott'ham Forest,Manchester Utd,0.0,1677.728027,1865.608521,GK,40.0,0.000000
15113,Tom Heaton,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1865.608521,1677.728027,GK,40.0,0.000000
1549,Andy Lonergan,3.0,2023-24,Everton,Wolves,1.0,1691.314331,1704.387207,GK,40.0,0.000000

In [31]:
# all preds
preds.head(20)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
5070,Erling Haaland,4.0,2023-24,Manchester City,Fulham,1.0,2083.552734,1732.479858,FWD,140.0,6.543320
5098,Erling Haaland,33.0,2023-24,Manchester City,Luton,1.0,2083.552734,1602.327515,FWD,140.0,6.543320
5087,Erling Haaland,22.0,2023-24,Manchester City,Burnley,1.0,2083.552734,1722.802979,FWD,140.0,6.543320
5083,Erling Haaland,17.0,2023-24,Manchester City,Crystal Palace,1.0,2083.552734,1758.575684,FWD,140.0,6.543320
5089,Erling Haaland,24.0,2023-24,Manchester City,Everton,1.0,2083.552734,1691.314331,FWD,140.0,6.543320
5080,Erling Haaland,14.0,2023-24,Manchester City,Tottenham,1.0,2083.552734,1829.086060,FWD,140.0,6.543320
5079,Erling Haaland,13.0,2023-24,Manchester City,Liverpool,1.0,2083.552734,1946.371704,FWD,140.0,6.543320
5090,Erling Haaland,25.0,2023-24,Manchester City,Chelsea,1.0,2083.552734,1780.894531,FWD,140.0,6.543320
5077,Erling Haaland,11.0,2023-24,Manchester City,Bournemouth,1.0,2083.552734,1660.140991,FWD,140.0,6.543320
5092,Erling Haaland,27.0,2023-24,Manchester City,Manchester Utd,1.0,2083.552734,1865.608521,FWD,140.0,6.543320
5075,Erling Haaland,9.0,2023-24,Manchester City,Brighton,1.0,2083.552734,1843.608276,FWD,140.0,6.543320
5095,Erling Haaland,30.0,2023-24,Manchester City,Arsenal,1.0,2083.552734,1926.882202,FWD,140.0,6.543320
5096,Erling Haaland,31.0,2023-24,Manchester City,Aston Villa,1.0,2083.552734,1825.121338,FWD,140.0,6.543320
5072,Erling Haaland,6.0,2023-24,Manchester City,Nott'ham Forest,1.0,2083.552734,1677.728027,FWD,140.0,6.543320
5085,Erling Haaland,20.0,2023-24,Manchester City,Sheffield United,1.0,2083.552734,1631.614380,FWD,140.0,6.543320
5101,Erling Haaland,36.0,2023-24,Manchester City,Wolves,1.0,2083.552734,1704.387207,FWD,140.0,6.543320
5103,Erling Haaland,38.0,2023-24,Manchester City,West Ham,1.0,2083.552734,1787.674805,FWD,140.0,6.543320
9287,Kieran Trippier,23.0,2023-24,Newcastle Utd,Luton,1.0,1884.362427,1602.327515,DEF,65.0,6.542326
9289,Kieran Trippier,25.0,2023-24,Newcastle Utd,Bournemouth,1.0,1884.362427,1660.140991,DEF,65.0,6.542326
9297,Kieran Trippier,33.0,2023-24,Newcastle Utd,Tottenham,1.0,1884.362427,1829.086060,DEF,65.0,6.542326

In [32]:
preds[preds["FPL_pos"] == "GK"].head(20)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
5906,Guglielmo Vicario,15.0,2023-24,Tottenham,West Ham,1.0,1829.086060,1787.674805,GK,50.0,4.17
5916,Guglielmo Vicario,25.0,2023-24,Tottenham,Wolves,1.0,1829.086060,1704.387207,GK,50.0,4.17
5922,Guglielmo Vicario,31.0,2023-24,Tottenham,West Ham,0.0,1829.086060,1787.674805,GK,50.0,4.17
5923,Guglielmo Vicario,32.0,2023-24,Tottenham,Nott'ham Forest,1.0,1829.086060,1677.728027,GK,50.0,4.17
5895,Guglielmo Vicario,4.0,2023-24,Tottenham,Burnley,0.0,1829.086060,1722.802979,GK,50.0,4.17
5924,Guglielmo Vicario,33.0,2023-24,Tottenham,Newcastle Utd,0.0,1829.086060,1884.362427,GK,50.0,4.17
5918,Guglielmo Vicario,27.0,2023-24,Tottenham,Crystal Palace,1.0,1829.086060,1758.575684,GK,50.0,4.17
199,Guglielmo Vicario,2.0,2023-24,Tottenham,Manchester Utd,1.0,1817.656738,1877.037842,GK,5.0,4.17
5904,Guglielmo Vicario,13.0,2023-24,Tottenham,Aston Villa,1.0,1829.086060,1825.121338,GK,50.0,4.17
5905,Guglielmo Vicario,14.0,2023-24,Tottenham,Manchester City,0.0,1829.086060,2083.552734,GK,50.0,4.17
5896,Guglielmo Vicario,5.0,2023-24,Tottenham,Sheffield United,1.0,1829.086060,1631.614380,GK,50.0,4.17
5902,Guglielmo Vicario,11.0,2023-24,Tottenham,Chelsea,1.0,1829.086060,1780.894531,GK,50.0,4.17
5897,Guglielmo Vicario,6.0,2023-24,Tottenham,Arsenal,0.0,1829.086060,1926.882202,GK,50.0,4.17
5901,Guglielmo Vicario,10.0,2023-24,Tottenham,Crystal Palace,0.0,1829.086060,1758.575684,GK,50.0,4.17
5899,Guglielmo Vicario,8.0,2023-24,Tottenham,Luton,0.0,1829.086060,1602.327515,GK,50.0,4.17
5917,Guglielmo Vicario,26.0,2023-24,Tottenham,Chelsea,0.0,1829.086060,1780.894531,GK,50.0,4.17
5900,Guglielmo Vicario,9.0,2023-24,Tottenham,Fulham,1.0,1829.086060,1732.479858,GK,50.0,4.17
5898,Guglielmo Vicario,7.0,2023-24,Tottenham,Liverpool,1.0,1829.086060,1946.371704,GK,50.0,4.17
5921,Guglielmo Vicario,30.0,2023-24,Tottenham,Luton,1.0,1829.086060,1602.327515,GK,50.0,4.17
5907,Guglielmo Vicario,16.0,2023-24,Tottenham,Newcastle Utd,1.0,1829.086060,1884.362427,GK,50.0,4.17

In [33]:
# points all season
pd.DataFrame(preds.groupby(["Name_original"])["Pred"].sum().sort_values(ascending=False)).head(30)

                                Pred
Name_original
Erling Haaland            230.200861
Mohamed Salah             220.529502
Kieran Trippier           210.287882
William Saliba            192.358148
Solly March               182.038009
Andrew Robertson          181.800808
Trent Alexander-Arnold    176.985679
Martin Ødegaard           172.953859
Harvey Barnes             172.363039
Gabriel Martinelli Silva  171.002771
Rico Henry                169.945593
Alexander Isak            166.930530
Diogo Teixeira da Silva   166.919739
Virgil van Dijk           163.248085
Aaron Wan-Bissaka         163.144556
Phil Foden                162.959918
Jarrod Bowen              160.385911
Bruno Borges Fernandes    160.101126
Jack Grealish             159.674011
Miguel Almirón Rejala     158.691274
Bryan Mbeumo              158.588723
Guglielmo Vicario         158.460000
Tomáš Souček              157.903674
Luis Díaz                 157.869920
Julián Álvarez            155.270048
Rodrigo Hernandez         154.736233
Dan Burn                  153.258010
Fabian Schär              153.072355
Benjamin White            152.933817
Joel Matip                152.610479

# Saving to file

In [34]:
preds.to_csv("predictions/preds_next_season.csv", index=False)