# Imports & setup

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
import pickle
from xgboost import XGBRegressor
# from

In [3]:
features = ['Was_home',
 'Rating_difference',
 'Min_2',
 'Gls_2',
 'Ast_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'FPL_points_2',
 'Min_4',
 'Gls_4',
 'Ast_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'FPL_points_4',
 'Min_30',
 'Gls_30',
 'Ast_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'FPL_points_30',
 'DEF',
 'FWD',
 'MID']

info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "FPL_pos", "Price"]
to_predict = ["FPL_points"]

In [4]:
len(features)

35

# Reading from files

In [5]:
df = pd.read_csv("data/upcoming/upcoming_fixtures.csv")
CURRENT_SEASON = "2023-24"

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (2,3,6,8,36,43,44,45,59,84,86,147,208) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.shape

(35069, 274)

In [7]:
# df = df[df["GW"] == 2]

In [8]:
# X_test = df[df["Season"] == CURRENT_SEASON][features]
df = df[df["Season"] == CURRENT_SEASON]
# .reset_index(drop=True)

In [9]:
df = df[~df[features].isnull().any(axis=1)] # for some reason 45 rows are missing some feature values

In [10]:
X_test = df.copy()

In [11]:
df.columns

Index(['Unnamed: 0', 'Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name',
       'Start', 'Pos', 'Min',
       ...
       'FPL_xGC_30', 'Opp_rating_30', 'Team_rating_30', 'Min_points_30',
       'Team_result_30', 'DEF', 'FWD', 'MID', 'Finished', 'Price'],
      dtype='object', length=274)

In [12]:
file = open("models/GBR_positional.pkl",'rb')
model = pickle.load(file)

In [13]:
model

In [14]:
model.predict( X_test.head(5) )

array([1.67834057, 3.40840053, 1.98173323, 3.16878682, 0.97011185])

In [15]:
model.predict( X_test.head(3) )

array([1.67834057, 3.40840053, 1.98173323])

In [16]:
model.predict( X_test.head(4) )

array([1.67834057, 3.40840053, 1.98173323, 3.16878682])

In [17]:
X_test.head(5)

,Unnamed: 0,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,...,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,MID,Finished,Price
104,104,2023-08-13,Sun,Home,Brentford,Tottenham,Aaron-Hickey,1.0,RB,71.0,...,NaN,1773.661787,1765.611930,NaN,1.428571,1.0,0.0,0.0,True,NaN
179,179,2023-08-12,Sat,Home,Arsenal,Nott'ham Forest,Aaron-Ramsdale,1.0,GK,90.0,...,NaN,1780.652547,1925.740377,NaN,2.100000,0.0,0.0,0.0,True,NaN
236,236,2023-08-14,Mon,Home,Manchester Utd,Wolves,Aaron-Wan-Bissaka,1.0,RB,90.0,...,NaN,1772.822026,1853.665963,NaN,1.900000,1.0,0.0,0.0,True,NaN
297,297,2023-08-12,Sat,Home,Everton,Fulham,Abdoulaye-Doucoure,1.0,FW,90.0,...,NaN,1795.218856,1690.322591,NaN,1.033333,0.0,0.0,1.0,True,NaN
298,298,2023-08-12,Sat,Home,Sheffield Utd,Crystal Palace,Adam-Davies,0.0,0,0.0,...,NaN,1709.373291,1720.883423,NaN,3.000000,0.0,0.0,0.0,True,NaN

In [18]:
X_test.head(3)

,Unnamed: 0,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,...,FPL_xGC_30,Opp_rating_30,Team_rating_30,Min_points_30,Team_result_30,DEF,FWD,MID,Finished,Price
104,104,2023-08-13,Sun,Home,Brentford,Tottenham,Aaron-Hickey,1.0,RB,71.0,...,NaN,1773.661787,1765.611930,NaN,1.428571,1.0,0.0,0.0,True,NaN
179,179,2023-08-12,Sat,Home,Arsenal,Nott'ham Forest,Aaron-Ramsdale,1.0,GK,90.0,...,NaN,1780.652547,1925.740377,NaN,2.100000,0.0,0.0,0.0,True,NaN
236,236,2023-08-14,Mon,Home,Manchester Utd,Wolves,Aaron-Wan-Bissaka,1.0,RB,90.0,...,NaN,1772.822026,1853.665963,NaN,1.900000,1.0,0.0,0.0,True,NaN

In [19]:
X_test.head(3)[features]

,Was_home,Rating_difference,Min_2,Gls_2,Ast_2,xG_2,xA_2,Team_CS_2,Team_score_2,Opp_score_2,...,xG_30,xA_30,Team_CS_30,Team_score_30,Opp_score_30,Team_result_30,FPL_points_30,DEF,FWD,MID
104,1.0,1.004657,78.5,0.0,0.5,0.00,0.05,0.5,2.0,0.5,...,0.007143,0.010714,0.285714,1.500000,1.250000,1.428571,2.107143,1.0,0.0,0.0
179,1.0,1.146602,90.0,0.0,0.0,0.00,0.00,0.5,2.5,0.5,...,0.000000,0.000000,0.366667,2.266667,1.166667,2.100000,3.800000,0.0,0.0,0.0
236,1.0,1.089930,45.0,0.0,0.0,0.05,0.00,0.0,3.0,1.0,...,0.043333,0.030000,0.433333,1.466667,1.300000,1.900000,2.241379,1.0,0.0,0.0

# Predicting

In [20]:
def adjust_for_injuries(df):
    active_players = pd.read_csv("data/misc/active_players.csv")
    injured_players = active_players[active_players["chance_of_playing_this_round"] == 0]["name"].to_list()
    df.loc[df["Name_original"].isin(injured_players),"Pred"] = 0
    return df

In [21]:
def get_predictions(model, df, X):
    # make predictions on the test data and glues them to the rest of the dataframe
    predictions = model.predict(X)
    
    df_predictions = df[(df["Season"] == CURRENT_SEASON)].reset_index(drop=True)
        
    print(len(predictions), df_predictions.shape)
        
    df_predictions.loc[:, "Pred"] = predictions
    preds = df_predictions[info + ["Pred"]]
    
    preds = adjust_for_injuries(preds).sort_values(by=["Pred"], ascending = False)
    
    return preds

In [22]:
X_test[features].isna()

,Was_home,Rating_difference,Min_2,Gls_2,Ast_2,xG_2,xA_2,Team_CS_2,Team_score_2,Opp_score_2,...,xG_30,xA_30,Team_CS_30,Team_score_30,Opp_score_30,Team_result_30,FPL_points_30,DEF,FWD,MID
104,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
179,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
236,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
297,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
298,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35064,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35065,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35066,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35067,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35068,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
# X_test.shape,  model.predict(X_test).shape

In [24]:
%%time
preds = get_predictions(model, df, X_test)

15936 (15936, 274)
CPU times: total: 8min 13s
Wall time: 1min 23s

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [25]:
# preds[(preds["FPL_pos"] == "GK") & (preds["GW"] == 2)].head(30)

In [26]:
# next gameweek
preds[preds["GW"] == 3].head(50)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
1223,André Onana,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1877.037842,1671.868774,GK,50.0,7.268619
4779,Erling Haaland,3.0,2023-24,Manchester City,Sheffield United,0.0,2080.850586,1637.473755,FWD,140.0,6.139234
2371,Bukayo Saka,3.0,2023-24,Arsenal,Fulham,1.0,1921.462769,1745.365723,MID,86.0,5.558512
5388,Gabriel Martinelli Silva,3.0,2023-24,Arsenal,Fulham,1.0,1921.462769,1745.365723,MID,80.0,5.410374
11344,Mohamed Salah,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,MID,125.0,5.268233
3808,Dejan Kulusevski,3.0,2023-24,Tottenham,Bournemouth,0.0,1817.656738,1662.536621,MID,70.0,5.152971
9227,Leandro Trossard,3.0,2023-24,Arsenal,Fulham,1.0,1921.462769,1745.365723,MID,69.0,5.038648
8977,Kieran Trippier,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1887.064819,1943.976074,DEF,65.0,5.015661
13640,Sandro Tonali,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1887.064819,1943.976074,MID,55.0,5.008723
2443,Callum Wilson,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1887.064819,1943.976074,FWD,80.0,4.918342
14176,Solly March,3.0,2023-24,Brighton,West Ham,1.0,1832.364258,1777.551270,MID,66.0,4.701827
3556,Danny Welbeck,3.0,2023-24,Brighton,West Ham,1.0,1832.364258,1777.551270,FWD,59.0,4.629042
3053,Cody Gakpo,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,FWD,75.0,4.585844
9695,Luis Díaz,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,MID,76.0,4.551707
14895,Tomáš Souček,3.0,2023-24,West Ham,Brighton,0.0,1777.551270,1832.364258,MID,50.0,4.511474
15003,Trent Alexander-Arnold,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,DEF,80.0,4.481487
8584,Kaoru Mitoma,3.0,2023-24,Brighton,West Ham,1.0,1832.364258,1777.551270,MID,66.0,4.432237
12566,Phil Foden,3.0,2023-24,Manchester City,Sheffield United,0.0,2080.850586,1637.473755,MID,75.0,4.404851
10520,Martin Ødegaard,3.0,2023-24,Arsenal,Fulham,1.0,1921.462769,1745.365723,MID,85.0,4.243089
2264,Bruno Borges Fernandes,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1877.037842,1671.868774,MID,85.0,4.233956
7582,Joel Matip,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,DEF,50.0,4.203410
8156,José Malheiro de Sá,3.0,2023-24,Wolves,Everton,0.0,1715.631348,1699.505859,GK,50.0,4.169840
3664,David Raya Martin,3.0,2023-24,Arsenal,Fulham,1.0,1921.462769,1745.365723,GK,49.0,4.167998
3988,Diogo Teixeira da Silva,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,MID,80.0,4.137051
1187,Andrew Robertson,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,DEF,65.0,4.083442
12709,Raheem Sterling,3.0,2023-24,Chelsea,Luton,1.0,1791.018188,1602.327637,MID,70.0,4.061666
8263,Joël Veltman,3.0,2023-24,Brighton,West Ham,1.0,1832.364258,1777.551270,DEF,45.0,3.970091
863,Alisson Ramses Becker,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,GK,55.0,3.888175
12637,Philippe Coutinho Correia,3.0,2023-24,Aston Villa,Burnley,0.0,1816.929932,1722.802979,MID,60.0,3.864102
12206,Ollie Watkins,3.0,2023-24,Aston Villa,Burnley,0.0,1816.929932,1722.802979,FWD,80.0,3.818266
14536,Thiago Emiliano da Silva,3.0,2023-24,Chelsea,Luton,1.0,1791.018188,1602.327637,DEF,50.0,3.806692
15219,Vicente Guaita,3.0,2023-24,Crystal Palace,Brentford,0.0,1763.994995,1822.547119,GK,45.0,3.804303
10268,Marcus Rashford,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1877.037842,1671.868774,MID,90.0,3.803263
10985,Max Kilman,3.0,2023-24,Wolves,Everton,0.0,1715.631348,1699.505859,DEF,45.0,3.784957
8370,Julián Álvarez,3.0,2023-24,Manchester City,Sheffield United,0.0,2080.850586,1637.473755,FWD,65.0,3.745356
14212,Son Heung-min,3.0,2023-24,Tottenham,Bournemouth,0.0,1817.656738,1662.536621,MID,90.0,3.690007
5424,Gabriel dos Santos Magalhães,3.0,2023-24,Arsenal,Fulham,1.0,1921.462769,1745.365723,DEF,50.0,3.657004
2982,Christian Eriksen,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1877.037842,1671.868774,MID,60.0,3.654469
12745,Raphaël Varane,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1877.037842,1671.868774,DEF,50.0,3.652880
12026,Nélson Cabral Semedo,3.0,2023-24,Wolves,Everton,0.0,1715.631348,1699.505859,DEF,45.0,3.628403
1619,Aymeric Laporte,3.0,2023-24,Manchester City,Sheffield United,0.0,2080.850586,1637.473755,DEF,49.0,3.613201
4312,Eddie Nketiah,3.0,2023-24,Arsenal,Fulham,1.0,1921.462769,1745.365723,FWD,55.0,3.589351
15470,Wes Foderingham,3.0,2023-24,Sheffield United,Manchester City,1.0,1637.473755,2080.850586,GK,45.0,3.585364
7006,Jarrod Bowen,3.0,2023-24,West Ham,Brighton,0.0,1777.551270,1832.364258,MID,70.0,3.582590
2336,Bryan Mbeumo,3.0,2023-24,Brentford,Crystal Palace,1.0,1822.547119,1763.994995,MID,66.0,3.581675
1798,Ben Mee,3.0,2023-24,Brentford,Crystal Palace,1.0,1822.547119,1763.994995,DEF,50.0,3.572885
11201,Miguel Almirón Rejala,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1887.064819,1943.976074,MID,65.0,3.556665
12997,Richarlison de Andrade,3.0,2023-24,Tottenham,Bournemouth,0.0,1817.656738,1662.536621,MID,70.0,3.554664
15291,Virgil van Dijk,3.0,2023-24,Liverpool,Newcastle Utd,0.0,1943.976074,1887.064819,DEF,60.0,3.535721
11882,Nick Pope,3.0,2023-24,Newcastle Utd,Liverpool,1.0,1887.064819,1943.976074,GK,55.0,3.514251

In [27]:
# all preds
preds.head(20)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
1236,André Onana,16.0,2023-24,Manchester Utd,Bournemouth,1.0,1877.037842,1662.536621,GK,50.0,7.268619
1223,André Onana,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1877.037842,1671.868774,GK,50.0,7.268619
1227,André Onana,7.0,2023-24,Manchester Utd,Crystal Palace,1.0,1877.037842,1763.994995,GK,50.0,7.268619
1228,André Onana,8.0,2023-24,Manchester Utd,Brentford,1.0,1877.037842,1822.547119,GK,50.0,7.268619
1239,André Onana,19.0,2023-24,Manchester Utd,Aston Villa,1.0,1877.037842,1816.929932,GK,50.0,7.268619
1241,André Onana,21.0,2023-24,Manchester Utd,Tottenham,1.0,1877.037842,1817.656738,GK,50.0,7.268619
1225,André Onana,5.0,2023-24,Manchester Utd,Brighton,1.0,1877.037842,1832.364258,GK,50.0,7.268619
1255,André Onana,35.0,2023-24,Manchester Utd,Burnley,1.0,1877.037842,1722.802979,GK,50.0,7.268619
1232,André Onana,12.0,2023-24,Manchester Utd,Luton,1.0,1877.037842,1602.327637,GK,50.0,7.268619
1243,André Onana,23.0,2023-24,Manchester Utd,West Ham,1.0,1877.037842,1777.551270,GK,50.0,7.268619
1246,André Onana,26.0,2023-24,Manchester Utd,Fulham,1.0,1877.037842,1745.365723,GK,50.0,7.268619
1248,André Onana,28.0,2023-24,Manchester Utd,Everton,1.0,1877.037842,1699.505859,GK,50.0,7.268619
1249,André Onana,29.0,2023-24,Manchester Utd,Sheffield United,1.0,1877.037842,1637.473755,GK,50.0,7.268619
1235,André Onana,15.0,2023-24,Manchester Utd,Chelsea,1.0,1877.037842,1791.018188,GK,50.0,7.268619
1245,André Onana,25.0,2023-24,Manchester Utd,Luton,0.0,1877.037842,1602.327637,GK,50.0,7.254727
1244,André Onana,24.0,2023-24,Manchester Utd,Aston Villa,0.0,1877.037842,1816.929932,GK,50.0,7.254727
1238,André Onana,18.0,2023-24,Manchester Utd,West Ham,0.0,1877.037842,1777.551270,GK,50.0,7.254727
1242,André Onana,22.0,2023-24,Manchester Utd,Wolves,0.0,1877.037842,1715.631348,GK,50.0,7.254727
1226,André Onana,6.0,2023-24,Manchester Utd,Burnley,0.0,1877.037842,1722.802979,GK,50.0,7.254727
1256,André Onana,36.0,2023-24,Manchester Utd,Crystal Palace,0.0,1877.037842,1763.994995,GK,50.0,7.254727

In [28]:
preds[preds["FPL_pos"] == "GK"].head(20)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,Price,Pred
1236,André Onana,16.0,2023-24,Manchester Utd,Bournemouth,1.0,1877.037842,1662.536621,GK,50.0,7.268619
1223,André Onana,3.0,2023-24,Manchester Utd,Nott'ham Forest,1.0,1877.037842,1671.868774,GK,50.0,7.268619
1227,André Onana,7.0,2023-24,Manchester Utd,Crystal Palace,1.0,1877.037842,1763.994995,GK,50.0,7.268619
1228,André Onana,8.0,2023-24,Manchester Utd,Brentford,1.0,1877.037842,1822.547119,GK,50.0,7.268619
1239,André Onana,19.0,2023-24,Manchester Utd,Aston Villa,1.0,1877.037842,1816.929932,GK,50.0,7.268619
1241,André Onana,21.0,2023-24,Manchester Utd,Tottenham,1.0,1877.037842,1817.656738,GK,50.0,7.268619
1225,André Onana,5.0,2023-24,Manchester Utd,Brighton,1.0,1877.037842,1832.364258,GK,50.0,7.268619
1255,André Onana,35.0,2023-24,Manchester Utd,Burnley,1.0,1877.037842,1722.802979,GK,50.0,7.268619
1232,André Onana,12.0,2023-24,Manchester Utd,Luton,1.0,1877.037842,1602.327637,GK,50.0,7.268619
1243,André Onana,23.0,2023-24,Manchester Utd,West Ham,1.0,1877.037842,1777.551270,GK,50.0,7.268619
1246,André Onana,26.0,2023-24,Manchester Utd,Fulham,1.0,1877.037842,1745.365723,GK,50.0,7.268619
1248,André Onana,28.0,2023-24,Manchester Utd,Everton,1.0,1877.037842,1699.505859,GK,50.0,7.268619
1249,André Onana,29.0,2023-24,Manchester Utd,Sheffield United,1.0,1877.037842,1637.473755,GK,50.0,7.268619
1235,André Onana,15.0,2023-24,Manchester Utd,Chelsea,1.0,1877.037842,1791.018188,GK,50.0,7.268619
1245,André Onana,25.0,2023-24,Manchester Utd,Luton,0.0,1877.037842,1602.327637,GK,50.0,7.254727
1244,André Onana,24.0,2023-24,Manchester Utd,Aston Villa,0.0,1877.037842,1816.929932,GK,50.0,7.254727
1238,André Onana,18.0,2023-24,Manchester Utd,West Ham,0.0,1877.037842,1777.551270,GK,50.0,7.254727
1242,André Onana,22.0,2023-24,Manchester Utd,Wolves,0.0,1877.037842,1715.631348,GK,50.0,7.254727
1226,André Onana,6.0,2023-24,Manchester Utd,Burnley,0.0,1877.037842,1722.802979,GK,50.0,7.254727
1256,André Onana,36.0,2023-24,Manchester Utd,Crystal Palace,0.0,1877.037842,1763.994995,GK,50.0,7.254727

In [29]:
# points all season
pd.DataFrame(preds.groupby(["Name_original"])["Pred"].sum().sort_values(ascending=False)).head(30)

                                       Pred
Name_original
André Onana                      265.736274
Erling Haaland                   228.947235
Callum Wilson                    219.620618
Sandro Tonali                    212.580018
Mohamed Salah                    211.450227
Tomáš Souček                     196.361930
Bukayo Saka                      190.450016
Gabriel Martinelli Silva         185.811847
Leandro Trossard                 174.508859
Trent Alexander-Arnold           171.219032
Alexander Isak                   169.741087
Cody Gakpo                       168.531137
Kieran Trippier                  167.778951
Luis Díaz                        167.699528
Dejan Kulusevski                 162.083893
Jarrod Bowen                     159.806493
Phil Foden                       157.799478
Diogo Teixeira da Silva          157.797081
Andrew Robertson                 152.452652
Solly March                      151.334362
Bruno Guimarães Rodriguez Moura  151.229500
Martin Ødegaard                  150.947860
Kaoru Mitoma                     150.108214
David Raya Martin                149.325133
Joel Matip                       148.627081
Danny Welbeck                    146.725616
Miguel Almirón Rejala            145.637187
Alisson Ramses Becker            144.175428
Bruno Borges Fernandes           143.617261
Nick Pope                        140.079116

# Saving to file

In [30]:
preds.to_csv("predictions/preds_next_season.csv", index=False)