In [1]:

from understat import *
import getters as g
from mergers import *
from cleaners import *
from data_prep import *
from global_merger import *

from next_gameweek import *
import pandas as pd

In [2]:
# dataset = merged_understat_and_fpl([], True)
dataset = load_dataset()

In [3]:
data_2022 = dataset[dataset['season'] == 2022]
dataset

,Unnamed: 0.1,Unnamed: 0,season,name,position_fpl,team,assists_fpl,bonus,bps,clean_sheets,...,bps_avg5,clean_sheets_avg5,goals_conceded_avg5,shots_avg5,xGBuildup_avg5,xGChain_avg5,yellow_cards_avg5,red_cards_avg5,was_played,next_gw
0,0,51,2016,Demarai Gray,MID,NaN,1,0,16,0,...,14.6,0.2,0.6,1.2,0.115427,0.307638,0.0,0.0,1,0
1,0,26,2016,Ben Mee,DEF,NaN,0,0,15,0,...,15.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.0,1,0
2,0,55,2016,Eric Dier,DEF,NaN,0,0,8,0,...,20.6,0.4,0.6,0.6,0.377599,0.377599,0.0,0.0,1,0
3,0,85,2016,James Ward-Prowse,MID,NaN,0,0,8,0,...,8.0,0.0,1.0,1.0,0.091547,0.091547,0.0,0.0,1,0
4,0,183,2016,Virgil van Dijk,DEF,NaN,0,0,14,0,...,14.0,0.0,1.0,1.0,0.019804,0.019804,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8532,446,102018,2022,Virgil van Dijk,DEF,Liverpool,0,0,16,0,...,25.2,0.8,0.2,1.0,0.344793,0.349980,0.0,0.0,1,0
8533,664,101775,2022,Wilfried Zaha,MID,Crystal Palace,0,0,13,0,...,11.2,0.0,1.4,2.6,0.058031,0.386178,0.2,0.0,1,0
8534,751,101710,2022,Mohamed Salah,MID,Liverpool,0,0,5,0,...,14.4,0.8,0.2,4.0,0.340441,0.811047,0.0,0.0,1,0
8535,725,101708,2022,Trent Alexander-Arnold,DEF,Liverpool,0,1,24,0,...,29.6,0.8,0.2,1.8,0.334504,0.792085,0.2,0.0,1,0
8536,43,102075,2022,Luis DÃ­az,MID,Liverpool,0,3,31,0,...,20.2,0.4,0.4,3.8,0.292270,0.697446,0.2,0.0,1,0

In [4]:
data_2022[data_2022['team'] == 'Liverpool']

,Unnamed: 0.1,Unnamed: 0,season,name,position_fpl,team,assists_fpl,bonus,bps,clean_sheets,...,bps_avg5,clean_sheets_avg5,goals_conceded_avg5,shots_avg5,xGBuildup_avg5,xGChain_avg5,yellow_cards_avg5,red_cards_avg5,was_played,next_gw
8443,75,101495,2022,Luis DÃ­az,MID,Liverpool,0,0,1,0,...,16.0,0.2,0.8,1.6,0.221166,0.480167,0.2,0.0,1,0
8444,60,101274,2022,Harvey Elliott,MID,Liverpool,0,0,3,0,...,10.4,0.2,0.6,1.8,0.341931,0.532930,0.0,0.0,1,0
8446,587,101169,2022,Roberto Firmino,FWD,Liverpool,0,0,4,0,...,9.8,0.2,0.6,1.4,0.139263,0.381118,0.4,0.0,1,0
8447,684,101132,2022,Trent Alexander-Arnold,DEF,Liverpool,0,0,13,0,...,19.0,0.6,0.6,0.8,0.247432,0.274779,0.0,0.0,1,0
8448,745,101134,2022,Mohamed Salah,MID,Liverpool,1,2,34,0,...,13.2,0.4,0.4,2.8,0.150726,0.463684,0.0,0.0,1,0
8449,438,101439,2022,Virgil van Dijk,DEF,Liverpool,0,0,12,0,...,23.0,0.6,0.6,0.4,0.218396,0.223641,0.0,0.0,1,0
8530,64,101851,2022,Harvey Elliott,MID,Liverpool,0,2,25,0,...,11.2,0.2,0.4,1.4,0.579067,0.787726,0.0,0.0,1,0
8532,446,102018,2022,Virgil van Dijk,DEF,Liverpool,0,0,16,0,...,25.2,0.8,0.2,1.0,0.344793,0.349980,0.0,0.0,1,0
8534,751,101710,2022,Mohamed Salah,MID,Liverpool,0,0,5,0,...,14.4,0.8,0.2,4.0,0.340441,0.811047,0.0,0.0,1,0
8535,725,101708,2022,Trent Alexander-Arnold,DEF,Liverpool,0,1,24,0,...,29.6,0.8,0.2,1.8,0.334504,0.792085,0.2,0.0,1,0
8536,43,102075,2022,Luis DÃ­az,MID,Liverpool,0,3,31,0,...,20.2,0.4,0.4,3.8,0.292270,0.697446,0.2,0.0,1,0

In [5]:
data_2022[data_2022['name'] == 'Mohamed Salah']

,Unnamed: 0.1,Unnamed: 0,season,name,position_fpl,team,assists_fpl,bonus,bps,clean_sheets,...,bps_avg5,clean_sheets_avg5,goals_conceded_avg5,shots_avg5,xGBuildup_avg5,xGChain_avg5,yellow_cards_avg5,red_cards_avg5,was_played,next_gw
8448,745,101134,2022,Mohamed Salah,MID,Liverpool,1,2,34,0,...,13.2,0.4,0.4,2.8,0.150726,0.463684,0.0,0.0,1,0
8534,751,101710,2022,Mohamed Salah,MID,Liverpool,0,0,5,0,...,14.4,0.8,0.2,4.0,0.340441,0.811047,0.0,0.0,1,0

In [6]:
data_2022[data_2022['name'] == 'Kalidou Koulibaly'].iloc[0]

Unnamed: 0.1                         0
Unnamed: 0                      101417
season                            2022
name                 Kalidou Koulibaly
position_fpl                       DEF
                           ...
xGChain_avg5                  0.121662
yellow_cards_avg5                  0.0
red_cards_avg5                     0.0
was_played                           1
next_gw                              0
Name: 8464, Length: 72, dtype: object

In [7]:
data_2022['fixture']

8435     1
8436     1
8437     1
8438     1
8439     1
        ..
8532    16
8533    16
8534    16
8535    16
8536    16
Name: fixture, Length: 102, dtype: int64

In [21]:
data_2022[data_2022['name'] == 'Daniel Podence']

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, season, name, position_fpl, team, assists_fpl, bonus, bps, clean_sheets, creativity, element, fixture, goals_conceded, goals_scored, ict_index, influence, kickoff_time, minutes, opponent_team, opp_team_name, own_goals, penalties_missed, penalties_saved, red_cards, round, saves, selected, team_a_score, team_h_score, threat, total_points, transfers_balance, transfers_in, transfers_out, value, was_home, yellow_cards, GW, a_team, goals, shots, xG, time, position_und, h_goals, a_goals, date, id, xA, assists_und, key_passes, npg, npxG, xGChain, xGBuildup, player_name, h_team, goals_avg5, xG_avg5, assists_fpl_avg5, bonus_avg5, bps_avg5, clean_sheets_avg5, goals_conceded_avg5, shots_avg5, xGBuildup_avg5, xGChain_avg5, yellow_cards_avg5, red_cards_avg5, was_played, next_gw]
Index: []

[0 rows x 72 columns]

In [9]:
dataset.drop_duplicates()
dataset.loc[(dataset['name'] == 'Mohamed Salah') & (dataset['season'] == CURRENT_SEASON_UNDERSTAT)]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, season, name, position_fpl, team, assists_fpl, bonus, bps, clean_sheets, creativity, element, fixture, goals_conceded, goals_scored, ict_index, influence, kickoff_time, minutes, opponent_team, opp_team_name, own_goals, penalties_missed, penalties_saved, red_cards, round, saves, selected, team_a_score, team_h_score, threat, total_points, transfers_balance, transfers_in, transfers_out, value, was_home, yellow_cards, GW, a_team, goals, shots, xG, time, position_und, h_goals, a_goals, date, id, xA, assists_und, key_passes, npg, npxG, xGChain, xGBuildup, player_name, h_team, goals_avg5, xG_avg5, assists_fpl_avg5, bonus_avg5, bps_avg5, clean_sheets_avg5, goals_conceded_avg5, shots_avg5, xGBuildup_avg5, xGChain_avg5, yellow_cards_avg5, red_cards_avg5, was_played, next_gw]
Index: []

[0 rows x 72 columns]

In [10]:
# getting salah for 3rd gameweek
fixtures = pd.read_csv('data/2022-23/fixtures.csv')
gameweek = 3
gw3_fixtures = fixtures[fixtures['event'] == gameweek]

In [11]:
liverpool_game = gw3_fixtures.iloc[9]
liverpool_game

code                                   2292836
event                                        3
finished                                 False
finished_provisional                     False
id                                          27
kickoff_time              2022-08-22T19:00:00Z
minutes                                      0
provisional_start_time                   False
started                                  False
team_a                                      12
team_a_score                               NaN
team_h                                      14
team_h_score                               NaN
stats                                       []
team_h_difficulty                            5
team_a_difficulty                            4
pulse_id                                 74937
Name: 29, dtype: object

In [12]:
teams = pd.read_csv('data/2022-23/teams.csv')
opp_team = teams[teams['id'] == liverpool_game['team_h']]
teams

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,NaN,1,0,Arsenal,0,0,0,ARS,...,NaN,False,0,1200,1270,1150,1210,1190,1220,1
1,7,0,NaN,2,0,Aston Villa,0,0,0,AVL,...,NaN,False,0,1090,1100,1140,1110,1090,1090,2
2,91,0,NaN,3,0,Bournemouth,0,0,0,BOU,...,NaN,False,0,1050,1050,1080,1130,1060,1100,127
3,94,0,NaN,4,0,Brentford,0,0,0,BRE,...,NaN,False,0,1090,1100,1120,1150,1080,1120,130
4,36,0,NaN,5,0,Brighton,0,0,0,BHA,...,NaN,False,0,1100,1090,1160,1160,1100,1120,131
5,8,0,NaN,6,0,Chelsea,0,0,0,CHE,...,NaN,False,0,1270,1280,1300,1300,1250,1290,4
6,31,0,NaN,7,0,Crystal Palace,0,0,0,CRY,...,NaN,False,0,1090,1100,1110,1160,1080,1160,6
7,11,0,NaN,8,0,Everton,0,0,0,EVE,...,NaN,False,0,1050,1100,1130,1090,1110,1110,7
8,54,0,NaN,9,0,Fulham,0,0,0,FUL,...,NaN,False,0,1040,1060,1090,1040,1120,1070,34
9,13,0,NaN,10,0,Leicester,0,0,0,LEI,...,NaN,False,0,1110,1240,1100,1080,1150,1160,26
10,2,0,NaN,11,0,Leeds,0,0,0,LEE,...,NaN,False,0,1070,1070,1080,1070,1100,1100,9
11,14,0,NaN,12,0,Liverpool,0,0,0,LIV,...,NaN,False,0,1350,1360,1300,1350,1340,1350,10
12,43,0,NaN,13,0,Man City,0,0,0,MCI,...,NaN,False,0,1350,1370,1340,1360,1340,1360,11
13,1,0,NaN,14,0,Man Utd,0,0,0,MUN,...,NaN,False,0,1170,1250,1170,1190,1190,1200,12
14,4,0,NaN,15,0,Newcastle,0,0,0,NEW,...,NaN,False,0,1110,1190,1050,1030,1040,1070,23
15,17,0,NaN,16,0,Nott'm Forest,0,0,0,NFO,...,NaN,False,0,1040,1060,1040,1040,1040,1030,15
16,20,0,NaN,17,0,Southampton,0,0,0,SOU,...,NaN,False,0,1060,1090,1090,1140,1120,1090,20
17,6,0,NaN,18,0,Spurs,0,0,0,TOT,...,NaN,False,0,1210,1270,1190,1200,1210,1210,21
18,21,0,NaN,19,0,West Ham,0,0,0,WHU,...,NaN,False,0,1110,1170,1110,1150,1160,1180,25
19,39,0,NaN,20,0,Wolves,0,0,0,WOL,...,NaN,False,0,1100,1100,1150,1160,1080,1100,38

In [13]:
def get_fixtures_for_next_gw(fixtures, gameweek):
    result = []
    for fixture in fixtures:
        if fixture['event'] == gameweek:
            result.append(fixture)
            
    return result

In [14]:
def get_team_name_by_id(id, teams):
    return teams.loc[id]['name']

In [15]:
all_fixtures = g.get_fixtures_data()
fixtures_next_gw = get_fixtures_for_next_gw(all_fixtures, 3)
for fixture in fixtures_next_gw:
    print(get_team_name_by_id(fixture['team_h'] - 1, teams),get_team_name_by_id(fixture['team_a'] - 1, teams))

Spurs Wolves
Crystal Palace Aston Villa
Everton Nott'm Forest
Fulham Brentford
Leicester Southampton
Bournemouth Arsenal
Leeds Chelsea
West Ham Brighton
Newcastle Man City
Man Utd Liverpool

In [16]:
pd.DataFrame(fixtures_next_gw)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292838,3,True,True,29,2022-08-20T11:30:00Z,90,False,True,20,0,18,1,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,74939
1,2292831,3,True,True,22,2022-08-20T14:00:00Z,90,False,True,2,1,7,3,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,74932
2,2292832,3,True,True,23,2022-08-20T14:00:00Z,90,False,True,16,1,8,1,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74933
3,2292833,3,True,True,24,2022-08-20T14:00:00Z,90,False,True,4,2,9,3,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74934
4,2292835,3,True,True,26,2022-08-20T14:00:00Z,90,False,True,17,2,10,1,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74936
5,2292830,3,True,True,21,2022-08-20T16:30:00Z,90,False,True,1,3,3,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74931
6,2292834,3,True,True,25,2022-08-21T13:00:00Z,90,False,True,6,0,11,3,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,74935
7,2292839,3,True,True,30,2022-08-21T13:00:00Z,90,False,True,5,2,19,0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,74940
8,2292837,3,True,True,28,2022-08-21T15:30:00Z,90,False,True,13,3,15,3,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,74938
9,2292836,3,True,True,27,2022-08-22T19:00:00Z,90,False,True,12,1,14,2,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,74937

In [17]:
rolling_columns = ['goals', 'xG', 'assists_fpl', 'bonus', 'bps', 'clean_sheets', 'goals_conceded', 'shots', 'xGBuildup', 'xGChain', 'yellow_cards', 'red_cards']

In [18]:
next_gameweek = get_next_gameweek(dataset, 3, rolling_columns)

RÃºben Neves

D:\PulpitE\FPL_ML\data_prep.py:389: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.loc[i, c + '_avg5' ] = df[df['name'] == player_name].tail(5).mean()[c]

Daniel Podence
Eric Dier
Dejan Kulusevski
Ryan Sessegnon
Pierre-Emile HÃ¸jbjerg
Harry Kane
Demarai Gray
Leon Bailey
Emiliano BuendÃ­a
Danny Ings
Vitaly Janelt
Bryan Mbeumo
Timothy Castagne
Ben Mee
Ivan Toney
Ollie Watkins
Adam Armstrong
Fabio Carvalho
James Maddison
James Ward-Prowse
Mathias Jensen
Kyle Walker-Peters
Patson Daka
Kelechi Iheanacho
Kiernan Dewsbury-Hall
Joe Ayodele-Aribo
Brennan Johnson
Joachim Andersen
Wilfried Zaha
Che Adams
Christian NÃ¸rgaard
Anthony Gordon
Josh Dasilva
Cheikhou KouyatÃ©
Harvey Barnes
Yoane Wissa
Douglas Luiz
Aleksandar Mitrovic
Jean-Philippe Mateta
Granit Xhaka
William Saliba
Gabriel Martinelli
Jefferson Lerma
Philip Billing
Dominic Solanke
Bukayo Saka
Bernd Leno
Gabriel
Gabriel Jesus
Martin Odegaard
Ben Chilwell
Brenden Aaronson
Pablo Fornals
MoisÃ©s Caicedo
Leandro Trossard
Tomas Soucek
Michail Antonio
Raheem Sterling
Pascal GroÃ
Kalidou Koulibaly
Jorginho
Reece James
Rodrigo
Kai Havertz
Alexis Mac Allister
Jack Harrison
Fabian SchÃ¤r
JuliÃ¡n Ãlvarez
Callum Wilson
Allan Saint-Maximin
Kevin De Bruyne
Phil Foden
Kieran Trippier
JoÃ£o Cancelo
Ilkay GÃ¼ndogan
Bernardo Silva
Miguel AlmirÃ³n
Joelinton
Mohamed Salah
Virgil van Dijk
Jadon Sancho
Bruno Fernandes
Roberto Firmino
Trent Alexander-Arnold
Marcus Rashford
Harvey Elliott
Luis DÃ­az

In [19]:
next_gameweek

,Unnamed: 0.1,Unnamed: 0,season,name,position_fpl,team,assists_fpl,bonus,bps,clean_sheets,...,clean_sheets_avg5,goals_conceded_avg5,shots_avg5,xGBuildup_avg5,xGChain_avg5,yellow_cards_avg5,red_cards_avg5,was_played,next_gw,next_gameweek
15,NaN,NaN,NaN,RÃºben Neves,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
59,NaN,NaN,NaN,Daniel Podence,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
80,NaN,NaN,NaN,Eric Dier,NaN,NaN,NaN,NaN,NaN,NaN,...,0.50,0.75,0.50,0.713041,0.713041,0.00,0.0,NaN,NaN,True
79,NaN,NaN,NaN,Dejan Kulusevski,NaN,NaN,NaN,NaN,NaN,NaN,...,0.25,0.75,1.25,0.297124,0.765333,0.25,0.0,NaN,NaN,True
78,NaN,NaN,NaN,Ryan Sessegnon,NaN,NaN,NaN,NaN,NaN,NaN,...,0.50,0.50,1.25,0.493540,0.676834,0.25,0.0,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,NaN,NaN,NaN,Roberto Firmino,NaN,NaN,NaN,NaN,NaN,NaN,...,0.25,0.50,2.25,0.332587,0.679178,0.25,0.0,NaN,NaN,True
86,NaN,NaN,NaN,Trent Alexander-Arnold,NaN,NaN,NaN,NaN,NaN,NaN,...,0.25,1.00,1.50,0.512845,0.798971,0.25,0.0,NaN,NaN,True
74,NaN,NaN,NaN,Marcus Rashford,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,1.75,1.25,0.058998,0.214777,0.25,0.0,NaN,NaN,True
81,NaN,NaN,NaN,Harvey Elliott,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.75,1.50,0.557016,0.741051,0.00,0.0,NaN,NaN,True
87,NaN,NaN,NaN,Luis DÃ­az,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,1.00,2.25,0.257403,0.421300,0.25,0.0,NaN,NaN,True

In [20]:
df_unique_players = dataset[['player_name', 'team']].drop_duplicates(subset=['player_name'], keep='last')
df_unique_players = pd.DataFrame(df_unique_players.dropna())
df_unique_players[df_unique_players['player_name'] == 'Ben Mee']

     player_name       team
8479     Ben Mee  Brentford