# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd

import torch
import torch.nn as nn

import torchvision
import torchvision.transforms

from torch.utils.data import Dataset, DataLoader
import torch.optim as optim

import matplotlib.pyplot as plt

import numpy as np
import random

# Reading data

In [3]:
df = pd.read_csv('data/fpl_fbref_elo_players.csv')

In [4]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

# New features

In [5]:
# average goals for and against team in last 5 matches
grouped = df.groupby('Name')

In [6]:
df['ScoreForLast5'] = grouped['Team Score'].rolling(5, min_periods=1).mean().reset_index(level=0, drop=True)

In [7]:
df['ScoreAgainstLast5'] = grouped['Opp Score'].rolling(5, min_periods=1).mean().reset_index(level=0, drop=True)

In [8]:
df['ScoreForLast5'] = df['ScoreForLast5'].shift(1)
df['ScoreAgainstLast5'] = df['ScoreAgainstLast5'].shift(1)

In [9]:
df[df["Name"] == "Mohamed-Salah"][["ScoreForLast5", "ScoreAgainstLast5", "Team Score", "Opp Score"]]

    ScoreForLast5  ScoreAgainstLast5  Team Score  Opp Score
0             NaN                NaN           2          2
1        2.000000           2.000000           1          1
2        1.500000           1.500000           1          2
3        1.333333           1.666667           9          0
4        3.250000           1.250000           2          1
5        3.000000           1.200000           0          0
6        2.600000           0.800000           3          3
7        3.000000           1.200000           2          3
8        3.200000           1.400000           1          0
9        1.600000           1.400000           1          0
10       1.400000           1.200000           0          1
11       1.400000           1.400000           1          2
12       1.000000           1.200000           2          1
13       1.000000           0.800000           3          1
14       1.400000           1.000000           3          1
15       1.800000           1.200000           2          1
16       2.200000           1.200000           1          3
17       2.200000           1.400000           0          3
18       1.800000           1.800000           0          0

# Saving df to file

In [10]:
df.to_csv('data/final_dataset.csv')

In [11]:
df

,Date,Day,Comp,Round,Venue,Squad,Opponent,Start,Pos,Min,...,CS,Was Home,GW,FPL,neutral_name,Total Points,FPL position,Opp rating,ScoreForLast5,ScoreAgainstLast5
0,2022-08-06,Sat,Premier League,Matchweek 1,Away,Liverpool,Fulham,Y,RW,90.0,...,0.0,0.0,1,7.0,Mohamed-Salah,12.0,MID,1636.164673,NaN,NaN
1,2022-08-15,Mon,Premier League,Matchweek 2,Home,Liverpool,Crystal Palace,Y,"RW,FW",90.0,...,0.0,1.0,2,2.0,Mohamed-Salah,2.0,MID,1744.510620,2.000000,2.000000
2,2022-08-22,Mon,Premier League,Matchweek 3,Away,Liverpool,Manchester Utd,Y,RW,90.0,...,0.0,0.0,3,7.0,Mohamed-Salah,8.0,MID,1782.548950,1.500000,1.500000
3,2022-08-27,Sat,Premier League,Matchweek 4,Home,Liverpool,Bournemouth,Y,RW,90.0,...,1.0,1.0,4,3.0,Mohamed-Salah,3.0,MID,1636.085083,1.333333,1.666667
4,2022-08-31,Wed,Premier League,Matchweek 5,Home,Liverpool,Newcastle Utd,Y,RW,90.0,...,0.0,1.0,5,8.0,Mohamed-Salah,10.0,MID,1770.085205,3.250000,1.250000
5,2022-09-03,Sat,Premier League,Matchweek 6,Away,Liverpool,Everton,Y,RW,90.0,...,1.0,0.0,6,3.0,Mohamed-Salah,3.0,MID,1691.464355,3.000000,1.200000
6,2022-10-01,Sat,Premier League,Matchweek 9,Home,Liverpool,Brighton,Y,"RW,RM",90.0,...,0.0,1.0,9,5.0,Mohamed-Salah,5.0,MID,1779.398682,2.600000,0.800000
7,2022-10-09,Sun,Premier League,Matchweek 10,Away,Liverpool,Arsenal,Y,RW,68.0,...,0.0,0.0,10,2.0,Mohamed-Salah,2.0,MID,1890.421753,3.000000,1.200000
8,2022-10-16,Sun,Premier League,Matchweek 11,Home,Liverpool,Manchester City,Y,FW,89.0,...,1.0,1.0,11,8.0,Mohamed-Salah,8.0,MID,2042.070801,3.200000,1.400000
9,2022-10-19,Wed,Premier League,Matchweek 12,Home,Liverpool,West Ham,Y,"RM,FW",90.0,...,1.0,1.0,12,3.0,Mohamed-Salah,3.0,MID,1781.722046,1.600000,1.400000
10,2022-10-22,Sat,Premier League,Matchweek 13,Away,Liverpool,Nott'ham Forest,Y,FW,90.0,...,0.0,0.0,13,2.0,Mohamed-Salah,2.0,MID,1599.286377,1.400000,1.200000
11,2022-10-29,Sat,Premier League,Matchweek 14,Home,Liverpool,Leeds United,Y,FW,90.0,...,0.0,1.0,14,7.0,Mohamed-Salah,7.0,MID,1685.329956,1.400000,1.400000
12,2022-11-06,Sun,Premier League,Matchweek 15,Away,Liverpool,Tottenham,Y,FW,89.0,...,0.0,0.0,15,12.0,Mohamed-Salah,15.0,MID,1879.251709,1.000000,1.200000
13,2022-11-12,Sat,Premier League,Matchweek 16,Home,Liverpool,Southampton,Y,RW,90.0,...,0.0,1.0,16,2.0,Mohamed-Salah,2.0,MID,1674.645264,1.000000,0.800000
14,2022-12-26,Mon,Premier League,Matchweek 17,Away,Liverpool,Aston Villa,Y,"RW,FW",90.0,...,0.0,0.0,17,10.0,Mohamed-Salah,12.0,MID,1744.407715,1.400000,1.000000
15,2022-12-30,Fri,Premier League,Matchweek 18,Home,Liverpool,Leicester City,Y,RW,90.0,...,0.0,1.0,18,2.0,Mohamed-Salah,2.0,MID,1772.712280,1.800000,1.200000
16,2023-01-02,Mon,Premier League,Matchweek 19,Away,Liverpool,Brentford,Y,RW,90.0,...,0.0,0.0,19,2.0,Mohamed-Salah,2.0,MID,1755.423828,2.200000,1.200000
17,2023-01-14,Sat,Premier League,Matchweek 20,Away,Liverpool,Brighton,Y,"FW,RW",90.0,...,0.0,0.0,20,2.0,Mohamed-Salah,2.0,MID,1802.947266,2.200000,1.400000
18,2023-01-21,Sat,Premier League,Matchweek 21,Home,Liverpool,Chelsea,Y,RW,90.0,...,1.0,1.0,21,3.0,Mohamed-Salah,3.0,MID,1867.052368,1.800000,1.800000