# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# loading csv
df = pd.read_csv('data/final_dataset.csv')

df = df.drop("Unnamed: 0", axis=1)

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (53) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.columns

Index(['Date', 'Day', 'Comp', 'Round', 'Venue', 'Squad', 'Opponent', 'Start',
       'Pos', 'Min',
       ...
       'MinAvgOverall', 'GlsAvgOverall', 'AstAvgOverall', 'CrdYAvgOverall',
       'CrdRAvgOverall', 'xGAvgOverall', 'xAGAvgOverall', 'CSAvgOverall',
       'Team ScoreAvgOverall', 'Opp ScoreAvgOverall'],
      dtype='object', length=117)

In [5]:
columns_to_drop = ["Comp", 
                   "Match Report", 
                   "Fls",
                   "Fld",
                   "Off",
                   "Crs",
                   "TklW",
                   "OG",
                   "PKwon",
                   "PKcon",
                   "team",
                   "index",
                   "opponent_team",
                   "red_cards",
                   "team_a_score",
                   "team_h_score",
                   "starts",
                   "ScoreForLast5",
                   "ScoreAgainstLast5",
                   "MinAvgOverall",
                   "GlsAvgOverall",
                   "AstAvgOverall",
                   "CrdYAvgOverall",
                   "CrdRAvgOverall",
                   "xGAvgOverall",
                   "CSAvgOverall",
                   'xAGAvgOverall',
                   "Team ScoreAvgOverall",
                   "Opp ScoreAvgOverall",
                   "was_home",
                   "neutral_name_y",
                   "Round",
                   "round",
                   "GoalsTeams",
                   "yellow_cards",
                   "season",
                   "opp_team_name"
                  ]

df = df.drop(columns_to_drop, axis=1)

In [6]:
df = df.drop(df[df["Squad"].isin(['Dynamo Kyiv', 'Shakhtar'])].index)

In [7]:
# df["GoalsTeams"].unique()

In [8]:
df = df.rename(columns={
    "name": "Name_original"
})

In [9]:
# df[df["CrdR"] != df["red_cards"]][["goals_scored", "Name", "Gls", "red_cards", "CrdR"]].dropna()

In [10]:
# df[[ "Round", "Fbref_GW"]]

In [11]:
# df[df["Opponent"] != df["Opp_team_name"]][["Date", "Season", "Name", "Squad", "Opponent", "Opp_team_name",]]

In [12]:
# df[df["Name"] == "Darwin-Nunez"]["goals_scored"].sum()

In [13]:
# df["starts"].isna().sum()

In [14]:
df.iloc[:,77:]

        Opp rating  Team rating  Min_points
0      1724.895874  1810.996338        True
1      1806.803955  1819.101685        True
2      1688.381104  1832.533691        True
3      1699.461792  1828.112183        True
4      1924.822632  1832.234619        True
...            ...          ...         ...
24678  2026.310791  1858.896484        True
24679  1752.288574  1816.056030       False
24680  1803.241211  1822.077881        True
24681  1796.138916  1819.507935        True
24682  1667.934448  1805.765259        True

[24573 rows x 3 columns]

In [15]:
df["value"] = (df["value"] / 10)

In [16]:
df.columns = [w[0].capitalize() + w[1:] for w in df.columns]

df = df.rename(columns={
    "GW_x": "Fbref_GW",
    "Neutral_name_x": "Clean_name",
    "Assists": "FPL_ast",
    "Position": "FPL_pos",
    "CS": "Team_CS",
    "Clean_sheets": "Player_CS",
    "Total_points": "FPL_points",
    "GW_y": "FPL_GW",
    "Expected_assists": "FPL_xA",
    "Expected_goal_involvements": "FPL_xGI",
    "Expected_goals": "FPL_xG",
    "Expected_goals_conceded": "FPL_xGC",
    "Team Score": "Team_score",
    "Goals_conceded": "Player_GC",
    "Opp Score": "Opp_score",
    "Ict_index": "ICT_index",
    "Opp rating": "Opp_rating",
    "Was Home": "Was_home",
    "XG": "xG",
    "XAG": "xA",
    "NpxG": "npxG",
    "Team rating": "Team_rating",
    "Minutes": "FPL_min",
    "Squad": "Team",
    "XP": "xP"
})

In [17]:
df = df.reset_index(drop=True)

In [18]:
# df[df["Min"] == 0][["Date", "Season", "Name", "Team", "Opponent", "FPL_opp_team",]]

In [19]:
# df.columns

In [20]:
df = df.reindex(columns=['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos', 'Min',
       'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches',
       'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att',
       'Cmp%', 'PrgP', 'Carries', 'PrgC', 'Att.1', 'Succ', 'Season',
       'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'Fbref_GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals',
       'Penalties_missed', 'Penalties_saved', 'Saves', 'Selected', 'Threat',
       'FPL_points', 'Transfers_balance', 'Transfers_in', 'Transfers_out',
       'Value', 'FPL_GW', 'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC',
       'Opp_rating', 'Team_rating', 'Min_points'])

In [21]:
df.tail(10)

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,Value,FPL_GW,xP,FPL_xA,FPL_xGI,FPL_xG,FPL_xGC,Opp_rating,Team_rating,Min_points
24563,2022-12-26,Mon,Away,Tottenham,Brentford,Yves-Bissouma,Y,CM,90.0,0.0,...,4.7,17.0,1.5,0.01890,0.01890,0.00,2.1526,1739.364746,1876.109375,True
24564,2023-01-01,Sun,Home,Tottenham,Aston Villa,Yves-Bissouma,Y,CM,79.0,0.0,...,4.7,18.0,1.5,0.06801,0.06801,0.00,0.7698,1739.823853,1873.475220,True
24565,2023-01-15,Sun,Home,Tottenham,Arsenal,Yves-Bissouma,N,CM,15.0,0.0,...,4.7,20.0,1.1,0.01070,0.01070,0.00,0.0911,1931.196655,1868.577759,True
24566,2023-01-19,Thu,Away,Tottenham,Manchester City,Yves-Bissouma,N,CM,16.0,0.0,...,4.7,20.0,1.1,0.00448,0.00448,0.00,0.5054,2018.819336,1858.296509,True
24567,2023-01-23,Mon,Away,Tottenham,Fulham,Yves-Bissouma,N,AM,1.0,0.0,...,4.7,21.0,1.3,0.01071,0.01071,0.00,0.0000,1722.542114,1853.427124,True
24568,2023-02-05,Sun,Home,Tottenham,Manchester City,Yves-Bissouma,N,"CM,AM",7.0,0.0,...,4.7,22.0,0.5,0.00000,0.00000,0.00,0.2700,2026.310791,1858.896484,True
24569,2023-05-06,Sat,Home,Tottenham,Crystal Palace,Yves-Bissouma,N,0,0.0,0.0,...,4.7,35.0,0.0,0.00000,0.00000,0.00,0.0000,1752.288574,1816.056030,False
24570,2023-05-13,Sat,Away,Tottenham,Aston Villa,Yves-Bissouma,N,CM,30.0,0.0,...,4.7,36.0,0.0,0.01000,0.01000,0.00,0.0800,1803.241211,1822.077881,True
24571,2023-05-20,Sat,Home,Tottenham,Brentford,Yves-Bissouma,Y,CM,90.0,0.0,...,4.7,37.0,0.5,0.04000,0.04000,0.00,1.2900,1796.138916,1819.507935,True
24572,2023-05-28,Sun,Away,Tottenham,Leeds United,Yves-Bissouma,Y,CM,76.0,0.0,...,4.7,38.0,0.8,0.03000,0.05000,0.02,1.4000,1667.934448,1805.765259,True

In [22]:
df.to_csv('data/FPL_logs.csv')