In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]

In [4]:
df1 = pd.read_csv('data/previous/FPL_logs.csv')

In [20]:
df1[df1["Name_original"] == "Erling Haaland"][info + ["Gls"]]

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,Gls
11457,Erling Haaland,1,2022-23,Manchester City,West Ham,0.0,2025.127930,1782.923828,2.0
11458,Erling Haaland,2,2022-23,Manchester City,Bournemouth,1.0,2030.105713,1643.973511,0.0
11459,Erling Haaland,3,2022-23,Manchester City,Newcastle Utd,0.0,2032.259644,1764.073975,1.0
11460,Erling Haaland,4,2022-23,Manchester City,Crystal Palace,1.0,2027.226562,1761.251343,3.0
11461,Erling Haaland,5,2022-23,Manchester City,Nott'ham Forest,1.0,2029.811279,1617.423218,3.0
11462,Erling Haaland,6,2022-23,Manchester City,Aston Villa,0.0,2031.730835,1713.080933,1.0
11463,Erling Haaland,8,2022-23,Manchester City,Wolves,0.0,2025.917969,1707.832886,1.0
11464,Erling Haaland,9,2022-23,Manchester City,Manchester Utd,1.0,2030.310669,1805.437866,3.0
11465,Erling Haaland,10,2022-23,Manchester City,Southampton,1.0,2041.949707,1662.015625,1.0
11466,Erling Haaland,11,2022-23,Manchester City,Liverpool,0.0,2041.529419,1988.655762,0.0
11467,Erling Haaland,13,2022-23,Manchester City,Brighton,1.0,2034.578125,1773.406860,2.0
11468,Erling Haaland,15,2022-23,Manchester City,Fulham,1.0,2043.868896,1685.140503,1.0
11469,Erling Haaland,16,2022-23,Manchester City,Brentford,1.0,2044.884277,1723.145752,0.0
11470,Erling Haaland,17,2022-23,Manchester City,Leeds United,0.0,2029.177490,1710.691284,2.0
11471,Erling Haaland,18,2022-23,Manchester City,Everton,1.0,2032.312744,1687.707275,1.0
11472,Erling Haaland,19,2022-23,Manchester City,Chelsea,0.0,2024.311279,1878.464233,0.0
11473,Erling Haaland,20,2022-23,Manchester City,Manchester Utd,0.0,2029.390747,1863.198975,0.0
11474,Erling Haaland,7,2022-23,Manchester City,Tottenham,1.0,2018.140381,1857.578491,1.0
11475,Erling Haaland,21,2022-23,Manchester City,Wolves,1.0,2023.008179,1697.667236,3.0
11476,Erling Haaland,22,2022-23,Manchester City,Tottenham,0.0,2025.632446,1858.188477,0.0
11477,Erling Haaland,23,2022-23,Manchester City,Aston Villa,1.0,2014.560547,1752.700195,0.0
11478,Erling Haaland,12,2022-23,Manchester City,Arsenal,0.0,2016.014404,1926.024536,1.0
11479,Erling Haaland,24,2022-23,Manchester City,Nott'ham Forest,0.0,2024.953369,1653.555298,0.0
11480,Erling Haaland,25,2022-23,Manchester City,Bournemouth,0.0,2016.311646,1645.214478,1.0
11481,Erling Haaland,26,2022-23,Manchester City,Newcastle Utd,1.0,2019.326416,1833.147583,0.0
11482,Erling Haaland,27,2022-23,Manchester City,Crystal Palace,0.0,2028.558838,1740.624756,1.0
11483,Erling Haaland,30,2022-23,Manchester City,Southampton,0.0,2048.646973,1654.566772,2.0
11484,Erling Haaland,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,2.0
11485,Erling Haaland,33,2022-23,Manchester City,Arsenal,1.0,2057.953369,1928.582397,1.0
11486,Erling Haaland,34,2022-23,Manchester City,Fulham,0.0,2064.563232,1717.714233,1.0
11487,Erling Haaland,28,2022-23,Manchester City,West Ham,1.0,2066.543701,1758.518799,1.0
11488,Erling Haaland,35,2022-23,Manchester City,Leeds United,1.0,2069.102051,1662.209595,0.0
11489,Erling Haaland,36,2022-23,Manchester City,Everton,0.0,2071.091064,1694.975464,1.0
11490,Erling Haaland,37,2022-23,Manchester City,Chelsea,1.0,2087.472656,1794.311890,0.0
11491,Erling Haaland,32,2022-23,Manchester City,Brighton,0.0,2089.150391,1826.267822,0.0
11492,Erling Haaland,38,2022-23,Manchester City,Brentford,0.0,2083.640381,1807.119507,0.0
19191,Erling Haaland,1,2023-24,Manchester City,Burnley,0.0,2077.251953,1726.401611,2.0

In [6]:
df2 = pd.read_csv('data/previous/fpl_fbref_players.csv')

In [7]:
df2.columns

Index(['Unnamed: 0', 'Date', 'Day', 'Comp', 'Round', 'Venue', 'Squad',
       'Opponent', 'Start', 'Pos',
       ...
       'transfers_out', 'value', 'was_home', 'yellow_cards', 'xP',
       'expected_assists', 'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object', length=101)

In [8]:
df2[df2["name"] == "Erling Haaland"]["GW"]

11457     1
11458     2
11459     3
11460     4
11461     5
11462     6
11463     8
11464     9
11465    10
11466    11
11467    13
11468    15
11469    16
11470    17
11471    18
11472    19
11473    20
11474     7
11475    21
11476    22
11477    23
11478    12
11479    24
11480    25
11481    26
11482    27
11483    30
11484    31
11485    33
11486    34
11487    28
11488    35
11489    36
11490    37
11491    32
11492    38
19191     1
Name: GW, dtype: int64

In [9]:
df3 = pd.read_csv('data/misc/df_features.csv')

In [10]:
df3.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [13]:
df3[df3["Name_original"] == "Erling Haaland"][["Name_original", "GW", "FPL_points", "Gls_2", "Gls_4","Gls_30",]]

       Name_original  GW  FPL_points  Gls_2  Gls_4    Gls_30
5060  Erling Haaland   1        13.0    2.0   2.00  2.000000
5061  Erling Haaland   2         5.0    2.0   2.00  2.000000
5062  Erling Haaland   3         6.0    1.0   1.00  1.000000
5063  Erling Haaland   4        17.0    0.5   1.00  1.000000
5064  Erling Haaland   5        17.0    2.0   1.50  1.500000
5065  Erling Haaland   6         9.0    3.0   1.75  1.800000
5066  Erling Haaland   8         6.0    2.0   2.00  1.666667
5067  Erling Haaland   9        23.0    1.0   2.00  1.571429
5068  Erling Haaland  10         6.0    2.0   2.00  1.750000
5069  Erling Haaland  11         0.0    2.0   1.50  1.666667
5070  Erling Haaland  13        13.0    0.5   1.25  1.500000
5071  Erling Haaland  15         5.0    1.0   1.50  1.545455
5072  Erling Haaland  16         1.0    1.5   1.00  1.500000
5073  Erling Haaland  17         2.0    0.5   0.75  1.384615
5074  Erling Haaland  18         6.0    1.0   1.25  1.428571
5075  Erling Haaland  19         2.0    1.5   1.00  1.400000
5076  Erling Haaland  20         2.0    0.5   0.75  1.312500
5077  Erling Haaland   7         6.0    0.0   0.75  1.235294
5078  Erling Haaland  21        17.0    0.5   0.50  1.222222
5079  Erling Haaland  22         2.0    2.0   1.00  1.315789
5080  Erling Haaland  23         4.0    1.5   1.00  1.250000
5081  Erling Haaland  12         6.0    0.0   1.00  1.190476
5082  Erling Haaland  24         2.0    0.5   1.00  1.181818
5083  Erling Haaland  25        10.0    0.5   0.25  1.130435
5084  Erling Haaland  26         4.0    0.5   0.50  1.125000
5085  Erling Haaland  27         6.0    0.5   0.50  1.080000
5086  Erling Haaland  30        12.0    0.5   0.50  1.076923
5087  Erling Haaland  31         2.0    1.5   1.00  1.111111
5088  Erling Haaland  33        14.0    2.0   1.25  1.142857
5089  Erling Haaland  34         8.0    1.5   1.50  1.137931
5090  Erling Haaland  28         8.0    1.0   1.50  1.133333
5091  Erling Haaland  35         0.0    1.0   1.25  1.100000
5092  Erling Haaland  36         7.0    0.5   0.75  1.100000
5093  Erling Haaland  37         1.0    0.5   0.75  1.100000
5094  Erling Haaland  32         5.0    0.5   0.50  1.000000
5095  Erling Haaland  38         0.0    0.0   0.25  0.900000
5096  Erling Haaland   1        13.0    0.0   0.25  0.866667

In [14]:
df3.shape

(17485, 68)

In [22]:
df3[df3["Name_original"] == "Erling Haaland"].iloc[:, 10:25]

,CrdR_30,CrdR_4,CrdY_2,CrdY_30,CrdY_4,DEF,FPL_points,FPL_points_2,FPL_points_30,FPL_points_4,FPL_pos,FWD,GW,Gls_2,Gls_30
5060,0.0,0.0,0.0,0.000000,0.00,0,13.0,13.0,13.000000,13.00,FWD,1,1,2.0,2.000000
5061,0.0,0.0,0.0,0.000000,0.00,0,5.0,13.0,13.000000,13.00,FWD,1,2,2.0,2.000000
5062,0.0,0.0,0.0,0.000000,0.00,0,6.0,9.0,9.000000,9.00,FWD,1,3,1.0,1.000000
5063,0.0,0.0,0.0,0.000000,0.00,0,17.0,5.5,8.000000,8.00,FWD,1,4,0.5,1.000000
5064,0.0,0.0,0.0,0.000000,0.00,0,17.0,11.5,10.250000,10.25,FWD,1,5,2.0,1.500000
5065,0.0,0.0,0.0,0.000000,0.00,0,9.0,17.0,11.600000,11.25,FWD,1,6,3.0,1.800000
5066,0.0,0.0,0.0,0.000000,0.00,0,6.0,13.0,11.166667,12.25,FWD,1,8,2.0,1.666667
5067,0.0,0.0,0.0,0.000000,0.00,0,23.0,7.5,10.428571,12.25,FWD,1,9,1.0,1.571429
5068,0.0,0.0,0.0,0.000000,0.00,0,6.0,14.5,12.000000,13.75,FWD,1,10,2.0,1.750000
5069,0.0,0.0,0.0,0.000000,0.00,0,0.0,14.5,11.333333,11.00,FWD,1,11,2.0,1.666667
5070,0.0,0.0,0.0,0.000000,0.00,0,13.0,3.0,10.200000,8.75,FWD,1,13,0.5,1.500000
5071,0.0,0.0,0.0,0.000000,0.00,0,5.0,6.5,10.454545,10.50,FWD,1,15,1.0,1.545455
5072,0.0,0.0,0.5,0.083333,0.25,0,1.0,9.0,10.000000,6.00,FWD,1,16,1.5,1.500000
5073,0.0,0.0,1.0,0.153846,0.50,0,2.0,3.0,9.307692,4.75,FWD,1,17,0.5,1.384615
5074,0.0,0.0,0.5,0.142857,0.50,0,6.0,1.5,8.785714,5.25,FWD,1,18,1.0,1.428571
5075,0.0,0.0,0.5,0.200000,0.75,0,2.0,4.0,8.600000,3.50,FWD,1,19,1.5,1.400000
5076,0.0,0.0,0.5,0.187500,0.50,0,2.0,4.0,8.187500,2.75,FWD,1,20,0.5,1.312500
5077,0.0,0.0,0.0,0.176471,0.25,0,6.0,2.0,7.823529,3.00,FWD,1,7,0.0,1.235294
5078,0.0,0.0,0.0,0.166667,0.25,0,17.0,4.0,7.722222,4.00,FWD,1,21,0.5,1.222222
5079,0.0,0.0,0.0,0.157895,0.00,0,2.0,11.5,8.210526,6.75,FWD,1,22,2.0,1.315789
5080,0.0,0.0,0.0,0.150000,0.00,0,4.0,9.5,7.900000,6.75,FWD,1,23,1.5,1.250000
5081,0.0,0.0,0.0,0.142857,0.00,0,6.0,3.0,7.714286,7.25,FWD,1,12,0.0,1.190476
5082,0.0,0.0,0.0,0.136364,0.00,0,2.0,5.0,7.636364,7.25,FWD,1,24,0.5,1.181818
5083,0.0,0.0,0.0,0.130435,0.00,0,10.0,4.0,7.391304,3.50,FWD,1,25,0.5,1.130435
5084,0.0,0.0,0.0,0.125000,0.00,0,4.0,6.0,7.500000,5.50,FWD,1,26,0.5,1.125000
5085,0.0,0.0,0.5,0.160000,0.25,0,6.0,7.0,7.360000,5.50,FWD,1,27,0.5,1.080000
5086,0.0,0.0,0.5,0.153846,0.25,0,12.0,5.0,7.307692,5.50,FWD,1,30,0.5,1.076923
5087,0.0,0.0,0.5,0.185185,0.50,0,2.0,9.0,7.481481,8.00,FWD,1,31,1.5,1.111111
5088,0.0,0.0,0.5,0.178571,0.50,0,14.0,7.0,7.285714,6.00,FWD,1,33,2.0,1.142857
5089,0.0,0.0,0.0,0.172414,0.25,0,8.0,8.0,7.517241,8.50,FWD,1,34,1.5,1.137931
5090,0.0,0.0,0.0,0.166667,0.25,0,8.0,11.0,7.533333,9.00,FWD,1,28,1.0,1.133333
5091,0.0,0.0,0.0,0.166667,0.00,0,0.0,8.0,7.366667,8.00,FWD,1,35,1.0,1.100000
5092,0.0,0.0,0.0,0.166667,0.00,0,7.0,4.0,7.200000,7.50,FWD,1,36,0.5,1.100000
5093,0.0,0.0,0.0,0.166667,0.00,0,1.0,3.5,7.233333,5.75,FWD,1,37,0.5,1.100000
5094,0.0,0.0,0.0,0.166667,0.00,0,5.0,4.0,6.700000,4.00,FWD,1,32,0.5,1.000000
5095,0.0,0.0,0.0,0.166667,0.00,0,0.0,3.0,6.300000,3.25,FWD,1,38,0.0,0.900000
5096,0.0,0.0,0.0,0.166667,0.00,0,13.0,2.5,6.000000,3.25,FWD,1,1,0.0,0.866667