# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn

In [3]:
df = pd.read_csv('data/previous/FPL_logs.csv')

# General info

In [4]:
df.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR',
       'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA',
       'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ',
       'Season', 'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals', 'Penalties_missed',
       'Penalties_saved', 'Saves', 'Selected', 'Threat', 'FPL_points',
       'Transfers_balance', 'Transfers_in', 'Transfers_out', 'Price', 'FPL_GW',
       'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC', 'Opp_rating',
       'Team_rating', 'Min_points', 'Avg_FPL_points'],
      dtype='object')

In [5]:
df.shape

(19726, 81)

In [6]:
df[["xP", "FPL_points"]].describe()

                 xP    FPL_points
count  17662.000000  17775.000000
mean       2.015978      2.330408
std        2.196320      2.958820
min       -3.000000     -4.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.500000      3.000000
max       18.000000     24.000000

In [7]:
df["xP"].sum(), df["FPL_points"].sum()

(35606.2, 41423.0)

In [8]:
df["xG"].sum(), df["Gls"].sum()

(1568.1, 1542.0)

In [9]:
df["xA"].sum(), df["Ast"].sum()

(1157.9, 1128.0)

In [10]:
df.isna().sum().sort_values(ascending=False).head(30)

Min_points          19726
Clean_name          19726
FPL_GW              19726
FPL_xGC             19148
FPL_xG              19148
FPL_xGI             19148
FPL_xA              19148
xP                   2064
Avg_FPL_points       1951
Kickoff_time         1951
FPL_min              1951
Own_goals            1951
ICT_index            1951
Penalties_missed     1951
Penalties_saved      1951
Saves                1951
Influence            1951
Bonus                1951
Name_original        1951
FPL_pos              1951
FPL_ast              1951
Threat               1951
Bps                  1951
Player_CS            1951
Creativity           1951
Element              1951
Fixture              1951
Selected             1951
Player_GC            1951
Price                1951
dtype: int64

In [11]:
df[df["FPL_points"].isna()].iloc[0].head(50)

Date                 2021-10-16
Day                         Sat
Venue                      Away
Team                   Brighton
Opponent           Norwich City
Name             Aaron-Connolly
Start                         N
Pos                           0
Min                         0.0
Gls                         0.0
Ast                         0.0
PK                          0.0
PKatt                       0.0
Sh                          0.0
SoT                         0.0
CrdY                        0.0
CrdR                        0.0
Touches                     0.0
Tkl                         0.0
Int                         0.0
Blocks                      0.0
xG                          0.0
npxG                        0.0
xA                          0.0
SCA                         0.0
GCA                         0.0
Cmp                         0.0
Att                         0.0
Cmp%                        0.0
PrgP                        0.0
Carries                     0.0
PrgC                        0.0
T_att                       0.0
T_succ                      0.0
Season                  2021-22
WDL                           D
Team_score                    0
Opp_score                     0
Team_CS                     1.0
Was_home                    0.0
GW                            8
Clean_name                  NaN
FPL_name         Aaron-Connolly
FPL_team               Brighton
FPL_opp_team       Norwich City
Name_original               NaN
FPL_pos                     NaN
FPL_ast                     NaN
Bonus                       NaN
Bps                         NaN
Name: 5, dtype: object

In [12]:
df[(df["FPL_points"].isna()) & (df["Min"] != 0) ].iloc[15].head(50)

Date              2023-02-18
Day                      Sat
Venue                   Home
Team             Aston Villa
Opponent             Arsenal
Name             Alex-Moreno
Start                      Y
Pos                       LB
Min                     77.0
Gls                      0.0
Ast                      1.0
PK                       0.0
PKatt                    0.0
Sh                       0.0
SoT                      0.0
CrdY                     0.0
CrdR                     0.0
Touches                 36.0
Tkl                      3.0
Int                      1.0
Blocks                   4.0
xG                       0.0
npxG                     0.0
xA                       0.3
SCA                      2.0
GCA                      1.0
Cmp                     14.0
Att                     21.0
Cmp%                    66.7
PrgP                     1.0
Carries                  9.0
PrgC                     1.0
T_att                    0.0
T_succ                   0.0
Season               2022-23
WDL                        L
Team_score                 2
Opp_score                  4
Team_CS                  0.0
Was_home                 1.0
GW                        24
Clean_name               NaN
FPL_name         Alex-Moreno
FPL_team         Aston Villa
FPL_opp_team         Arsenal
Name_original            NaN
FPL_pos                  NaN
FPL_ast                  NaN
Bonus                    NaN
Bps                      NaN
Name: 681, dtype: object

# Missing values