In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("data/fpl_fbref_players.csv")

In [4]:
df2 = pd.read_csv("data/fpl_fbref_players2.csv")

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24683 entries, 0 to 24682
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    24683 non-null  int64
 1   Unnamed: 0.1  24683 non-null  int64
 2   Date          24683 non-null  object
 3   Day           24683 non-null  object
 4   Comp          24683 non-null  object
 5   Round         24683 non-null  object
 6   Venue         24683 non-null  object
 7   Squad         24683 non-null  object
 8   Opponent      24683 non-null  object
 9   Start         24683 non-null  object
 10  Pos           24640 non-null  object
 11  Min           24680 non-null  float64
 12  Gls           24683 non-null  float64
 13  Ast           24683 non-null  float64
 14  PK            24683 non-null  float64
 15  PKatt         24683 non-null  float64
 16  Sh            24583 non-null  float64
 17  SoT           24583 non-null  float64
 18  CrdY          24683 non-null  float64
 19  CrdR          24683 non-null  float64
 20  Touches       24388 non-null  float64
 21  Tkl           24388 non-null  float64
 22  Int           24583 non-null  float64
 23  Blocks        24388 non-null  float64
 24  xG            24388 non-null  float64
 25  npxG          24388 non-null  float64
 26  xAG           24388 non-null  float64
 27  SCA           24388 non-null  float64
 28  GCA           24388 non-null  float64
 29  Cmp           24388 non-null  float64
 30  Att           24388 non-null  float64
 31  Cmp%          24177 non-null  float64
 32  PrgP          24388 non-null  float64
 33  Carries       24388 non-null  float64
 34  PrgC          24388 non-null  float64
 35  Att.1         24388 non-null  float64
 36  Succ          24388 non-null  float64
 37  Match Report  24683 non-null  object
 38  Name          24683 non-null  object
 39  Season        24683 non-null  object
 40  Fls           63 non-null     float64
 41  Fld           63 non-null     float64
 42  Off           63 non-null     float64
 43  Crs           63 non-null     float64
 44  TklW          63 non-null     float64
 45  OG            63 non-null     float64
 46  PKwon         63 non-null     float64
 47  PKcon         63 non-null     float64
 48  WDL           24683 non-null  object
 49  GoalsTeams    24683 non-null  object
 50  Team Score    24683 non-null  int64
 51  Opp Score     24683 non-null  int64
 52  CS            24683 non-null  float64
 53  Was Home      24683 non-null  float64
 54  GW            24683 non-null  object
 55  neutral_name  24683 non-null  object
 56  Total Points  22151 non-null  float64
 57  FPL position  22151 non-null  object
dtypes: float64(37), int64(4), object(17)
memory usage: 10.9+ MB

In [10]:
df2.columns

Index(['Unnamed: 0', 'Unnamed: 0_x', 'Date', 'Day', 'Comp', 'Round', 'Venue',
       'Squad', 'Opponent', 'Start',
       ...
       'was_home', 'yellow_cards', 'GW_y', 'xP', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'neutral_name_y'],
      dtype='object', length=105)

In [7]:
df2.describe()

,Unnamed: 0,Unnamed: 0_x,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,...,transfers_out,value,yellow_cards,GW_y,xP,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts
count,24683.000000,24683.000000,24680.000000,24683.000000,24683.000000,24683.000000,24683.000000,24583.000000,24583.000000,24683.000000,...,2.215100e+04,22151.000000,22151.000000,22151.000000,14128.000000,14128.000000,14128.000000,14128.000000,14128.000000,14128.000000
mean,12341.000000,24.415104,54.452796,0.078394,0.055139,0.005915,0.007617,0.698003,0.232925,0.098894,...,1.970606e+04,52.874362,0.095165,20.051059,2.183126,0.030140,0.074943,0.050075,0.546999,0.369408
std,7125.512683,15.395819,38.799696,0.300670,0.245365,0.079790,0.090593,1.169333,0.565399,0.302436,...,5.198517e+04,13.195193,0.293449,10.944220,2.390554,0.088199,0.193966,0.159853,0.817357,0.482662
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,37.000000,0.000000,1.000000,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6170.500000,11.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.180000e+02,45.000000,0.000000,11.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12341.000000,24.000000,75.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.601000e+03,49.000000,0.000000,21.000000,1.500000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,18511.500000,36.000000,90.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,1.600150e+04,56.000000,0.000000,29.000000,3.200000,0.011425,0.040000,0.000000,0.920000,1.000000
max,24682.000000,86.000000,90.000000,4.000000,3.000000,2.000000,2.000000,11.000000,5.000000,2.000000,...,1.128139e+06,133.000000,1.000000,38.000000,23.600000,1.285270,2.380000,2.370000,5.130000,1.000000

In [ ]:
df1.describe()

In [11]:
df_final = pd.read_csv("data/final_dataset.csv")

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (53) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
df_final.columns

Index(['Unnamed: 0', 'Date', 'Day', 'Comp', 'Round', 'Venue', 'Squad',
       'Opponent', 'Start', 'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh',
       'SoT', 'CrdY', 'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG',
       'xAG', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC',
       'Att.1', 'Succ', 'Match Report', 'Name', 'Season', 'Fls', 'Fld', 'Off',
       'Crs', 'TklW', 'OG', 'PKwon', 'PKcon', 'WDL', 'GoalsTeams',
       'Team Score', 'Opp Score', 'CS', 'Was Home', 'GW', 'neutral_name',
       'Total Points', 'FPL position', 'Opp rating', 'Team rating',
       'ScoreForLast5', 'ScoreAgainstLast5', 'MinAvgOverall', 'GlsAvgOverall',
       'AstAvgOverall', 'CrdYAvgOverall', 'CrdRAvgOverall', 'xGAvgOverall',
       'xAGAvgOverall', 'CSAvgOverall', 'Team ScoreAvgOverall',
       'Opp ScoreAvgOverall'],
      dtype='object')

In [ ]:
df_final[""].unique()

In [14]:
df_final[df_final["Name"] == "Mohamed-Salah"]

,Unnamed: 0,Date,Day,Comp,Round,Venue,Squad,Opponent,Start,Pos,...,MinAvgOverall,GlsAvgOverall,AstAvgOverall,CrdYAvgOverall,CrdRAvgOverall,xGAvgOverall,xAGAvgOverall,CSAvgOverall,Team ScoreAvgOverall,Opp ScoreAvgOverall
17289,17289,2021-08-14,Sat,Premier League,Matchweek 1,Away,Liverpool,Norwich City,Y,RW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17290,17290,2021-08-21,Sat,Premier League,Matchweek 2,Home,Liverpool,Burnley,Y,RW,...,90.000000,1.000000,2.000000,0.000000,0.0,0.300000,0.700000,1.000000,3.000000,0.000000
17291,17291,2021-08-28,Sat,Premier League,Matchweek 3,Home,Liverpool,Chelsea,Y,RW,...,90.000000,0.500000,1.000000,0.000000,0.0,0.350000,0.400000,1.000000,2.500000,0.000000
17292,17292,2021-09-12,Sun,Premier League,Matchweek 4,Away,Liverpool,Leeds United,Y,RW,...,90.000000,0.666667,0.666667,0.000000,0.0,0.600000,0.333333,0.666667,2.000000,0.333333
17293,17293,2021-09-18,Sat,Premier League,Matchweek 5,Home,Liverpool,Crystal Palace,Y,RW,...,90.000000,0.750000,0.500000,0.000000,0.0,0.675000,0.450000,0.750000,2.250000,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17357,17357,2023-05-03,Wed,Premier League,Matchweek 28,Home,Liverpool,Fulham,Y,RW,...,82.529412,0.588235,0.294118,0.044118,0.0,0.591176,0.232353,0.455882,2.220588,0.970588
17358,17358,2023-05-06,Sat,Premier League,Matchweek 35,Home,Liverpool,Brentford,Y,RW,...,82.536232,0.594203,0.289855,0.043478,0.0,0.600000,0.231884,0.463768,2.202899,0.956522
17359,17359,2023-05-15,Mon,Premier League,Matchweek 36,Away,Liverpool,Leicester City,Y,RW,...,82.642857,0.600000,0.285714,0.042857,0.0,0.605714,0.231429,0.471429,2.185714,0.942857
17360,17360,2023-05-20,Sat,Premier League,Matchweek 37,Home,Liverpool,Aston Villa,Y,RW,...,82.704225,0.591549,0.323944,0.042254,0.0,0.609859,0.240845,0.478873,2.197183,0.929577
17361,17361,2023-05-28,Sun,Premier League,Matchweek 38,Away,Liverpool,Southampton,Y,"RW,RM",...,82.805556,0.583333,0.333333,0.041667,0.0,0.602778,0.243056,0.472222,2.180556,0.930556