In [1]:
from mergers import *
import pandas as pd
import numpy as np
from commons import *
from data_prep import *

In [2]:
# updating fpl_player.csv
previous_seasons = pd.read_csv('data/cleaned_merged_seasons.csv')
this_season = pd.read_csv('data/2022-23/gws/merged_gw.csv')

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
previous_seasons = previous_seasons[previous_seasons['team_x'].notnull()]
previous_seasons = previous_seasons.rename(columns = {
        'season_x': 'season',
        'team_x': 'team'
    })
this_season['season'] = CURRENT_SEASON_FPL

In [4]:
previous_seasons

,Unnamed: 0,season,name,position,team,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
49472,49472,2020-21,Aaron Connolly,FWD,Brighton,0,0,-3,0,0.3,...,1.0,32.0,1,0,0,0,55,True,0,1
49473,49473,2020-21,Aaron Cresswell,DEF,West Ham,0,0,11,0,11.2,...,0.0,0.0,1,0,0,0,50,True,0,1
49474,49474,2020-21,Aaron Mooy,MID,Brighton,0,0,0,0,0.0,...,1.0,0.0,0,0,0,0,50,True,0,1
49475,49475,2020-21,Aaron Ramsdale,GK,Sheffield Utd,0,0,12,0,0.0,...,0.0,0.0,1,0,0,0,50,True,0,1
49476,49476,2020-21,Abdoulaye Doucour√©,MID,Everton,0,0,20,1,44.6,...,0.0,4.0,3,0,0,0,55,False,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98397,98397,2021-22,Wilfred Ndidi,MID,Leicester,0,0,0,0,0.0,...,4.0,0.0,0,-202,22,224,48,True,0,38
98398,98398,2021-22,Matt Ritchie,DEF,Newcastle,0,0,3,0,0.0,...,1.0,0.0,1,143,396,253,49,False,0,38
98399,98399,2021-22,Nathan Redmond,MID,Southampton,0,0,5,0,0.0,...,4.0,0.0,2,455,683,228,59,False,0,38
98400,98400,2021-22,Mathew Ryan,GK,Brighton,0,0,0,0,0.0,...,3.0,0.0,0,-2,0,2,45,True,0,38
98401,98401,2021-22,Ryan Fredericks,DEF,West Ham,0,0,0,0,0.0,...,3.0,0.0,0,36,103,67,44,False,0,38

In [5]:
this_season

,name,position,team,xP,assists,bonus,bps,clean_sheets,creativity,element,...,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,season
0,Nathan Redmond,MID,Southampton,1.5,0,0,3,0,0.0,403,...,0.0,1,0,0,0,55,False,0,1,2022-23
1,Junior Stanislas,MID,Bournemouth,1.1,0,0,3,0,0.0,58,...,0.0,1,0,0,0,50,True,0,1,2022-23
2,Armando Broja,FWD,Chelsea,2.0,0,0,3,0,0.3,150,...,19.0,1,0,0,0,55,False,0,1,2022-23
3,Fabian Sch√§r,DEF,Newcastle,2.4,0,3,43,1,14.6,366,...,25.0,15,0,0,0,45,True,0,1,2022-23
4,Jonny Evans,DEF,Leicester,1.9,0,0,15,0,1.3,249,...,0.0,1,0,0,0,45,True,0,1,2022-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4014,Nick Pope,GK,Newcastle,5.3,0,0,12,0,0.0,376,...,0.0,2,624232,644512,20280,52,True,0,8,2022-23
4015,Oliver Skipp,MID,Spurs,0.5,0,0,0,0,0.0,441,...,0.0,0,-249,348,597,44,True,0,8,2022-23
4016,Ryan Sessegnon,DEF,Spurs,2.3,0,0,7,0,2.4,436,...,8.0,1,1833,9157,7324,45,True,0,8,2022-23
4017,Ashley Young,DEF,Aston Villa,1.8,0,0,19,1,19.7,538,...,9.0,5,654,1050,396,44,True,1,8,2022-23
4018,Philip Billing,MID,Bournemouth,4.5,0,2,30,0,21.8,70,...,35.0,9,1333,2105,772,53,False,0,8,2022-23

In [6]:
this_season.iloc[0]

name                       Nathan Redmond
position                              MID
team                          Southampton
xP                                    1.5
assists                                 0
bonus                                   0
bps                                     3
clean_sheets                            0
creativity                            0.0
element                               403
fixture                                 8
goals_conceded                          0
goals_scored                            0
ict_index                             0.0
influence                             0.0
kickoff_time         2022-08-06T14:00:00Z
minutes                                 1
opponent_team                          18
own_goals                               0
penalties_missed                        0
penalties_saved                         0
red_cards                               0
round                                   1
saves                                   0
selected                             5871
team_a_score                            1
team_h_score                            4
threat                                0.0
total_points                            1
transfers_balance                       0
transfers_in                            0
transfers_out                           0
value                                  55
was_home                            False
yellow_cards                            0
GW                                      1
season                            2022-23
Name: 0, dtype: object

In [7]:
this_season = add_opp_team_for_current_season(this_season)

LENGTH (0, 37)

In [8]:
this_season.iloc[0]

name                       Nathan Redmond
position                              MID
team                          Southampton
xP                                    1.5
assists                                 0
bonus                                   0
bps                                     3
clean_sheets                            0
creativity                            0.0
element                               403
fixture                                 8
goals_conceded                          0
goals_scored                            0
ict_index                             0.0
influence                             0.0
kickoff_time         2022-08-06T14:00:00Z
minutes                                 1
opponent_team                          18
own_goals                               0
penalties_missed                        0
penalties_saved                         0
red_cards                               0
round                                   1
saves                                   0
selected                             5871
team_a_score                            1
team_h_score                            4
threat                                0.0
total_points                            1
transfers_balance                       0
transfers_in                            0
transfers_out                           0
value                                  55
was_home                            False
yellow_cards                            0
GW                                      1
season                            2022-23
opp_team_name                       Spurs
Name: 0, dtype: object

In [9]:
merged_seasons = pd.concat([previous_seasons, this_season])

In [10]:
merged_seasons['opp_team_name']

49472        Chelsea
49473      Newcastle
49474        Chelsea
49475         Wolves
49476          Spurs
            ...
4014     Bournemouth
4015       Leicester
4016       Leicester
4017     Southampton
4018       Newcastle
Name: opp_team_name, Length: 52949, dtype: object

In [11]:
merged_seasons = merged_seasons.drop(columns=['Unnamed: 0'])

In [12]:
merged_seasons = merged_seasons.reset_index()

In [13]:
merged_seasons.to_csv('fpl_players.csv')