# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from vaastav.understat import *
from vaastav.getters import *
from config import *

# Getting data

In [3]:
fixtures = get_fixtures_data()

In [4]:
df_fixtures = pd.DataFrame(fixtures).dropna()

In [5]:
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [6]:
df_fixtures["Squad H"] = df_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_fixtures["Squad A"] = df_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))
df_fixtures["date"] = df_fixtures["kickoff_time"].str[:10]

In [7]:
epl_data = get_epl_data()
epl_data = epl_data[0]

In [8]:
# epl_data

In [9]:
def team_understat_to_fpl(team_name):
    if team_name == "Wolverhampton Wanderers":
        return "Wolves"
    if team_name == "Newcastle United":
        return "Newcastle Utd"
    if team_name == "Manchester United":
        return "Manchester Utd"
    if team_name == "Nottingham Forest":
        return "Nott'ham Forest"
    return team_name

# Basic DF

In [10]:
df = pd.DataFrame(columns=["Team", "xG", "xGA", "Date", "GW"])

for k in epl_data.keys():
    title = team_understat_to_fpl(epl_data[k]['title'])
    i = 1
    for h in epl_data[k]['history']:
        xG = h["xG"]
        xGA = h["xGA"]
        date = h["date"][:10]
        gw = i
        
        new_row = {
                    "Team": title,
                    "xG": xG,
                    "xGA": xGA,
                    "Date": date,
                    "GW": gw
                  }
        i += 1
        df = df.append(new_row, ignore_index=True)

In [11]:
def assign_opponent(x):
    r1 = df_fixtures[ (df_fixtures["date"] == x["Date"]) & (df_fixtures["Squad H"] == x["Team"]) ]
    r2 = df_fixtures[ (df_fixtures["date"] == x["Date"]) & (df_fixtures["Squad A"] == x["Team"]) ]
    if r1.size > 0:
        return r1["Squad A"].item()
    if r2.size > 0:
        return r2["Squad H"].item()
    return None

In [12]:
for i, row in df.iterrows():
    df.loc[i, "Opponent"] = assign_opponent(row)

In [13]:
df

                Team        xG       xGA        Date GW          Opponent
0        Aston Villa  1.486000  4.322080  2023-08-12  1     Newcastle Utd
1        Aston Villa  3.243360  0.721465  2023-08-20  2           Everton
2        Aston Villa  2.836910  0.630605  2023-08-27  3           Burnley
3            Everton  2.590010  1.581440  2023-08-12  1            Fulham
4            Everton  0.721465  3.243360  2023-08-20  2       Aston Villa
5            Everton  1.897920  1.402280  2023-08-26  3            Wolves
6        Bournemouth  1.510250  1.483400  2023-08-12  1          West Ham
7        Bournemouth  1.386700  3.254480  2023-08-19  2         Liverpool
8        Bournemouth  0.483582  2.261150  2023-08-26  3         Tottenham
9     Crystal Palace  2.276160  0.422704  2023-08-12  1  Sheffield United
10    Crystal Palace  1.069160  2.205930  2023-08-21  2           Arsenal
11    Crystal Palace  1.060610  0.948011  2023-08-26  3         Brentford
12           Chelsea  1.932580  1.299940  2023-08-13  1         Liverpool
13           Chelsea  1.609160  1.712340  2023-08-20  2          West Ham
14           Chelsea  3.414190  0.465741  2023-08-25  3             Luton
15          West Ham  1.483400  1.510250  2023-08-12  1       Bournemouth
16          West Ham  1.712340  1.609160  2023-08-20  2           Chelsea
17          West Ham  2.952700  1.374300  2023-08-26  3          Brighton
18         Tottenham  1.453160  1.907560  2023-08-13  1         Brentford
19         Tottenham  2.539040  2.446040  2023-08-19  2    Manchester Utd
20         Tottenham  2.261150  0.483582  2023-08-26  3       Bournemouth
21           Arsenal  0.842620  0.966305  2023-08-12  1   Nott'ham Forest
22           Arsenal  2.205930  1.069160  2023-08-21  2    Crystal Palace
23           Arsenal  3.230880  0.849817  2023-08-26  3            Fulham
24     Newcastle Utd  4.322080  1.486000  2023-08-12  1       Aston Villa
25     Newcastle Utd  0.257154  1.225280  2023-08-19  2   Manchester City
26     Newcastle Utd  1.620370  0.856121  2023-08-27  3         Liverpool
27         Liverpool  1.299940  1.932580  2023-08-13  1           Chelsea
28         Liverpool  3.254480  1.386700  2023-08-19  2       Bournemouth
29         Liverpool  0.856121  1.620370  2023-08-27  3     Newcastle Utd
30   Manchester City  2.400740  0.311032  2023-08-11  1           Burnley
31   Manchester City  1.225280  0.257154  2023-08-19  2     Newcastle Utd
32   Manchester City  3.848040  0.762232  2023-08-27  3  Sheffield United
33    Manchester Utd  1.970870  1.722280  2023-08-14  1            Wolves
34    Manchester Utd  2.446040  2.539040  2023-08-19  2         Tottenham
35    Manchester Utd  3.028030  0.960354  2023-08-26  3   Nott'ham Forest
36           Burnley  0.311032  2.400740  2023-08-11  1   Manchester City
37           Burnley  0.630605  2.836910  2023-08-27  2       Aston Villa
38          Brighton  4.367480  1.885940  2023-08-12  1             Luton
39          Brighton  3.155620  2.688210  2023-08-19  2            Wolves
40          Brighton  1.374300  2.952700  2023-08-26  3          West Ham
41            Fulham  1.581440  2.590010  2023-08-12  1           Everton
42            Fulham  0.399899  3.468880  2023-08-19  2         Brentford
43            Fulham  0.849817  3.230880  2023-08-26  3           Arsenal
44            Wolves  1.722280  1.970870  2023-08-14  1    Manchester Utd
45            Wolves  2.688210  3.155620  2023-08-19  2          Brighton
46            Wolves  1.402280  1.897920  2023-08-26  3           Everton
47  Sheffield United  0.422704  2.276160  2023-08-12  1    Crystal Palace
48  Sheffield United  0.551038  1.371810  2023-08-18  2   Nott'ham Forest
49  Sheffield United  0.762232  3.848040  2023-08-27  3   Manchester City
50         Brentford  1.907560  1.453160  2023-08-13  1         Tottenham
51         Brentford  3.468880  0.399899  2023-08-19  2            Fulham
52         Brentford  0.948011  1.060610  2023-08-26  3    Crystal Palace
53   Nott'ham Forest  0.966305  0.842620  2023-08-12  1           Arsenal
54   Nott'ham Forest  1.371810  0.551038  2023-08-18  2  Sheffield United
55   Nott'ham Forest  0.960354  3.028030  2023-08-26  3    Manchester Utd
56             Luton  1.885940  4.367480  2023-08-12  1          Brighton
57             Luton  0.465741  3.414190  2023-08-25  2           Chelsea

# Pivot xG

In [14]:
pivot_xG = pd.pivot_table(df, values='xG', index=['Team'],
                       columns=['GW'], aggfunc=np.sum)
pivot_xG['Summary'] = pivot_xG.sum(axis=1)
pivot_xG.columns = ['GW' + str(col).split(".")[0] for col in pivot_xG.columns[:-1]] + ['Summary']
pivot_xG = pivot_xG.sort_values(by=["Summary"], ascending = False)
pivot_xG.head(20)

                       GW1       GW2       GW3   Summary
Team
Brighton          4.367480  3.155620  1.374300  8.897400
Aston Villa       1.486000  3.243360  2.836910  7.566270
Manchester City   2.400740  1.225280  3.848040  7.474060
Manchester Utd    1.970870  2.446040  3.028030  7.444940
Chelsea           1.932580  1.609160  3.414190  6.955930
Brentford         1.907560  3.468880  0.948011  6.324451
Arsenal           0.842620  2.205930  3.230880  6.279430
Tottenham         1.453160  2.539040  2.261150  6.253350
Newcastle Utd     4.322080  0.257154  1.620370  6.199604
West Ham          1.483400  1.712340  2.952700  6.148440
Wolves            1.722280  2.688210  1.402280  5.812770
Liverpool         1.299940  3.254480  0.856121  5.410541
Everton           2.590010  0.721465  1.897920  5.209395
Crystal Palace    2.276160  1.069160  1.060610  4.405930
Bournemouth       1.510250  1.386700  0.483582  3.380532
Nott'ham Forest   0.966305  1.371810  0.960354  3.298469
Fulham            1.581440  0.399899  0.849817  2.831156
Luton             1.885940  0.465741       NaN  2.351681
Sheffield United  0.422704  0.551038  0.762232  1.735974
Burnley           0.311032  0.630605       NaN  0.941637

# Pivot xGA

In [15]:
pivot_xGA = pd.pivot_table(df, values='xGA', index=['Team'],
                       columns=['GW'], aggfunc=np.sum)
pivot_xGA['Summary'] = pivot_xGA.sum(axis=1)
pivot_xGA.columns = ['GW' + str(col).split(".")[0] for col in pivot_xGA.columns[:-1]] + ['Summary']
pivot_xGA = pivot_xGA.sort_values(by=["Summary"], ascending = False)
pivot_xGA.head(20)

                       GW1       GW2       GW3   Summary
Team
Fulham            2.590010  3.468880  3.230880  9.289770
Luton             4.367480  3.414190       NaN  7.781670
Brighton          1.885940  2.688210  2.952700  7.526850
Sheffield United  2.276160  1.371810  3.848040  7.496010
Wolves            1.970870  3.155620  1.897920  7.024410
Bournemouth       1.483400  3.254480  2.261150  6.999030
Everton           1.581440  3.243360  1.402280  6.227080
Aston Villa       4.322080  0.721465  0.630605  5.674150
Burnley           2.400740  2.836910       NaN  5.237650
Manchester Utd    1.722280  2.539040  0.960354  5.221674
Liverpool         1.932580  1.386700  1.620370  4.939650
Tottenham         1.907560  2.446040  0.483582  4.837182
West Ham          1.510250  1.609160  1.374300  4.493710
Nott'ham Forest   0.842620  0.551038  3.028030  4.421688
Crystal Palace    0.422704  2.205930  0.948011  3.576645
Newcastle Utd     1.486000  1.225280  0.856121  3.567401
Chelsea           1.299940  1.712340  0.465741  3.478021
Brentford         1.453160  0.399899  1.060610  2.913669
Arsenal           0.966305  1.069160  0.849817  2.885282
Manchester City   0.311032  0.257154  0.762232  1.330418

# Summary

In [16]:
summary_df = df.groupby('Team', as_index=False)['xG', 'xGA'].sum()
# Add a summary row for each unique 'Team'
# summary_df.append({'Team': 'Summary', 'xG': summary_df['xG'].sum(), 'xGA': summary_df['xGA'].sum()}, ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_1788\1851615091.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_df = df.groupby('Team', as_index=False)['xG', 'xGA'].sum()

In [17]:
summary_df["Opponent"] = "Summary"

In [18]:
summary_df

                Team        xG       xGA Opponent
0            Arsenal  6.279430  2.885282  Summary
1        Aston Villa  7.566270  5.674150  Summary
2        Bournemouth  3.380532  6.999030  Summary
3          Brentford  6.324451  2.913669  Summary
4           Brighton  8.897400  7.526850  Summary
5            Burnley  0.941637  5.237650  Summary
6            Chelsea  6.955930  3.478021  Summary
7     Crystal Palace  4.405930  3.576645  Summary
8            Everton  5.209395  6.227080  Summary
9             Fulham  2.831156  9.289770  Summary
10         Liverpool  5.410541  4.939650  Summary
11             Luton  2.351681  7.781670  Summary
12   Manchester City  7.474060  1.330418  Summary
13    Manchester Utd  7.444940  5.221674  Summary
14     Newcastle Utd  6.199604  3.567401  Summary
15   Nott'ham Forest  3.298469  4.421688  Summary
16  Sheffield United  1.735974  7.496010  Summary
17         Tottenham  6.253350  4.837182  Summary
18          West Ham  6.148440  4.493710  Summary
19            Wolves  5.812770  7.024410  Summary

# Summary per 90

In [19]:
summary_df_per_90 = df.groupby('Team', as_index=False)['xG', 'xGA'].mean()
summary_df_per_90["Opponent"] = "Summary per 90"

C:\Users\user\AppData\Local\Temp\ipykernel_1788\2074694753.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_df_per_90 = df.groupby('Team', as_index=False)['xG', 'xGA'].mean()

In [20]:
summary_df_per_90

                Team        xG       xGA        Opponent
0            Arsenal  2.093143  0.961761  Summary per 90
1        Aston Villa  2.522090  1.891383  Summary per 90
2        Bournemouth  1.126844  2.333010  Summary per 90
3          Brentford  2.108150  0.971223  Summary per 90
4           Brighton  2.965800  2.508950  Summary per 90
5            Burnley  0.470818  2.618825  Summary per 90
6            Chelsea  2.318643  1.159340  Summary per 90
7     Crystal Palace  1.468643  1.192215  Summary per 90
8            Everton  1.736465  2.075693  Summary per 90
9             Fulham  0.943719  3.096590  Summary per 90
10         Liverpool  1.803514  1.646550  Summary per 90
11             Luton  1.175841  3.890835  Summary per 90
12   Manchester City  2.491353  0.443473  Summary per 90
13    Manchester Utd  2.481647  1.740558  Summary per 90
14     Newcastle Utd  2.066535  1.189134  Summary per 90
15   Nott'ham Forest  1.099490  1.473896  Summary per 90
16  Sheffield United  0.578658  2.498670  Summary per 90
17         Tottenham  2.084450  1.612394  Summary per 90
18          West Ham  2.049480  1.497903  Summary per 90
19            Wolves  1.937590  2.341470  Summary per 90

# Weighting

In [21]:
# assigning weighted
for i, row in df[~df["Date"].isna()].iterrows():
    # print(df[(df["Team"] == row["Opponent"]) & (df["Opponent"] == "Summary per 90")])
    df.loc[i, "Weighted_xG"] = row["xG"] / summary_df_per_90[(summary_df_per_90["Team"] == row["Opponent"]) & (summary_df_per_90["Opponent"] == "Summary per 90")]["xGA"].item()
    df.loc[i, "Weighted_xGA"] = row["xGA"] / summary_df_per_90[(summary_df_per_90["Team"] == row["Opponent"]) & (summary_df_per_90["Opponent"] == "Summary per 90")]["xG"].item()

In [22]:
df.head(50)

,Team,xG,xGA,Date,GW,Opponent,Weighted_xG,Weighted_xGA
0,Aston Villa,1.486000,4.322080,2023-08-12,1,Newcastle Utd,1.249649,2.091463
1,Aston Villa,3.243360,0.721465,2023-08-20,2,Everton,1.562543,0.415479
2,Aston Villa,2.836910,0.630605,2023-08-27,3,Burnley,1.083276,1.339380
3,Everton,2.590010,1.581440,2023-08-12,1,Fulham,0.836407,1.675754
4,Everton,0.721465,3.243360,2023-08-20,2,Aston Villa,0.381448,1.285981
5,Everton,1.897920,1.402280,2023-08-26,3,Wolves,0.810568,0.723724
6,Bournemouth,1.510250,1.483400,2023-08-12,1,West Ham,1.008243,0.723793
7,Bournemouth,1.386700,3.254480,2023-08-19,2,Liverpool,0.842185,1.804522
8,Bournemouth,0.483582,2.261150,2023-08-26,3,Tottenham,0.299916,1.084771
9,Crystal Palace,2.276160,0.422704,2023-08-12,1,Sheffield United,0.910949,0.730490
10,Crystal Palace,1.069160,2.205930,2023-08-21,2,Arsenal,1.111670,1.053884
11,Crystal Palace,1.060610,0.948011,2023-08-26,3,Brentford,1.092036,0.449689
12,Chelsea,1.932580,1.299940,2023-08-13,1,Liverpool,1.173715,0.720782
13,Chelsea,1.609160,1.712340,2023-08-20,2,West Ham,1.074275,0.835500
14,Chelsea,3.414190,0.465741,2023-08-25,3,Luton,0.877495,0.396092
15,West Ham,1.483400,1.510250,2023-08-12,1,Bournemouth,0.635831,1.340248
16,West Ham,1.712340,1.609160,2023-08-20,2,Chelsea,1.476995,0.694009
17,West Ham,2.952700,1.374300,2023-08-26,3,Brighton,1.176867,0.463383
18,Tottenham,1.453160,1.907560,2023-08-13,1,Brentford,1.496217,0.904850
19,Tottenham,2.539040,2.446040,2023-08-19,2,Manchester Utd,1.458751,0.985652
20,Tottenham,2.261150,0.483582,2023-08-26,3,Bournemouth,0.969199,0.429147
21,Arsenal,0.842620,0.966305,2023-08-12,1,Nott'ham Forest,0.571696,0.878867
22,Arsenal,2.205930,1.069160,2023-08-21,2,Crystal Palace,1.850279,0.727992
23,Arsenal,3.230880,0.849817,2023-08-26,3,Fulham,1.043367,0.900498
24,Newcastle Utd,4.322080,1.486000,2023-08-12,1,Aston Villa,2.285142,0.589194
25,Newcastle Utd,0.257154,1.225280,2023-08-19,2,Manchester City,0.579864,0.491813
26,Newcastle Utd,1.620370,0.856121,2023-08-27,3,Liverpool,0.984100,0.474696
27,Liverpool,1.299940,1.932580,2023-08-13,1,Chelsea,1.121276,0.833496
28,Liverpool,3.254480,1.386700,2023-08-19,2,Bournemouth,1.394970,1.230605
29,Liverpool,0.856121,1.620370,2023-08-27,3,Newcastle Utd,0.719954,0.784100
30,Manchester City,2.400740,0.311032,2023-08-11,1,Burnley,0.916724,0.660620
31,Manchester City,1.225280,0.257154,2023-08-19,2,Newcastle Utd,1.030397,0.124437
32,Manchester City,3.848040,0.762232,2023-08-27,3,Sheffield United,1.540035,1.317241
33,Manchester Utd,1.970870,1.722280,2023-08-14,1,Wolves,0.841723,0.888877
34,Manchester Utd,2.446040,2.539040,2023-08-19,2,Tottenham,1.517024,1.218086
35,Manchester Utd,3.028030,0.960354,2023-08-26,3,Nott'ham Forest,2.054439,0.873454
36,Burnley,0.311032,2.400740,2023-08-11,1,Manchester City,0.701356,0.963629
37,Burnley,0.630605,2.836910,2023-08-27,2,Aston Villa,0.333409,1.124825
38,Brighton,4.367480,1.885940,2023-08-12,1,Luton,1.122505,1.603908
39,Brighton,3.155620,2.688210,2023-08-19,2,Wolves,1.347709,1.387399
40,Brighton,1.374300,2.952700,2023-08-26,3,West Ham,0.917482,1.440707
41,Fulham,1.581440,2.590010,2023-08-12,1,Everton,0.761885,1.491542
42,Fulham,0.399899,3.468880,2023-08-19,2,Brentford,0.411748,1.645461
43,Fulham,0.849817,3.230880,2023-08-26,3,Arsenal,0.883605,1.543554
44,Wolves,1.722280,1.970870,2023-08-14,1,Manchester Utd,0.989499,0.794178
45,Wolves,2.688210,3.155620,2023-08-19,2,Brighton,1.071448,1.064003
46,Wolves,1.402280,1.897920,2023-08-26,3,Everton,0.675572,1.092979
47,Sheffield United,0.422704,2.276160,2023-08-12,1,Crystal Palace,0.354553,1.549839
48,Sheffield United,0.551038,1.371810,2023-08-18,2,Nott'ham Forest,0.373865,1.247679
49,Sheffield United,0.762232,3.848040,2023-08-27,3,Manchester City,1.718780,1.544558

In [23]:
# Summary weighted

In [24]:
df = df.append(summary_df)
df = df.append(summary_df_per_90)
df = df.reset_index()

In [25]:
summary_weighted_df = df.groupby('Team', as_index=False)['Weighted_xG', "Weighted_xGA"].mean()

C:\Users\user\AppData\Local\Temp\ipykernel_1788\1221973474.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_weighted_df = df.groupby('Team', as_index=False)['Weighted_xG', "Weighted_xGA"].mean()

In [28]:
summary_weighted_df.sort_values(by=["Weighted_xGA"], ascending=False)

                Team  Weighted_xG  Weighted_xGA
9             Fulham     0.685746      1.560186
4           Brighton     1.129232      1.477338
11             Luton     0.576707      1.472555
16  Sheffield United     0.815733      1.447358
1        Aston Villa     1.298489      1.282107
8            Everton     0.676141      1.228486
2        Bournemouth     0.716781      1.204362
5            Burnley     0.517382      1.044227
13    Manchester Utd     1.471062      0.993473
19            Wolves     0.912173      0.983720
10         Liverpool     1.078733      0.949400
15   Nott'ham Forest     0.701831      0.858334
0            Arsenal     1.155114      0.835786
18          West Ham     1.096564      0.832546
17         Tottenham     1.308055      0.773216
7     Crystal Palace     1.038218      0.744688
12   Manchester City     1.162386      0.700766
6            Chelsea     1.041828      0.650791
3          Brentford     1.032818      0.614354
14     Newcastle Utd     1.283036      0.518568

In [27]:
# summary_weighted_df["Weighted_xG"].sum() / 20