In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from vaastav.understat import *
from vaastav.getters import *
from config import *

In [3]:
fixtures = get_fixtures_data()

In [4]:
df_fixtures = pd.DataFrame(fixtures).dropna()

In [5]:
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [6]:
df_fixtures["Squad H"] = df_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_fixtures["Squad A"] = df_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))
df_fixtures["date"] = df_fixtures["kickoff_time"].str[:10]

In [7]:
# df_fixtures

In [8]:
epl_data = get_epl_data()
epl_data = epl_data[0]

In [9]:
def team_understat_to_fpl(team_name):
    if team_name == "Wolverhampton Wanderers":
        return "Wolves"
    if team_name == "Newcastle United":
        return "Newcastle Utd"
    if team_name == "Manchester United":
        return "Manchester Utd"
    if team_name == "Nottingham Forest":
        return "Nott'ham Forest"
    return team_name

In [10]:
df = pd.DataFrame(columns=["Team", "xG", "xGA", "Date"])

for k in epl_data.keys():
    title = team_understat_to_fpl(epl_data[k]['title'])
    for h in epl_data[k]['history']:
        xG = h["xG"]
        xGA = h["xGA"]
        date = h["date"][:10]
        
        new_row = {
                    "Team": title,
                    "xG": xG,
                    "xGA": xGA,
                    "Date": date
                  }
        df = df.append(new_row, ignore_index=True)

In [11]:
def assign_opponent(x):
    r1 = df_fixtures[ (df_fixtures["date"] == x["Date"]) & (df_fixtures["Squad H"] == x["Team"]) ]
    r2 = df_fixtures[ (df_fixtures["date"] == x["Date"]) & (df_fixtures["Squad A"] == x["Team"]) ]
    if r1.size > 0:
        return r1["Squad A"].item()
    if r2.size > 0:
        return r2["Squad H"].item()
    return None

In [12]:
# df_fixtures

In [13]:
# df_fixtures["Squad A"].unique()

In [14]:
# df["Team"].unique()

In [15]:
for i, row in df.iterrows():
    df.loc[i, "Opponent"] = assign_opponent(row)

In [16]:
summary_df = df.groupby('Team', as_index=False)['xG', 'xGA'].sum()
summary_df_per_90 = df.groupby('Team', as_index=False)['xG', 'xGA'].mean()
# Add a summary row for each unique 'Team'
# summary_df.append({'Team': 'Summary', 'xG': summary_df['xG'].sum(), 'xGA': summary_df['xGA'].sum()}, ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_15764\2432573045.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_df = df.groupby('Team', as_index=False)['xG', 'xGA'].sum()
C:\Users\user\AppData\Local\Temp\ipykernel_15764\2432573045.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_df_per_90 = df.groupby('Team', as_index=False)['xG', 'xGA'].mean()

In [17]:
summary_df["Opponent"] = "Summary"
summary_df_per_90["Opponent"] = "Summary per 90"

In [18]:
# summary_df

In [19]:
df = df.append(summary_df)
df = df.append(summary_df_per_90)
df = df.reset_index()

In [20]:
df.tail(40)

    index              Team        xG       xGA Date        Opponent
52      0           Arsenal  6.279430  2.885282  NaN         Summary
53      1       Aston Villa  4.729360  5.043545  NaN         Summary
54      2       Bournemouth  3.380532  6.999030  NaN         Summary
55      3         Brentford  6.324451  2.913669  NaN         Summary
56      4          Brighton  8.897400  7.526850  NaN         Summary
57      5           Burnley  0.311032  2.400740  NaN         Summary
58      6           Chelsea  6.955930  3.478021  NaN         Summary
59      7    Crystal Palace  4.405930  3.576645  NaN         Summary
60      8           Everton  5.209395  6.227080  NaN         Summary
61      9            Fulham  2.831156  9.289770  NaN         Summary
62     10         Liverpool  4.554420  3.319280  NaN         Summary
63     11             Luton  2.351681  7.781670  NaN         Summary
64     12   Manchester City  3.626020  0.568186  NaN         Summary
65     13    Manchester Utd  7.444940  5.221674  NaN         Summary
66     14     Newcastle Utd  4.579234  2.711280  NaN         Summary
67     15   Nott'ham Forest  3.298469  4.421688  NaN         Summary
68     16  Sheffield United  0.973742  3.647970  NaN         Summary
69     17         Tottenham  6.253350  4.837182  NaN         Summary
70     18          West Ham  6.148440  4.493710  NaN         Summary
71     19            Wolves  5.812770  7.024410  NaN         Summary
72      0           Arsenal  2.093143  0.961761  NaN  Summary per 90
73      1       Aston Villa  2.364680  2.521772  NaN  Summary per 90
74      2       Bournemouth  1.126844  2.333010  NaN  Summary per 90
75      3         Brentford  2.108150  0.971223  NaN  Summary per 90
76      4          Brighton  2.965800  2.508950  NaN  Summary per 90
77      5           Burnley  0.311032  2.400740  NaN  Summary per 90
78      6           Chelsea  2.318643  1.159340  NaN  Summary per 90
79      7    Crystal Palace  1.468643  1.192215  NaN  Summary per 90
80      8           Everton  1.736465  2.075693  NaN  Summary per 90
81      9            Fulham  0.943719  3.096590  NaN  Summary per 90
82     10         Liverpool  2.277210  1.659640  NaN  Summary per 90
83     11             Luton  1.175841  3.890835  NaN  Summary per 90
84     12   Manchester City  1.813010  0.284093  NaN  Summary per 90
85     13    Manchester Utd  2.481647  1.740558  NaN  Summary per 90
86     14     Newcastle Utd  2.289617  1.355640  NaN  Summary per 90
87     15   Nott'ham Forest  1.099490  1.473896  NaN  Summary per 90
88     16  Sheffield United  0.486871  1.823985  NaN  Summary per 90
89     17         Tottenham  2.084450  1.612394  NaN  Summary per 90
90     18          West Ham  2.049480  1.497903  NaN  Summary per 90
91     19            Wolves  1.937590  2.341470  NaN  Summary per 90

In [21]:
# assigning weighted
for i, row in df[~df["Date"].isna()].iterrows():
    # print(df[(df["Team"] == row["Opponent"]) & (df["Opponent"] == "Summary per 90")])
    df.loc[i, "Weighted_xG"] = row["xG"] / df[(df["Team"] == row["Opponent"]) & (df["Opponent"] == "Summary per 90")]["xGA"].item()
    df.loc[i, "Weighted_xGA"] = row["xGA"] / df[(df["Team"] == row["Opponent"]) & (df["Opponent"] == "Summary per 90")]["xG"].item()

In [22]:
df.head(50)

,index,Team,xG,xGA,Date,Opponent,Weighted_xG,Weighted_xGA
0,0,Aston Villa,1.486000,4.322080,2023-08-12,Newcastle Utd,1.096161,1.887687
1,1,Aston Villa,3.243360,0.721465,2023-08-20,Everton,1.562543,0.415479
2,2,Everton,2.590010,1.581440,2023-08-12,Fulham,0.836407,1.675754
3,3,Everton,0.721465,3.243360,2023-08-20,Aston Villa,0.286094,1.371585
4,4,Everton,1.897920,1.402280,2023-08-26,Wolves,0.810568,0.723724
5,5,Bournemouth,1.510250,1.483400,2023-08-12,West Ham,1.008243,0.723793
6,6,Bournemouth,1.386700,3.254480,2023-08-19,Liverpool,0.835543,1.429152
7,7,Bournemouth,0.483582,2.261150,2023-08-26,Tottenham,0.299916,1.084771
8,8,Crystal Palace,2.276160,0.422704,2023-08-12,Sheffield United,1.247905,0.868205
9,9,Crystal Palace,1.069160,2.205930,2023-08-21,Arsenal,1.111670,1.053884
10,10,Crystal Palace,1.060610,0.948011,2023-08-26,Brentford,1.092036,0.449689
11,11,Chelsea,1.932580,1.299940,2023-08-13,Liverpool,1.164457,0.570848
12,12,Chelsea,1.609160,1.712340,2023-08-20,West Ham,1.074275,0.835500
13,13,Chelsea,3.414190,0.465741,2023-08-25,Luton,0.877495,0.396092
14,14,West Ham,1.483400,1.510250,2023-08-12,Bournemouth,0.635831,1.340248
15,15,West Ham,1.712340,1.609160,2023-08-20,Chelsea,1.476995,0.694009
16,16,West Ham,2.952700,1.374300,2023-08-26,Brighton,1.176867,0.463383
17,17,Tottenham,1.453160,1.907560,2023-08-13,Brentford,1.496217,0.904850
18,18,Tottenham,2.539040,2.446040,2023-08-19,Manchester Utd,1.458751,0.985652
19,19,Tottenham,2.261150,0.483582,2023-08-26,Bournemouth,0.969199,0.429147
20,20,Arsenal,0.842620,0.966305,2023-08-12,Nott'ham Forest,0.571696,0.878867
21,21,Arsenal,2.205930,1.069160,2023-08-21,Crystal Palace,1.850279,0.727992
22,22,Arsenal,3.230880,0.849817,2023-08-26,Fulham,1.043367,0.900498
23,23,Newcastle Utd,4.322080,1.486000,2023-08-12,Aston Villa,1.713906,0.628415
24,24,Newcastle Utd,0.257154,1.225280,2023-08-19,Manchester City,0.905175,0.675826
25,25,Liverpool,1.299940,1.932580,2023-08-13,Chelsea,1.121276,0.833496
26,26,Liverpool,3.254480,1.386700,2023-08-19,Bournemouth,1.394970,1.230605
27,27,Manchester City,2.400740,0.311032,2023-08-11,Burnley,1.000000,1.000000
28,28,Manchester City,1.225280,0.257154,2023-08-19,Newcastle Utd,0.903839,0.112313
29,29,Manchester Utd,1.970870,1.722280,2023-08-14,Wolves,0.841723,0.888877
30,30,Manchester Utd,2.446040,2.539040,2023-08-19,Tottenham,1.517024,1.218086
31,31,Manchester Utd,3.028030,0.960354,2023-08-26,Nott'ham Forest,2.054439,0.873454
32,32,Burnley,0.311032,2.400740,2023-08-11,Manchester City,1.094825,1.324174
33,33,Brighton,4.367480,1.885940,2023-08-12,Luton,1.122505,1.603908
34,34,Brighton,3.155620,2.688210,2023-08-19,Wolves,1.347709,1.387399
35,35,Brighton,1.374300,2.952700,2023-08-26,West Ham,0.917482,1.440707
36,36,Fulham,1.581440,2.590010,2023-08-12,Everton,0.761885,1.491542
37,37,Fulham,0.399899,3.468880,2023-08-19,Brentford,0.411748,1.645461
38,38,Fulham,0.849817,3.230880,2023-08-26,Arsenal,0.883605,1.543554
39,39,Wolves,1.722280,1.970870,2023-08-14,Manchester Utd,0.989499,0.794178
40,40,Wolves,2.688210,3.155620,2023-08-19,Brighton,1.071448,1.064003
41,41,Wolves,1.402280,1.897920,2023-08-26,Everton,0.675572,1.092979
42,42,Sheffield United,0.422704,2.276160,2023-08-12,Crystal Palace,0.354553,1.549839
43,43,Sheffield United,0.551038,1.371810,2023-08-18,Nott'ham Forest,0.373865,1.247679
44,44,Brentford,1.907560,1.453160,2023-08-13,Tottenham,1.183061,0.697143
45,45,Brentford,3.468880,0.399899,2023-08-19,Fulham,1.120226,0.423748
46,46,Brentford,0.948011,1.060610,2023-08-26,Crystal Palace,0.795168,0.722170
47,47,Nott'ham Forest,0.966305,0.842620,2023-08-12,Arsenal,1.004725,0.402562
48,48,Nott'ham Forest,1.371810,0.551038,2023-08-18,Sheffield United,0.752095,1.131795
49,49,Nott'ham Forest,0.960354,3.028030,2023-08-26,Manchester Utd,0.551751,1.220170

In [23]:
summary_weighted_df = df.groupby('Team', as_index=False)['Weighted_xG', "Weighted_xGA"].mean()

C:\Users\user\AppData\Local\Temp\ipykernel_15764\1221973474.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_weighted_df = df.groupby('Team', as_index=False)['Weighted_xG', "Weighted_xGA"].mean()

In [27]:
summary_weighted_df.sort_values(by=["Weighted_xG"], ascending=False)

                Team  Weighted_xG  Weighted_xGA
13    Manchester Utd     1.471062      0.993473
1        Aston Villa     1.329352      1.151583
14     Newcastle Utd     1.309541      0.652121
17         Tottenham     1.308055      0.773216
10         Liverpool     1.258123      1.032051
0            Arsenal     1.155114      0.835786
7     Crystal Palace     1.150537      0.790593
4           Brighton     1.129232      1.477338
18          West Ham     1.096564      0.832546
5            Burnley     1.094825      1.324174
6            Chelsea     1.038743      0.600813
3          Brentford     1.032818      0.614354
12   Manchester City     0.951919      0.556157
19            Wolves     0.912173      0.983720
15   Nott'ham Forest     0.769524      0.918175
2        Bournemouth     0.714567      1.079239
9             Fulham     0.685746      1.560186
8            Everton     0.644356      1.257021
11             Luton     0.576707      1.472555
16  Sheffield United     0.364209      1.398759

In [25]:
# summary_weighted_df["Weighted_xG"].sum() / 20