In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from vaastav.understat import *
from vaastav.getters import *
from config import *

In [3]:
fixtures = get_fixtures_data()

In [4]:
df_fixtures = pd.DataFrame(fixtures).dropna()

In [5]:
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [6]:
df_fixtures["Squad H"] = df_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_fixtures["Squad A"] = df_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))
df_fixtures["date"] = df_fixtures["kickoff_time"].str[:10]

In [7]:
df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id,Squad H,Squad A,date
2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321,Burnley,Manchester City,2023-08-11
3,2367540,1.0,True,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322,Arsenal,Nott'ham Forest,2023-08-12
4,2367539,1.0,True,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323,Bournemouth,West Ham,2023-08-12
5,2367541,1.0,True,True,4,2023-08-12T14:00:00Z,90,False,True,12,1.0,5,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,93324,Brighton,Luton,2023-08-12
6,2367542,1.0,True,True,5,2023-08-12T14:00:00Z,90,False,True,10,1.0,9,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93325,Everton,Fulham,2023-08-12
7,2367544,1.0,True,True,7,2023-08-12T14:00:00Z,90,False,True,8,1.0,17,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93327,Sheffield United,Crystal Palace,2023-08-12
8,2367543,1.0,True,True,6,2023-08-12T16:30:00Z,90,False,True,2,1.0,15,5.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,93326,Newcastle Utd,Aston Villa,2023-08-12
9,2367545,1.0,True,True,8,2023-08-13T13:00:00Z,90,False,True,18,2.0,4,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,93328,Brentford,Tottenham,2023-08-13
10,2367546,1.0,True,True,9,2023-08-13T15:30:00Z,90,False,True,11,1.0,7,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,3,93329,Chelsea,Liverpool,2023-08-13
11,2367547,1.0,True,True,10,2023-08-14T19:00:00Z,90,False,True,20,0.0,14,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,93330,Manchester Utd,Wolves,2023-08-14
12,2367554,2.0,True,True,17,2023-08-18T18:45:00Z,90,False,True,17,1.0,16,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93337,Nott'ham Forest,Sheffield United,2023-08-18
13,2367550,2.0,True,True,13,2023-08-19T14:00:00Z,90,False,True,4,3.0,10,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,93333,Fulham,Brentford,2023-08-19
14,2367551,2.0,True,True,14,2023-08-19T14:00:00Z,90,False,True,3,1.0,11,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93334,Liverpool,Bournemouth,2023-08-19
15,2367557,2.0,True,True,20,2023-08-19T14:00:00Z,90,False,True,5,4.0,20,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,93340,Wolves,Brighton,2023-08-19
16,2367555,2.0,True,True,18,2023-08-19T16:30:00Z,90,False,True,14,0.0,18,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,3,93338,Tottenham,Manchester Utd,2023-08-19
17,2367553,2.0,True,True,16,2023-08-19T19:00:00Z,90,False,True,15,0.0,13,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",4,5,93336,Manchester City,Newcastle Utd,2023-08-19
18,2367548,2.0,True,True,11,2023-08-20T13:00:00Z,90,False,True,9,0.0,2,4.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,93331,Aston Villa,Everton,2023-08-20
19,2367556,2.0,True,True,19,2023-08-20T15:30:00Z,90,False,True,7,1.0,19,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,93339,West Ham,Chelsea,2023-08-20
20,2367549,2.0,True,True,12,2023-08-21T19:00:00Z,90,False,True,1,1.0,8,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,93332,Crystal Palace,Arsenal,2023-08-21
21,2367563,3.0,True,True,26,2023-08-25T19:00:00Z,90,False,True,12,0.0,7,3.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,93346,Chelsea,Luton,2023-08-25
22,2367558,3.0,True,True,22,2023-08-26T11:30:00Z,90,False,True,18,2.0,3,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,93342,Bournemouth,Tottenham,2023-08-26
23,2367559,3.0,True,True,21,2023-08-26T14:00:00Z,90,False,True,10,2.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93341,Arsenal,Fulham,2023-08-26
24,2367560,3.0,True,True,23,2023-08-26T14:00:00Z,90,False,True,8,1.0,4,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,93343,Brentford,Crystal Palace,2023-08-26
25,2367564,3.0,True,True,27,2023-08-26T14:00:00Z,90,False,True,20,1.0,9,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93347,Everton,Wolves,2023-08-26
26,2367565,3.0,True,True,28,2023-08-26T14:00:00Z,90,False,True,16,2.0,14,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93348,Manchester Utd,Nott'ham Forest,2023-08-26
27,2367561,3.0,True,True,24,2023-08-26T16:30:00Z,90,False,True,19,3.0,5,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,93344,Brighton,West Ham,2023-08-26
28,2367562,3.0,False,True,25,2023-08-27T13:00:00Z,90,False,True,2,3.0,6,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,93345,Burnley,Aston Villa,2023-08-27
29,2367567,3.0,False,True,30,2023-08-27T13:00:00Z,90,False,True,13,2.0,17,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93350,Sheffield United,Manchester City,2023-08-27
30,2367566,3.0,False,False,29,2023-08-27T15:30:00Z,0,False,True,11,2.0,15,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,93349,Newcastle Utd,Liverpool,2023-08-27

In [8]:
epl_data = get_epl_data()
epl_data = epl_data[0]

In [9]:
# epl_data

In [10]:
def team_understat_to_fpl(team_name):
    if team_name == "Wolverhampton Wanderers":
        return "Wolves"
    if team_name == "Newcastle United":
        return "Newcastle Utd"
    if team_name == "Manchester United":
        return "Manchester Utd"
    if team_name == "Nottingham Forest":
        return "Nott'ham Forest"
    return team_name

In [11]:
df = pd.DataFrame(columns=["Team", "xG", "xGA", "Date"])

for k in epl_data.keys():
    title = team_understat_to_fpl(epl_data[k]['title'])
    for h in epl_data[k]['history']:
        xG = h["xG"]
        xGA = h["xGA"]
        date = h["date"][:10]
        
        new_row = {
                    "Team": title,
                    "xG": xG,
                    "xGA": xGA,
                    "Date": date
                  }
        df = df.append(new_row, ignore_index=True)

In [12]:
def assign_opponent(x):
    r1 = df_fixtures[ (df_fixtures["date"] == x["Date"]) & (df_fixtures["Squad H"] == x["Team"]) ]
    r2 = df_fixtures[ (df_fixtures["date"] == x["Date"]) & (df_fixtures["Squad A"] == x["Team"]) ]
    if r1.size > 0:
        return r1["Squad A"].item()
    if r2.size > 0:
        return r2["Squad H"].item()
    return None

In [13]:
# df_fixtures

In [14]:
# df_fixtures["Squad A"].unique()

In [15]:
# df["Team"].unique()

In [16]:
for i, row in df.iterrows():
    df.loc[i, "Opponent"] = assign_opponent(row)

In [17]:
summary_df = df.groupby('Team', as_index=False)['xG', 'xGA'].sum()
summary_df_per_90 = df.groupby('Team', as_index=False)['xG', 'xGA'].mean()
# Add a summary row for each unique 'Team'
# summary_df.append({'Team': 'Summary', 'xG': summary_df['xG'].sum(), 'xGA': summary_df['xGA'].sum()}, ignore_index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_15780\2432573045.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_df = df.groupby('Team', as_index=False)['xG', 'xGA'].sum()
C:\Users\user\AppData\Local\Temp\ipykernel_15780\2432573045.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_df_per_90 = df.groupby('Team', as_index=False)['xG', 'xGA'].mean()

In [18]:
summary_df["Opponent"] = "Summary"
summary_df_per_90["Opponent"] = "Summary per 90"

In [19]:
# summary_df

In [20]:
df = df.append(summary_df)
df = df.append(summary_df_per_90)
df = df.reset_index()

In [21]:
df.tail(40)

    index              Team        xG       xGA Date        Opponent
56      0           Arsenal  6.279430  2.885282  NaN         Summary
57      1       Aston Villa  7.566270  5.674150  NaN         Summary
58      2       Bournemouth  3.380532  6.999030  NaN         Summary
59      3         Brentford  6.324451  2.913669  NaN         Summary
60      4          Brighton  8.897400  7.526850  NaN         Summary
61      5           Burnley  0.941637  5.237650  NaN         Summary
62      6           Chelsea  6.955930  3.478021  NaN         Summary
63      7    Crystal Palace  4.405930  3.576645  NaN         Summary
64      8           Everton  5.209395  6.227080  NaN         Summary
65      9            Fulham  2.831156  9.289770  NaN         Summary
66     10         Liverpool  4.554420  3.319280  NaN         Summary
67     11             Luton  2.351681  7.781670  NaN         Summary
68     12   Manchester City  7.474060  1.330418  NaN         Summary
69     13    Manchester Utd  7.444940  5.221674  NaN         Summary
70     14     Newcastle Utd  4.579234  2.711280  NaN         Summary
71     15   Nott'ham Forest  3.298469  4.421688  NaN         Summary
72     16  Sheffield United  1.735974  7.496010  NaN         Summary
73     17         Tottenham  6.253350  4.837182  NaN         Summary
74     18          West Ham  6.148440  4.493710  NaN         Summary
75     19            Wolves  5.812770  7.024410  NaN         Summary
76      0           Arsenal  2.093143  0.961761  NaN  Summary per 90
77      1       Aston Villa  2.522090  1.891383  NaN  Summary per 90
78      2       Bournemouth  1.126844  2.333010  NaN  Summary per 90
79      3         Brentford  2.108150  0.971223  NaN  Summary per 90
80      4          Brighton  2.965800  2.508950  NaN  Summary per 90
81      5           Burnley  0.470818  2.618825  NaN  Summary per 90
82      6           Chelsea  2.318643  1.159340  NaN  Summary per 90
83      7    Crystal Palace  1.468643  1.192215  NaN  Summary per 90
84      8           Everton  1.736465  2.075693  NaN  Summary per 90
85      9            Fulham  0.943719  3.096590  NaN  Summary per 90
86     10         Liverpool  2.277210  1.659640  NaN  Summary per 90
87     11             Luton  1.175841  3.890835  NaN  Summary per 90
88     12   Manchester City  2.491353  0.443473  NaN  Summary per 90
89     13    Manchester Utd  2.481647  1.740558  NaN  Summary per 90
90     14     Newcastle Utd  2.289617  1.355640  NaN  Summary per 90
91     15   Nott'ham Forest  1.099490  1.473896  NaN  Summary per 90
92     16  Sheffield United  0.578658  2.498670  NaN  Summary per 90
93     17         Tottenham  2.084450  1.612394  NaN  Summary per 90
94     18          West Ham  2.049480  1.497903  NaN  Summary per 90
95     19            Wolves  1.937590  2.341470  NaN  Summary per 90

In [22]:
# assigning weighted
for i, row in df[~df["Date"].isna()].iterrows():
    # print(df[(df["Team"] == row["Opponent"]) & (df["Opponent"] == "Summary per 90")])
    df.loc[i, "Weighted_xG"] = row["xG"] / df[(df["Team"] == row["Opponent"]) & (df["Opponent"] == "Summary per 90")]["xGA"].item()
    df.loc[i, "Weighted_xGA"] = row["xGA"] / df[(df["Team"] == row["Opponent"]) & (df["Opponent"] == "Summary per 90")]["xG"].item()

In [23]:
df.head(50)

,index,Team,xG,xGA,Date,Opponent,Weighted_xG,Weighted_xGA
0,0,Aston Villa,1.486000,4.322080,2023-08-12,Newcastle Utd,1.096161,1.887687
1,1,Aston Villa,3.243360,0.721465,2023-08-20,Everton,1.562543,0.415479
2,2,Aston Villa,2.836910,0.630605,2023-08-27,Burnley,1.083276,1.339380
3,3,Everton,2.590010,1.581440,2023-08-12,Fulham,0.836407,1.675754
4,4,Everton,0.721465,3.243360,2023-08-20,Aston Villa,0.381448,1.285981
5,5,Everton,1.897920,1.402280,2023-08-26,Wolves,0.810568,0.723724
6,6,Bournemouth,1.510250,1.483400,2023-08-12,West Ham,1.008243,0.723793
7,7,Bournemouth,1.386700,3.254480,2023-08-19,Liverpool,0.835543,1.429152
8,8,Bournemouth,0.483582,2.261150,2023-08-26,Tottenham,0.299916,1.084771
9,9,Crystal Palace,2.276160,0.422704,2023-08-12,Sheffield United,0.910949,0.730490
10,10,Crystal Palace,1.069160,2.205930,2023-08-21,Arsenal,1.111670,1.053884
11,11,Crystal Palace,1.060610,0.948011,2023-08-26,Brentford,1.092036,0.449689
12,12,Chelsea,1.932580,1.299940,2023-08-13,Liverpool,1.164457,0.570848
13,13,Chelsea,1.609160,1.712340,2023-08-20,West Ham,1.074275,0.835500
14,14,Chelsea,3.414190,0.465741,2023-08-25,Luton,0.877495,0.396092
15,15,West Ham,1.483400,1.510250,2023-08-12,Bournemouth,0.635831,1.340248
16,16,West Ham,1.712340,1.609160,2023-08-20,Chelsea,1.476995,0.694009
17,17,West Ham,2.952700,1.374300,2023-08-26,Brighton,1.176867,0.463383
18,18,Tottenham,1.453160,1.907560,2023-08-13,Brentford,1.496217,0.904850
19,19,Tottenham,2.539040,2.446040,2023-08-19,Manchester Utd,1.458751,0.985652
20,20,Tottenham,2.261150,0.483582,2023-08-26,Bournemouth,0.969199,0.429147
21,21,Arsenal,0.842620,0.966305,2023-08-12,Nott'ham Forest,0.571696,0.878867
22,22,Arsenal,2.205930,1.069160,2023-08-21,Crystal Palace,1.850279,0.727992
23,23,Arsenal,3.230880,0.849817,2023-08-26,Fulham,1.043367,0.900498
24,24,Newcastle Utd,4.322080,1.486000,2023-08-12,Aston Villa,2.285142,0.589194
25,25,Newcastle Utd,0.257154,1.225280,2023-08-19,Manchester City,0.579864,0.491813
26,26,Liverpool,1.299940,1.932580,2023-08-13,Chelsea,1.121276,0.833496
27,27,Liverpool,3.254480,1.386700,2023-08-19,Bournemouth,1.394970,1.230605
28,28,Manchester City,2.400740,0.311032,2023-08-11,Burnley,0.916724,0.660620
29,29,Manchester City,1.225280,0.257154,2023-08-19,Newcastle Utd,0.903839,0.112313
30,30,Manchester City,3.848040,0.762232,2023-08-27,Sheffield United,1.540035,1.317241
31,31,Manchester Utd,1.970870,1.722280,2023-08-14,Wolves,0.841723,0.888877
32,32,Manchester Utd,2.446040,2.539040,2023-08-19,Tottenham,1.517024,1.218086
33,33,Manchester Utd,3.028030,0.960354,2023-08-26,Nott'ham Forest,2.054439,0.873454
34,34,Burnley,0.311032,2.400740,2023-08-11,Manchester City,0.701356,0.963629
35,35,Burnley,0.630605,2.836910,2023-08-27,Aston Villa,0.333409,1.124825
36,36,Brighton,4.367480,1.885940,2023-08-12,Luton,1.122505,1.603908
37,37,Brighton,3.155620,2.688210,2023-08-19,Wolves,1.347709,1.387399
38,38,Brighton,1.374300,2.952700,2023-08-26,West Ham,0.917482,1.440707
39,39,Fulham,1.581440,2.590010,2023-08-12,Everton,0.761885,1.491542
40,40,Fulham,0.399899,3.468880,2023-08-19,Brentford,0.411748,1.645461
41,41,Fulham,0.849817,3.230880,2023-08-26,Arsenal,0.883605,1.543554
42,42,Wolves,1.722280,1.970870,2023-08-14,Manchester Utd,0.989499,0.794178
43,43,Wolves,2.688210,3.155620,2023-08-19,Brighton,1.071448,1.064003
44,44,Wolves,1.402280,1.897920,2023-08-26,Everton,0.675572,1.092979
45,45,Sheffield United,0.422704,2.276160,2023-08-12,Crystal Palace,0.354553,1.549839
46,46,Sheffield United,0.551038,1.371810,2023-08-18,Nott'ham Forest,0.373865,1.247679
47,47,Sheffield United,0.762232,3.848040,2023-08-27,Manchester City,1.718780,1.544558
48,48,Brentford,1.907560,1.453160,2023-08-13,Tottenham,1.183061,0.697143
49,49,Brentford,3.468880,0.399899,2023-08-19,Fulham,1.120226,0.423748

In [24]:
summary_weighted_df = df.groupby('Team', as_index=False)['Weighted_xG', "Weighted_xGA"].mean()

C:\Users\user\AppData\Local\Temp\ipykernel_15780\1221973474.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summary_weighted_df = df.groupby('Team', as_index=False)['Weighted_xG', "Weighted_xGA"].mean()

In [25]:
summary_weighted_df.sort_values(by=["Weighted_xG"], ascending=False)

                Team  Weighted_xG  Weighted_xGA
13    Manchester Utd     1.471062      0.993473
14     Newcastle Utd     1.432503      0.540503
17         Tottenham     1.308055      0.773216
10         Liverpool     1.258123      1.032051
1        Aston Villa     1.247327      1.214182
0            Arsenal     1.155114      0.835786
4           Brighton     1.129232      1.477338
12   Manchester City     1.120199      0.696725
18          West Ham     1.096564      0.832546
6            Chelsea     1.038743      0.600813
7     Crystal Palace     1.038218      0.744688
3          Brentford     1.032818      0.614354
19            Wolves     0.912173      0.983720
16  Sheffield United     0.815733      1.447358
2        Bournemouth     0.714567      1.079239
15   Nott'ham Forest     0.701831      0.858334
9             Fulham     0.685746      1.560186
8            Everton     0.676141      1.228486
11             Luton     0.576707      1.472555
5            Burnley     0.517382      1.044227

In [26]:
# summary_weighted_df["Weighted_xG"].sum() / 20