
# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import shap
import pickle

from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error

from sklearn.preprocessing import LabelEncoder

# Loading data
Data consists of all PL players logs for 2021-22 and 2022-23 seasons\
A single log is just a summary of player performance in a particular match

In [3]:
# loading csv
df_original = pd.read_csv('data/previous/FPL_logs.csv')

df = df_original.copy()

In [4]:
df_original.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR',
       'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA',
       'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ',
       'Season', 'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals', 'Penalties_missed',
       'Penalties_saved', 'Saves', 'Selected', 'Threat', 'FPL_points',
       'Transfers_balance', 'Transfers_in', 'Transfers_out', 'Value', 'FPL_GW',
       'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC', 'Opp_rating',
       'Team_rating', 'Min_points'],
      dtype='object')

In [5]:
df_original["Name"].unique().size

484

In [6]:
df.shape

(19421, 80)

In [7]:
df["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

In [8]:
# df = df[~df["FPL_pos"].isin(["GK"])]

In [9]:
df = df.sort_values(by=["Name", "Date"])

# Feature selection
Model will use a set of standard features and moving averages for some other feature values. In this case we will use moving averages for last 2, 4 and 30 gameweeks.

In [10]:
rolling_gameweeks = [2, 4, 30]
# rolling_gameweeks = [5]

to_predict = ["FPL_points"]
standard_features = [
             "Was_home", # Home/Away
             "Team_rating", "Opp_rating", "Rating_difference" # Team ratings
             ]
features_to_roll = [
                "Min", "Start", # time played
                'Gls', 'Sh', 'SoT', # Goals
                'Ast', # Assists
                'CrdY', 'CrdR', # Cards
                "xG", 'xA', # Expected
                'Team_CS', # Defence
                'Team_score', 'Opp_score', 'Team_result', # Team form
                # "xGPoints", "CSPoints", # Position-scaled
                # "Cmp%", "PrgP", "PrgC", "T_succ",
                # 'bonus', 'bps', # Bonus
                # 'Influence', 'Creativity', 'Threat', 
                'ICT_index', # ICT
                "FPL_points", "Baseline_points", "Bonus" # FPL points
            ]
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "FPL_pos"]

In [11]:
# df[df["Name"] == "Erling-Haaland"]

# Feature engineering

In [12]:
df["Rating_difference"] = df["Team_rating"] / df["Opp_rating"]
df["Baseline_points"] = df["FPL_points"] - df["Bonus"]

In [13]:
def calculate_team_points(row):
    # win - 3 points
    if row['Team_score'] > row['Opp_score']:
        return 3
    # draw - 1 point
    elif row['Team_score'] == row['Opp_score']:
        return 1
    # loss - 0 points
    else:
        return 0
    
df['Team_result'] = df.apply(calculate_team_points, axis=1)

In [14]:
def add_rolling_features(df, standard_features, features_to_roll):
    features = standard_features
    
    for r in rolling_gameweeks:
        form_means = df.groupby(["Name"])[features_to_roll].rolling(r, min_periods=1).mean().groupby(["Name"]).shift(1).reset_index()
        # print(form_means[form_means["Name"] == "Erling-Haaland"])
        form_means = form_means.fillna(method='bfill') # slightly incorrect, better to drop Nan
        form_means.columns = [f'{col}{"_"}{r}' for col in form_means.columns]
        features += form_means.columns.tolist()
        features = list(filter(lambda x: x not in ["Name_" + str(r)], features))
        df = pd.concat([df.reset_index(), form_means], axis=1)
        # df = df.merge(form_means, left_index=True, right_index=True)
        df = df.drop([col for col in df.columns if col.startswith('level')], axis=1)
        
    return df.reset_index(), features

In [15]:
def ohe(df, ohe_columns, features):
    # one hot encoding
    for c in ohe_columns:
        ohe_c = pd.get_dummies(df[c], dtype="int64")
        df = pd.concat([df, ohe_c], axis=1)

        features += ohe_c.columns.tolist()
        
    return df, features

In [16]:
def label_encoding(df, column_to_encode):
    
    mapping_dict = {
        'Y': 1, # Starting eleven
        'Y*': 1, # Starting eleven as captain
        'N': 0, # Not in starting eleven
    }
    
    df[column_to_encode] = df[column_to_encode].map(mapping_dict)
    
    return df

In [17]:
df = label_encoding(df, "Start")

In [18]:
df, features = add_rolling_features(df, standard_features, features_to_roll)

In [19]:
df, features = ohe(df, ["FPL_pos"], features)
df = df.drop("GK", axis=1)
features.remove("GK")

In [20]:
# dropping unwanted columns
features = [col for col in features if not col.startswith('level')]
df = df[np.unique(features + info + to_predict)]

In [21]:
df = df[pd.to_numeric(df["GW"], errors="coerce").notna()]
df["GW"] = df["GW"].astype("uint64")

In [22]:
# dropping NaNs
df = df.dropna(axis=0)

In [23]:
# df = df.set_index(["Name_original", "Season", "GW"], drop=False)

In [24]:
df.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [25]:
df.shape

(17485, 68)

In [26]:
# saving to file
df.set_index(["Name_original", "Season", "GW"], drop=False).to_csv("data/misc/df_features.csv", index=False) # keeping GKs on

In [27]:
df = df[~df["FPL_pos"].isin(["GK"])] # only outfield players

# Data split into train and valid
Let's take entire 2021-22 season and 30 first gameweeks of 2022-23 season as training data and 8 last gameweeks of that season as valid data (~10% of all rows).

In [28]:
def shrink_df_to_top_players(df, n_players, min_fixtures):
    # Calculate average scores
    average_scores = df.groupby('Name_original')['FPL_points'].mean()
    
    # Calculate player counts
    player_counts = df['Name_original'].value_counts()
    
    # Filter out players with less than min_fixtures occurrences
    popular_players = player_counts[player_counts >= min_fixtures].index
    
    print("Unique players with min_fixtures:", popular_players.size)

    # Sort players by average scores
    sorted_players = average_scores.sort_values(ascending=False)

    # Get the top n_players players
    top_popular_players = sorted_players[sorted_players.index.isin(popular_players)].head(n_players)

    # Filter the original DataFrame
    top_players_df = df[df['Name_original'].isin(top_popular_players.index)]
    
    print("Unique players left:", top_players_df['Name_original'].unique().size)
    
    return top_players_df

In [29]:
CUT_OFF_GAMEWEEK = 31
SEASON_TO_PREDICT = "2022-23"

In [30]:
df_train = shrink_df_to_top_players(df, 550, 10)
# df_train["Name_original"].unique()

Unique players with min_fixtures: 354
Unique players left: 354

In [31]:
# df = df.set_index(["Name_original", "Season", "GW"], drop=False)

In [32]:
# training data
X_train = df_train[((df_train["Season"] < SEASON_TO_PREDICT) | (df_train["GW"] <= CUT_OFF_GAMEWEEK - 1))].reset_index(drop=True)
y_train = df_train[((df_train["Season"] < SEASON_TO_PREDICT) | (df_train["GW"] <= CUT_OFF_GAMEWEEK - 1))][to_predict].reset_index(drop=True)

In [33]:
# only 31st gameweek
X_test = df[(df["GW"] == CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) ].reset_index(drop=True)
y_test = df[(df["GW"] == CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) ][to_predict].reset_index(drop=True)

In [34]:
# all remaining gameweeks
X_test_all_remaining = df[(df["GW"] >= CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) ].reset_index(drop=True)
y_test_all_remaining = df[(df["GW"] >= CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) ][to_predict].reset_index(drop=True)

In [35]:
X_train.shape, X_test.shape, X_test_all_remaining.shape

((13642, 68), (232, 68), (1971, 68))

In [36]:
df["Team_rating"].min()

1587.89587402

# Model

In [37]:
RATING_DIFF = 4
HOME_DIFF = 0.08

class CustomModel:
    def __init__(self, df):
        self.df = df
    def fit(self, X, y):
        pass
    def predict(self, X):
        output = []
        for i, row in X.iterrows():
            pred = self.df[self.df["Name_original"] == row["Name_original"]]["FPL_points"].mean()
            normal_diff = self.df[self.df["Name_original"] == row["Name_original"]]["Rating_difference"].mean()
            pred += (pred * (row["Rating_difference"] - normal_diff) * RATING_DIFF)
            pred *= ( 1 - HOME_DIFF + row["Was_home"] * 2 * HOME_DIFF )

            # print(row["Name_original"], pred, normal_diff)
            output.append( pred )
        return output

In [38]:
# model = GradientBoostingRegressor(random_state=42)
model = CustomModel(
    df = df
)
# model = RandomForestRegressor(random_state=42)

In [39]:
%%time
model.fit(X_train, np.array(y_train).ravel())

CPU times: total: 0 ns
Wall time: 0 ns

# Getting predictions

In [40]:
def get_predictions(model, df, X, all_remaining=False):
    # make predictions on the test data and glues them to the rest of the dataframe
    predictions = model.predict(X)
    
    if all_remaining:
        df_predictions = df[(df["GW"] >= CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT)].reset_index(drop=True)
    else:
        df_predictions = df[(df["GW"] == CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT)].reset_index(drop=True)
        
    df_predictions.loc[:, "Pred"] = predictions
    
    preds = df_predictions[info + to_predict + ["Pred"]].sort_values(by=["Pred"], ascending = False)
    
    return preds, predictions

In [41]:
df

,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,CrdR_2,...,Team_score_2,Team_score_30,Team_score_4,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4
0,0.0,0.000000,0.0,1.0,1.000000,1.000000,0.0,0.000000,0.0,0.0,...,2.0,2.000000,2.000000,1.0,0.000000e+00,0.00,0.000000e+00,3.000000e-01,0.300000,3.000000e-01
1,0.0,0.000000,0.0,1.0,1.000000,1.000000,0.0,0.000000,0.0,0.0,...,2.0,2.000000,2.000000,1.0,0.000000e+00,0.00,0.000000e+00,3.000000e-01,0.300000,3.000000e-01
2,0.0,0.000000,0.0,0.5,0.500000,0.500000,0.0,0.000000,0.0,0.0,...,1.0,1.000000,1.000000,1.0,0.000000e+00,0.00,0.000000e+00,1.500000e-01,0.150000,1.500000e-01
3,0.0,0.000000,0.0,0.0,0.333333,0.333333,0.0,0.000000,0.0,0.0,...,1.0,1.333333,1.333333,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.100000,1.000000e-01
4,0.0,0.000000,0.0,0.5,0.500000,0.500000,0.0,0.000000,0.0,0.0,...,1.5,1.250000,1.250000,1.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.075000,7.500000e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19386,0.0,0.033333,0.0,1.0,1.620690,1.000000,0.0,0.206897,0.0,0.0,...,1.0,1.700000,1.000000,1.0,2.137179e-15,0.02,2.500000e-02,1.776357e-15,0.006667,4.163336e-16
19387,0.0,0.033333,0.0,0.5,1.586207,0.750000,0.0,0.206897,0.0,0.0,...,1.0,1.733333,1.250000,0.0,2.137179e-15,0.02,3.608225e-16,1.776357e-15,0.006667,4.163336e-16
19388,0.0,0.033333,0.0,0.5,1.551724,0.750000,0.0,0.206897,0.0,0.0,...,1.0,1.766667,1.000000,1.0,2.137179e-15,0.02,3.608225e-16,1.776357e-15,0.006667,4.163336e-16
19389,0.0,0.033333,0.0,1.0,1.533333,0.750000,0.0,0.200000,0.0,0.0,...,1.0,1.800000,1.000000,0.0,2.137179e-15,0.02,3.608225e-16,1.776357e-15,0.006667,4.163336e-16
19390,0.0,0.033333,0.0,0.5,1.466667,0.500000,0.0,0.200000,0.0,0.0,...,2.5,1.866667,1.750000,0.0,2.137179e-15,0.02,3.608225e-16,1.776357e-15,0.006667,4.163336e-16

In [42]:
preds, predictions = get_predictions(model, df, X_test)

In [43]:
preds_all_gameweeks, predictions_all = get_predictions(model, df, X_test_all_remaining, True)

In [44]:
df.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

# Custom metric
Such models are usually used to compare players and decide who to pick for upcoming gameweek(s). For each player pair in a subset of players model can either predict the outcome well (e.g. player A scores more than player B and model predicts exactly that) or predict wrongly (e.g. player A scores more than player B but model predicts player B > player A). Pairwise_accuracy returns the percentage of corrected predicted pairs. Pairwise_accuracy_topX is a variation of this metric calculated only for X highest scoring players of last two seasons.

In [45]:
def get_top_performer_names(df, no_top, no_gws):
    # takes no_top players that recorded highest average FPL points in no_gws last gameweeks
    return df.reset_index(drop=True).groupby("Name_original")["FPL_points"].mean().groupby("Name_original").tail(no_gws).sort_values(ascending=False).head(no_top).index.to_list()

In [46]:
def pairwise_accuracy(predicted_scores, true_scores):
    if len(predicted_scores) != len(true_scores):
        raise ValueError("The length of predicted_scores and true_scores must be the same.")

    num_pairs = 0
    num_correct_pairs = 0

    for i in range(len(predicted_scores)):
        for j in range(i + 1, len(predicted_scores)):
            # Check if the predicted order matches the true order
            if (predicted_scores[i] > predicted_scores[j] and true_scores[i] > true_scores[j]) or \
               (predicted_scores[i] < predicted_scores[j] and true_scores[i] < true_scores[j]):
                num_correct_pairs += 1
            num_pairs += 1

    pairwise_accuracy = num_correct_pairs / num_pairs
    return pairwise_accuracy

In [47]:
def pairwise_accuracy_topX(model, df, top_x, all_gw=False):
    # pairwise_accuracy for top_X players
    if all_gw:
        top_performers = df[(df["GW"] == CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) & (df["Name_original"].isin(get_top_performer_names(df, top_x, 50)))]
    else:
        top_performers = df[(df["GW"] >= CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) & (df["Name_original"].isin(get_top_performer_names(df, top_x, 50)))]

    X = top_performers.reset_index(drop=True)
    y = np.array(top_performers[to_predict].reset_index(drop=True))
    preds = model.predict(X)
    
    return  pairwise_accuracy(preds, y)

In [48]:
def mae_topX(model, df, top_x, all_gw=False):
    # pairwise_accuracy for top_X players
    if all_gw:
        top_performers = df[(df["GW"] == CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) & (df["Name_original"].isin(get_top_performer_names(df, top_x, 50)))]
    else:
        top_performers = df[(df["GW"] >= CUT_OFF_GAMEWEEK) & (df["Season"] == SEASON_TO_PREDICT) & (df["Name_original"].isin(get_top_performer_names(df, top_x, 50)))]

    X = top_performers.reset_index(drop=True)
    y = np.array(top_performers[to_predict].reset_index(drop=True))
    preds = model.predict(X)
    
    return  mean_absolute_error(preds, y)

# Evaluation

In [49]:
def evaluate(model, df, predictions, y_true, all_gw=False):
    # function to calculate different metrics for a given model
    mae = mean_absolute_error(y_true, predictions)
    mae_top100 = mae_topX(model, df, 100, all_gw)
    mae_top30 = mae_topX(model, df, 30, all_gw)
    
    mse = mean_squared_error(y_true, predictions)

    pairwise_acc = pairwise_accuracy(np.array(y_true), predictions)
    pairwise_accuracy_top30 = pairwise_accuracy_topX(model, df, 30, all_gw)
    pairwise_accuracy_top100 = pairwise_accuracy_topX(model, df, 100, all_gw)
    
    print("MAE:", mae)
    print("MAE @TOP100:", mae_top100)
    print("MAE @TOP30:", mae_top30)
    print("MSE:", mse)
    print("Pairwise accuracy:", pairwise_acc)
    print("Pairwise accuracy @TOP100:", pairwise_accuracy_top100)
    print("Pairwise accuracy @TOP30:", pairwise_accuracy_top30)
    print("Avg pred vs avg true:", np.mean(predictions).round(2), "vs", np.mean(y_true).round(2).item())

In [50]:
# df[(df["GW"] == GAMEWEEK_TO_PREDICT) & (df["Season"] == SEASON_TO_PREDICT) & (df["Name"].isin(get_top_performer_names(df, 20, 50)))].columns

In [51]:
# next gameweek
evaluate(model, df, predictions, y_test, all_gw=False)

MAE: 1.9906605002062057
MAE @TOP100: 2.842451331553941
MAE @TOP30: 3.31023668692782
MSE: 8.183860610474042
Pairwise accuracy: 0.5559411852515301
Pairwise accuracy @TOP100: 0.4798593572029911
Pairwise accuracy @TOP30: 0.42853821563498984
Avg pred vs avg true: 2.48 vs 2.38

In [52]:
# all remaining gameweeks
evaluate(model, df, predictions_all, y_test_all_remaining, all_gw=True)

MAE: 1.9466602560799473
MAE @TOP100: 3.111945809904904
MAE @TOP30: 4.132753837680233
MSE: 7.82196023721163
Pairwise accuracy: 0.5447372690818905
Pairwise accuracy @TOP100: 0.4010810810810811
Pairwise accuracy @TOP30: 0.3333333333333333
Avg pred vs avg true: 2.48 vs 2.35

In [53]:
# df[df["Name"] == "Abdoulaye-Doucoure"][info]

In [54]:
# model.predict(df[df["GW"] == GAMEWEEK_TO_PREDICT][df["Name"] == "Mohamed-Salah"][features])

In [55]:
features

['Was_home',
 'Team_rating',
 'Opp_rating',
 'Rating_difference',
 'Min_2',
 'Start_2',
 'Gls_2',
 'Sh_2',
 'SoT_2',
 'Ast_2',
 'CrdY_2',
 'CrdR_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'ICT_index_2',
 'FPL_points_2',
 'Baseline_points_2',
 'Bonus_2',
 'Min_4',
 'Start_4',
 'Gls_4',
 'Sh_4',
 'SoT_4',
 'Ast_4',
 'CrdY_4',
 'CrdR_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'ICT_index_4',
 'FPL_points_4',
 'Baseline_points_4',
 'Bonus_4',
 'Min_30',
 'Start_30',
 'Gls_30',
 'Sh_30',
 'SoT_30',
 'Ast_30',
 'CrdY_30',
 'CrdR_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'ICT_index_30',
 'FPL_points_30',
 'Baseline_points_30',
 'Bonus_30',
 'DEF',
 'FWD',
 'MID']

In [56]:
len(features)

61

In [57]:
df[df["FPL_pos"] == "GKP"]["FPL_pos"]

Series([], Name: FPL_pos, dtype: object)

# Predictions - next gameweek only

In [58]:
preds.head(30)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,FPL_points,Pred
69,Erling Haaland,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,FWD,2.0,8.571582
129,Kevin De Bruyne,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,3.0,7.097969
29,Bruno Borges Fernandes,31,2022-23,Manchester Utd,Nott'ham Forest,0.0,1878.940308,1635.660278,MID,3.0,6.179820
151,Gabriel Martinelli Silva,31,2022-23,Arsenal,West Ham,0.0,1946.847900,1751.608521,MID,5.0,5.645113
91,Ivan Toney,31,2022-23,Brentford,Wolves,0.0,1782.324097,1717.951904,FWD,2.0,5.442389
32,Bukayo Saka,31,2022-23,Arsenal,West Ham,0.0,1946.847900,1751.608521,MID,0.0,5.395050
54,Dejan Kulusevski,31,2022-23,Tottenham,Bournemouth,1.0,1851.721558,1665.276123,MID,2.0,5.308684
150,Martin Ødegaard,31,2022-23,Arsenal,West Ham,0.0,1946.847900,1751.608521,MID,10.0,5.019981
209,Son Heung-min,31,2022-23,Tottenham,Bournemouth,1.0,1851.721558,1665.276123,MID,9.0,4.943805
133,Kieran Trippier,31,2022-23,Newcastle Utd,Aston Villa,0.0,1876.322510,1801.513550,DEF,1.0,4.918463
41,Christian Eriksen,31,2022-23,Manchester Utd,Nott'ham Forest,0.0,1878.940308,1635.660278,MID,3.0,4.898002
137,Leandro Trossard,31,2022-23,Arsenal,West Ham,0.0,1946.847900,1751.608521,MID,1.0,4.696458
185,Pedro Porro,31,2022-23,Tottenham,Bournemouth,1.0,1851.721558,1665.276123,DEF,1.0,4.634325
33,Callum Wilson,31,2022-23,Newcastle Utd,Aston Villa,0.0,1876.322510,1801.513550,FWD,1.0,4.628225
193,Richarlison de Andrade,31,2022-23,Tottenham,Bournemouth,1.0,1851.721558,1665.276123,FWD,1.0,4.521662
196,Riyad Mahrez,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,10.0,4.453829
68,Eric Dier,31,2022-23,Tottenham,Bournemouth,1.0,1851.721558,1665.276123,DEF,1.0,4.440838
15,Antony Matheus dos Santos,31,2022-23,Manchester Utd,Nott'ham Forest,0.0,1878.940308,1635.660278,MID,14.0,4.437847
198,Rodrigo Hernandez,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,1.0,4.404964
188,Pierre-Emile Højbjerg,31,2022-23,Tottenham,Bournemouth,1.0,1851.721558,1665.276123,MID,2.0,4.401243
165,Miguel Almirón Rejala,31,2022-23,Newcastle Utd,Aston Villa,0.0,1876.322510,1801.513550,MID,1.0,4.391457
31,Bryan Mbeumo,31,2022-23,Brentford,Wolves,0.0,1782.324097,1717.951904,FWD,2.0,4.346879
21,Ben Mee,31,2022-23,Brentford,Wolves,0.0,1782.324097,1717.951904,DEF,1.0,4.248106
7,Alexander Isak,31,2022-23,Newcastle Utd,Aston Villa,0.0,1876.322510,1801.513550,FWD,2.0,4.230493
228,Willian Borges da Silva,31,2022-23,Fulham,Everton,0.0,1710.906738,1687.977173,MID,5.0,4.107370
22,Benjamin White,31,2022-23,Arsenal,West Ham,0.0,1946.847900,1751.608521,DEF,6.0,4.100976
178,Ollie Watkins,31,2022-23,Aston Villa,Newcastle Utd,1.0,1801.513550,1876.322510,FWD,16.0,4.058373
57,Diogo Dalot Teixeira,31,2022-23,Manchester Utd,Nott'ham Forest,0.0,1878.940308,1635.660278,DEF,14.0,4.053182
95,Jadon Sancho,31,2022-23,Manchester Utd,Nott'ham Forest,0.0,1878.940308,1635.660278,MID,3.0,4.037551
17,Aymeric Laporte,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,2.0,3.952496

In [59]:
preds[preds["Team"] == "Manchester City"].head(20)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,FPL_points,Pred
69,Erling Haaland,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,FWD,2.0,8.571582
129,Kevin De Bruyne,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,3.0,7.097969
196,Riyad Mahrez,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,10.0,4.453829
198,Rodrigo Hernandez,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,1.0,4.404964
17,Aymeric Laporte,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,2.0,3.952496
92,Jack Grealish,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,0.0,3.785474
119,John Stones,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,0.0,3.622283
144,Manuel Akanji,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,2.0,3.547193
124,Julián Álvarez,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,FWD,2.0,3.478738
24,Bernardo Veiga de Carvalho e Silva,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,1.0,3.444972
135,Kyle Walker,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,1.0,3.220436
199,Rúben Gato Alves Dias,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,0.0,2.981021
171,Nathan Aké,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,1.0,2.879753
126,Kalvin Phillips,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,0.0,1.527035
195,Rico Lewis,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,2.0,1.137913
206,Sergio Gómez,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,DEF,0.0,0.780083
43,Cole Palmer,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,MID,0.0,0.629465

# Predictions - all remaining gameweeks

In [60]:
preds_all_gameweeks.head(15)

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,FPL_points,Pred
595,Erling Haaland,35,2022-23,Manchester City,Leeds United,1.0,2069.102051,1662.209595,FWD,0.0,10.035621
1396,Mohamed Salah,32,2022-23,Liverpool,Nott'ham Forest,1.0,1926.870483,1623.869263,MID,7.0,9.106664
592,Erling Haaland,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,FWD,2.0,8.571582
1287,Gabriel Martinelli Silva,32,2022-23,Arsenal,Southampton,1.0,1936.194092,1635.812866,MID,9.0,8.337304
1086,Kevin De Bruyne,35,2022-23,Manchester City,Leeds United,1.0,2069.102051,1662.209595,MID,13.0,8.262245
1402,Mohamed Salah,38,2022-23,Liverpool,Southampton,0.0,1950.095581,1616.916626,MID,5.0,8.236461
1115,Kieran Trippier,34,2022-23,Newcastle Utd,Southampton,1.0,1876.238159,1634.447266,DEF,2.0,8.052290
596,Erling Haaland,36,2022-23,Manchester City,Everton,0.0,2071.091064,1694.975464,FWD,7.0,7.956945
269,Bukayo Saka,32,2022-23,Arsenal,Southampton,1.0,1936.194092,1635.812866,MID,13.0,7.879618
597,Erling Haaland,37,2022-23,Manchester City,Chelsea,1.0,2087.472656,1794.311890,FWD,1.0,7.564377
594,Erling Haaland,34,2022-23,Manchester City,Fulham,0.0,2064.563232,1717.714233,FWD,8.0,7.440387
279,Callum Wilson,34,2022-23,Newcastle Utd,Southampton,1.0,1876.238159,1634.447266,FWD,12.0,7.418976
789,Ivan Toney,34,2022-23,Brentford,Nott'ham Forest,1.0,1778.244751,1639.577637,FWD,7.0,7.345939
1279,Martin Ødegaard,32,2022-23,Arsenal,Southampton,1.0,1936.194092,1635.812866,MID,7.0,7.334882
1384,Miguel Almirón Rejala,34,2022-23,Newcastle Utd,Southampton,1.0,1876.238159,1634.447266,MID,1.0,7.256609

In [61]:
preds_all_gameweeks[preds_all_gameweeks["Name_original"] == "Mohamed Salah"].sort_values(by=["GW"])

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,FPL_points,Pred
1396,Mohamed Salah,32,2022-23,Liverpool,Nott'ham Forest,1.0,1926.870483,1623.869263,MID,7.0,9.106664
1397,Mohamed Salah,33,2022-23,Liverpool,West Ham,0.0,1928.467651,1771.272461,MID,2.0,5.350204
1398,Mohamed Salah,34,2022-23,Liverpool,Tottenham,1.0,1933.697876,1817.128296,MID,7.0,5.570268
1399,Mohamed Salah,35,2022-23,Liverpool,Brentford,1.0,1940.118652,1782.052979,MID,10.0,6.279276
1400,Mohamed Salah,36,2022-23,Liverpool,Leicester City,0.0,1944.225098,1709.140503,MID,14.0,6.550813
1401,Mohamed Salah,37,2022-23,Liverpool,Aston Villa,1.0,1955.095703,1812.286499,MID,5.0,5.993397
1402,Mohamed Salah,38,2022-23,Liverpool,Southampton,0.0,1950.095581,1616.916626,MID,5.0,8.236461

In [62]:
preds_all_gameweeks[preds_all_gameweeks["Name_original"] == "Erling Haaland"].sort_values(by=["GW"])

,Name_original,GW,Season,Team,Opponent,Was_home,Team_rating,Opp_rating,FPL_pos,FPL_points,Pred
592,Erling Haaland,31,2022-23,Manchester City,Leicester City,1.0,2060.531738,1722.042969,FWD,2.0,8.571582
598,Erling Haaland,32,2022-23,Manchester City,Brighton,0.0,2089.150391,1826.267822,FWD,5.0,5.941069
593,Erling Haaland,33,2022-23,Manchester City,Arsenal,1.0,2057.953369,1928.582397,FWD,14.0,4.640945
594,Erling Haaland,34,2022-23,Manchester City,Fulham,0.0,2064.563232,1717.714233,FWD,8.0,7.440387
595,Erling Haaland,35,2022-23,Manchester City,Leeds United,1.0,2069.102051,1662.209595,FWD,0.0,10.035621
596,Erling Haaland,36,2022-23,Manchester City,Everton,0.0,2071.091064,1694.975464,FWD,7.0,7.956945
597,Erling Haaland,37,2022-23,Manchester City,Chelsea,1.0,2087.472656,1794.311890,FWD,1.0,7.564377
599,Erling Haaland,38,2022-23,Manchester City,Brentford,0.0,2083.640381,1807.119507,FWD,0.0,6.175672

In [63]:
preds_all_gameweeks[preds_all_gameweeks["Name_original"] == "Harry Kane"].sort_values(by=["GW"])

Empty DataFrame
Columns: [Name_original, GW, Season, Team, Opponent, Was_home, Team_rating, Opp_rating, FPL_pos, FPL_points, Pred]
Index: []

# Saving to file

In [64]:
preds_all_gameweeks.to_csv("predictions/all_predictions.csv", index=False)

In [65]:
pickle.dump(model, open("models/GBR.pkl", 'wb'))

# Feature importance and influence

In [66]:
# explainer = shap.Explainer(model.predict, X_test_all_remaining)
# shap_values = explainer(X_test_all_remaining)

In [67]:
# shap.plots.bar(shap_values, max_display=15)

In [68]:
# shap.plots.beeswarm(shap_values, max_display=15)

In [69]:
# explaining Erling Haaland`s score in gameweek 30
# shap.plots.bar(shap_values[123], max_display=15)

In [70]:
# shap.plots.waterfall(shap_values[123])