# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
from vaastav import getters

# Getting data

In [12]:
elements = pd.DataFrame(getters.get_data()["elements"])
elements.shape

(685, 88)

In [13]:
elements.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [21]:
elements[elements["web_name"] == "Virgil"].transpose().head(50)

                                                      365
chance_of_playing_next_round                          0.0
chance_of_playing_this_round                          NaN
code                                                97032
cost_change_event                                       0
cost_change_event_fall                                  0
cost_change_start                                       0
cost_change_start_fall                                  0
dreamteam_count                                         0
element_type                                            2
ep_next                                               0.0
ep_this                                               0.7
event_points                                           -2
first_name                                         Virgil
form                                                  0.7
id                                                    313
in_dreamteam                                        False
news                               Suspended until 16 Sep
news_added                    2023-08-27T23:00:07.145433Z
now_cost                                               60
photo                                           97032.jpg
points_per_game                                       0.7
second_name                                      van Dijk
selected_by_percent                                   8.7
special                                             False
squad_number                                         None
status                                                  s
team                                                   11
team_code                                              14
total_points                                            2
transfers_in                                       127926
transfers_in_event                                  10183
transfers_out                                      260561
transfers_out_event                                131316
value_form                                            0.1
value_season                                          0.3
web_name                                           Virgil
minutes                                               207
goals_scored                                            0
assists                                                 0
clean_sheets                                            0
goals_conceded                                          3
own_goals                                               0
penalties_saved                                         0
penalties_missed                                        0
yellow_cards                                            0
red_cards                                               1
saves                                                   0
bonus                                                   0
bps                                                    24
influence                                            38.6

In [5]:
elements[~elements["penalties_order"].isna()][["web_name", "penalties_order"]]

          web_name  penalties_order
7          G.Jesus              3.0
11      Martinelli              4.0
13        Ødegaard              2.0
18            Saka              1.0
39        Coutinho              3.0
44    Douglas Luiz              1.0
60         Watkins              2.0
91         Solanke              1.0
111        Dasilva              4.0
120         Mbeumo              2.0
128          Toney              1.0
146          Gross              2.0
147     João Pedro              1.0
165        Welbeck              3.0
190      Rodriguez              1.0
223           Enzo              1.0
258        Edouard              3.0
259            Eze              2.0
282  Calvert-Lewin              1.0
311        Andreas              2.0
332         Wilson              3.0
360          Salah              2.0
372        Adebayo              2.0
384         Morris              1.0
398        Woodrow              3.0
412      J.Alvarez              3.0
418      De Bruyne              4.0
424        Haaland              1.0
445    B.Fernandes              1.0
461        Martial              2.0
467       Rashford              3.0
492           Isak              2.0
493      Joelinton              3.0
510         Wilson              1.0
533    Gibbs-White              1.0
536        Johnson              2.0
568       Brewster              2.0
579        Norwood              1.0
606       Maddison              2.0
611    Richarlison              2.0
618            Son              1.0
631       Benrahma              2.0
632          Bowen              4.0
645      L.Paquetá              3.0
666       Hee Chan              3.0
683          Cunha              1.0

# Assigning teams

In [6]:
current_teams = [
        'Arsenal',
        'Aston Villa',
        'Bournemouth',
        'Brentford',
        'Brighton',
        'Burnley',
        'Chelsea',
        'Crystal Palace',
        'Everton',
        'Fulham',
        'Liverpool',
        'Luton',
        'Manchester City',
        'Manchester Utd',
        'Newcastle Utd',
        "Nott'ham Forest",
        'Sheffield United',
        'Tottenham',
        'West Ham',
        'Wolves'
    ]

In [7]:
# 2023-24 season
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [8]:
elements["team"] = elements["team"].apply(lambda x: team_id_to_name(current_teams, x))
elements["name"] = elements["first_name"] + " " + elements["second_name"]

In [9]:
# elements[~elements["chance_of_playing_this_round"].isna()][["chance_of_playing_next_round", "name", "team"]].head(80).tail(40)

# Saving to file

In [10]:
elements.to_csv("data/misc/active_players.csv")