# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
from datetime import datetime

# Setup

In [3]:
team_ratings = pd.read_csv("data/misc/team_ratings_history.csv")

In [4]:
team_ratings["Club"].unique()

array(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton',
       'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham',
       'Liverpool', 'Luton', 'Man City', 'Man United', 'Newcastle',
       'Forest', 'Sheffield United', 'Tottenham', 'West Ham', 'Wolves',
       'Norwich', 'Watford', 'Southampton', 'Leicester', 'Leeds'],
      dtype=object)

In [5]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [6]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    if team_name == "Norwich City":
        return "Norwich"
    if team_name == "Luton Town":
        return "Luton"
    if team_name == "Sheffield Utd":
        return 'Sheffield United'
    return team_name

In [7]:
# choose correct dataset!
df = pd.read_csv("data/previous/fpl_fbref_players.csv")

In [8]:
# df.head(10)

In [9]:
df["Date"].isna().sum()

0

In [10]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
df[df["Name"] == "Erling-Haaland"][["Name", "name", "GW"]]

                 Name            name  GW
10334  Erling-Haaland  Erling Haaland   1
10335  Erling-Haaland  Erling Haaland   2
10336  Erling-Haaland  Erling Haaland   3
10337  Erling-Haaland  Erling Haaland   4
10338  Erling-Haaland  Erling Haaland   5
10339  Erling-Haaland  Erling Haaland   6
10340  Erling-Haaland  Erling Haaland   8
10341  Erling-Haaland  Erling Haaland   9
10342  Erling-Haaland  Erling Haaland  10
10343  Erling-Haaland  Erling Haaland  11
10344  Erling-Haaland  Erling Haaland  13
10345  Erling-Haaland  Erling Haaland  15
10346  Erling-Haaland  Erling Haaland  16
10347  Erling-Haaland  Erling Haaland  17
10348  Erling-Haaland  Erling Haaland  18
10349  Erling-Haaland  Erling Haaland  19
10350  Erling-Haaland  Erling Haaland  20
10351  Erling-Haaland  Erling Haaland   7
10352  Erling-Haaland  Erling Haaland  21
10353  Erling-Haaland  Erling Haaland  22
10354  Erling-Haaland  Erling Haaland  23
10355  Erling-Haaland  Erling Haaland  12
10356  Erling-Haaland  Erling Haaland  24
10357  Erling-Haaland  Erling Haaland  25
10358  Erling-Haaland  Erling Haaland  26
10359  Erling-Haaland  Erling Haaland  27
10360  Erling-Haaland  Erling Haaland  30
10361  Erling-Haaland  Erling Haaland  31
10362  Erling-Haaland  Erling Haaland  33
10363  Erling-Haaland  Erling Haaland  34
10364  Erling-Haaland  Erling Haaland  28
10365  Erling-Haaland  Erling Haaland  35
10366  Erling-Haaland  Erling Haaland  36
10367  Erling-Haaland  Erling Haaland  37
10368  Erling-Haaland  Erling Haaland  32
10369  Erling-Haaland  Erling Haaland  38
18043  Erling-Haaland  Erling Haaland   1
18044  Erling-Haaland  Erling Haaland   2
18045  Erling-Haaland  Erling Haaland   3

# Assigning elo rating

In [11]:
%%time
df["Opp rating"] = df.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 4min 43s
Wall time: 5min 37s

In [12]:
%%time
df["Team rating"] = df.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 5min 16s
Wall time: 6min 27s

In [13]:
df[df["Name"] == "Erling-Haaland"]["GW"]

10334     1
10335     2
10336     3
10337     4
10338     5
10339     6
10340     8
10341     9
10342    10
10343    11
10344    13
10345    15
10346    16
10347    17
10348    18
10349    19
10350    20
10351     7
10352    21
10353    22
10354    23
10355    12
10356    24
10357    25
10358    26
10359    27
10360    30
10361    31
10362    33
10363    34
10364    28
10365    35
10366    36
10367    37
10368    32
10369    38
18043     1
18044     2
18045     3
Name: GW, dtype: int64

In [14]:
df.shape

(18674, 106)

# Saving to file

In [15]:
df.to_csv("data/previous/final_dataset.csv")

In [16]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
df[df["Name"] == "Erling-Haaland"][["Name", "name", "GW"]]

                 Name            name  GW
10334  Erling-Haaland  Erling Haaland   1
10335  Erling-Haaland  Erling Haaland   2
10336  Erling-Haaland  Erling Haaland   3
10337  Erling-Haaland  Erling Haaland   4
10338  Erling-Haaland  Erling Haaland   5
10339  Erling-Haaland  Erling Haaland   6
10340  Erling-Haaland  Erling Haaland   8
10341  Erling-Haaland  Erling Haaland   9
10342  Erling-Haaland  Erling Haaland  10
10343  Erling-Haaland  Erling Haaland  11
10344  Erling-Haaland  Erling Haaland  13
10345  Erling-Haaland  Erling Haaland  15
10346  Erling-Haaland  Erling Haaland  16
10347  Erling-Haaland  Erling Haaland  17
10348  Erling-Haaland  Erling Haaland  18
10349  Erling-Haaland  Erling Haaland  19
10350  Erling-Haaland  Erling Haaland  20
10351  Erling-Haaland  Erling Haaland   7
10352  Erling-Haaland  Erling Haaland  21
10353  Erling-Haaland  Erling Haaland  22
10354  Erling-Haaland  Erling Haaland  23
10355  Erling-Haaland  Erling Haaland  12
10356  Erling-Haaland  Erling Haaland  24
10357  Erling-Haaland  Erling Haaland  25
10358  Erling-Haaland  Erling Haaland  26
10359  Erling-Haaland  Erling Haaland  27
10360  Erling-Haaland  Erling Haaland  30
10361  Erling-Haaland  Erling Haaland  31
10362  Erling-Haaland  Erling Haaland  33
10363  Erling-Haaland  Erling Haaland  34
10364  Erling-Haaland  Erling Haaland  28
10365  Erling-Haaland  Erling Haaland  35
10366  Erling-Haaland  Erling Haaland  36
10367  Erling-Haaland  Erling Haaland  37
10368  Erling-Haaland  Erling Haaland  32
10369  Erling-Haaland  Erling Haaland  38
18043  Erling-Haaland  Erling Haaland   1
18044  Erling-Haaland  Erling Haaland   2
18045  Erling-Haaland  Erling Haaland   3