# Imports & load

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# loading csv
df = pd.read_csv('data/previous/final_dataset.csv')

df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.columns[0:50]

Index(['Unnamed: 0.1', 'Unnamed: 0.1.1', 'Date', 'Day', 'Comp', 'Round',
       'Venue', 'Squad', 'Opponent', 'Start', 'Pos', 'Min', 'Gls', 'Ast', 'PK',
       'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks',
       'xG', 'npxG', 'xAG', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgP',
       'Carries', 'PrgC', 'Att.1', 'Succ', 'Match Report', 'Name', 'Season',
       'Fls', 'Fld', 'Off', 'Crs', 'TklW', 'OG', 'PKwon', 'PKcon', 'WDL',
       'GoalsTeams'],
      dtype='object')

In [5]:
df.shape

(19726, 104)

In [6]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
df[df["Name"] == "Erling-Haaland"][["Name", "name", "GW"]]

                 Name            name  GW
11457  Erling-Haaland  Erling Haaland   1
11458  Erling-Haaland  Erling Haaland   2
11459  Erling-Haaland  Erling Haaland   3
11460  Erling-Haaland  Erling Haaland   4
11461  Erling-Haaland  Erling Haaland   5
11462  Erling-Haaland  Erling Haaland   6
11463  Erling-Haaland  Erling Haaland   8
11464  Erling-Haaland  Erling Haaland   9
11465  Erling-Haaland  Erling Haaland  10
11466  Erling-Haaland  Erling Haaland  11
11467  Erling-Haaland  Erling Haaland  13
11468  Erling-Haaland  Erling Haaland  15
11469  Erling-Haaland  Erling Haaland  16
11470  Erling-Haaland  Erling Haaland  17
11471  Erling-Haaland  Erling Haaland  18
11472  Erling-Haaland  Erling Haaland  19
11473  Erling-Haaland  Erling Haaland  20
11474  Erling-Haaland  Erling Haaland   7
11475  Erling-Haaland  Erling Haaland  21
11476  Erling-Haaland  Erling Haaland  22
11477  Erling-Haaland  Erling Haaland  23
11478  Erling-Haaland  Erling Haaland  12
11479  Erling-Haaland  Erling Haaland  24
11480  Erling-Haaland  Erling Haaland  25
11481  Erling-Haaland  Erling Haaland  26
11482  Erling-Haaland  Erling Haaland  27
11483  Erling-Haaland  Erling Haaland  30
11484  Erling-Haaland  Erling Haaland  31
11485  Erling-Haaland  Erling Haaland  33
11486  Erling-Haaland  Erling Haaland  34
11487  Erling-Haaland  Erling Haaland  28
11488  Erling-Haaland  Erling Haaland  35
11489  Erling-Haaland  Erling Haaland  36
11490  Erling-Haaland  Erling Haaland  37
11491  Erling-Haaland  Erling Haaland  32
11492  Erling-Haaland  Erling Haaland  38
19282  Erling-Haaland  Erling Haaland   1
19283  Erling-Haaland  Erling Haaland   2

In [7]:
df["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

# Dropping columns

In [8]:
columns_to_drop = ["Comp", 
                   "Match Report", 
                   "Fls",
                   "Fld",
                   "Off",
                   "Crs",
                   "TklW",
                   "OG",
                   "PKwon",
                   "PKcon",
                   "team",
                   "opponent_team",
                   "red_cards",
                   "team_a_score",
                   "team_h_score",
                   "starts",
                   "was_home",
                   "neutral_name",
                   "Round",
                   "round",
                   "GoalsTeams",
                   "yellow_cards",
                   "season",
                   "opp_team_name"
                  ]

df = df.drop(columns_to_drop, axis=1)

In [9]:
df = df.drop(df[df["Squad"].isin(['Dynamo Kyiv', 'Shakhtar'])].index)

In [10]:
# df["GoalsTeams"].unique()

# Renaming columns

In [11]:
df = df.rename(columns={
    "name": "Name_original"
})

In [12]:
# df[df["CrdR"] != df["red_cards"]][["goals_scored", "Name", "Gls", "red_cards", "CrdR"]].dropna()

In [13]:
# df[[ "Round", "GW"]]

In [14]:
# df[df["Opponent"] != df["Opp_team_name"]][["Date", "Season", "Name", "Squad", "Opponent", "Opp_team_name",]]

In [15]:
# df[df["Name"] == "Darwin-Nunez"]["goals_scored"].sum()

In [16]:
# df["starts"].isna().sum()

In [17]:
df.iloc[:,77:]

       expected_goals_conceded   Opp rating  Team rating
0                          NaN  1681.872192  1728.483398
1                          NaN  1780.006958  1738.980469
2                          NaN  1795.105225  1735.531982
3                          NaN  1708.091675  1744.599365
4                          NaN  1844.299316  1739.216797
...                        ...          ...          ...
19721                     0.36  1745.365723  1822.547119
19722                     2.20  1875.999756  1827.994751
19723                     0.03  1699.505737  1816.929932
19724                     2.02  1824.330444  1815.873413
19725                     1.99  1877.037842  1817.656738

[19726 rows x 3 columns]

In [18]:
df["value"] = (df["value"] / 10)

In [19]:
df.columns = [w[0].capitalize() + w[1:] for w in df.columns]

df = df.rename(columns={
    "GW_x": "GW",
    "Neutral_name_x": "Clean_name",
    "Assists": "FPL_ast",
    "Position": "FPL_pos",
    "CS": "Team_CS",
    "Clean_sheets": "Player_CS",
    "Total_points": "FPL_points",
    "GW_y": "FPL_GW",
    "Expected_assists": "FPL_xA",
    "Expected_goal_involvements": "FPL_xGI",
    "Expected_goals": "FPL_xG",
    "Expected_goals_conceded": "FPL_xGC",
    "Team Score": "Team_score",
    "Goals_conceded": "Player_GC",
    "Opp Score": "Opp_score",
    "Ict_index": "ICT_index",
    "Opp rating": "Opp_rating",
    "Was Home": "Was_home",
    "XG": "xG",
    "XAG": "xA",
    "NpxG": "npxG",
    "Team rating": "Team_rating",
    "Minutes": "FPL_min",
    "Squad": "Team",
    "XP": "xP",
    "Att.1": "T_att",
    "Succ": "T_succ",
    "Value": "Price"
})

In [20]:
df = df.reset_index(drop=True)

In [21]:
# df[df["Min"] == 0][["Date", "Season", "Name", "Team", "Opponent", "FPL_opp_team",]]

In [22]:
df["Kickoff_time"]

0        2021-08-21T16:30:00Z
1        2021-08-28T14:00:00Z
2        2021-09-19T13:00:00Z
3        2021-09-27T19:00:00Z
4        2021-10-02T16:30:00Z
                 ...
19721    2023-08-19T14:00:00Z
19722    2023-08-12T16:30:00Z
19723    2023-08-20T13:00:00Z
19724    2023-08-13T13:00:00Z
19725    2023-08-19T16:30:00Z
Name: Kickoff_time, Length: 19726, dtype: object

In [23]:
df.loc[df["FPL_pos"] == "GKP", "FPL_pos"] = "GK"

In [24]:
# df.columns

# Reindexing

In [25]:
df = df.reindex(columns=['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos', 'Min',
       'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches',
       'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att',
       'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ', 'Season',
       'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals',
       'Penalties_missed', 'Penalties_saved', 'Saves', 'Selected', 'Threat',
       'FPL_points', 'Transfers_balance', 'Transfers_in', 'Transfers_out',
       'Price', 'FPL_GW', 'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC',
       'Opp_rating', 'Team_rating', 'Min_points'])

In [26]:
df.tail(10)

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,Price,FPL_GW,xP,FPL_xA,FPL_xGI,FPL_xG,FPL_xGC,Opp_rating,Team_rating,Min_points
19716,2023-08-12,Sat,Away,Fulham,Everton,Willian,Y,LW,45.0,0.0,...,5.5,NaN,2.1,0.04,0.04,0.00,2.13,1708.234497,1736.636963,NaN
19717,2023-08-19,Sat,Home,Fulham,Brentford,Willian,N,LM,23.0,0.0,...,5.5,NaN,0.5,0.00,0.07,0.07,1.87,1822.547119,1745.365723,NaN
19718,2023-08-12,Sat,Away,Nott'ham Forest,Arsenal,Willy-Boly,Y,CB,90.0,0.0,...,4.5,NaN,1.5,0.03,0.24,0.21,0.83,1919.368896,1673.962769,NaN
19719,2023-08-18,Fri,Home,Nott'ham Forest,Sheffield Utd,Willy-Boly,Y,CB,68.0,0.0,...,4.5,NaN,1.5,0.00,0.38,0.38,0.24,1637.473755,1671.868774,NaN
19720,2023-08-13,Sun,Home,Brentford,Tottenham,Yoane-Wissa,Y,FW,71.0,1.0,...,6.0,NaN,2.1,0.05,0.29,0.24,1.02,1815.873413,1824.330444,NaN
19721,2023-08-19,Sat,Away,Brentford,Fulham,Yoane-Wissa,Y,FW,78.0,1.0,...,6.0,NaN,10.0,0.02,1.45,1.43,0.36,1745.365723,1822.547119,NaN
19722,2023-08-12,Sat,Away,Aston Villa,Newcastle Utd,Youri-Tielemans,N,"CM,LW",45.0,0.0,...,6.0,NaN,1.7,0.09,0.09,0.00,2.20,1875.999756,1827.994751,NaN
19723,2023-08-20,Sun,Home,Aston Villa,Everton,Youri-Tielemans,N,CM,28.0,0.0,...,6.0,NaN,1.0,0.01,0.01,0.00,0.03,1699.505737,1816.929932,NaN
19724,2023-08-13,Sun,Away,Tottenham,Brentford,Yves-Bissouma,Y,DM,90.0,0.0,...,5.0,NaN,1.6,0.11,0.15,0.04,2.02,1824.330444,1815.873413,NaN
19725,2023-08-19,Sat,Home,Tottenham,Manchester Utd,Yves-Bissouma,Y,DM,90.0,0.0,...,5.0,NaN,2.0,0.01,0.08,0.07,1.99,1877.037842,1817.656738,NaN

In [27]:
df = df.sort_values(by=["Name", "Date"])

In [28]:
df = df.reset_index(drop=True)

In [29]:
df.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR',
       'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA',
       'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ',
       'Season', 'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals', 'Penalties_missed',
       'Penalties_saved', 'Saves', 'Selected', 'Threat', 'FPL_points',
       'Transfers_balance', 'Transfers_in', 'Transfers_out', 'Price', 'FPL_GW',
       'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC', 'Opp_rating',
       'Team_rating', 'Min_points'],
      dtype='object')

In [30]:
df["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

# Expected points

In [31]:
# FWD
df.loc[df["FPL_pos"] == "FWD", "xP"] = (df["Min"] > 0) + (df["Min"] >= 60) + df["xG"] * 4 + df["xA"] * 3 + df['Bonus']

In [32]:
df.loc[df["FPL_pos"] == "MID", "xP"] = (df["Min"] > 0) + (df["Min"] >= 60) + df["xG"] * 5 + df["xA"] * 3 + df["Player_CS"] + df['Bonus']

In [33]:
df.loc[df["FPL_pos"] == "DEF", "xP"] = (df["Min"] > 0) + (df["Min"] >= 60) + df["xG"] * 6 + df["xA"] * 3 + df["Player_CS"] * 4 + df['Bonus']

In [34]:
df.loc[df["FPL_pos"] == "GK", "xP"] = df["FPL_points"]

In [35]:
df['Avg_FPL_points'] = df.groupby('Name_original')['FPL_points'].transform('mean')

In [36]:
df[df["Name_original"] == "Erling Haaland"][['Avg_FPL_points', "Name_original"]]

      Avg_FPL_points   Name_original
5936        6.894737  Erling Haaland
5937        6.894737  Erling Haaland
5938        6.894737  Erling Haaland
5939        6.894737  Erling Haaland
5940        6.894737  Erling Haaland
5941        6.894737  Erling Haaland
5942        6.894737  Erling Haaland
5943        6.894737  Erling Haaland
5944        6.894737  Erling Haaland
5945        6.894737  Erling Haaland
5946        6.894737  Erling Haaland
5947        6.894737  Erling Haaland
5948        6.894737  Erling Haaland
5949        6.894737  Erling Haaland
5950        6.894737  Erling Haaland
5951        6.894737  Erling Haaland
5952        6.894737  Erling Haaland
5953        6.894737  Erling Haaland
5954        6.894737  Erling Haaland
5955        6.894737  Erling Haaland
5956        6.894737  Erling Haaland
5957        6.894737  Erling Haaland
5958        6.894737  Erling Haaland
5959        6.894737  Erling Haaland
5960        6.894737  Erling Haaland
5961        6.894737  Erling Haaland
5962        6.894737  Erling Haaland
5963        6.894737  Erling Haaland
5964        6.894737  Erling Haaland
5965        6.894737  Erling Haaland
5966        6.894737  Erling Haaland
5967        6.894737  Erling Haaland
5968        6.894737  Erling Haaland
5969        6.894737  Erling Haaland
5970        6.894737  Erling Haaland
5971        6.894737  Erling Haaland
5972        6.894737  Erling Haaland
5973        6.894737  Erling Haaland

# Summary & save

 <strong>0. Date </strong>- YYYY-MM-DD format 
 <strong>1. Day  </strong>- day of the week 
 <strong>2. Venue </strong> - home/away 
 <strong>3. Team  </strong> - team name
 <strong>4. Opponent   </strong> - opposite team name 
 <strong>5. Name       </strong> - player name
 <strong>6. Start         </strong> - Y:starting eleven, N:came on from bench, Y*:starting eleven - team captain
 <strong>7. Pos           </strong> - position (fbref)
 <strong>8. Min           </strong> - minutes played
 <strong>9. Gls           </strong> - goals scored by a player (fbref)
 <strong>10. Ast           </strong> - assists achieved by a player (fbref)
 <strong>11. PK            </strong> - penalty kicks made 
 <strong>12. PKatt         </strong> - penalty kicks attempted 
 <strong>13. Sh            </strong> - shots
 <strong>14. SoT           </strong> - shots on target
 <strong>15. CrdY          </strong> - yellow cards
 <strong>16. CrdR          </strong> - red cards
 <strong>17. Touches       </strong> - touches
 <strong>18. Tkl           </strong> - tackles 
 <strong>19. Int           </strong> - interceptions 
 <strong>20. Blocks        </strong> - blocks 
 <strong>21. xG            </strong> - expected goals (fbref) 
 <strong>22. npxG          </strong> - non-penalty expected goals (fbref) 
 <strong>23. xA            </strong> - expected assists (fbref) 
 <strong>24. SCA           </strong> - shot-creating actions
 <strong>25. GCA           </strong> - goal-creating actions
 <strong>26. Cmp           </strong> - passes completed
 <strong>27. Att           </strong> - passes attempted
 <strong>28. Cmp%          </strong> - pass completion %
 <strong>29. PrgP          </strong> - progressive passes
 <strong>30. Carries       </strong> - carries
 <strong>31. PrgC          </strong> - progressive carries
 <strong>32. T_att         </strong> - take-ons attempted
 <strong>33. T_succ        </strong> - successful take-ons
 <strong>34. Season        </strong> - e.g. 2022-23
 <strong>35. WDL           </strong> - win/draw/loss
 <strong>36. Team_score    </strong> - goals scored by team 
 <strong>37. Opp_score     </strong> - goals scored by opposite team 
 <strong>38. Team_CS       </strong> - did team keep a clean sheet
 <strong>39. Was_home      </strong> - was the game played home
 <strong>40. GW            </strong> - number of gameweek (fbref) 
 <strong>41. Clean_name    </strong> - name without language-specific characters
 <strong>42. FPL_name      </strong> - name (FPL)
 <strong>43. FPL_team      </strong> - team (FPL)
 <strong>44. FPL_opp_team  </strong> - opposite team (FPL) 
 <strong>45. Name_original </strong> - name with no hyphens
 <strong>46. FPL_pos       </strong> - in-game position 
 <strong>47. FPL_ast       </strong> - FPL assists
 <strong>48. Bonus         </strong> - bonus points (0-3 points)
 <strong>49. Bps                </strong> - bonus points system (FPL)
 <strong>50. Player_CS          </strong> - did player keep a clean sheet
 <strong>51. Creativity         </strong>
 <strong>52. Element            </strong>
 <strong>53. Fixture            </strong> - id of a fixture in given PL season
 <strong>54. Player_GC          </strong> - goals conceded with player on a pitch
 <strong>55. Goals_scored       </strong> - goals scored by a player (FPL)
 <strong>56. ICT_index          </strong>
 <strong>57. Influence          </strong>
 <strong>58. Kickoff_time       </strong> - YYYY-MM-DD_HH:MM:SS
 <strong>59. FPL_min            </strong> - minutes (FPL)
 <strong>60. Own_goals          </strong>
 <strong>61. Penalties_missed   </strong>
 <strong>62. Penalties_saved    </strong>
 <strong>63. Saves              </strong>
 <strong>64. Selected           </strong>
 <strong>65. Threat             </strong>
 <strong>66. FPL_points         </strong> - number of FPL points scored by a player
 <strong>67. Transfers_balance  </strong> - difference of in and out transfers
 <strong>68. Transfers_in       </strong>
 <strong>69. Transfers_out      </strong>
 <strong>70. Price              </strong> - FPL price
 <strong>71. FPL_GW             </strong> - gameweek number (FPL)
 <strong>72. xP                 </strong>
 <strong>73. FPL_xA             </strong> - expected assists (FPL) 
 <strong>74. FPL_xGI            </strong> - expected goal involvement (FPL) 
 <strong>75. FPL_xG             </strong> - expected goals (FPL) 
 <strong>76. FPL_xGC            </strong> - expected goals conceded (FPL) 
 <strong>77. Opp_rating         </strong> - opposite team elo rating at the time of the game (clubelo)
 <strong>78. Team_rating        </strong> - team elo rating at the time of the game (clubelo)

In [37]:
df.to_csv('data/previous/FPL_logs.csv', index=False)

In [38]:
df.shape

(19726, 81)

In [39]:
# info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
# df[df["Name"] == "Erling-Haaland"][info + ["Gls"]]