# Imports & load

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# loading csv
df = pd.read_csv('data/previous/final_dataset.csv')

df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.columns[0:50]

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'Unnamed: 0.1.1', 'Date', 'Day', 'Comp',
       'Round', 'Venue', 'Squad', 'Opponent', 'Start', 'Pos', 'Min', 'Gls',
       'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches', 'Tkl',
       'Int', 'Blocks', 'xG', 'npxG', 'xAG', 'SCA', 'GCA', 'Cmp', 'Att',
       'Cmp%', 'PrgP', 'Carries', 'PrgC', 'Att.1', 'Succ', 'Match Report',
       'Name', 'Season', 'Fls', 'Fld', 'Off', 'Crs', 'TklW', 'OG', 'PKwon',
       'PKcon', 'WDL'],
      dtype='object')

In [5]:
df.shape

(18373, 104)

In [6]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
df[df["Name"] == "Erling-Haaland"][["Name", "name", "GW"]]

                 Name            name  GW
10334  Erling-Haaland  Erling Haaland   1
10335  Erling-Haaland  Erling Haaland   2
10336  Erling-Haaland  Erling Haaland   3
10337  Erling-Haaland  Erling Haaland   4
10338  Erling-Haaland  Erling Haaland   5
10339  Erling-Haaland  Erling Haaland   6
10340  Erling-Haaland  Erling Haaland   8
10341  Erling-Haaland  Erling Haaland   9
10342  Erling-Haaland  Erling Haaland  10
10343  Erling-Haaland  Erling Haaland  11
10344  Erling-Haaland  Erling Haaland  13
10345  Erling-Haaland  Erling Haaland  15
10346  Erling-Haaland  Erling Haaland  16
10347  Erling-Haaland  Erling Haaland  17
10348  Erling-Haaland  Erling Haaland  18
10349  Erling-Haaland  Erling Haaland  19
10350  Erling-Haaland  Erling Haaland  20
10351  Erling-Haaland  Erling Haaland   7
10352  Erling-Haaland  Erling Haaland  21
10353  Erling-Haaland  Erling Haaland  22
10354  Erling-Haaland  Erling Haaland  23
10355  Erling-Haaland  Erling Haaland  12
10356  Erling-Haaland  Erling Haaland  24
10357  Erling-Haaland  Erling Haaland  25
10358  Erling-Haaland  Erling Haaland  26
10359  Erling-Haaland  Erling Haaland  27
10360  Erling-Haaland  Erling Haaland  30
10361  Erling-Haaland  Erling Haaland  31
10362  Erling-Haaland  Erling Haaland  33
10363  Erling-Haaland  Erling Haaland  34
10364  Erling-Haaland  Erling Haaland  28
10365  Erling-Haaland  Erling Haaland  35
10366  Erling-Haaland  Erling Haaland  36
10367  Erling-Haaland  Erling Haaland  37
10368  Erling-Haaland  Erling Haaland  32
10369  Erling-Haaland  Erling Haaland  38
17952  Erling-Haaland  Erling Haaland   1
17953  Erling-Haaland  Erling Haaland   2

In [7]:
df["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

# Dropping columns

In [8]:
columns_to_drop = ["Unnamed: 0.1", 
                   'Unnamed: 0_x', 
                   'Unnamed: 0.1.1',
                   "Comp", 
                   "Match Report", 
                   "Fls",
                   "Fld",
                   "Off",
                   "Crs",
                   "TklW",
                   "OG",
                   "PKwon",
                   "PKcon",
                   "team",
                   "opponent_team",
                   "red_cards",
                   "team_a_score",
                   "team_h_score",
                   "starts",
                   "was_home",
                   "neutral_name",
                   "Round",
                   "round",
                   "GoalsTeams",
                   "yellow_cards",
                   "season",
                   "opp_team_name"
                  ]

df = df.drop(columns_to_drop, axis=1)

In [9]:
df = df.drop(df[df["Squad"].isin(['Dynamo Kyiv', 'Shakhtar'])].index)

In [10]:
# df["GoalsTeams"].unique()

# Renaming columns

In [11]:
df = df.rename(columns={
    "name": "Name_original"
})

In [12]:
# df[df["CrdR"] != df["red_cards"]][["goals_scored", "Name", "Gls", "red_cards", "CrdR"]].dropna()

In [13]:
# df[[ "Round", "GW"]]

In [14]:
# df[df["Opponent"] != df["Opp_team_name"]][["Date", "Season", "Name", "Squad", "Opponent", "Opp_team_name",]]

In [15]:
# df[df["Name"] == "Darwin-Nunez"]["goals_scored"].sum()

In [16]:
# df["starts"].isna().sum()

In [17]:
df.iloc[:,77:]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[18373 rows x 0 columns]

In [18]:
df["value"] = (df["value"] / 10)

In [19]:
df.columns = [w[0].capitalize() + w[1:] for w in df.columns]

df = df.rename(columns={
    "GW_x": "GW",
    "Neutral_name_x": "Clean_name",
    "Assists": "FPL_ast",
    "Position": "FPL_pos",
    "CS": "Team_CS",
    "Clean_sheets": "Player_CS",
    "Total_points": "FPL_points",
    "GW_y": "FPL_GW",
    "Expected_assists": "FPL_xA",
    "Expected_goal_involvements": "FPL_xGI",
    "Expected_goals": "FPL_xG",
    "Expected_goals_conceded": "FPL_xGC",
    "Team Score": "Team_score",
    "Goals_conceded": "Player_GC",
    "Opp Score": "Opp_score",
    "Ict_index": "ICT_index",
    "Opp rating": "Opp_rating",
    "Was Home": "Was_home",
    "XG": "xG",
    "XAG": "xA",
    "NpxG": "npxG",
    "Team rating": "Team_rating",
    "Minutes": "FPL_min",
    "Squad": "Team",
    "XP": "xP",
    "Att.1": "T_att",
    "Succ": "T_succ",
    "Value": "Price"
})

In [20]:
df = df.reset_index(drop=True)

In [21]:
# df[df["Min"] == 0][["Date", "Season", "Name", "Team", "Opponent", "FPL_opp_team",]]

In [22]:
df["Kickoff_time"]

0        2021-08-21T16:30:00Z
1        2021-08-28T14:00:00Z
2        2021-09-19T13:00:00Z
3        2021-09-27T19:00:00Z
4        2021-10-02T16:30:00Z
                 ...
18368    2023-08-19T14:00:00Z
18369    2023-08-12T16:30:00Z
18370    2023-08-20T13:00:00Z
18371    2023-08-13T13:00:00Z
18372    2023-08-19T16:30:00Z
Name: Kickoff_time, Length: 18373, dtype: object

In [23]:
df.loc[df["FPL_pos"] == "GKP", "FPL_pos"] = "GK"

In [24]:
df.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Start', 'Pos', 'Min',
       'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches',
       'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att',
       'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ', 'Name', 'Season',
       'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'FPL_name', 'FPL_team', 'FPL_opp_team', 'Unnamed: 0_y', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals', 'Penalties_missed',
       'Penalties_saved', 'Saves', 'Selected', 'Threat', 'FPL_points',
       'Transfers_balance', 'Transfers_in', 'Transfers_out', 'Price', 'FPL_xA',
       'FPL_xGI', 'FPL_xG', 'FPL_xGC', 'Opp_rating', 'Team_rating'],
      dtype='object')

# Reindexing

In [25]:
df = df.reindex(columns=['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos', 'Min',
       'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches',
       'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att',
       'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ', 'Season',
       'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals',
       'Penalties_missed', 'Penalties_saved', 'Saves', 'Selected', 'Threat',
       'FPL_points', 'Transfers_balance', 'Transfers_in', 'Transfers_out',
       'Price', 'FPL_GW', 'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC',
       'Opp_rating', 'Team_rating', 'Min_points'])

In [26]:
df.tail(10)

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,Price,FPL_GW,xP,FPL_xA,FPL_xGI,FPL_xG,FPL_xGC,Opp_rating,Team_rating,Min_points
18363,2023-08-12,Sat,Away,Fulham,Everton,Willian,Y,LW,45.0,0.0,...,5.5,NaN,NaN,0.04,0.04,0.00,2.13,1708.234497,1736.636841,NaN
18364,2023-08-19,Sat,Home,Fulham,Brentford,Willian,N,LM,23.0,0.0,...,5.5,NaN,NaN,0.00,0.07,0.07,1.87,1822.547119,1745.365723,NaN
18365,2023-08-12,Sat,Away,Nott'ham Forest,Arsenal,Willy-Boly,Y,CB,90.0,0.0,...,4.5,NaN,NaN,0.03,0.24,0.21,0.83,1919.368896,1673.962646,NaN
18366,2023-08-18,Fri,Home,Nott'ham Forest,Sheffield Utd,Willy-Boly,Y,CB,68.0,0.0,...,4.5,NaN,NaN,0.00,0.38,0.38,0.24,1637.473755,1671.868774,NaN
18367,2023-08-13,Sun,Home,Brentford,Tottenham,Yoane-Wissa,Y,FW,71.0,1.0,...,6.0,NaN,NaN,0.05,0.29,0.24,1.02,1815.873413,1824.330444,NaN
18368,2023-08-19,Sat,Away,Brentford,Fulham,Yoane-Wissa,Y,FW,78.0,1.0,...,6.0,NaN,NaN,0.02,1.45,1.43,0.36,1745.365723,1822.547119,NaN
18369,2023-08-12,Sat,Away,Aston Villa,Newcastle Utd,Youri-Tielemans,N,"CM,LW",45.0,0.0,...,6.0,NaN,NaN,0.09,0.09,0.00,2.20,1875.999756,1827.994751,NaN
18370,2023-08-20,Sun,Home,Aston Villa,Everton,Youri-Tielemans,N,CM,28.0,0.0,...,6.0,NaN,NaN,0.01,0.01,0.00,0.03,1699.505737,1816.929932,NaN
18371,2023-08-13,Sun,Away,Tottenham,Brentford,Yves-Bissouma,Y,DM,90.0,0.0,...,5.0,NaN,NaN,0.11,0.15,0.04,2.02,1824.330444,1815.873413,NaN
18372,2023-08-19,Sat,Home,Tottenham,Manchester Utd,Yves-Bissouma,Y,DM,90.0,0.0,...,5.0,NaN,NaN,0.01,0.08,0.07,1.99,1877.037842,1817.656738,NaN

In [27]:
df = df.sort_values(by=["Name", "Date"])

In [28]:
df = df.reset_index(drop=True)

In [29]:
df.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR',
       'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA',
       'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ',
       'Season', 'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals', 'Penalties_missed',
       'Penalties_saved', 'Saves', 'Selected', 'Threat', 'FPL_points',
       'Transfers_balance', 'Transfers_in', 'Transfers_out', 'Price', 'FPL_GW',
       'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC', 'Opp_rating',
       'Team_rating', 'Min_points'],
      dtype='object')

In [30]:
df["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

# Expected points

In [31]:
# FWD
df.loc[df["FPL_pos"] == "FWD", "xP"] = (df["Min"] > 0).astype(int) + (df["Min"] >= 60).astype(int) + df["xG"] * 4 + df["xA"] * 3 + df['Bonus']

In [32]:
df.loc[df["FPL_pos"] == "MID", "xP"] = (df["Min"] > 0).astype(int) + (df["Min"] >= 60).astype(int) + df["xG"] * 5 + df["xA"] * 3 + df["Player_CS"] + df['Bonus']

In [33]:
df.loc[df["FPL_pos"] == "DEF", "xP"] = (df["Min"] > 0).astype(int) + (df["Min"] >= 60).astype(int) + df["xG"] * 6 + df["xA"] * 3 + df["Player_CS"] * 4 + df['Bonus']

In [34]:
df.loc[df["FPL_pos"] == "GK", "xP"] = df["FPL_points"]

In [35]:
df['Avg_FPL_points'] = df.groupby('Name_original')['FPL_points'].transform('mean')

In [36]:
df[df["Name_original"] == "Erling Haaland"][['Avg_FPL_points', "Name_original", "xP", "xG", "xA", "Min", "Bonus"]]

      Avg_FPL_points   Name_original    xP   xG   xA   Min  Bonus
5393        7.552632  Erling Haaland  11.8  1.7  0.0  77.0      3
5394        7.552632  Erling Haaland   3.9  0.1  0.5  73.0      0
5395        7.552632  Erling Haaland   5.4  0.7  0.2  90.0      0
5396        7.552632  Erling Haaland  10.6  1.4  0.0  83.0      3
5397        7.552632  Erling Haaland  11.4  1.6  0.0  68.0      3
5398        7.552632  Erling Haaland   9.8  0.9  0.4  90.0      3
5399        7.552632  Erling Haaland   2.4  0.1  0.0  90.0      0
5400        7.552632  Erling Haaland  11.8  1.1  0.8  90.0      3
5401        7.552632  Erling Haaland   5.7  0.7  0.3  90.0      0
5402        7.552632  Erling Haaland   4.3  0.5  0.1  90.0      0
5403        7.552632  Erling Haaland   9.7  1.1  0.1  79.0      3
5404        7.552632  Erling Haaland   6.4  1.1  0.0  27.0      1
5405        7.552632  Erling Haaland   3.8  0.0  0.6  90.0      0
5406        7.552632  Erling Haaland  12.9  1.9  0.1  90.0      3
5407        7.552632  Erling Haaland   5.4  0.6  0.0  90.0      1
5408        7.552632  Erling Haaland   5.6  0.9  0.0  90.0      0
5409        7.552632  Erling Haaland   2.8  0.2  0.0  90.0      0
5410        7.552632  Erling Haaland   5.6  0.9  0.0  89.0      0
5411        7.552632  Erling Haaland  10.6  1.4  0.0  60.0      3
5412        7.552632  Erling Haaland   2.3  0.0  0.1  90.0      0
5413        7.552632  Erling Haaland   3.6  0.2  0.6  45.0      0
5414        7.552632  Erling Haaland   3.2  0.3  0.0  90.0      0
5415        7.552632  Erling Haaland   4.8  0.7  0.0  90.0      0
5416        7.552632  Erling Haaland   5.0  0.5  0.0  71.0      1
5417        7.552632  Erling Haaland   3.5  0.3  0.1  90.0      0
5418        7.552632  Erling Haaland   7.2  1.3  0.0  90.0      0
5419        7.552632  Erling Haaland   9.0  1.0  0.0  68.0      3
5420        7.552632  Erling Haaland   9.8  1.3  0.2  45.0      3
5421        7.552632  Erling Haaland  11.6  1.6  0.4  90.0      2
5422        7.552632  Erling Haaland   9.0  1.1  0.2  90.0      2
5423        7.552632  Erling Haaland   7.7  0.7  0.3  90.0      2
5424        7.552632  Erling Haaland   6.0  1.0  0.0  90.0      0
5425        7.552632  Erling Haaland   4.6  0.4  0.0  77.0      1
5426        7.552632  Erling Haaland   1.4  0.1  0.0  17.0      0
5427        7.552632  Erling Haaland   7.6  1.1  0.4  90.0      0
5428        7.552632  Erling Haaland   0.0  0.0  0.0   0.0      0
5429        7.552632  Erling Haaland   8.3  0.6  0.3  79.0      3
5430        7.552632  Erling Haaland   3.9  0.4  0.1  90.0      0

# Summary & save

 <strong>0. Date </strong>- YYYY-MM-DD format 
 <strong>1. Day  </strong>- day of the week 
 <strong>2. Venue </strong> - home/away 
 <strong>3. Team  </strong> - team name
 <strong>4. Opponent   </strong> - opposite team name 
 <strong>5. Name       </strong> - player name
 <strong>6. Start         </strong> - Y:starting eleven, N:came on from bench, Y*:starting eleven - team captain
 <strong>7. Pos           </strong> - position (fbref)
 <strong>8. Min           </strong> - minutes played
 <strong>9. Gls           </strong> - goals scored by a player (fbref)
 <strong>10. Ast           </strong> - assists achieved by a player (fbref)
 <strong>11. PK            </strong> - penalty kicks made 
 <strong>12. PKatt         </strong> - penalty kicks attempted 
 <strong>13. Sh            </strong> - shots
 <strong>14. SoT           </strong> - shots on target
 <strong>15. CrdY          </strong> - yellow cards
 <strong>16. CrdR          </strong> - red cards
 <strong>17. Touches       </strong> - touches
 <strong>18. Tkl           </strong> - tackles 
 <strong>19. Int           </strong> - interceptions 
 <strong>20. Blocks        </strong> - blocks 
 <strong>21. xG            </strong> - expected goals (fbref) 
 <strong>22. npxG          </strong> - non-penalty expected goals (fbref) 
 <strong>23. xA            </strong> - expected assists (fbref) 
 <strong>24. SCA           </strong> - shot-creating actions
 <strong>25. GCA           </strong> - goal-creating actions
 <strong>26. Cmp           </strong> - passes completed
 <strong>27. Att           </strong> - passes attempted
 <strong>28. Cmp%          </strong> - pass completion %
 <strong>29. PrgP          </strong> - progressive passes
 <strong>30. Carries       </strong> - carries
 <strong>31. PrgC          </strong> - progressive carries
 <strong>32. T_att         </strong> - take-ons attempted
 <strong>33. T_succ        </strong> - successful take-ons
 <strong>34. Season        </strong> - e.g. 2022-23
 <strong>35. WDL           </strong> - win/draw/loss
 <strong>36. Team_score    </strong> - goals scored by team 
 <strong>37. Opp_score     </strong> - goals scored by opposite team 
 <strong>38. Team_CS       </strong> - did team keep a clean sheet
 <strong>39. Was_home      </strong> - was the game played home
 <strong>40. GW            </strong> - number of gameweek (fbref) 
 <strong>41. Clean_name    </strong> - name without language-specific characters
 <strong>42. FPL_name      </strong> - name (FPL)
 <strong>43. FPL_team      </strong> - team (FPL)
 <strong>44. FPL_opp_team  </strong> - opposite team (FPL) 
 <strong>45. Name_original </strong> - name with no hyphens
 <strong>46. FPL_pos       </strong> - in-game position 
 <strong>47. FPL_ast       </strong> - FPL assists
 <strong>48. Bonus         </strong> - bonus points (0-3 points)
 <strong>49. Bps                </strong> - bonus points system (FPL)
 <strong>50. Player_CS          </strong> - did player keep a clean sheet
 <strong>51. Creativity         </strong>
 <strong>52. Element            </strong>
 <strong>53. Fixture            </strong> - id of a fixture in given PL season
 <strong>54. Player_GC          </strong> - goals conceded with player on a pitch
 <strong>55. Goals_scored       </strong> - goals scored by a player (FPL)
 <strong>56. ICT_index          </strong>
 <strong>57. Influence          </strong>
 <strong>58. Kickoff_time       </strong> - YYYY-MM-DD_HH:MM:SS
 <strong>59. FPL_min            </strong> - minutes (FPL)
 <strong>60. Own_goals          </strong>
 <strong>61. Penalties_missed   </strong>
 <strong>62. Penalties_saved    </strong>
 <strong>63. Saves              </strong>
 <strong>64. Selected           </strong>
 <strong>65. Threat             </strong>
 <strong>66. FPL_points         </strong> - number of FPL points scored by a player
 <strong>67. Transfers_balance  </strong> - difference of in and out transfers
 <strong>68. Transfers_in       </strong>
 <strong>69. Transfers_out      </strong>
 <strong>70. Price              </strong> - FPL price
 <strong>71. FPL_GW             </strong> - gameweek number (FPL)
 <strong>72. xP                 </strong>
 <strong>73. FPL_xA             </strong> - expected assists (FPL) 
 <strong>74. FPL_xGI            </strong> - expected goal involvement (FPL) 
 <strong>75. FPL_xG             </strong> - expected goals (FPL) 
 <strong>76. FPL_xGC            </strong> - expected goals conceded (FPL) 
 <strong>77. Opp_rating         </strong> - opposite team elo rating at the time of the game (clubelo)
 <strong>78. Team_rating        </strong> - team elo rating at the time of the game (clubelo)

In [37]:
df.to_csv('data/previous/FPL_logs.csv', index=False)

In [38]:
df.shape

(18373, 81)

In [39]:
# info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
# df[df["Name"] == "Erling-Haaland"][info + ["Gls"]]