# Imports & load

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# loading csv
df = pd.read_csv('data/previous/final_dataset.csv')

df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.columns[0:50]

Index(['Unnamed: 0.1', 'Unnamed: 0_x', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1', 'Unnamed: 0.1.1.1.1.1.1',
       'Date', 'Day', 'Comp', 'Round', 'Venue', 'Squad', 'Opponent', 'Start',
       'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR',
       'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xAG', 'SCA', 'GCA',
       'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'Att.1', 'Succ',
       'Match Report', 'Name', 'Season', 'Fls', 'Fld', 'Off', 'Crs', 'TklW'],
      dtype='object')

In [5]:
df.shape

(18835, 108)

In [6]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
df[df["Name"] == "Erling-Haaland"][["Name", "name", "GW"]]

                 Name            name  GW
10334  Erling-Haaland  Erling Haaland   1
10335  Erling-Haaland  Erling Haaland   2
10336  Erling-Haaland  Erling Haaland   3
10337  Erling-Haaland  Erling Haaland   4
10338  Erling-Haaland  Erling Haaland   5
10339  Erling-Haaland  Erling Haaland   6
10340  Erling-Haaland  Erling Haaland   8
10341  Erling-Haaland  Erling Haaland   9
10342  Erling-Haaland  Erling Haaland  10
10343  Erling-Haaland  Erling Haaland  11
10344  Erling-Haaland  Erling Haaland  13
10345  Erling-Haaland  Erling Haaland  15
10346  Erling-Haaland  Erling Haaland  16
10347  Erling-Haaland  Erling Haaland  17
10348  Erling-Haaland  Erling Haaland  18
10349  Erling-Haaland  Erling Haaland  19
10350  Erling-Haaland  Erling Haaland  20
10351  Erling-Haaland  Erling Haaland   7
10352  Erling-Haaland  Erling Haaland  21
10353  Erling-Haaland  Erling Haaland  22
10354  Erling-Haaland  Erling Haaland  23
10355  Erling-Haaland  Erling Haaland  12
10356  Erling-Haaland  Erling Haaland  24
10357  Erling-Haaland  Erling Haaland  25
10358  Erling-Haaland  Erling Haaland  26
10359  Erling-Haaland  Erling Haaland  27
10360  Erling-Haaland  Erling Haaland  30
10361  Erling-Haaland  Erling Haaland  31
10362  Erling-Haaland  Erling Haaland  33
10363  Erling-Haaland  Erling Haaland  34
10364  Erling-Haaland  Erling Haaland  28
10365  Erling-Haaland  Erling Haaland  35
10366  Erling-Haaland  Erling Haaland  36
10367  Erling-Haaland  Erling Haaland  37
10368  Erling-Haaland  Erling Haaland  32
10369  Erling-Haaland  Erling Haaland  38
18088  Erling-Haaland  Erling Haaland   1
18089  Erling-Haaland  Erling Haaland   2
18090  Erling-Haaland  Erling Haaland   3

In [7]:
df["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

# Dropping columns

In [8]:
columns_to_drop = ["Unnamed: 0.1", 
                   'Unnamed: 0_x', 
                   'Unnamed: 0.1.1',
                   "Comp", 
                   "Match Report", 
                   "Fls",
                   "Fld",
                   "Off",
                   "Crs",
                   "TklW",
                   "OG",
                   "PKwon",
                   "PKcon",
                   "team",
                   "opponent_team",
                   "red_cards",
                   "team_a_score",
                   "team_h_score",
                   "starts",
                   "was_home",
                   "neutral_name",
                   "Round",
                   "round",
                   "GoalsTeams",
                   "yellow_cards",
                   "season",
                   "opp_team_name"
                  ]

df = df.drop(columns_to_drop, axis=1)

In [9]:
df = df.drop(df[df["Squad"].isin(['Dynamo Kyiv', 'Shakhtar'])].index)

In [10]:
# df["GoalsTeams"].unique()

# Renaming columns

In [11]:
df = df.rename(columns={
    "name": "Name_original"
})

In [12]:
# df[df["CrdR"] != df["red_cards"]][["goals_scored", "Name", "Gls", "red_cards", "CrdR"]].dropna()

In [13]:
# df[[ "Round", "GW"]]

In [14]:
# df[df["Opponent"] != df["Opp_team_name"]][["Date", "Season", "Name", "Squad", "Opponent", "Opp_team_name",]]

In [15]:
# df[df["Name"] == "Darwin-Nunez"]["goals_scored"].sum()

In [16]:
# df["starts"].isna().sum()

In [17]:
df.iloc[:,77:]

       expected_goals  expected_goals_conceded   Opp rating  Team rating
0                 NaN                      NaN  1681.872192  1728.483398
1                 NaN                      NaN  1780.006958  1738.980469
2                 NaN                      NaN  1795.105225  1735.531982
3                 NaN                      NaN  1708.091675  1744.599365
4                 NaN                      NaN  1844.299316  1739.216797
...               ...                      ...          ...          ...
18830            0.04                     2.02  1824.330566  1815.873413
18831            0.07                     1.99  1877.037842  1817.656860
18832            0.05                     0.54  1660.290894  1829.239136
18833            0.03                     0.96  2077.251953  1726.401611
18834            0.04                     2.41  1825.741455  1722.952881

[18835 rows x 4 columns]

In [18]:
df["value"] = (df["value"] / 10)

In [19]:
df.columns = [w[0].capitalize() + w[1:] for w in df.columns]

df = df.rename(columns={
    "GW_x": "GW",
    "Neutral_name_x": "Clean_name",
    "Assists": "FPL_ast",
    "Position": "FPL_pos",
    "CS": "Team_CS",
    "Clean_sheets": "Player_CS",
    "Total_points": "FPL_points",
    "GW_y": "FPL_GW",
    "Expected_assists": "FPL_xA",
    "Expected_goal_involvements": "FPL_xGI",
    "Expected_goals": "FPL_xG",
    "Expected_goals_conceded": "FPL_xGC",
    "Team Score": "Team_score",
    "Goals_conceded": "Player_GC",
    "Opp Score": "Opp_score",
    "Ict_index": "ICT_index",
    "Opp rating": "Opp_rating",
    "Was Home": "Was_home",
    "XG": "xG",
    "XAG": "xA",
    "NpxG": "npxG",
    "Team rating": "Team_rating",
    "Minutes": "FPL_min",
    "Squad": "Team",
    "XP": "xP",
    "Att.1": "T_att",
    "Succ": "T_succ",
    "Value": "Price"
})

In [20]:
df = df.reset_index(drop=True)

In [21]:
# df[df["Min"] == 0][["Date", "Season", "Name", "Team", "Opponent", "FPL_opp_team",]]

In [22]:
df["Kickoff_time"]

0        2021-08-21T16:30:00Z
1        2021-08-28T14:00:00Z
2        2021-09-19T13:00:00Z
3        2021-09-27T19:00:00Z
4        2021-10-02T16:30:00Z
                 ...
18830    2023-08-13T13:00:00Z
18831    2023-08-19T16:30:00Z
18832    2023-08-26T11:30:00Z
18833    2023-08-11T19:00:00Z
18834    2023-08-27T13:00:00Z
Name: Kickoff_time, Length: 18835, dtype: object

In [23]:
df.loc[df["FPL_pos"] == "GKP", "FPL_pos"] = "GK"

In [24]:
df.columns

Index(['Unnamed: 0.1.1.1', 'Unnamed: 0.1.1.1.1', 'Unnamed: 0.1.1.1.1.1',
       'Unnamed: 0.1.1.1.1.1.1', 'Date', 'Day', 'Venue', 'Team', 'Opponent',
       'Start', 'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY',
       'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA',
       'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att',
       'T_succ', 'Name', 'Season', 'WDL', 'Team_score', 'Opp_score', 'Team_CS',
       'Was_home', 'GW', 'FPL_name', 'FPL_team', 'FPL_opp_team',
       'Unnamed: 0_y', 'Name_original', 'FPL_pos', 'FPL_ast', 'Bonus', 'Bps',
       'Player_CS', 'Creativity', 'Element', 'Fixture', 'Player_GC',
       'Goals_scored', 'ICT_index', 'Influence', 'Kickoff_time', 'FPL_min',
       'Own_goals', 'Penalties_missed', 'Penalties_saved', 'Saves', 'Selected',
       'Threat', 'FPL_points', 'Transfers_balance', 'Transfers_in',
       'Transfers_out', 'Price', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC',
       'Opp_rating', 'Team_rating'],
      dtype='object')

# Reindexing

In [25]:
df = df.reindex(columns=['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos', 'Min',
       'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches',
       'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA', 'Cmp', 'Att',
       'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ', 'Season',
       'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals',
       'Penalties_missed', 'Penalties_saved', 'Saves', 'Selected', 'Threat',
       'FPL_points', 'Transfers_balance', 'Transfers_in', 'Transfers_out',
       'Price', 'FPL_GW', 'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC',
       'Opp_rating', 'Team_rating', 'Min_points'])

In [26]:
df.tail(10)

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,Price,FPL_GW,xP,FPL_xA,FPL_xGI,FPL_xG,FPL_xGC,Opp_rating,Team_rating,Min_points
18825,2023-08-19,Sat,Away,Brentford,Fulham,Yoane-Wissa,Y,FW,78.0,1.0,...,6.0,NaN,NaN,0.02,1.45,1.43,0.36,1745.365601,1822.547119,NaN
18826,2023-08-26,Sat,Home,Brentford,Crystal Palace,Yoane-Wissa,Y,FW,90.0,0.0,...,6.1,NaN,NaN,0.00,0.27,0.27,0.80,1758.725586,1835.573242,NaN
18827,2023-08-12,Sat,Away,Aston Villa,Newcastle Utd,Youri-Tielemans,N,"CM,LW",45.0,0.0,...,6.0,NaN,NaN,0.09,0.09,0.00,2.20,1875.999878,1827.994873,NaN
18828,2023-08-20,Sun,Home,Aston Villa,Everton,Youri-Tielemans,N,CM,28.0,0.0,...,6.0,NaN,NaN,0.01,0.01,0.00,0.03,1699.505737,1816.929932,NaN
18829,2023-08-27,Sun,Away,Aston Villa,Burnley,Youri-Tielemans,N,CM,5.0,0.0,...,5.9,NaN,NaN,0.00,0.00,0.00,0.33,1722.952881,1825.741455,NaN
18830,2023-08-13,Sun,Away,Tottenham,Brentford,Yves-Bissouma,Y,DM,90.0,0.0,...,5.0,NaN,NaN,0.11,0.15,0.04,2.02,1824.330566,1815.873413,NaN
18831,2023-08-19,Sat,Home,Tottenham,Manchester Utd,Yves-Bissouma,Y,DM,90.0,0.0,...,5.0,NaN,NaN,0.01,0.08,0.07,1.99,1877.037842,1817.656860,NaN
18832,2023-08-26,Sat,Away,Tottenham,Bournemouth,Yves-Bissouma,Y,DM,73.0,0.0,...,5.0,NaN,NaN,0.12,0.17,0.05,0.54,1660.290894,1829.239136,NaN
18833,2023-08-11,Fri,Home,Burnley,Manchester City,Zeki-Amdouni,Y,FW,60.0,0.0,...,5.5,NaN,NaN,0.00,0.03,0.03,0.96,2077.251953,1726.401611,NaN
18834,2023-08-27,Sun,Home,Burnley,Aston Villa,Zeki-Amdouni,Y,"FW,AM",80.0,0.0,...,5.5,NaN,NaN,0.02,0.06,0.04,2.41,1825.741455,1722.952881,NaN

In [27]:
df = df.sort_values(by=["Name", "Date"])

In [28]:
df = df.reset_index(drop=True)

In [29]:
df.columns

Index(['Date', 'Day', 'Venue', 'Team', 'Opponent', 'Name', 'Start', 'Pos',
       'Min', 'Gls', 'Ast', 'PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR',
       'Touches', 'Tkl', 'Int', 'Blocks', 'xG', 'npxG', 'xA', 'SCA', 'GCA',
       'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries', 'PrgC', 'T_att', 'T_succ',
       'Season', 'WDL', 'Team_score', 'Opp_score', 'Team_CS', 'Was_home', 'GW',
       'Clean_name', 'FPL_name', 'FPL_team', 'FPL_opp_team', 'Name_original',
       'FPL_pos', 'FPL_ast', 'Bonus', 'Bps', 'Player_CS', 'Creativity',
       'Element', 'Fixture', 'Player_GC', 'Goals_scored', 'ICT_index',
       'Influence', 'Kickoff_time', 'FPL_min', 'Own_goals', 'Penalties_missed',
       'Penalties_saved', 'Saves', 'Selected', 'Threat', 'FPL_points',
       'Transfers_balance', 'Transfers_in', 'Transfers_out', 'Price', 'FPL_GW',
       'xP', 'FPL_xA', 'FPL_xGI', 'FPL_xG', 'FPL_xGC', 'Opp_rating',
       'Team_rating', 'Min_points'],
      dtype='object')

In [30]:
df["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

In [31]:
# Team xG

In [32]:
team_xg = pd.read_csv("data/completed_fixtures.csv")

In [33]:
team_xg.head()

   Unnamed: 0         Team        xG       xGA        Date
0           0  Aston Villa  1.137180  1.350360  2021-08-14
1           1  Aston Villa  1.184260  0.631630  2021-08-21
2           2  Aston Villa  0.431464  1.133120  2021-08-28
3           3  Aston Villa  1.173490  1.221530  2021-09-11
4           4  Aston Villa  0.777716  0.755035  2021-09-18

In [34]:
df["Team"].unique()

array(['Brighton', 'West Ham', 'Brentford', 'Arsenal', 'Burnley',
       'Manchester Utd', 'Everton', 'Sheffield Utd', 'Bournemouth',
       'Fulham', 'Crystal Palace', 'Newcastle Utd', 'Liverpool',
       'Luton Town', "Nott'ham Forest", 'Southampton', 'Chelsea',
       'Tottenham', 'Manchester City', 'Aston Villa', 'Norwich City',
       'Wolves', 'Watford', 'Leicester City', 'Leeds United'],
      dtype=object)

In [35]:
team_xg["Team"].unique()

array(['Aston Villa', 'Everton', 'Southampton', 'Leicester City',
       'Crystal Palace', 'Norwich City', 'Chelsea', 'West Ham',
       'Tottenham', 'Arsenal', 'Newcastle Utd', 'Liverpool',
       'Manchester City', 'Manchester Utd', 'Watford', 'Burnley',
       'Brighton', 'Wolves', 'Brentford', 'Leeds United', 'Bournemouth',
       'Fulham', "Nott'ham Forest", 'Sheffield Utd', 'Luton Town'],
      dtype=object)

In [36]:
df

,Date,Day,Venue,Team,Opponent,Name,Start,Pos,Min,Gls,...,Price,FPL_GW,xP,FPL_xA,FPL_xGI,FPL_xG,FPL_xGC,Opp_rating,Team_rating,Min_points
0,2021-08-21,Sat,Home,Brighton,Watford,Aaron-Connolly,N,FW,45.0,0.0,...,5.5,NaN,NaN,NaN,NaN,NaN,NaN,1681.872192,1728.483398,NaN
1,2021-08-28,Sat,Home,Brighton,Everton,Aaron-Connolly,N,0,0.0,0.0,...,5.5,NaN,NaN,NaN,NaN,NaN,NaN,1780.006958,1738.980469,NaN
2,2021-09-19,Sun,Home,Brighton,Leicester City,Aaron-Connolly,N,0,0.0,0.0,...,5.4,NaN,NaN,NaN,NaN,NaN,NaN,1795.105225,1735.531982,NaN
3,2021-09-27,Mon,Away,Brighton,Crystal Palace,Aaron-Connolly,N,LM,15.0,0.0,...,5.3,NaN,NaN,NaN,NaN,NaN,NaN,1708.091675,1744.599365,NaN
4,2021-10-02,Sat,Home,Brighton,Arsenal,Aaron-Connolly,N,0,0.0,0.0,...,5.3,NaN,NaN,NaN,NaN,NaN,NaN,1844.299316,1739.216797,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18830,2022-05-08,Sun,Home,Manchester City,Newcastle Utd,Zack-Steffen,N,0,0.0,0.0,...,4.4,NaN,NaN,NaN,NaN,NaN,NaN,1741.852905,2021.657837,NaN
18831,2022-05-11,Wed,Away,Manchester City,Wolves,Zack-Steffen,N,0,0.0,0.0,...,4.4,NaN,NaN,NaN,NaN,NaN,NaN,1741.296387,2025.716064,NaN
18832,2022-05-15,Sun,Away,Manchester City,West Ham,Zack-Steffen,N,0,0.0,0.0,...,4.4,NaN,NaN,NaN,NaN,NaN,NaN,1792.556763,2031.486450,NaN
18833,2023-08-11,Fri,Home,Burnley,Manchester City,Zeki-Amdouni,Y,FW,60.0,0.0,...,5.5,NaN,NaN,0.00,0.03,0.03,0.96,2077.251953,1726.401611,NaN
18834,2023-08-27,Sun,Home,Burnley,Aston Villa,Zeki-Amdouni,Y,"FW,AM",80.0,0.0,...,5.5,NaN,NaN,0.02,0.06,0.04,2.41,1825.741455,1722.952881,NaN

In [37]:
def assign_team_xG(row, df_xg):
    # print (row)
    # print(df_xg[(df_xg["Team"] == row["Team"]) & (df_xg["Date"] == row["Date"])]["xG"].item())
    return df_xg[(df_xg["Team"] == row["Team"]) & (df_xg["Date"] == row["Date"])]["xG"].item()

In [38]:
def assign_team_xGA(row, df_xg):
    # print (row)
    # print(df_xg[(df_xg["Team"] == row["Team"]) & (df_xg["Date"] == row["Date"])]["xG"].item())
    return df_xg[(df_xg["Team"] == row["Team"]) & (df_xg["Date"] == row["Date"])]["xGA"].item()

In [39]:
%%time
for i, row in df.iterrows():
    df.at[i, "xG_team"] = assign_team_xG(row, team_xg)

CPU times: total: 12.7 s
Wall time: 13 s

In [40]:
%%time
for i, row in df.iterrows():
    df.at[i, "xGA_team"] = assign_team_xGA(row, team_xg)

CPU times: total: 12.5 s
Wall time: 12.6 s

In [41]:
df["xG_diff"] = df["xG_team"] - df["xGA_team"]

# Expected points

In [42]:
# FWD
df.loc[df["FPL_pos"] == "FWD", "xP"] = (df["Min"] > 0).astype(int) + (df["Min"] >= 60).astype(int) + df["xG"] * 4 + df["xA"] * 3 + df['Bonus']

In [43]:
df.loc[df["FPL_pos"] == "MID", "xP"] = (df["Min"] > 0).astype(int) + (df["Min"] >= 60).astype(int) + df["xG"] * 5 + df["xA"] * 3 + df["Player_CS"] + df['Bonus']

In [44]:
df.loc[df["FPL_pos"] == "DEF", "xP"] = (df["Min"] > 0).astype(int) + (df["Min"] >= 60).astype(int) + df["xG"] * 6 + df["xA"] * 3 + df["Player_CS"] * 4 + df['Bonus']

In [45]:
df.loc[df["FPL_pos"] == "GK", "xP"] = df["FPL_points"]

In [46]:
df['Avg_FPL_points'] = df.groupby('Name_original')['FPL_points'].transform('mean')

In [47]:
df[df["Name_original"] == "Erling Haaland"][['Avg_FPL_points', "Name_original", "xP", "xG", "xA", "Min", "Bonus", "xG_team", "xGA_team", "GW", "Opponent"]]

,Avg_FPL_points,Name_original,xP,xG,xA,Min,Bonus,xG_team,xGA_team,GW,Opponent
5529,7.461538,Erling Haaland,11.8,1.7,0.0,77.0,3,2.587390,0.246188,1,West Ham
5530,7.461538,Erling Haaland,3.9,0.1,0.5,73.0,0,1.690640,0.123946,2,Bournemouth
5531,7.461538,Erling Haaland,5.4,0.7,0.2,90.0,0,3.673820,2.212700,3,Newcastle Utd
5532,7.461538,Erling Haaland,10.6,1.4,0.0,83.0,3,2.385300,0.091976,4,Crystal Palace
5533,7.461538,Erling Haaland,11.4,1.6,0.0,68.0,3,3.837590,0.729752,5,Nott'ham Forest
5534,7.461538,Erling Haaland,9.8,0.9,0.4,90.0,3,1.921430,0.279392,6,Aston Villa
5535,7.461538,Erling Haaland,2.4,0.1,0.0,90.0,0,1.424200,0.310995,8,Wolves
5536,7.461538,Erling Haaland,11.8,1.1,0.8,90.0,3,3.011030,1.713350,9,Manchester Utd
5537,7.461538,Erling Haaland,5.7,0.7,0.3,90.0,0,2.735360,0.101148,10,Southampton
5538,7.461538,Erling Haaland,4.3,0.5,0.1,90.0,0,0.911493,1.999200,11,Liverpool
5539,7.461538,Erling Haaland,9.7,1.1,0.1,79.0,3,1.862390,0.528630,13,Brighton
5540,7.461538,Erling Haaland,6.4,1.1,0.0,27.0,1,2.393320,0.843884,15,Fulham
5541,7.461538,Erling Haaland,3.8,0.0,0.6,90.0,0,1.605000,3.290120,16,Brentford
5542,7.461538,Erling Haaland,12.9,1.9,0.1,90.0,3,4.162490,0.603751,17,Leeds United
5543,7.461538,Erling Haaland,5.4,0.6,0.0,90.0,1,2.363330,0.076002,18,Everton
5544,7.461538,Erling Haaland,5.6,0.9,0.0,90.0,0,1.719720,0.493576,19,Chelsea
5545,7.461538,Erling Haaland,2.8,0.2,0.0,90.0,0,0.736950,1.982280,20,Manchester Utd
5546,7.461538,Erling Haaland,5.6,0.9,0.0,89.0,0,2.341660,1.164990,7,Tottenham
5547,7.461538,Erling Haaland,10.6,1.4,0.0,60.0,3,3.327570,0.469277,21,Wolves
5548,7.461538,Erling Haaland,2.3,0.0,0.1,90.0,0,0.773747,1.421680,22,Tottenham
5549,7.461538,Erling Haaland,3.6,0.2,0.6,45.0,0,3.609870,0.275348,23,Aston Villa
5550,7.461538,Erling Haaland,3.2,0.3,0.0,90.0,0,2.008410,1.701390,12,Arsenal
5551,7.461538,Erling Haaland,4.8,0.7,0.0,90.0,0,2.809660,1.127350,24,Nott'ham Forest
5552,7.461538,Erling Haaland,5.0,0.5,0.0,71.0,1,2.982060,1.085270,25,Bournemouth
5553,7.461538,Erling Haaland,3.5,0.3,0.1,90.0,0,1.341440,0.359809,26,Newcastle Utd
5554,7.461538,Erling Haaland,7.2,1.3,0.0,90.0,0,2.188400,0.185498,27,Crystal Palace
5555,7.461538,Erling Haaland,9.0,1.0,0.0,68.0,3,3.059990,0.492801,30,Southampton
5556,7.461538,Erling Haaland,9.8,1.3,0.2,45.0,3,1.607020,1.926920,31,Leicester City
5557,7.461538,Erling Haaland,11.6,1.6,0.4,90.0,2,2.011680,0.398372,33,Arsenal
5558,7.461538,Erling Haaland,9.0,1.1,0.2,90.0,2,2.323380,0.431813,34,Fulham
5559,7.461538,Erling Haaland,7.7,0.7,0.3,90.0,2,2.999080,0.492075,28,West Ham
5560,7.461538,Erling Haaland,6.0,1.0,0.0,90.0,0,2.834720,0.140924,35,Leeds United
5561,7.461538,Erling Haaland,4.6,0.4,0.0,77.0,1,1.043380,1.185970,36,Everton
5562,7.461538,Erling Haaland,1.4,0.1,0.0,17.0,0,1.205570,1.156480,37,Chelsea
5563,7.461538,Erling Haaland,7.6,1.1,0.4,90.0,0,1.929730,2.114860,32,Brighton
5564,7.461538,Erling Haaland,0.0,0.0,0.0,0.0,0,1.186490,1.438930,38,Brentford
5565,7.461538,Erling Haaland,8.3,0.6,0.3,79.0,3,2.400740,0.311032,1,Burnley
5566,7.461538,Erling Haaland,3.9,0.4,0.1,90.0,0,1.225280,0.257154,2,Newcastle Utd
5567,7.461538,Erling Haaland,10.7,2.1,0.1,90.0,0,3.848040,0.762232,3,Sheffield Utd

# Summary & save

 <strong>0. Date </strong>- YYYY-MM-DD format 
 <strong>1. Day  </strong>- day of the week 
 <strong>2. Venue </strong> - home/away 
 <strong>3. Team  </strong> - team name
 <strong>4. Opponent   </strong> - opposite team name 
 <strong>5. Name       </strong> - player name
 <strong>6. Start         </strong> - Y:starting eleven, N:came on from bench, Y*:starting eleven - team captain
 <strong>7. Pos           </strong> - position (fbref)
 <strong>8. Min           </strong> - minutes played
 <strong>9. Gls           </strong> - goals scored by a player (fbref)
 <strong>10. Ast           </strong> - assists achieved by a player (fbref)
 <strong>11. PK            </strong> - penalty kicks made 
 <strong>12. PKatt         </strong> - penalty kicks attempted 
 <strong>13. Sh            </strong> - shots
 <strong>14. SoT           </strong> - shots on target
 <strong>15. CrdY          </strong> - yellow cards
 <strong>16. CrdR          </strong> - red cards
 <strong>17. Touches       </strong> - touches
 <strong>18. Tkl           </strong> - tackles 
 <strong>19. Int           </strong> - interceptions 
 <strong>20. Blocks        </strong> - blocks 
 <strong>21. xG            </strong> - expected goals (fbref) 
 <strong>22. npxG          </strong> - non-penalty expected goals (fbref) 
 <strong>23. xA            </strong> - expected assists (fbref) 
 <strong>24. SCA           </strong> - shot-creating actions
 <strong>25. GCA           </strong> - goal-creating actions
 <strong>26. Cmp           </strong> - passes completed
 <strong>27. Att           </strong> - passes attempted
 <strong>28. Cmp%          </strong> - pass completion %
 <strong>29. PrgP          </strong> - progressive passes
 <strong>30. Carries       </strong> - carries
 <strong>31. PrgC          </strong> - progressive carries
 <strong>32. T_att         </strong> - take-ons attempted
 <strong>33. T_succ        </strong> - successful take-ons
 <strong>34. Season        </strong> - e.g. 2022-23
 <strong>35. WDL           </strong> - win/draw/loss
 <strong>36. Team_score    </strong> - goals scored by team 
 <strong>37. Opp_score     </strong> - goals scored by opposite team 
 <strong>38. Team_CS       </strong> - did team keep a clean sheet
 <strong>39. Was_home      </strong> - was the game played home
 <strong>40. GW            </strong> - number of gameweek (fbref) 
 <strong>41. Clean_name    </strong> - name without language-specific characters
 <strong>42. FPL_name      </strong> - name (FPL)
 <strong>43. FPL_team      </strong> - team (FPL)
 <strong>44. FPL_opp_team  </strong> - opposite team (FPL) 
 <strong>45. Name_original </strong> - name with no hyphens
 <strong>46. FPL_pos       </strong> - in-game position 
 <strong>47. FPL_ast       </strong> - FPL assists
 <strong>48. Bonus         </strong> - bonus points (0-3 points)
 <strong>49. Bps                </strong> - bonus points system (FPL)
 <strong>50. Player_CS          </strong> - did player keep a clean sheet
 <strong>51. Creativity         </strong>
 <strong>52. Element            </strong>
 <strong>53. Fixture            </strong> - id of a fixture in given PL season
 <strong>54. Player_GC          </strong> - goals conceded with player on a pitch
 <strong>55. Goals_scored       </strong> - goals scored by a player (FPL)
 <strong>56. ICT_index          </strong>
 <strong>57. Influence          </strong>
 <strong>58. Kickoff_time       </strong> - YYYY-MM-DD_HH:MM:SS
 <strong>59. FPL_min            </strong> - minutes (FPL)
 <strong>60. Own_goals          </strong>
 <strong>61. Penalties_missed   </strong>
 <strong>62. Penalties_saved    </strong>
 <strong>63. Saves              </strong>
 <strong>64. Selected           </strong>
 <strong>65. Threat             </strong>
 <strong>66. FPL_points         </strong> - number of FPL points scored by a player
 <strong>67. Transfers_balance  </strong> - difference of in and out transfers
 <strong>68. Transfers_in       </strong>
 <strong>69. Transfers_out      </strong>
 <strong>70. Price              </strong> - FPL price
 <strong>71. FPL_GW             </strong> - gameweek number (FPL)
 <strong>72. xP                 </strong>
 <strong>73. FPL_xA             </strong> - expected assists (FPL) 
 <strong>74. FPL_xGI            </strong> - expected goal involvement (FPL) 
 <strong>75. FPL_xG             </strong> - expected goals (FPL) 
 <strong>76. FPL_xGC            </strong> - expected goals conceded (FPL) 
 <strong>77. Opp_rating         </strong> - opposite team elo rating at the time of the game (clubelo)
 <strong>78. Team_rating        </strong> - team elo rating at the time of the game (clubelo)

In [48]:
df.to_csv('data/previous/FPL_logs.csv', index=False)

In [49]:
df.shape

(18835, 84)

In [50]:
# info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
# df[df["Name"] == "Erling-Haaland"][info + ["Gls"]]