# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
from src.match_names import name_fbref_to_fpl, neutralize_name

# Getting fbref

In [3]:
fbref = pd.read_csv("data/logs/logs_all_PL.csv")

In [4]:
fbref.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Date', 'Day', 'Comp', 'Round', 'Venue',
       'Squad', 'Opponent', 'Start', 'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt',
       'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks', 'xG',
       'npxG', 'xAG', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'PrgP', 'Carries',
       'PrgC', 'Att.1', 'Succ', 'Match Report', 'Name', 'Season', 'Fls', 'Fld',
       'Off', 'Crs', 'TklW', 'OG', 'PKwon', 'PKcon', 'WDL', 'GoalsTeams',
       'Team Score', 'Opp Score', 'CS', 'Was Home', 'GW'],
      dtype='object')

In [5]:
fbref.head()

,Unnamed: 0,Unnamed: 0.1,Date,Day,Comp,Round,Venue,Squad,Opponent,Start,...,OG,PKwon,PKcon,WDL,GoalsTeams,Team Score,Opp Score,CS,Was Home,GW
0,0,0.0,2021-08-21,Sat,Premier League,Matchweek 2,Home,Brighton,Watford,N,...,NaN,NaN,NaN,W,2–0,2,0,1.0,1.0,2
1,1,1.0,2021-08-28,Sat,Premier League,Matchweek 3,Home,Brighton,Everton,N,...,NaN,NaN,NaN,L,0–2,0,2,0.0,1.0,3
2,4,4.0,2021-09-19,Sun,Premier League,Matchweek 5,Home,Brighton,Leicester City,N,...,NaN,NaN,NaN,W,2–1,2,1,0.0,1.0,5
3,6,6.0,2021-09-27,Mon,Premier League,Matchweek 6,Away,Brighton,Crystal Palace,N,...,NaN,NaN,NaN,D,1–1,1,1,0.0,0.0,6
4,7,7.0,2021-10-02,Sat,Premier League,Matchweek 7,Home,Brighton,Arsenal,N,...,NaN,NaN,NaN,D,0–0,0,0,1.0,1.0,7

In [6]:
fbref.shape

(19726, 55)

In [7]:
# info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
# fbref[fbref["Name"] == "Erling-Haaland"][["Name", "neutral_name", "GW", 'FPL_name', 'Season', 'FPL_team', 'Was Home', 'FPL_opp_team']]

# Getting FPL

In [8]:
fpl = pd.read_csv("data/previous/fpl_players.csv")

In [9]:
# fpl[(fpl["name"]=="Brenden Aaronson") & (fpl["season"]=="2022-23")]

In [10]:
# removing rows with GW == NaN
fpl = fpl[fpl['GW'].notna()]

In [11]:
# fpl[(fpl["season"] == "2022-23") & (fpl["name"] == "Ben Davies") & (fpl["GW"] == 2)]

In [12]:
fbref["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)

In [13]:
fpl.columns

Index(['Unnamed: 0', 'season', 'name', 'position', 'team', 'assists', 'bonus',
       'bps', 'clean_sheets', 'creativity', 'element', 'fixture',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'kickoff_time', 'minutes', 'opponent_team', 'opp_team_name',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'yellow_cards', 'GW', 'xP', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object')

In [14]:
fpl.head()

,Unnamed: 0,season,name,position,team,assists,bonus,bps,clean_sheets,creativity,...,value,was_home,yellow_cards,GW,xP,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts
0,0,2020-21,Aaron Connolly,FWD,Brighton,0,0,-3,0,0.3,...,55,True,0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-21,Aaron Cresswell,DEF,West Ham,0,0,11,0,11.2,...,50,True,0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020-21,Aaron Mooy,MID,Brighton,0,0,0,0,0.0,...,50,True,0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020-21,Aaron Ramsdale,GK,Sheffield Utd,0,0,12,0,0.0,...,50,True,0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020-21,Abdoulaye Doucouré,MID,Everton,0,0,20,1,44.6,...,55,False,0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
fpl.shape

(77570, 44)

In [16]:
fpl.columns

Index(['Unnamed: 0', 'season', 'name', 'position', 'team', 'assists', 'bonus',
       'bps', 'clean_sheets', 'creativity', 'element', 'fixture',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'kickoff_time', 'minutes', 'opponent_team', 'opp_team_name',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'yellow_cards', 'GW', 'xP', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object')

In [17]:
# info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
# fpl[fpl["name"] == "Erling Haaland"][["name", "neutral_name", "GW", 'neutral_name', 'season', 'team', 'was_home', 'opp_team_name']]

In [18]:
# sorted(fpl["team"].unique())

In [19]:
# sorted(fbref["Squad"].unique())

# Merging

In [20]:
def team_fbref_to_fpl(team_name):
    if team_name == "Nott'ham Forest":
        return "Nott'm Forest"
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Leeds United":
        return "Leeds"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man Utd"
    if team_name == "Tottenham":
        return "Spurs"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    
    return team_name

In [21]:
# add neutral name columns
fpl["neutral_name"] = fpl["name"].apply(neutralize_name)
fbref["neutral_name"] = fbref["Name"].apply(neutralize_name)
fbref["FPL_name"] = fbref["neutral_name"].apply(name_fbref_to_fpl)
fbref["FPL_team"] = fbref["Squad"].apply(team_fbref_to_fpl)
fbref["FPL_opp_team"] = fbref["Opponent"].apply(team_fbref_to_fpl)

In [22]:
# fpl.info()

In [23]:
# fbref.info()

In [24]:
fpl["opp_team_name"].isna().sum()

0

In [25]:
join_columns_fbref = ['FPL_name', 'Season', 'FPL_team', 'Was Home', 'FPL_opp_team']
join_columns_fpl = ['neutral_name', 'season', 'team', 'was_home', 'opp_team_name']

In [26]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
fpl[fpl["name"] == "Erling Haaland"][["name", "neutral_name", "GW", 'neutral_name', 'season', 'team', 'was_home', 'opp_team_name']]

,name,neutral_name,GW,neutral_name,season,team,was_home,opp_team_name
49886,Erling Haaland,Erling-Haaland,1,Erling-Haaland,2022-23,Man City,False,West Ham
50460,Erling Haaland,Erling-Haaland,2,Erling-Haaland,2022-23,Man City,True,Bournemouth
51042,Erling Haaland,Erling-Haaland,3,Erling-Haaland,2022-23,Man City,False,Newcastle
51635,Erling Haaland,Erling-Haaland,4,Erling-Haaland,2022-23,Man City,True,Crystal Palace
52237,Erling Haaland,Erling-Haaland,5,Erling-Haaland,2022-23,Man City,True,Nott'm Forest
52845,Erling Haaland,Erling-Haaland,6,Erling-Haaland,2022-23,Man City,False,Aston Villa
53442,Erling Haaland,Erling-Haaland,8,Erling-Haaland,2022-23,Man City,False,Wolves
53911,Erling Haaland,Erling-Haaland,9,Erling-Haaland,2022-23,Man City,True,Man Utd
54550,Erling Haaland,Erling-Haaland,10,Erling-Haaland,2022-23,Man City,True,Southampton
55191,Erling Haaland,Erling-Haaland,11,Erling-Haaland,2022-23,Man City,False,Leeds
56419,Erling Haaland,Erling-Haaland,13,Erling-Haaland,2022-23,Man City,True,Brighton
57068,Erling Haaland,Erling-Haaland,14,Erling-Haaland,2022-23,Man City,False,Liverpool
57725,Erling Haaland,Erling-Haaland,15,Erling-Haaland,2022-23,Man City,True,Fulham
58387,Erling Haaland,Erling-Haaland,16,Erling-Haaland,2022-23,Man City,True,Brentford
59054,Erling Haaland,Erling-Haaland,17,Erling-Haaland,2022-23,Man City,False,Leicester
59729,Erling Haaland,Erling-Haaland,18,Erling-Haaland,2022-23,Man City,True,Everton
60417,Erling Haaland,Erling-Haaland,19,Erling-Haaland,2022-23,Man City,False,Chelsea
61192,Erling Haaland,Erling-Haaland,20,Erling-Haaland,2022-23,Man City,False,Man Utd
61193,Erling Haaland,Erling-Haaland,20,Erling-Haaland,2022-23,Man City,True,Spurs
62009,Erling Haaland,Erling-Haaland,21,Erling-Haaland,2022-23,Man City,True,Wolves
62730,Erling Haaland,Erling-Haaland,22,Erling-Haaland,2022-23,Man City,False,Spurs
63542,Erling Haaland,Erling-Haaland,23,Erling-Haaland,2022-23,Man City,True,Aston Villa
63543,Erling Haaland,Erling-Haaland,23,Erling-Haaland,2022-23,Man City,False,Arsenal
64347,Erling Haaland,Erling-Haaland,24,Erling-Haaland,2022-23,Man City,False,Nott'm Forest
65089,Erling Haaland,Erling-Haaland,25,Erling-Haaland,2022-23,Man City,False,Bournemouth
65842,Erling Haaland,Erling-Haaland,26,Erling-Haaland,2022-23,Man City,True,Newcastle
66610,Erling Haaland,Erling-Haaland,27,Erling-Haaland,2022-23,Man City,False,Crystal Palace
68085,Erling Haaland,Erling-Haaland,29,Erling-Haaland,2022-23,Man City,True,Leeds
69240,Erling Haaland,Erling-Haaland,30,Erling-Haaland,2022-23,Man City,False,Southampton
69995,Erling Haaland,Erling-Haaland,31,Erling-Haaland,2022-23,Man City,True,Liverpool
71365,Erling Haaland,Erling-Haaland,33,Erling-Haaland,2022-23,Man City,True,Arsenal
72153,Erling Haaland,Erling-Haaland,34,Erling-Haaland,2022-23,Man City,False,Fulham
72154,Erling Haaland,Erling-Haaland,34,Erling-Haaland,2022-23,Man City,True,West Ham
73103,Erling Haaland,Erling-Haaland,35,Erling-Haaland,2022-23,Man City,True,Leicester
73877,Erling Haaland,Erling-Haaland,36,Erling-Haaland,2022-23,Man City,False,Everton
74723,Erling Haaland,Erling-Haaland,37,Erling-Haaland,2022-23,Man City,True,Chelsea
74724,Erling Haaland,Erling-Haaland,37,Erling-Haaland,2022-23,Man City,False,Brighton
75637,Erling Haaland,Erling-Haaland,38,Erling-Haaland,2022-23,Man City,False,Brentford
76762,Erling Haaland,Erling-Haaland,1,Erling-Haaland,2023-24,Man City,False,Burnley
77145,Erling Haaland,Erling-Haaland,2,Erling-Haaland,2023-24,Man City,True,Newcastle

In [27]:
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating"]
fbref[fbref["Name"] == "Erling-Haaland"][["Name", "neutral_name", "GW", 'FPL_name', 'Season', 'FPL_team', 'Was Home', 'FPL_opp_team']]

,Name,neutral_name,GW,FPL_name,Season,FPL_team,Was Home,FPL_opp_team
11457,Erling-Haaland,Erling-Haaland,1,Erling-Haaland,2022-23,Man City,0.0,West Ham
11458,Erling-Haaland,Erling-Haaland,2,Erling-Haaland,2022-23,Man City,1.0,Bournemouth
11459,Erling-Haaland,Erling-Haaland,3,Erling-Haaland,2022-23,Man City,0.0,Newcastle
11460,Erling-Haaland,Erling-Haaland,4,Erling-Haaland,2022-23,Man City,1.0,Crystal Palace
11461,Erling-Haaland,Erling-Haaland,5,Erling-Haaland,2022-23,Man City,1.0,Nott'm Forest
11462,Erling-Haaland,Erling-Haaland,6,Erling-Haaland,2022-23,Man City,0.0,Aston Villa
11463,Erling-Haaland,Erling-Haaland,8,Erling-Haaland,2022-23,Man City,0.0,Wolves
11464,Erling-Haaland,Erling-Haaland,9,Erling-Haaland,2022-23,Man City,1.0,Man Utd
11465,Erling-Haaland,Erling-Haaland,10,Erling-Haaland,2022-23,Man City,1.0,Southampton
11466,Erling-Haaland,Erling-Haaland,11,Erling-Haaland,2022-23,Man City,0.0,Liverpool
11467,Erling-Haaland,Erling-Haaland,13,Erling-Haaland,2022-23,Man City,1.0,Brighton
11468,Erling-Haaland,Erling-Haaland,15,Erling-Haaland,2022-23,Man City,1.0,Fulham
11469,Erling-Haaland,Erling-Haaland,16,Erling-Haaland,2022-23,Man City,1.0,Brentford
11470,Erling-Haaland,Erling-Haaland,17,Erling-Haaland,2022-23,Man City,0.0,Leeds
11471,Erling-Haaland,Erling-Haaland,18,Erling-Haaland,2022-23,Man City,1.0,Everton
11472,Erling-Haaland,Erling-Haaland,19,Erling-Haaland,2022-23,Man City,0.0,Chelsea
11473,Erling-Haaland,Erling-Haaland,20,Erling-Haaland,2022-23,Man City,0.0,Man Utd
11474,Erling-Haaland,Erling-Haaland,7,Erling-Haaland,2022-23,Man City,1.0,Spurs
11475,Erling-Haaland,Erling-Haaland,21,Erling-Haaland,2022-23,Man City,1.0,Wolves
11476,Erling-Haaland,Erling-Haaland,22,Erling-Haaland,2022-23,Man City,0.0,Spurs
11477,Erling-Haaland,Erling-Haaland,23,Erling-Haaland,2022-23,Man City,1.0,Aston Villa
11478,Erling-Haaland,Erling-Haaland,12,Erling-Haaland,2022-23,Man City,0.0,Arsenal
11479,Erling-Haaland,Erling-Haaland,24,Erling-Haaland,2022-23,Man City,0.0,Nott'm Forest
11480,Erling-Haaland,Erling-Haaland,25,Erling-Haaland,2022-23,Man City,0.0,Bournemouth
11481,Erling-Haaland,Erling-Haaland,26,Erling-Haaland,2022-23,Man City,1.0,Newcastle
11482,Erling-Haaland,Erling-Haaland,27,Erling-Haaland,2022-23,Man City,0.0,Crystal Palace
11483,Erling-Haaland,Erling-Haaland,30,Erling-Haaland,2022-23,Man City,0.0,Southampton
11484,Erling-Haaland,Erling-Haaland,31,Erling-Haaland,2022-23,Man City,1.0,Leicester
11485,Erling-Haaland,Erling-Haaland,33,Erling-Haaland,2022-23,Man City,1.0,Arsenal
11486,Erling-Haaland,Erling-Haaland,34,Erling-Haaland,2022-23,Man City,0.0,Fulham
11487,Erling-Haaland,Erling-Haaland,28,Erling-Haaland,2022-23,Man City,1.0,West Ham
11488,Erling-Haaland,Erling-Haaland,35,Erling-Haaland,2022-23,Man City,1.0,Leeds
11489,Erling-Haaland,Erling-Haaland,36,Erling-Haaland,2022-23,Man City,0.0,Everton
11490,Erling-Haaland,Erling-Haaland,37,Erling-Haaland,2022-23,Man City,1.0,Chelsea
11491,Erling-Haaland,Erling-Haaland,32,Erling-Haaland,2022-23,Man City,0.0,Brighton
11492,Erling-Haaland,Erling-Haaland,38,Erling-Haaland,2022-23,Man City,0.0,Brentford
19282,Erling-Haaland,Erling-Haaland,1,Erling-Haaland,2023-24,Man City,0.0,Burnley
19283,Erling-Haaland,Erling-Haaland,2,Erling-Haaland,2023-24,Man City,1.0,Newcastle

In [28]:
result = fbref.merge(fpl, left_on=join_columns_fbref, right_on=join_columns_fpl, how='left').drop('Unnamed: 0_x', axis = 1)

In [29]:
result

,Unnamed: 0.1,Date,Day,Comp,Round,Venue,Squad,Opponent,Start,Pos,...,was_home,yellow_cards,GW_y,xP,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts,neutral_name_y
0,0.0,2021-08-21,Sat,Premier League,Matchweek 2,Home,Brighton,Watford,N,FW,...,True,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Aaron-Connolly
1,1.0,2021-08-28,Sat,Premier League,Matchweek 3,Home,Brighton,Everton,N,0,...,True,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Aaron-Connolly
2,4.0,2021-09-19,Sun,Premier League,Matchweek 5,Home,Brighton,Leicester City,N,0,...,True,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,Aaron-Connolly
3,6.0,2021-09-27,Mon,Premier League,Matchweek 6,Away,Brighton,Crystal Palace,N,LM,...,False,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,Aaron-Connolly
4,7.0,2021-10-02,Sat,Premier League,Matchweek 7,Home,Brighton,Arsenal,N,0,...,True,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,Aaron-Connolly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19721,NaN,2023-08-19,Sat,Premier League,Matchweek 2,Away,Brentford,Fulham,Y,FW,...,False,0.0,2.0,10.0,0.02,1.45,1.43,0.36,1.0,Yoane-Wissa
19722,NaN,2023-08-12,Sat,Premier League,Matchweek 1,Away,Aston Villa,Newcastle Utd,N,"CM,LW",...,False,0.0,1.0,1.7,0.09,0.09,0.00,2.20,0.0,Youri-Tielemans
19723,NaN,2023-08-20,Sun,Premier League,Matchweek 2,Home,Aston Villa,Everton,N,CM,...,True,0.0,2.0,1.0,0.01,0.01,0.00,0.03,0.0,Youri-Tielemans
19724,NaN,2023-08-13,Sun,Premier League,Matchweek 1,Away,Tottenham,Brentford,Y,DM,...,False,0.0,1.0,1.6,0.11,0.15,0.04,2.02,1.0,Yves-Bissouma
19725,NaN,2023-08-19,Sat,Premier League,Matchweek 2,Home,Tottenham,Manchester Utd,Y,DM,...,True,0.0,2.0,2.0,0.01,0.08,0.07,1.99,1.0,Yves-Bissouma

In [30]:
# result.columns.to_list()

In [31]:
result = result.drop(columns=["GW_y", "neutral_name_y"])
result = result.rename(columns={"GW_x": "GW", "neutral_name_x": "neutral_name"})

In [32]:
result.shape

(19726, 101)

# Saving merged df to file

In [33]:
# fbref[["Name", "GW", "Season", "Squad", "Total Points"]].to_csv("data/previous/fpl_fbref_players.csv")
result.to_csv("data/previous/fpl_fbref_players.csv")

In [34]:
result["name"].isna().sum()

1951

In [35]:
result.columns[50:120]

Index(['Opp Score', 'CS', 'Was Home', 'GW', 'neutral_name', 'FPL_name',
       'FPL_team', 'FPL_opp_team', 'Unnamed: 0_y', 'season', 'name',
       'position', 'team', 'assists', 'bonus', 'bps', 'clean_sheets',
       'creativity', 'element', 'fixture', 'goals_conceded', 'goals_scored',
       'ict_index', 'influence', 'kickoff_time', 'minutes', 'opponent_team',
       'opp_team_name', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'round', 'saves', 'selected', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards',
       'xP', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'starts'],
      dtype='object')

In [36]:
result[result["Name"] == "Erling-Haaland"][["Name", "name", "GW"]]

                 Name            name  GW
11457  Erling-Haaland  Erling Haaland   1
11458  Erling-Haaland  Erling Haaland   2
11459  Erling-Haaland  Erling Haaland   3
11460  Erling-Haaland  Erling Haaland   4
11461  Erling-Haaland  Erling Haaland   5
11462  Erling-Haaland  Erling Haaland   6
11463  Erling-Haaland  Erling Haaland   8
11464  Erling-Haaland  Erling Haaland   9
11465  Erling-Haaland  Erling Haaland  10
11466  Erling-Haaland  Erling Haaland  11
11467  Erling-Haaland  Erling Haaland  13
11468  Erling-Haaland  Erling Haaland  15
11469  Erling-Haaland  Erling Haaland  16
11470  Erling-Haaland  Erling Haaland  17
11471  Erling-Haaland  Erling Haaland  18
11472  Erling-Haaland  Erling Haaland  19
11473  Erling-Haaland  Erling Haaland  20
11474  Erling-Haaland  Erling Haaland   7
11475  Erling-Haaland  Erling Haaland  21
11476  Erling-Haaland  Erling Haaland  22
11477  Erling-Haaland  Erling Haaland  23
11478  Erling-Haaland  Erling Haaland  12
11479  Erling-Haaland  Erling Haaland  24
11480  Erling-Haaland  Erling Haaland  25
11481  Erling-Haaland  Erling Haaland  26
11482  Erling-Haaland  Erling Haaland  27
11483  Erling-Haaland  Erling Haaland  30
11484  Erling-Haaland  Erling Haaland  31
11485  Erling-Haaland  Erling Haaland  33
11486  Erling-Haaland  Erling Haaland  34
11487  Erling-Haaland  Erling Haaland  28
11488  Erling-Haaland  Erling Haaland  35
11489  Erling-Haaland  Erling Haaland  36
11490  Erling-Haaland  Erling Haaland  37
11491  Erling-Haaland  Erling Haaland  32
11492  Erling-Haaland  Erling Haaland  38
19282  Erling-Haaland  Erling Haaland   1
19283  Erling-Haaland  Erling Haaland   2