In [1]:
from data_prep import *
from PositionModel import *
from PlayerModel import *
from GeneralModel import *
from commons import *

In [2]:
features = ['goals_scored_avg5', 'xG_avg5', 'assists_fpl_avg5',
       'bonus_avg5', 'bps_avg5', 'clean_sheets_avg5', 'goals_conceded_avg5',
       'shots_avg5', 'xGBuildup_avg5', 'xGChain_avg5', 'yellow_cards_avg5',
       'red_cards_avg5', 'was_home', 'rating_diff', 'minutes_avg5']
rolling_columns = ['goals_scored', 'xG', 'assists_fpl', 'bonus', 'bps', 'clean_sheets', 'goals_conceded', 'shots', 'xGBuildup', 'xGChain', 'yellow_cards', 'red_cards', 'minutes']
to_predict = 'total_points'

In [3]:
# loading dataset
df = merged_understat_and_fpl(rolling_columns, True)
# df = load_dataset()

In [4]:
# general model
print('GENERAL MODEL:')
X_train, X_test, y_train, y_test = split_data(df, features, to_predict)
general_model = GeneralModel()
general_model.fit(X_train, y_train)
y_pred = general_model.predict(X_test)
metrics = get_metrics(y_pred, y_test)
print(metrics)

GENERAL MODEL:
{'mse': 6.958101785714287, 'mae': 1.484964285714286, 'r2': 0.5360379985598158}

In [5]:
# position model (MID)
print('POSITION MODEL:')
df_mid = df[df['position_fpl'] == 'MID']
X_train, X_test, y_train, y_test = split_data(df_mid, features, to_predict)
position_model = PositionModel()
position_model.mid_model.fit(X_train, y_train)
y_pred = position_model.mid_model.predict(X_test)
metrics = get_metrics(y_pred, y_test)
print(metrics)

POSITION MODEL:
{'mse': 11.114998891966758, 'mae': 2.067423822714681, 'r2': 0.32247920894980653}

In [6]:
# salah only
print('PLAYER MODEL:')
salah = df[df['name'] == 'Mohamed Salah']
X_train, X_test, y_train, y_test = split_data(salah, features, to_predict, 0.8)
position_model = PlayerModel()
position_model.fit(X_train, y_train)
y_pred = position_model.predict(X_test)
metrics = get_metrics(y_pred, y_test)
print(metrics)

PLAYER MODEL:
{'mse': 20.61299, 'mae': 3.781, 'r2': -0.9354920187793427}

In [15]:
salah.tail(7)[['shots', 'shots_avg5', 'opp_team', 'goals', 'kickoff_time']]

      shots  shots_avg5        opp_team  goals          kickoff_time
4816      7         4.4        Brighton      1  2022-03-12T12:30:00Z
4886      3         4.0         Arsenal      0  2022-03-16T20:15:00Z
4923      3         5.4         Watford      0  2022-04-02T11:30:00Z
5190      2         5.0         Everton      0  2022-04-24T15:30:00Z
5308      1         3.2     Aston Villa      0  2022-05-10T19:00:00Z
5504      2         2.8          Fulham      1  2022-08-06T11:30:00Z
5597      3         4.0  Crystal Palace      0  2022-08-15T19:00:00Z