In [12]:
import requests
import json
import pandas as pd
import datetime

In [2]:
def get_data(url):
    """ Retrieve the fpl player data from the hard-coded url
    """
    response = requests.get(url)
    if response.status_code != 200:
        raise Exception("Response was code " + str(response.status_code))
    responseStr = response.text
    return responseStr

In [3]:
def get_teams_names():
    result = []
    teams = pd.read_csv('data/2022-23/teams.csv')
    for t in teams.iterrows():
        if t[1]['name'].replace(" ", "") == "Nott'mForest":
            result.append('Forest')
        elif t[1]['name'].replace(" ", "") == "ManUtd":
            result.append('ManUnited')
        elif t[1]['name'].replace(" ", "") == "Spurs":
            result.append('Tottenham')
        else:
            result.append(t[1]['name'].replace(" ", ""))
    return result

In [4]:
team_names = get_teams_names()
team_names

['Arsenal',
 'AstonVilla',
 'Bournemouth',
 'Brentford',
 'Brighton',
 'Chelsea',
 'CrystalPalace',
 'Everton',
 'Fulham',
 'Leicester',
 'Leeds',
 'Liverpool',
 'ManCity',
 'ManUnited',
 'Newcastle',
 'Forest',
 'Southampton',
 'Tottenham',
 'WestHam',
 'Wolves']

In [5]:
for team in team_names:
    response = get_data('http://api.clubelo.com/' + team)

In [6]:
def reload_all_teams_ratings():
    result = pd.DataFrame()
    for team in get_teams_names():
        response = get_data('http://api.clubelo.com/' + team)
        print(team, len(response))
        rows = response.splitlines()
        columns = rows[0].split(',')
        content = []
        for r in rows[1:]:
            content.append(r.split(','))
        df = pd.DataFrame(content, columns = columns)
        result = pd.concat([result, df])
    result = result.dropna()
    result.to_csv('team_ratings_history.csv')

In [7]:
def load_all_teams_ratings():
    df = pd.read_csv('team_ratings_history.csv')
    return df

In [8]:
reload_all_teams_ratings()

Arsenal 326180
AstonVilla 378016
Bournemouth 71454
Brentford 69090
Brighton 141214
Chelsea 320297
CrystalPalace 274594
Everton 343107
Fulham 253939
Leicester 336239
Leeds 276947
Liverpool 308058
ManCity 325517
ManUnited 325213
Newcastle 364627
Forest 289214
Southampton 340167
Tottenham 357639
WestHam 382780
Wolves 292453

In [9]:
ratings = load_all_teams_ratings()
ratings

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
0,0,None,Arsenal,ENG,1,1551.140259,1946-07-07,1946-08-31
1,1,None,Arsenal,ENG,1,1539.570068,1946-09-01,1946-09-04
2,2,None,Arsenal,ENG,1,1525.449463,1946-09-05,1946-09-07
3,3,None,Arsenal,ENG,1,1523.855591,1946-09-08,1946-09-11
4,4,None,Arsenal,ENG,1,1518.939331,1946-09-12,1946-09-14
...,...,...,...,...,...,...,...,...
105517,5522,48,Wolves,ENG,1,1709.404663,2022-09-11,2022-09-13
105518,5523,50,Wolves,ENG,1,1706.730347,2022-09-14,2022-09-17
105519,5524,50,Wolves,ENG,1,1706.730347,2022-09-18,2022-10-01
105520,5525,50,Wolves,ENG,1,1706.730347,2022-10-02,2022-10-08
105521,5526,50,Wolves,ENG,1,1706.730347,2022-10-09,2022-12-31

In [19]:
example_date = datetime.datetime(2022, 9, 13)

In [28]:
example_date.strftime("%Y-%m-%d")

'2022-09-13'

In [31]:
def get_rating_for_team(team_ratings, team_name, date):
    rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]
    return rating

In [32]:
get_rating_for_team(ratings, 'Wolves', example_date)

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
99995,0,None,Wolves,ENG,1,1551.140259,1946-07-07,1946-08-31
99996,1,None,Wolves,ENG,1,1562.710571,1946-09-01,1946-09-03
99997,2,None,Wolves,ENG,1,1564.995483,1946-09-04,1946-09-07
99998,3,None,Wolves,ENG,1,1557.814697,1946-09-08,1946-09-11
99999,4,None,Wolves,ENG,1,1547.140869,1946-09-12,1946-09-14
...,...,...,...,...,...,...,...,...
105513,5518,48,Wolves,ENG,1,1717.347778,2022-09-05,2022-09-06
105514,5519,47,Wolves,ENG,1,1716.207275,2022-09-07,2022-09-07
105515,5520,48,Wolves,ENG,1,1711.580078,2022-09-08,2022-09-08
105516,5521,50,Wolves,ENG,1,1709.404663,2022-09-09,2022-09-10
105517,5522,48,Wolves,ENG,1,1709.404663,2022-09-11,2022-09-13